schema/CF3R/CF3RMCH26H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/CF3RMCH26H"
   xmlns="http://www.lmonte.com/besm/CF3RMCH26H"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RMCH26H"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Rated Space Conditioning System Equipment Verification"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS" />
                     <xsd:element ref="cF3RMCH26H" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RMCH26H"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF3RMCH26H">
      <xsd:annotation>
         <xsd:documentation>Rated Space Conditioning System Equipment Verification</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH-01 refers to the parent CF2R-MCH-01 and  MCH-26 refers to the parent CF2R-MCH-26</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]Procedures for verification of High SEER/SEER2 and EER/EER2 Equipment are described in Reference Appendix RA3.4.  Each HVAC system requiring verification must use a separate form.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Description of Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03a_EfficiencyType" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Efficiency Metric</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:EfficiencyType">
                           <xsd:enumeration value="EER2SEER2"/>
                           <xsd:enumeration value="EERSEER"/>
                           <xsd:enumeration value="HSPF"/>
                           <xsd:enumeration value="HSPF2"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A03_VerificationRequiredSEER" type="comp:VerificationRequiredSEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Status:  SEER/SEER2  Performance Compliance Credit Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Reference MCH-26; allowed values: true display term Yes and false display term No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_VerificationRequiredEER" type="comp:VerificationRequiredEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Status:  EER/EER2 Performance Compliance Credit Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Reference MCH-26; allowed values: true display term Yes and false display term No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_VerificationRequiredHeatingOutputHP" type="comp:VerificationRequiredHeatingOutputHP" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Status: Heat Pump Heating Output Performance Compliance Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Reference MCH-26; allowed values: true display term Yes and false display term No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_VerificationRequiredHSPF" type="comp:VerificationRequiredHSPF" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Status: HSPF/HSPF2 Performance Compliance Credit Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Reference MCH-26; allowed values: true display term Yes and false display term No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_ProductPerformanceDirectory" type="comp:ProductPerformanceDirectory" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Directory used to certify product performance</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input, pull down list: AHRI, CEC, or DOE</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A08_AHRI_CertificateNumber" type="comp:AHRI_CertificateNumber" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">AHRI certification number for the installed space conditioning system from http://www.ahridirectory.org</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A06_ProductPerformanceDirectory == AHRI, user inputs value;  Else  If A07_ProductPerformanceDirectory == CEC Or DOE, result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">AHRI certification number for the installed space conditioning system from http://www.ahridirectory.org</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A06_ProductPerformanceDirectory == AHRI, user inputs value;  Else  If A07_ProductPerformanceDirectory == CEC Or DOE, result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A09_AirHandlerFurnaceTypeRequired" type="comp:AirHandlerFurnaceTypeRequired" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Does the directory used to certify product performance require a specific air handler/furnace make and model?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: FurnaceAHU display term Furnace air-handling unit, FanCoilAHU display term Fancoil air-handling unit, NonFurnaceAHU display term Non-furnace air-handling unit and NoRequiredType display term No.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A10_IsTDR_RequiredByAHRI" type="comp:IsTDR_RequiredByAHRI" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Does the directory used to certify product performance require a time delay relay (+TDR)?</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User selects from list: Yes, display text for Boolean true value, No, display text for Boolean false value, based on information from  Certification Directory or documentation.  If A07_ProductPerformanceDirectory  == CEC or DOE, allow N/A entry stored in the NotApplicableMessage.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Does the directory used to certify product performance require a time delay relay (+TDR)?</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User selects from list: Yes, display text for Boolean true value, No, display text for Boolean false value, based on information from  Certification Directory or documentation.  If A07_ProductPerformanceDirectory  == CEC or DOE, allow N/A entry stored in the NotApplicableMessage.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A11_IsTXV_RequiredByAHRI" type="comp:IsTXV_RequiredByAHRI" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Does the directory used to certify product performance require a TXV (+TXV)?</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User selects from list: Yes, display text for Boolean true value, No, display text for Boolean false value, based on information from  Certification Directory or documentation.  If A07_ProductPerformanceDirectory  == CEC or DOE, allow N/A entry stored in the NotApplicableMessage.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A11_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Does the directory used to certify product performance require a TXV (+TXV)?</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">User selects from list: Yes, display text for Boolean true value, No, display text for Boolean false value, based on information from  Certification Directory or documentation.  If A07_ProductPerformanceDirectory  == CEC or DOE, allow N/A entry stored in the NotApplicableMessage.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Rated Space Conditioning System Equipment Information  from Nameplate of the Installed System</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH-01 refers to the parent CF2R-MCH-01 and  parent CC refers to the parent CF1R Certificate of Compliance (CC)

If A03_VerificationRequiredSEER == true Or A04_VerificationRequiredEER == true Or A05_VerificationRequiredHeatingOutputHP == true Or A06_VerificationRequiredHSPF == true then require one row of data for each indoor unit listed on the MCH-01if applicable; Else enter one row of data for a packaged unit on the MCH-01.  Reference applicable values as follows: For MCH-01a: G03 for split systems and J03 for packaged systems.  For MCH-01d: H03 for split systems and either K03 or L03 for packaged systems.</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]The data on nameplate of the installed component shall conform to the data for the component as shown in the Directory used to certify product performance in order to demonstrate compliance.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B_HeaderColumns04To09" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Data from Nameplate of Installed System Component</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableNameplate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Data from the Directory Used to Certify  the Rated System Component</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">SC System  ID/Name from CF1R</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from  MCH01a D01 Or MCH-01d D01.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">SC System Description of  Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH01a D02 Or MCH-01d D02. Note that the text in the MCH01 D02 is required to be unique in each dwelling (unique within the scope of each MCH-01), thus D02 is a useful key for finding associated data in other tales in the MCH-01 for a specific system.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_IndoorUnitName" type="hvac:IndoorUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Indoor Unit Name or  Description of  Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a auto-fill from G03 for split systems and J03 for packaged systems; Else If parent == MCH-01d auto-fill from H03 for split systems and K03 or L03 for packaged systems.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B04_IndoorUnitType" type="hvac:IndoorUnitType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Indoor Unit Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a If data is available auto-fill from G04 Else result = N/A stored in NotApplicableMessage; Else If parent == MCH-01d If data is available auto-fill from H04 Else result = N/A stored in NotApplicableMessage;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B04_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Indoor Unit Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a If data is available auto-fill from G04 Else result = N/A stored in NotApplicableMessage; Else If parent == MCH-01d If data is available auto-fill from H04 Else result = N/A stored in NotApplicableMessage;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B05_CondenserManufacturer" type="comp:CondenserManufacturer" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a auto-fill from either F05 or H03; Else if parent == MCH-01d auto-fill from either G05 Or I03</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B05_PackageUnitManufacturer" type="comp:PackageUnitManufacturer" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a auto-fill from either F05 or H03; Else if parent == MCH-01d auto-fill from either G05 Or I03</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B06_CondenserModelNumber" type="comp:CondenserModelNumber" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a auto-fill from either F06 or H04; Else if parent == MCH-01d auto-fill from either G06 Or I04</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B06_PackageUnitModelNumber" type="comp:PackageUnitModelNumber" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a auto-fill from either F06 or H04; Else if parent == MCH-01d auto-fill from either G06 Or I04</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B07_InstalledIndoorCoilManufacturer" type="comp:InstalledIndoorCoilManufacturer" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a and section G IsPresent, auto-fill from G07 Else result = N/A stored in NotApplicableMessage; Else if parent == MCH-01d and section H IsPresent, auto-fill from H07; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a and section G IsPresent, auto-fill from G07 Else result = N/A stored in NotApplicableMessage; Else if parent == MCH-01d and section H IsPresent, auto-fill from H07; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B08_InstalledIndoorCoilModel" type="comp:InstalledIndoorCoilModel" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a and section G IsPresent, auto-fill from G08 Else result = N/A stored in NotApplicableMessage; Else if parent == MCH-01d and section H IsPresent, auto-fill from H08; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a and section G IsPresent, auto-fill from G08 Else result = N/A stored in NotApplicableMessage; Else if parent == MCH-01d and section H IsPresent, auto-fill from H08; Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B09_HeatingUnitManufacturer" type="comp:HeatingUnitManufacturer" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed  Furnace Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else reference data  from parent  MCH-01 If parent == MCH-01a auto-fill from E08; Else If parent == MCH-01d auto-fill from F08;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B09_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed  Furnace Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else reference data  from parent MCH-01 If parent == MCH-01a auto-fill from E08; Else If parent == MCH-01d auto-fill from F08;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="B10_HeatingUnitModelNumber" type="comp:HeatingUnitModelNumber" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed  Furnace  Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else reference data  from  parent MCH-01 If parent == MCH-01a auto-fill from E09; Else If parent == MCH-01d auto-fill from F09;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="B10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed  Furnace  Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else reference data  from parent MCH-01 If parent == MCH-01a auto-fill from E09; Else If parent == MCH-01d auto-fill from F09;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Rated Space Conditioning System Equipment Information from Directory of Certified Product Performance</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH-01 refers to the parent CF2R-MCH-01 and  parent CC refers to the parent CF1R Certificate of Compliance (CC)</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]The data on the nameplate of the installed component shall conform to the data for the component as shown in the Directory used to certify product performance in order to demonstrate compliance.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C_ColumnHeader2" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Data from the Directory used to certify product performance  for the rated system component</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableDirectory" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">SC System ID/Name on CF1R</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH-01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">SC System Description of  Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH-01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C03_IndoorUnitName" type="hvac:IndoorUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Indoor Unit Name or  Description of  Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH-01</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C04_IndoorUnitType" type="hvac:IndoorUnitType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Indoor Unit Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a If data is available auto-fill from G04 Else result = N/A stored in NotApplicableMessage; Else If parent == MCH-01d If data is available auto-fill from H04 Else result = N/A stored in NotApplicableMessage;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C04_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Indoor Unit Type</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If parent == MCH-01a If data is available auto-fill from G04 Else result = N/A stored in NotApplicableMessage; Else If parent == MCH-01d If data is available auto-fill from H04 Else result = N/A stored in NotApplicableMessage;</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C05_CondenserManufacturerAHRI" type="comp:CondenserManufacturerAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">user entry</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C05_PackageUnitManufacturerAHRI" type="comp:PackageUnitManufacturerAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">user entry</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C06_PackageUnitModelNumberAHRI" type="comp:PackageUnitModelNumberAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">user entry</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C06_CondenserModelNumberAHRI" type="comp:CondenserModelNumberAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Outdoor Condenser or Package Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">user entry</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C07_InstalledIndoorCoilManufacturerAHRI" type="comp:InstalledIndoorCoilManufacturerAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B07_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage Else  user input string max 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C07_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B07_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage Else  user input string max 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C08_InstalledIndoorCoilModelAHRI" type="comp:InstalledIndoorCoilModelAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B08_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage Else  user input string max 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Indoor Unit - Installed Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If B08_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage Else  user input string max 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C09_HeatingUnitManufacturerAHRI" type="comp:HeatingUnitManufacturerAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Furnace Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else User input: string max. 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C09_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Furnace Manufacturer Name</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else User input: string max. 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C10_HeatingUnitModelNumberAHRI" type="comp:HeatingUnitModelNumberAHRI" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Furnace  Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else User input: string max. 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Installed Furnace  Model Number</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">If A09_AirHandlerFurnaceTypeRequired  != FurnaceAHU result = N/A  stored in NotApplicableMessage; Else User input: string max. 50 characters</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Cooling System SEER/SEER2</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only If  A03_VerificationRequiredSEER == true 

In this section MCH-01 refers to the parent CF2R-MCH-01 and  MCH-26 refers to the parent CF2R-MCH-26</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D01_EfficiencyMinimumValueSEER" type="hvac:EfficiencyMinimumValueSEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required minimum SEER/SEER2</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-01 fields as follows
If Mch01 C06_EfficiencyMinimumValueSEER IsPresent
result = Mch01 C06_EfficiencyMinimumValueSEER
Else If Mch01 C06_EfficiencyMinimumValueSEER2 IsPresent
result = Mch01 C06_EfficiencyMinimumValueSEER2
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D02_EfficiencyInstalledValueSEER" type="hvac:EfficiencyInstalledValueSEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed SEER/SEER2</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input, SEER/SEER2 listed in the Directory used to certify product performance
Note If Mch01 C06_EfficiencyMinimumValueSEER IsPresent and assigned to D01_EfficiencyMinimumValueSEER user must enter SEER value
Else If Mch01 C06_EfficiencyMinimumValueSEER2 IsPresent and assigned to D01_EfficiencyMinimumValueSEER user must enter SEER2 value</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D03_DoesCoolingEquipmentComplyWithSEER" type="comp:DoesCoolingEquipmentComplyWithSEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If D02_EfficiencyInstalledValueSEER GTE D01_EfficiencyMinimumValueSEER result  = true.   display term System Passes SEER/SEER2 Verification   Else result = false display term System Fails.  Do not proceed with document</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="true">System Passes SEER/SEER2 Verification</dtyp:displayterm>
                        </xsd:appinfo>
                        
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:b]Signature by responsible person on this compliance document certifies that the installed cooling equipment meets or exceeds the required value listed on the parent MCH-26 Certificate of Installation [/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Cooling System EER/EER2</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only If  A04_VerificationRequiredEER == true

In this section MCH-01 refers to the parent CF2R-MCH-01 and  MCH-26 refers to the parent CF2R-MCH-26</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01_EfficiencyMinimumValueEER" type="hvac:EfficiencyMinimumValueEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required minimum EER/EER2</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-01 fields as follows
If Mch01 C07_EfficiencyMinimumValueEER IsPresent
result = Mch01 C07_EfficiencyMinimumValueEER
Else If Mch01 C07_EfficiencyMinimumValueEER2 IsPresent
result = Mch01 C07_EfficiencyMinimumValueEER2
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02_EfficiencyInstalledValueEER" type="hvac:EfficiencyInstalledValueEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed EER/EER2</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input - EER/EER2 listed in the Directory used to certify product performance 
Note If Mch01 C07_EfficiencyMinimumValueEER IsPresent and assigned to E01_EfficiencyMinimumValueEER user must enter EER value
Else If Mch01 C07_EfficiencyMinimumValueEER2 IsPresent and assigned to E01_EfficiencyMinimumValueEER user must enter EER2 value</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E03_DoesCoolingEquipmentComplyWithEER" type="comp:DoesCoolingEquipmentComplyWithEER" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If E02_EfficiencyInstalledValueEER GTE E01_EfficiencyMinimumValueEER tresult  = true.   display term System Passes EER/EER2 Verification   Else result = false display term System Fails.  Do not proceed with document</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="TRUE">System Passes EER/EER2 Verification</dtyp:displayterm>
                        </xsd:appinfo>
                        
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="EEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:b]Signature by responsible person on this compliance document certifies that the installed cooling equipment meets or exceeds the required value listed on the parent MCH-26 Certificate of Installation.[/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Heat Pump Heating Output</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If A05_VerificationRequiredHeatingOutputHP == true
In this section MCH-01 refers to the parent CF2R-MCH-01 and  MCH-26 refers to the parent CF2R-MCH-26</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01_HeatPumpHeatCapacity47F" type="comp:HeatPumpHeatCapacity47F" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required Heating BTU Output at 47 Degrees F</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH-01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02_HeatPumpHeatInstalledCapacity47F" type="comp:HeatPumpHeatInstalledCapacity47F" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Heating BTU Output at 47 Degrees F</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input Btu at 47 degrees F listed in the Directory used to certify product performance</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="F03_HeatPumpHeatCapacity17F" type="comp:HeatPumpHeatCapacity17F" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Required Heating BTU Output at 17 Degrees F</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH-01 if available; Else result = N/A stored in NotApplicablemessage.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="F03_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Required Heating Output at 17 Degrees F</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto-filled from MCH-01 if available; Else result = N/A stored in NotApplicablemessage.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="F04_HeatPumpHeatInstalledCapacity17F" type="comp:HeatPumpHeatInstalledCapacity17F" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Installed Heating BTU Output at 17 Degrees F</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If this heat pump rating at 17 degrees F is not available in directories, result = N/A stored in NotApplicableMessage Else User input Btu at 17 degrees F listed in the Directory used to certify product performance.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="F04_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Installed Heating BTU Output at 17 Degrees F</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If this heat pump rating at 17 degrees F is not available in directories, result = N/A stored in NotApplicableMessage Else User input Btu at 17 degrees F listed in the Directory used to certify product performance.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="F05_DoesHeatPumpHeatingOutputComply" type="comp:DoesHeatPumpHeatingOutputComply" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If F02_HeatPumpHeatInstalledCapacity47F GTE F01_HeatPumpHeatCapacity47F Then If F04_HeatPumpHeatInstalledCapacity17F GTE F03_HeatPumpHeatCapacity17F Or F04_NotApplicableMessage == N/A result = true display term System Passes Heat Pump Heating Output Performance Compliance Verification; Else result = false display term System Fails</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:b]Signature by responsible person on this compliance document certifies that the installed heat pump equipment meets or exceeds the required value listed on the parent MCH-26 Certificate of Installation.[/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Heat Pump HSPF/HSPF2</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If A06_VerificationRequiredHSPF_Performance == true
In this section MCH-01 refers to the parent CF2R-MCH-01 and  MCH-26 refers to the parent CF2R-MCH-26 and parent Certificate of Compliance refers to the parent CF1R</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G01_EfficiencyMinimumValueHSPF" type="hvac:EfficiencyMinimumValueHSPF" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required minimum HSPF/HSPF2</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-01 fields as follows
If Mch01 C03_EfficiencyMinimumValueHSPF IsPresent
result = Mch01 C03_EfficiencyMinimumValueHSPF
Else If Mch01 C03_EfficiencyMinimumValueHSPF2 IsPresent
result = Mch01 C03_EfficiencyMinimumValueHSPF2
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02_EfficiencyInstalledValueHSPF" type="hvac:EfficiencyInstalledValueHSPF" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed HSPF/HSPF2</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input, HSPF/HSPF2 listed in the Directory used to certify product performance
Note If Mch01 C03_EfficiencyMinimumValueHSPF IsPresent and assigned to G01_EfficiencyMinimumValueHSPF user must enter HSPF value
Else If Mch01 C03_EfficiencyMinimumValueHSPF2 IsPresent and assigned to G01_EfficiencyMinimumValueHSPF user must enter HSPF2 value</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03_DoesHeatPumpHSPF_Comply" type="comp:DoesHeatPumpHSPF_Comply" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If G02_EfficiencyInstalledValueHSPF  GTE G01_EfficiencyMinimumValueHSPF  result = true display term System Passes HSPF/HSPF2 Verification; Else result = false display term System Fails; Tell user not to proceed.</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="true">System Passes HSPF/HSPF2 Verification</dtyp:displayterm>
                        </xsd:appinfo>
                        
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Signature by responsible person on this compliance document certifies that the installed heat pump equipment meets or exceeds the required value listed on the parent Certificate of Compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Space Conditioning System Air Handler, Furnace or Fan Coil</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only If  A09_AirHandlerFurnaceTypeRequired != NoRequiredType.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Air Handler matches AHRI</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">If a specific air handler, furnace or fan coil is required by the directory used to certify product performance, the responsible person certifies by signing this compliance document that the installed air handler/furnace matches the equipment specified by the Directory of Certified Product Performance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Pass choice display term Pass - all applicable requirements are met.  For Fail choice display term Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display term All n/a - This entire table is not applicable</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H03_SectionCorrectionNotes" type="comp:SectionCorrectionNotes"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status== Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Space Conditioning System Time Delay Relay</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only If  A10_IsTDR_RequiredByAHRI == true.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed TDR meets protocols of RA3.4.3.</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">If a Time Delay Relay is specified by the Directory of Certified Product Performance, the responsible person certifies by signing this compliance document that the Time Delay Relay is installed and has been tested to operate correctly according to the protocols of RA3.4.3.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I02_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Pass choice display term Pass - all applicable requirements are met.  For Fail choice display term Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display term All n/a - This entire table is not applicable</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I03_SectionCorrectionNotes" type="comp:SectionCorrectionNotes"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status == Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_J" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Verified Space Conditioning System TXV</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only If  A11_IsTXV_RequiredByAHRI == true.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="J01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed TXV is specified by the Directory of Certified Product Performance</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">If a TXV is specified by the Directory of Certified Product Performance, the responsible person certifies by signing this compliance document that the TXV is properly installed and has been visually verified, including proper placement of the sensing bulb.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J02_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Pass choice display term Pass - all applicable requirements are met.  For Fail choice display term Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display term All n/a - This entire table is not applicable</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="J03_SectionCorrectionNotes" type="comp:SectionCorrectionNotes"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status == Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="JEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_K" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="K_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="K01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If section G is displayed and H02 DoesSystemComplyWithRequirements  == Fail, Or if section I is displayed and I02 DoesSystemComplyWithRequirements  == Fail Or then 
result = false display term Does not comply;  

Else If section D is displayed and D03   DoesCoolingEquipmentComplyWithSEER  == false Or If  section E is displayed and E03 DoesCoolingEquipmentComplyWithEER  == false Or If section F is displayed and F05_DoesHeatPumpHeatingOutputComply == false Or If section G is displayed and G03 == false Then the 
result = false display term Does not comply;   
Else the result = true display term  All specified verification protocol requirements on this document are met.  
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF3RMCH26H" type="CF3RMCH26H">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RMCH26H compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
