schema/CF3R/CF3RENV20cH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://www.lmonte.com/besm/CF3RENV20cH"
    xmlns="http://www.lmonte.com/besm/CF3RENV20cH"
    xmlns:d="http://www.lmonte.com/besm/d"
    xmlns:bld="http://www.lmonte.com/besm/bld"
    xmlns:env="http://www.lmonte.com/besm/env"
    xmlns:lit="http://www.lmonte.com/besm/lit"
    xmlns:hvac="http://www.lmonte.com/besm/hvac"
    xmlns:comp="http://www.lmonte.com/besm/comp"
    xmlns:com="http://www.lmonte.com/besm/com"
    xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:altova="http://www.altova.com/xml-schema-extensions"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="2016.1.006">
    <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
    <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
    <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
    <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
    <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
    <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
    <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>

    <xsd:element name="ComplianceDocumentPackage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DocID" minOccurs="0">
                    <xsd:complexType>
                        <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RENV20cH"/>
                        <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                        <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Building Leakage Diagnostic Test"/>
                        <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="ENV20c Multi-Point Air Tightness Test"/>
                        <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="c"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Payload" type="comp:Payload"/>
                <xsd:element name="DocumentData">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Header" type="comp:HeaderCF2R_3R" />
                            <xsd:element ref="cF3RENV20cH" />
                            <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                            <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R" />
                            <xsd:element name="Footer" type="comp:Footer" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Report" type="xsd:base64Binary"/> 
            </xsd:sequence>
            <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 9/11/2013"/>
            <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RENV20cH"/>
        </xsd:complexType>
    </xsd:element>
<xsd:complexType name="CF3RENV20cH">
    <xsd:annotation>
        <xsd:documentation>Building Leakage Diagnostic Test - ENV20c Multi-Point Air Tightness Test</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Building Air Leakage - General Information</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="A01_AirLeakageTestProcedure" type="comp:AirLeakageTestProcedure" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Test Procedure Used</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Display text for the following possible values stored in this field:  SinglePointTestManualMeter - display text: Single-Point Test with Manual Meter    SinglePointTestAutomaticMeter - display text: Single-Point Test with Automatic Meter    MultiPointTest display text: Multi-Point Test    RepeatedSinglePointTestManualMeter - display text: Repeated Single Point with Manual Meter    RepeatedSinglePointTestAutomaticMeter - display text: Repeated Single Point with Automatic Meter</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A02_AirInfiltrationRate" type="env:AirInfiltrationRate" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Building Air Leakage Target form CF1R</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Data from project CF-1R</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A03_TestTemperatureIndoor" type="comp:TestTemperatureIndoor" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Indoor Temperature During Test  (degreeF)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A04_TestTemperatureOutdoor" type="comp:TestTemperatureOutdoor" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Outdoor Temperature During Test  (degreeF)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A05_BlowerDoorLocation" type="comp:BlowerDoorLocation" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Blower Door Location</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A06_Elevation" type="com:Elevation" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Building Elevation (ft)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A07_TotalConditionedVolume" type="com:TotalConditionedVolume" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Building Volume (ft3)</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Data from project CF-1R</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="A08_TestDate" type="comp:TestDate" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Date of Diagnostic Test for this Dwelling</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Diagnostic Equipment Information</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="B01_ManometerCount" type="comp:ManometerCount" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Number of Manometers Used to Measure Home Pressurization</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If ManometerCount is greater than 1, provide a row for each manometer in ManometerCount to record its data</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Table">
            <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Row" maxOccurs="unbounded">
              <xsd:complexType>
              <xsd:sequence>

            <xsd:element name="B02_ManometerMake" type="comp:ManometerMake" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Manometer Make</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B03_ManometerModel" type="comp:ManometerModel" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Manometer Model</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B04_ManometerSerialNumber" type="comp:ManometerSerialNumber" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Manometer Serial Number</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B05_ManometerCalibrationDate" type="comp:ManometerCalibrationDate" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Manometer Calibration Date</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B06_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Manometer Calibration Status</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If ManometerCalibrationDate  is within 12 months of the diagnostic TestDate in section A, then report that Manometer Calibration is valid Else report warning that Manometer Calibration is expired.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

              </xsd:sequence>
              </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            </xsd:complexType>
            </xsd:element>

            <xsd:element name="B07_FanCount" type="comp:FanCount" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Number of Fans Used to Pressurize Home</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If BlowerDoorFanCount is greater than 1, provide a row for each fan in BlowerDoorFanCount to record its data</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Table2">
            <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Row" maxOccurs="unbounded">
              <xsd:complexType>
              <xsd:sequence>

            <xsd:element name="B08_FanMake" type="comp:FanMake" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Fan Make</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B09_FanModel" type="comp:FanModel" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Fan Model</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B10_FanSerialNumber" type="comp:FanSerialNumber" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Fan Serial Number</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="B11_FanConfiguration" type="comp:FanConfiguration" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Fan Configuration (rings)</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

              </xsd:sequence>
              </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            </xsd:complexType>
            </xsd:element>

            <xsd:element name="B11After" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Env20c Variant Banner</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">ENV20c - Multi-Point Air Tightness Test</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If AirLeakageTestProcedure equals MultiPointTest , Then ENV20c - Multi-Point Air Tightness Test is the correct variant to use for the remainder of this document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="Section_C" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Envelope Leakage Diagnostic Test</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="C01_ASTM_E779_10Software" type="comp:ASTM_E779_10Software" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Name and version of ASTM E779-10 compliant software used for multi-point test.</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C02_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Pre-test baseline building pressure</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Resolution of 0.1 Pa</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C03_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Time average period of meter</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Value entered by user must be no less than 10 seconds</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C04_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Test Methodology</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C05_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Unadjusted Building Pressure Target</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If BuildingAirLeakageTestMethod = Pressurization report result of adding 60 to BuildingPressureReadingPreTest ElseIf BuildingAirLeakageTestMethod = Depressurization then  report result of subtracting 60 from BuildingPressureReadingPreTest   Resolution of 0.1 Pa</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C06_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Unadjusted Building Pressure Measured</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Resolution of 0.1 Pa</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C07_BuildingPressureInduced" type="comp:BuildingPressureInduced" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Induced building pressure</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Report result BuildingPressureMeasuredUnadjusted minus BuildingPressureReadingPreTest</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C08_MinReadingAcknowledge" type="comp:MinReadingAcknowledge" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">A minimum of eight readings were taken spaced evenly between 15 Pa and 60 Pa (or highest attainable pressure)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C09_BuildingPressureReadingPostTest" type="comp:BuildingPressureReadingPostTest" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Post-test baseline building pressure</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Resolution of 0.1 Pa</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="C10_NominalCFM50" type="comp:NominalCFM50" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Corrected CFM50 (from software)</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">User entry of value calculated by the software.  Resolution of 1 CFM</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="Section_D" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Altitude and Temperature Correction (Not used, performed by blower door software)</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">This section is not used as it is performed by blower door software</xsd:documentation>
            </xsd:annotation>
        </xsd:element>

        <xsd:element name="Section_E" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Accuracy Adjustment</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="E01_SoftwareTestPercentUncertainty" type="comp:SoftwareTestPercentUncertainty" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Percent Uncertainty at 95% confidence level (from software)</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">User entry of value calculated by software</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="E02_SoftwareTestAccuracy" type="comp:SoftwareTestAccuracy" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Accuracy Level</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If SoftwareTestPercentUncertainty is less than or equal to 10, report Standard, else report Reduced</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="E03_TestAccuracyFactor" type="comp:TestAccuracyFactor" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Accuracy Adjustment factor</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If SoftwareTestAccuracy is Standard report 1, Else If SoftwareTestAccuracy is Reduced report 1+ (SoftwareTestPercentUncertainty  divided by 100)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="E04_CFM50Adjusted" type="comp:CFM50Adjusted" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Adjusted CFM50 (measured air leakage rate)</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">Report result of calculation - NominalCFM50 in section C times TestAccuracyFactor</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="Section_F" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="F01_DoesBuildingAirLeakageTestComply" type="comp:DoesBuildingAirLeakageTestComply" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If ManometerCalibrationDate in section B is within 12 months of the diagnostic TestDate in section A. and if CFM50Adjusted in section E is less than or equal to the AirInfiltrationRate in section A, then result is true.  For Boolean true value display text: Building Passes Envelope Leakage Test; Else if ManometerCalibrationDate is more than 12 months from diagnostic TestDate or if CFM50Adjusted  is more than AirInfiltrationRate then  result is false.  For Boolean false value display text:  Building Fails Envelope Leakage Test</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="Section_G" minOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Additional Requirements For Compliance</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="G01" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Open all interior doors</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">Open all interior doors and access including those to closets and those between a conditioned basement and attic.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="G02" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">HVAC Supply and return</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">HVAC Supply and return register dampers shall be fully open.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="G03" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Temporarily sealing</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">Temporarily sealing of combustion flues and intermittent exhaust fans are not allowed.  Some examples are: combustion flues, fresh air intakes, dryer vents, bathroom and kitchen exhaust vents and fire place.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="G04" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Continuously operated ventilation</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">Continuously operated ventilation devices like energy recovery ventilators may be sealed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="G05" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Multifamily</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">Multifamily Each dwelling unit must be tested individually and shown to meet the leakage requirements.  Pressurization of the adjacent dwelling units while conducting this test is not allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="G06_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Verification Status</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="G07_SectionCorrectionNotes" type="comp:SectionCorrectionNotes"  minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Correction Notes</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If Verification Status= Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="GEndNote1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

        <xsd:element name="Section_H" minOccurs="1">
            <xsd:annotation>
                <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
                <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
            <xsd:sequence>

            <xsd:element name="H_BeginNote1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                    <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="H01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass" >
                <xsd:annotation>
                    <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                    <xsd:documentation source="CalculationsAndRules">If IsManometerCalibrationCurrent is false Or DoesBuildingAirLeakageTestComply is false Or DoesSystemComplyWithRequirements equals Fail then the result is false.  For Boolean false value, display text:  Does not comply: One or more specified verification protocol requirements on this document are not met.  Else the result is true.    For Boolean true value, display text:  Complies: All specified verification protocol requirements on this document are met.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>

    </xsd:sequence>
</xsd:complexType>

<xsd:element name="cF3RENV20cH" type="CF3RENV20cH">
  <xsd:annotation>
    <xsd:documentation>This element contains all of the data and text required to generate the CF3RENV20cH compliance report.</xsd:documentation>
   </xsd:annotation>
</xsd:element>

</xsd:schema>

