deployed/NewSimplifiedSchemas/CF3RMCH31H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH31H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF3RMCH31H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Whole House Fan Airflow and Fan Efficacy" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF3RMCH31H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF3RMCH31H" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF3RMCH31H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Whole House Fan Airflow and Fan Efficacy</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole House Fan Measurement Procedures</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_AirflowWattsMeasurementWHF" type="comp:AirflowWattsMeasurementWHF">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Whole House Fan Airflow/Watts Measurement Procedures Used</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: 
CaptureHoodPortableMeter display term Traditional Flow Capture Hood and Portable Watt Meter,  
CaptureHoodRevenueMeter display term Traditional Flow Capture Hood and Revenue Meter, 
CaptureHoodPoweredPortableMeter display term Powered Flow Capture Hood and Portable Watt Meter,  
CaptureHoodPoweredRevenueMeter display term Powered Flow Capture Hood and Revenue Meter, 
FanFlowPortableMeter display term Fan Flowmeter and Portable Watt Meter, 
FanFlowRevenueMeter display term Fan Flowmeter and Revenue Meter</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Required Whole House Fan Specifications</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableFanSpec">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_FanName" type="hvac:FanName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_AirflowModeledRate" type="hvac:AirflowModeledRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Modeled Airflow (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B03_FanPowerModeled" type="hvac:FanPowerModeled">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Modeled Fan Power (Watts)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C1">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Tested Whole House Fan Equipment Information - Airflow and watts measured per Whole House Fan</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If A01_AirflowWattsMeasurementWHF == CaptureHoodPortableMeter Or CaptureHoodPoweredPortableMeter Or FanFlowPortableMeter</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section is not required, display the Section Title and this text "This section does not apply to this project".</xs:documentation>
                 
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="Cpm_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Requirements for Whole House Fans are given in Sections 150.1(b)2.B.vi and 150.1(c)12</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableEquipmentpm">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="Cpm01_FanName" type="hvac:FanName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Cpm02_WHF_Location" type="comp:WHF_Location">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Location</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Cpm03_WHF_Manufacturer" type="comp:WHF_Manufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Manufacturer Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Cpm04_WHF_ModelNumber" type="comp:WHF_ModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Model Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Cpm05_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Tested Airflow per RA3.9.4.1 (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Cpm06_FanPowerActual" type="hvac:FanPowerActual">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Tested Watts Per RA3.9.4.2</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C2">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Tested Whole House Fan Equipment Information - Airflow measured per whole house fan and watts measured as a total value</xs:documentation>
               
	       
               <xs:documentation source="CalculationsAndRules">This section is required If A01_AirflowWattsMeasurementWHF == CaptureHoodRevenueMeter Or CaptureHoodPoweredRevenueMeter Or FanFlowRevenueMeter</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section is not required, display the Section Title and this text "This section does not apply to this project".</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="Crm_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Requirements for Whole House Fans are given in Sections 150.1(b)2.B.vi and 150.1(c)12</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableEquipment">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="Crm01_FanName" type="hvac:FanName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Crm02_WHF_Location" type="comp:WHF_Location">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Location</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Crm03_WHF_Manufacturer" type="comp:WHF_Manufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Manufacturer Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Crm04_WHF_ModelNumber" type="comp:WHF_ModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Model Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Crm05_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Tested Airflow per RA3.9.4.1 (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="Crm06_FanPowerActual" type="hvac:FanPowerActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">WHF Tested Watts Per RA3.9.4.2</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole House Fan Compliance Calculations</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="D01_WHFsMinimumRequiredAirflow" type="comp:WHFsMinimumRequiredAirflow">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required CFM</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (B02_AirflowModeledRate)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D02_WHFsTotalMeasuredAirFlow" type="comp:WHFsTotalMeasuredAirFlow">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed CFM</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If A01_AirflowWattsMeasurementWHF == CaptureHoodPortableMeter Or CaptureHoodPoweredPortableMeter Or FanFlowPortableMeter result = SUM ALL (Cpm05_AirflowMeasuredRate)
Else If A01_AirflowWattsMeasurementWHF == CaptureHoodRevenueMeter Or CaptureHoodPoweredRevenueMeter Or FanFlowRevenueMeter result = SUM ALL (Crm05_AirflowMeasuredRate) </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required Fan Efficacy (Watts/CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (B03_FanPowerModeled) / SUM ALL (B02_AirflowModeledRate)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D04_WHFsInstalledFanEfficacy" type="comp:WHFsInstalledFanEfficacy">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed Fan Efficacy (Watts/CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If A01_AirflowWattsMeasurementWHF == CaptureHoodPortableMeter Or CaptureHoodPoweredPortableMeter Or FanFlowPortableMeter result = SUM ALL (Cpm06_FanActualPower) / D02_WHFsTotalMeasuredAirFlow
Else If A01_AirflowWattsMeasurementWHF == CaptureHoodRevenueMeter Or CaptureHoodPoweredRevenueMeter Or FanFlowRevenueMeter result = Crm06_FanActualPower) / D02_WHFsTotalMeasuredAirFlow</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="E01_DoesWHF_AirFlowEfficacyComply" type="comp:DoesWHF_AirFlowEfficacyComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Result</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If D02_WHFsTotalMeasuredAirFlow GTE D01_WHFsMinimumRequiredAirflow And D03_FanEfficacyRequired  GTE  D04_WHFsInstalledFanEfficacy  result = true display term System passes whole house fan verification requirement; Else result = false display term System fails whole house fan verification requirement</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_F">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="F01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Listed in HVI directory</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The installed fan shall be listed in the Home Ventilating Institute Certified Products Directory.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">User instructions documentation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The homeowner shall be provided with user instructions documentation that describe the proper use of the whole house fan necessary to obtain the full energy savings benefit.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F03_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     
                      
                     <xs:annotation>
                        
                          
                        <xs:documentation source="FieldText">Verification Status:</xs:documentation>
                        
                          
                        <xs:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xs:documentation>
                        
                      
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F04_SectionCorrectionNotes" type="comp:SectionCorrectionNotes">
                     
                      
                     <xs:annotation>
                        
                         
                        <xs:documentation source="FieldText">Correction Notes:</xs:documentation>
                        
                         
                        <xs:documentation source="CalculationsAndRules">If Verification Status= Fail, then text entry in this Corrections Notes field is required</xs:documentation>
                        
                      
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="FEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
        
         <xs:element minOccurs="1" name="Section_G">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Determination of ECC Verification Compliance</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  
               
                  <xs:element minOccurs="0" name="G_BeginNote1">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                    
                        <xs:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xs:documentation>
                        
                
                     </xs:annotation>
                     
               
                  </xs:element>
                  
               
                  <xs:element name="G01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">If E01_DoesWHF_AirFlowEfficacyComply == true and F03_DoesSystemComplyWithRequirements = Pass then result = true display term  Complies: All specified verification protocol requirements on this document are met;  
Else result = false display term  Does not comply: One or more specified verification protocol requirements on this document are not met. </xs:documentation>
                        
                
                     </xs:annotation>
                     
              
                  </xs:element>
                  
            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF3RMCH31H" type="CF3RMCH31H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF3RMCH31H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
