schema/CF2R/CF2RMCH25cH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/CF2RMCH25cH"
   xmlns="http://www.lmonte.com/besm/CF2RMCH25cH"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RMCH25cH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Refrigerant Charge Verification"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH25c Weigh In Observation  Procedure"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="c"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS" />
                     <xsd:element ref="cF2RMCH25cH" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RMCH25cH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF2RMCH25cH">
      <xsd:annotation>
         <xsd:documentation>Refrigerant Charge Verification - MCH25c Weigh In Observation  Procedure</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH01 in this section refer to the parent CF2R-MCH01 and all other references are to other CF2R or CF3R compliance documents.</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Each system requiring refrigerant charge verification will be documented on a separate certificate.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_CondenserManufacturer" type="comp:CondenserManufacturer" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Make or Brand</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_CondenserModelNumber" type="comp:CondenserModelNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Model Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_CondenserSerialNumber" type="comp:CondenserSerialNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Serial Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_RefrigerantType" type="comp:RefrigerantType" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks from list  Choice R22 display text: R-22; Choice R410A display text: R-410A;  Choice Other display text: Other;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A08_RefrigerantTypeOther" type="comp:RefrigerantTypeOther" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A09_IsLiquidLineFilterDrierInstalledToSpec" type="comp:IsLiquidLineFilterDrierInstalledToSpec" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Liquid Line Filter Drier Installed According to Manufacturers Specifications (if applicable)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user selects from Yes or NA.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A10_ImprovementStatus" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Installation Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list: New, Replacement, Alteration</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:ImprovementStatus">
                           <xsd:enumeration value="Alteration"/>
                           <xsd:enumeration value="New"/>
                           <xsd:enumeration value="Replacement"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A11_FaultIndicatorDisplayStatus" type="comp:FaultIndicatorDisplayStatus" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fault Indicator Display (FID) Status (Note: Even systems with a FID must have refrigerant charge verified by installer).</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list.  Choice FactoryInstalledFID display text: This system has a factory installed FID  choice FieldInstalledFID display text: This system has a field installed FID; choice NoInstalledFID display text: This system does not have a FID device installed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_UseMinimumAirflowApprovedVerificationProcedure" type="comp:UseMinimumAirflowApprovedVerificationProcedure" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that the minimum airflow can be verified for all indoor units using an approved measurement procedure (RA3.3 or RA3.3.3)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference values from parent MCH-0! for the following evaluations
For Criterion1 reference value for CanRA3_3AirflowProtocolsTestSystem from
MCH-01a section J J12; MCH-01b section F F11 or section G G13; MCH-01c section I  I11; or MCH-01d section K K11 or section L L13.
 
For Criterion2 reference data as follows: MCH-01a D07 DuctLocation; MCH-01c C06 DuctSystemType; MCH-01d D07 DuctSystemTypePerf.  
 
For Criterion3 reference data as follows: MCH-01b C12 IndoorUnitsCount, C13 DuctedIndoorUnitsCount; MCH-01d D06 IndoorUnitsCount, D13 DuctedIndoorUnitsCount.  
 
Evaluation:  If (Criterion1) CanRA3_3AirflowProtocolsTestSystem == false;  Or If (Criterion2) DuctLocation, DuctSystemType Or DuctSystemTypePerf == DuctedAndDuctlessIndoorUnits Or Ductless;  Or If (Criterion3) DuctedIndoorUnitsCount LT IndoorUnitsCount 
 result = false, display term No, the system airflow rate measurement procedures in RA3.3 or RA3.3.3 cannot be used to verify system airflow rate requirements for all the indoor units for this system.;  
 
Else result = true display term Yes.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A13_UseRefrigerantChargeApprovedVerificationProcedure" type="comp:UseRefrigerantChargeApprovedVerificationProcedure" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that approved refrigerant charge verification procedures can be used to verify compliance with the refrigerant charge verification requirements when temperatures are [d:gte/]  55[d:deg/]F (RA3.2.2, or RA1)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Boolean true value, display:  Yes, one of the Refrigerant charge verification procedures from RA3.2.2 or RA1 is applicable to this system and can be used to verify compliance.  For Boolean false value, display: No, none of the refrigerant charge verification procedures in RA3.2.2, or RA1 are applicable to the system therefore compliance shall use HERS Rater observation of the installer weigh-in charging procedure</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A14_RefrigerantChargeVerificationDate" type="comp:RefrigerantChargeVerificationDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Refrigerant Charge Verification for this system</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input: date: use validated date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A15_RefrigerantChargeVerificationMethod" type="comp:RefrigerantChargeVerificationMethod" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant charge verification method used.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list: choice Superheat, display text: Superheat (outdoor temperature must be equal to or greater than 55 degF); choice Subcooling, display text Subcooling (outdoor temperature must be equal to or greater than 55 degF);  choice WeighIn, display text:  Weigh-in with Installer independent;  choice WeighInHERS, display text:  Weigh-in with HERS Rater observation; choice NewFactoryCharge display text: New package unit factory charge</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A16_RefrigerantChargeVerifier" type="comp:RefrigerantChargeVerifier" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Person who performed the Refrigerant Charge Verification reported on this Certificate of Installation</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A15 equals WeighIn or WeighInHERS then result is Installer, Else user picks from list Choice HERS_Rater display text: HERS Rater;  choice Installer display text: HVAC system installer</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17_RefrigerantChargeVerificationMessage" type="comp:RefrigerantChargeVerificationMessage" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">HERS Verification Compliance Requirement Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If any of the following conditions are true: RefrigerantChargeVerifier equals HERS_Rater,  UseMinimumAirflowApprovedVerificationProcedure equals false, UseRefrigerantChargeApprovedVerificationProcedure equals false or RefrigerantChargeVerificationMethod equals WeighIn Or WeighInHERS, Then result is System does not qualify for Group Sampling;    Else If RefrigerantChargeVerificationMethod equals NewFactoryCharge, result is HERS verification of refrigerant charge not required;  Else result is System qualifies for Group Sampling.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Variant MCH25c</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH-25c - Refrigerant Charge Verification - Weigh In Observation Procedure</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Use MCH25c Weigh In Charging Procedure 
 for remainder of this report If RefrigerantChargeVerificationMethod equals  WeighIn or WeighiHERS Or  If UseMinimumAirflowApprovedVerificationProcedure equals false or UseRefrigerantChargeApprovedVerificationProcedure equals false.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Instrument Calibration</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for instrument calibration are given in Reference Residential Appendix RA3.2.2 and RA3.2.3.1.4</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01_DigitalRefrigerantScaleCalibrationExpireDate" type="comp:DigitalRefrigerantScaleCalibrationExpireDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of expiration of Digital Refrigerant Scale Calibration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input expiration date in valid date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02_DigitalThermometerTemperatureSensorCalibrationDate" type="comp:DigitalThermometerTemperatureSensorCalibrationDate" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Digital Thermometer and Temperature Sensor Calibration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input calibration date in valid date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B03_IsDigitalRefrigerantScaleCalibrationCurrent" type="comp:IsDigitalRefrigerantScaleCalibrationCurrent" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Digital Refrigerant Scale Calibration Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
If the difference between A14_RefrigerantChargeVerificationDate in section A and B01_DigitalRefrigerantScaleCalibrationExpireDate is greater than one month, or a negative number
result = false. display term Digital Refrigerant Scale requires Calibration (do not proceed); 
Else 
result = true display term Calibration is current.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B04_IsDigitalThermocoupleCalibrationCurrent" type="comp:IsDigitalThermocoupleCalibrationCurrent" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Digital Thermocouple Calibration Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:
If the difference between A14_RefrigerantChargeVerificationDate in section A and the B02_DigitalThermometerTemperatureSensorCalibrationDate is greater than one month, or a negative number
result = false  display term  Digital Thermocouple Gauge requires Calibration (do not proceed),   
Else if the difference is one month or less, 
result = true display term Calibration is current
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Measurement Access Hole (MAH) Verification</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for installing MAH are specified in Reference Residential Appendix RA3.2.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C01_MeasurementAccessHoleMethod" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Method Used to Demonstrate Compliance with the Measurement Access Hole (MAH) Requirement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If UseMinimumAirflowApprovedVerificationProcedure equals false, Then result is MAH_NotRequiredWeighIn with display text: The airflow rate measurement procedures in RA3.3 or RA3.3.3 are not applicable to this system, therefore compliance shall use HERS Rater observation (RA3.2.3.2) of the installer weigh-in charging procedure(RA3.2.3.1); and compliance with MAH installation shall not be required;     Else user selects from  MAH_InstalledAsRequired display text:  MAH installed and labeled consistent with Figure 3.2-1  For choice MAH_NotRequired display text: Return side of system is located entirely within conditioned space such that an accurate return air dry-bulb temperature can be taken at the return grille.  For choice MAH_InstalledAlternativeLocation display text:  MAH cannot be installed consistent with Figure 3.2-1.  An alternative location has been provided and clearly labeled</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:MeasurementAccessHoleMethod">
                           <xsd:enumeration value="MAH_InstalledAlternativeLocation"/>
                           <xsd:enumeration value="MAH_InstalledAsRequired"/>
                           <xsd:enumeration value="MAH_NotRequired"/>
                           <xsd:enumeration value="MAH_NotRequiredWeighIn"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Minimum System Airflow Rate Verification</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-01 in this section refer to the parent CF2R-MCH-01 and all other references are to other CF2R  or compliance documents.  
Require 1 row of data for each indoor unit listed in the "HERS Verification Requirements for Duct Systems" table in the parent CF2R-MCH-01for the SC system in A02</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for verifying minimum system airflow are specified in Reference Residential Appendix RA3.3.3.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableIndoorUnit" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_IndoorUnitName" type="hvac:IndoorUnitName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value in  "HERS Verification Requirements for Duct Systems" table in the parent MCH-01 for value in A02_ResidentialHvacSystemAreaServed</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D02_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: if A12 = no, then N/A;
                                                Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in D01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D02_MinimumAirflowRateAlternative" type="comp:MinimumAirflowRateAlternative" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: if A12 = no, then N/A;
                                                Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in D01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D02_NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">if A12 = no, then N/A;</xsd:documentation>                                            
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="comp:NotApplicableMessage">
                                                <xsd:enumeration value="N/A"/>                                            
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element> 
                                    </xsd:choice>
                                    <xsd:element name="D03_MinimumAirflowRateVerificationStatus" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">System Airflow Rate Verification Status</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field:  
If A12_UseMinimumAirflowApprovedVerificationProcedure == false,  
result = SystemCompliesUsingObservationOfWeighIn display term  The airflow rate measurement procedures in RA3.3 or RA3.3.3 are not applicable to this system, therefore compliance shall use HERS Rater observation (RA3.2.3.2) of the installer's weigh-in charging procedure (RA3.2.3.1);  
 
Else If the  parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance:  then 
If the system has a registered CF2R-MCH-28 that indicates compliance with Table 150.0-B or C return duct design requirements, then 
result  = SystemCompliesUsingTable150BC display term System complies using Table 150.0-B or C alternative return duct design criteria;   
Else 
result = SystemDoesNotComplyCF2RMCH28Required display term System does not comply.  A registered CF2R-MCH-28 is required (do not allow this MCH-25 to be registered);  
End If   
 
ElseIf the parent MCH-01 indicates a MCH-23 is required for minimum airflow rate compliance:  Then 
If this system has a registered CF2R  MCH-23a, MCH-23b, -MCH23e Or MCH23f that meets the compliance criterion in D02 
result = SystemComplies display term System complies with minimum airflow rate requirements;     
 
Else If  A10_ImprovementStatus == Alteration Then 
If the system complies with the alternative airflow compliance method on a registered CF2R-MCH23c;  Then 
result = SystemCompliesUsingAlternativeRemedialActions display term  system complies using the alternative remedial actions specified in RA3.3.3.1.5. This System does not qualify for Group Sampling;   
Else result = SystemDoesNotComplyCF2RMCH23Required display term  System does not comply. A registered CF2R-MCH-23 for this system is required . (do not allow this MCH-25 to be registered).
End If
End If</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MinimumAirflowRateVerificationStatus">
                                             <xsd:enumeration value="SystemComplies"/>
                                             <xsd:enumeration value="SystemCompliesUsingAlternativeRemedialActions"/>
                                             <xsd:enumeration value="SystemCompliesUsingObservationOfWeighIn"/>
                                             <xsd:enumeration value="SystemCompliesUsingTable150BC"/>
                                             <xsd:enumeration value="SystemDoesNotComplyCF2RMCH23Required"/>
                                             <xsd:enumeration value="SystemDoesNotComplyCF2RMCH28Required"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="D04_DoesSystemComplyWithAirflowRateVerification" type="comp:DoesSystemComplyWithAirflowRateVerification" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If all indoor units listed in D01 have D03 == SystemCompliesUsingObservationOfWeighIn, SystemCompliesUsingTable150BC Or SystemComplies Or SystemCompliesUsingAlternativeRemedialActions  result = true display term SC System complies with Minimum System Airflow Rate Verification; Else result = false display term SC System does not comply with Minimum System Airflow Rate Verification   and do not allow this Mch-25 to be registered.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D04a_SectionComments" type="comp:SectionComments"  minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Notes:</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Weigh In Charge Procedure</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for Refrigerant Charge using the Weigh-in Charging Procedure are given in Reference Residential Appendix RA3.2.2.2 and RA3.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E01_CondenserEnteringDryBulbTemperature" type="comp:CondenserEnteringDryBulbTemperature" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Condenser Air Entering Dry-bulb Temperature (T[d:sub]condenser, db[/d:sub]) (([d:deg/] F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric value xxx.x, check range = 0 to 130;  If all of the following condiitons are true:  A12 equals yes, A13 equals yes and A15 equals  WeighInHERS And value entered is greater than or equal to 55 degrees F,  Then display message:  "For this system, compliance using Weigh-In with HERS Rater observation is allowed only when outside temperature is [d:lt/] 55[d:deg/] F."   (Do Not Proceed, do not allow this document to be registered)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02_RefrigerantChargeWeighInMethod" type="comp:RefrigerantChargeWeighInMethod" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Specify the Method of Weigh-in</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Charge Adjustment  or Total Charge</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:sequence maxOccurs="1">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Range for lbs is 0 to 50  Range for oz is 0 to 15</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="E03_ManufacturerStandardCondenserChargeLbs" type="comp:ManufacturerStandardCondenserChargeLbs" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manufacturer Standard Charge for Condenser (lbs, oz.)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="E03_ManufacturerStandardCondenserChargeOz" type="comp:ManufacturerStandardCondenserChargeOz"  maxOccurs="1">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manufacturer Standard Charge for Condenser (lbs, oz.)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Range for lbs is 0 to 50  Range for oz is 0 to 15</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:element name="E04_ManufacturerStandardLiquidLineLength" type="comp:ManufacturerStandardLiquidLineLength" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer Standard Liquid Line Length (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E05_ManufacturerStandardLiquidLineDiameter" type="comp:ManufacturerStandardLiquidLineDiameter" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer's Standard Liquid Line Diameter (in)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E06_ManufacturerStandardIndoorCoilSize" type="comp:ManufacturerStandardIndoorCoilSize" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer's Standard Indoor Coil Size (tons)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E07_InstalledLiquidLineLength" type="comp:InstalledLiquidLineLength" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Liquid Line Length (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E08_InstalledLiquidLineDiameter" type="comp:InstalledLiquidLineDiameter" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Liquid Line Diameter (in)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E09_InstalledIndoorCoilSize" type="comp:InstalledIndoorCoilSize" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Indoor Coil Size (tons)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E10_RefrigerantChargeAdjustment" type="comp:RefrigerantChargeAdjustment" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Charge Adjustment to Standard Charge from Manufacturer's Specifications (ounces, positive = add, negative = remove)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -200 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: use format lbs, oz; Range for lbs: -50 to 50; Range for oz: -15 to 15.  If RefrigerantChargeWeighInMethod == ChargeAdjustment then result = E10_RefrigerantChargeAdjustment value after converting it to lbs and oz,  Else if RefrigerantChargeWeighInMethod == TotalCharge then result = E03_ManufacturerStandardCondenserChargeLbs , E03_ManufacturerStandardCondenserChargeOz + E10_RefrigerantChargeAdjustment after converting it to lbs and oz</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="E11_RefrigerantChargeRequiredWeighInLbs" type="comp:RefrigerantChargeRequiredWeighInLbs" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Required to be Weighed in by the Installer (lbs, oz)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="E11_RefrigerantChargeRequiredWeighInOz" type="comp:RefrigerantChargeRequiredWeighInOz" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Required to be Weighed in by the Installer (lbs, oz)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Range for lbs is -50 to 50; Range for oz is -15 to 15</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="E12_RefrigerantChargeWeighedInLbs" type="comp:RefrigerantChargeWeighedInLbs" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Weighed in by Installer (lbs, oz)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="E12_RefrigerantChargeWeighedInOz" type="comp:RefrigerantChargeWeighedInOz" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Weighed in by Installer (lbs, oz)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:element name="E13_IsRefrigerantChargeWeighInCompliant" type="comp:IsRefrigerantChargeWeighInCompliant" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If  E11_RefrigerantChargeRequiredWeighInLbs, E11_RefrigerantChargeRequiredWeighInOz == E12_RefrigerantChargeWeighedInLbs, E12_RefrigerantChargeWeighedInOz  then result = true.  For Boolean true value display term: System complies with the weigh-in charge requirement.   Else result = false.  For Boolean false value display term: System does not comply with the weigh-in charge requirement.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Weigh In Charge Procedure - Additional Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Brazing of Refrigerant Lines</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All brazing of refrigerant lines done with dry nitrogen in lines and evaporator coil</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor coil correction</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The indoor coil correction to refrigerant weight is used if it is supplied by the manufacturer.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Prior to Introducing Refrigerant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Prior to introducing refrigerant, system is evacuated to 500 microns or less and, when isolated, has risen no more than 300 microns after 5 minutes.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installer agrees to return to correct refrigerant charge</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">When applicable and if necessary to avoid delay of approval of dwelling units completed when outside temperatures are below 55[d:deg/]F, the enforcement agency may approve compliance with the refrigerant charge verification requirements based on registration of this CF2R-MCH-25, documenting use of the RA3.2.3.1 HVAC Installer Weigh-In Charging Procedure when the optional Section RA3.2.3.2 HERS Rater Observation of Weigh-In Charging Procedure is not used.  As condition for such enforcement agency approval, the responsible person's signature on this compliance document affirms the installer agrees to return to correct refrigerant charge if a HERS Rater determines at a later time, when the outside temperature is 55[d:deg/]F or greater, that refrigerant charge correction is necessary.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Variant MCH-25d</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH-25d - Refrigeration Charge Verification - Fault Indicator Display (FID)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Use MCH-25d - FID for remainder of this report If FaultIndicatorDisplayStatus in section A equals FactoryInstalledFID or FieldInstalledFID</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fault Indicator Display</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If FaultIndicatorDisplayStatus in section A is FactoryInstalledFID or FieldInstalledFID then report this section</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for the Fault Indicator Display Verification are detailed in RA3.4.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01_FID_ManufacturerNameMake" type="comp:FID_ManufacturerNameMake" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Manufacturer Name and Make</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This FID name or make must be on list of approved devices</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02_FID_ModelNumber" type="comp:FID_ModelNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Model Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This FID model number must be on list of approved devices</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03_IsFID_MountedAdjacentThermostat" type="comp:IsFID_MountedAdjacentThermostat" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The display module is mounted adjacent to the system thermostat</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If user confirms this is true, report a pass else report a fail and do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04_DoesFID_MeetJA6Requirements" type="comp:DoesFID_MeetJA6Requirements" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The manufacturer has certified to the Energy Commission that the FID model meets the requirements of Reference Joint Appendix JA6 (Make and model found on CEC list of approved FID devices)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If user confirms this is true, report a pass else report a fail and do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G05_DoesFID_ReportOperationWithinAcceptableParameters" type="comp:DoesFID_ReportOperationWithinAcceptableParameters" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">The system has operated for at least 15 minutes and the FID reports that the system is operating within acceptable parameters.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If user confirms this is true, report a pass else report a fail and do not proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fault Indicator Display - Additional Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If FaultIndicatorDisplayStatus in section A equals FactoryInstalledFID or FieldInstalledFID then report this section</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Factory or Field Installed</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Fault indicator display devices shall either be factory installed by the space-conditioning system manufacturer, or field installed according to the space-conditioning system manufacturer requirements and the FID manufacturer specifications.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">FID Manufacturer User Instructions</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The installer shall ensure that a copy of the FID manufacturer user instructions documentation has been made available to the building owner.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF2RMCH25cH" type="CF2RMCH25cH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RMCH25cH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
