schema/CF2R/CF2RENV01E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/CF2RENV01E"
   xmlns="http://www.lmonte.com/besm/CF2RENV01E"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RENV01E"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Fenestration Installation"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS" />
                     <xsd:element ref="cF2RENV01E" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RENV01E"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF2RENV01E">
      <xsd:annotation>
         <xsd:documentation>Fenestration Installation</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fenestration/ Glazing</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeforeNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Before Section Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">[d:i]If more than one person has responsibility for installation of the items on this certificate, each person shall prepare and sign a certificate applicable to the portion of construction for which they are responsible. Alternatively, the person with chief responsibility for construction shall prepare and sign this certificate for the entire construction. The signer agrees that all applicable Mandatory Measures were met. Temporary labels are not to be removed before verification by the building inspector.[/d:i]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Includes all Windows, Skylights, Greenhouse or Bay Windows and Glazed Doors([d:gte/] 25% glazing area).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A_BeginNote2" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 2</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Note: If meeting Exception 1 to 150.1(c)3A, Installing [d:lte/] 3 square feet (ft[d:sup]2[/d:sup]) glass in door, it is assumed to meet the minimum required U-factor (0.30) and SHGC (0.23). [d:line1/][d:tab1/] If meeting Exception 1 to 150.1(c)3A, Installing [d:lte/] 3 square feet  (ft[d:sup]2[/d:sup]) tubular skylight, it is assumed to meet the minimum required U-factor (0.55) and SHGC (0.30).[d:line1/][d:tab1/] Doors with greater than or equal to 25 percent glazing area are considered glazed doors and are treated as fenestration products.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableFenestration" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A01_FenestrationVerticalName" type="env:FenestrationVerticalName" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Tag ID</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A01_SkylightName" type="env:SkylightName" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Tag ID</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="A02_FenestrationManufacturerBrand" type="comp:FenestrationManufacturerBrand" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manufacturer/Brand</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">user input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A03_FenestrationVerticalArea" type="env:FenestrationVerticalArea" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Fenestration Area (ft[d:sup]2[/d:sup])</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A03_SkylightArea" type="env:SkylightArea" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Fenestration Area (ft[d:sup]2[/d:sup])</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="A04_Azimuth" type="dtyp:Azimuth" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Orientation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Auto-filled value: If parent doc == CF1R-PRF, then use Azimuth ; Else if parent doc == prescriptive ADD, ALT or NCB, use CardinalOrientation.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="A04_CardinalOrientation" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Orientation</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Auto-filled value: If parent doc == CF1R-PRF, then use Azimuth ; Else if parent doc == prescriptive ADD, ALT or NCB, use CardinalOrientation.</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="com:CardinalOrientation">
                                                <xsd:enumeration value="East"/>
                                                <xsd:enumeration value="North"/>
                                                <xsd:enumeration value="South"/>
                                                <xsd:enumeration value="West"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="A05_IsGlazingChromogenic" type="env:IsGlazingChromogenic" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Chromogenic</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">For Boolean true value display text: Yes     For Boolean false value display text: No</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A06_UFactor" type="com:UFactor" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">U-factor</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from CF1R, but user can override with value LTE CF1R value.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A07_FenestrationCertificationMethod" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Source</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User picks from list: NFRCRated display text: NFRC;    CECDefaultPerformance display text Tables 110.6-A and 110.6-B;    NA6Equations display text Equations NA 6-1 and NA 6 -2; and CF1R_ENV_02 display text: Area-weighted Average Worksheet (CF1R-ENV-02)</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="env:FenestrationCertificationMethod">
                                             <xsd:enumeration value="CECDefaultPerformance"/>
                                             <xsd:enumeration value="CF1R_ENV_02"/>
                                             <xsd:enumeration value="NA6Equations"/>
                                             <xsd:enumeration value="NFRCRated"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="A08_SHGC" type="com:SHGC" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">SHGC</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from CF1R, but user can override.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A09_FenestrationCertificationMethod" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Source</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User picks from list: NFRCRated display text: NFRC;    CECDefaultPerformance display text Tables 110.6-A and 110.6-B;    NA6Equations display text Equations NA 6-1 and NA 6 -2; and CF1R_ENV_02 display text: Area-weighted Average Worksheet (CF1R-ENV-02)</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="env:FenestrationCertificationMethod">
                                             <xsd:enumeration value="CECDefaultPerformance"/>
                                             <xsd:enumeration value="CF1R_ENV_02"/>
                                             <xsd:enumeration value="NA6Equations"/>
                                             <xsd:enumeration value="NFRCRated"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="A10_FenestrationDescription" type="comp:FenestrationDescription" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fenestration Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled with value from CF1R</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A11_ExternalShadingObjectType" type="env:ExternalShadingObjectType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Exterior Shading Devices</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled with value from CF1R with values from  ExternalShadingObjectType:    Standard Bug Screen, Sun Screen,  Louvered Sun Screen,  Low Sun Angle Louvered Sun Screen,  Operable Awnings, Retractable Awnings, Drop Arm Awnings,  Roll Down Blinds Or Slats,  Vertical Roller Or Shades, and None</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A12_ComplianceDocumentTableComments" type="comp:ComplianceDocumentTableComments"  minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Comments/Special Features</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fenestration Installation</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed window U-factor</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The U-factor of the installed windows for new construction and existing buildings must be equal to or less than those listed on the CF1R.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed window SHGC</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The SHGC of the installed windows for new construction and existing buildings must be equal to or less than those listed on the CF1R in climate zones 2, 4 and 8-15.  For climate zones 1, 3, 5 and 16 there is no SHGC requirement.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Temporary labels</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Temporary labels are not to be removed until verified by the building inspector.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer installation instructions</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The fenestration product manufacturer's installation specifications shall be followed when installing these products. The space between the fenestration product and rough opening shall be completely filled with insulation.  If batt insulation is used, it is cut to size and placed properly around the fenestration product.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="BEndnote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF2RENV01E" type="CF2RENV01E">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RENV01E compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
