schema/CF2R/CF2RENV04E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
   targetNamespace="http://www.lmonte.com/besm/CF2RENV04E"
   xmlns="http://www.lmonte.com/besm/CF2RENV04E"
   xmlns:d="http://www.lmonte.com/besm/d"
   xmlns:bld="http://www.lmonte.com/besm/bld"
   xmlns:env="http://www.lmonte.com/besm/env"
   xmlns:lit="http://www.lmonte.com/besm/lit"
   xmlns:hvac="http://www.lmonte.com/besm/hvac"
   xmlns:comp="http://www.lmonte.com/besm/comp"
   xmlns:com="http://www.lmonte.com/besm/com"
   xmlns:dtyp="http://www.lmonte.com/besm/dtyp"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:altova="http://www.altova.com/xml-schema-extensions"
   elementFormDefault="qualified" attributeFormDefault="unqualified" version="2022.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RENV04E"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Roofing-Ventilation-Radiant Barrier"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS" />
                     <xsd:element ref="cF2RENV04E" />
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor" />
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E" />
                     <xsd:element name="Footer" type="comp:Footer" />
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RENV04E"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF2RENV04E">
      <xsd:annotation>
         <xsd:documentation>Roofing-Ventilation-Radiant Barrier</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_OpaqueSurfaceType" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Construction Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: AtticRoof display term Attic, and CeilingCathedral display term Cathedral Ceiling</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="AtticRoof">Attic</dtyp:displayterm>
                        </xsd:appinfo>
                        
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="env:OpaqueSurfaceType">
                           <xsd:enumeration value="AtticRoof"/>
                           <xsd:enumeration value="CeilingCathedral"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A02_AtticFloorArea" type="env:AtticFloorArea" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Total Attic Area (ft[d:sup]2[/d:sup])</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer nonnegative</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_RadiantBarrierToBeInstalled" type="comp:RadiantBarrierToBeInstalled" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Radiant Barrier Installed?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes for Boolean true, No for Boolean false</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_IsAtticVented" type="comp:IsAtticVented" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Attic Space Ventilated or Unventilated?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Ventilated for Boolean true, Unventilated for Boolean false</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="false">Unventilated</dtyp:displayterm>
                           <dtyp:displayterm value="true">Ventilated</dtyp:displayterm>
                        </xsd:appinfo>
                        
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A05_AtticVentilationComplianceMethod" type="comp:AtticVentilationComplianceMethod" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Minimum Ventilation Method of Compliance</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A04_IsAtticVentered == false result = N/A stored in NotApplicableMessage; Else user selects 1/150 for 1Per150 or 1/300 for 1Per300</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage" >
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Minimum Ventilation Method of Compliance</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A04_IsAtticVentered == false result = N/A stored in NotApplicableMessage; Else user selects 1/150 for 1Per150 or 1/300 for 1Per300</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="AEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Note: in order to comply with the 1/300 exception, a Class I or II vapor retarder is required to be installed in climate zone 14 and 16.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Radiant Barrier</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A03_RadiantBarrierToBeInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01_RadiantBarrierProductNameNumber" type="comp:RadiantBarrierProductNameNumber" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Brand Name and product number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02_RadiantBarrierInstallationType" type="env:RadiantBarrierInstallationType" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installation Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list:  UndersideRoofDeck display text: Attached to underside of roof deck, with perforations to allow moisture/vapor transfer; BottomTrussRafters display text: Attached to bottom of truss/rafters, with a minimum 1.5 inch air gap at center of span; BetweenTrussRafters  display text:  Attached between truss/rafters, stapled to each side; OverTopTrussRafters display text: Draped over top of truss/rafters;  UndersideWithAirSpace display text: Attached to underside of roof deck with air space; UndersideWithBaffle display text: Attached to underside of roof deck with baffle.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Schedule of Lower Vents</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If parent Not== CF1R-ALT And A04_IsAtticVented == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The Net Free Area (NFA) of a manufactured product is stated on the packaging or on the manufacturer's specification data sheet.  For non-manufactured products, assume that the net free area is one third of the total aperture area.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableLowerVents" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_AtticVentType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Type of Vent</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input: select from EaveVent display text Eave Vent,, EyebrowVent display text Eyebrow Vent, RoundVent display text Round Vent</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="env:AtticVentType">
                                             <xsd:enumeration value="AtticVentOther"/>
                                             <xsd:enumeration value="EaveVent"/>
                                             <xsd:enumeration value="EyebrowVent"/>
                                             <xsd:enumeration value="RoundVent"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="C02_AtticNetFreeAreaPerVent" type="env:AtticNetFreeAreaPerVent" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">NFA per vent (in[d:sup]2[/d:sup])</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">The Net Free Area of a product is usually one half to one third of the open area.  For example 2 inch round vent the open area is 3.14 in2 and the net free area is 1.1 in2.  A 22 in x 3 in eave vent will have an open area of 81 in2 and the net free area is 39 in2.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C03_AtticVentCountPerType" type="env:AtticVentCountPerType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Number of Vents Installed</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C04_AtticTotalNetFreeAreaPerVentType" type="env:AtticTotalNetFreeAreaPerVentType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Total NFA Per Vent Type (in[d:sup]2[/d:sup])</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: PRODUCT (C02_AtticNetFreeAreaPerVent, C03_AtticVentCountPerType)</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Schedule of Upper Vents</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If parent Not== CF1R-ALT And A04_IsAtticVented == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The Net Free Area of a manufactured product is stated on the packaging or on the manufacturer's specification data sheet.  For non-manufactured products, assume that the net free area is one third of the total aperture area.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableUpperVents" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_AtticVentType" type="env:AtticVentType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Type of Vent</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input: select from EaveVent display text Eave Vent,, EyebrowVent display text Eyebrow Vent, RoundVent display text Round Vent, RidgeVent display text Ridge vent</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D02_AtticNetFreeAreaPerVent" type="env:AtticNetFreeAreaPerVent" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">NFA per vent (in[d:sup]2[/d:sup])/Per Linear Foot (ft)</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="D03_AtticVentCountPerType" type="env:AtticVentCountPerType" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Number of Vents/Linear Feet  Installed</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User enters either the number of vents or the linear feet of installed vents.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="D03_AtticVentLinearFeet" type="env:AtticVentLinearFeet" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Number of Vents/Linear Feet  Installed</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User enters either the number of vents or the linear feet of installed vents.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="D04_AtticTotalNetFreeAreaPerVentType" type="env:AtticTotalNetFreeAreaPerVentType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Total NFA Per Vent Type (in[d:sup]2[/d:sup])</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: PRODUCT (D02_AtticNetFreeAreaPerVent,  D03_AtticVentCountPerType)</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Required Vent Area</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If parent Not== CF1R-ALT And A04_IsAtticVented == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01_AtticInstalledTotalNetFreeArea" type="env:AtticInstalledTotalNetFreeArea" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Combined NFA of installed upper and lower vents (in[d:sup]2[/d:sup])</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: SUM (SUM ALL ( C04_AtticTotalNetFreeAreaPerVentType), SUM ALL (D04_ AtticTotalNetFreeAreaPerVentType))</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02_AtticAllVentMinimumNetFreeAreaRequired" type="env:AtticAllVentMinimumNetFreeAreaRequired" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Minimum required combined NFA of upper and lower vents (in[d:sup]2[/d:sup])</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: PRODUCT ( A02_AtticFloorArea / 300, 144)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E03_AtticUpperVentsTotalNetFreeAreaInstalled" type="env:AtticUpperVentsTotalNetFreeAreaInstalled" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">NFA of installed upper vents (in[d:sup]2[/d:sup])</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: SUM ALL (D04_ AtticTotalNetFreeAreaPerVentType</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E04_AtticUpperVentMinimumNetFreeAreaRequired" type="env:AtticUpperVentMinimumNetFreeAreaRequired" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Minimum required NFA of upper vents (in[d:sup]2[/d:sup])</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: PRODUCT (E02_ AtticAllVentMinimumNetFreeAreaRequired,  0.3)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E05_DoesBuildingComplyWithVentNFA" type="comp:DoesBuildingComplyWithVentNFA" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If E01_AtticInstalledTotalNetFreeArea GTE E02_AtticAllVentsMinimumNetFreeAreaRequired  And If E03_AtticUpperVentsTotalNetFreeAreaInstalled  GTE E04_AtticUpperVentMinimumNetFreeAreaRequired result = true, display term Building complies; else result = false, display term Building does not comply</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Radiant Barrier - Additional Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A03_RadiantBarrierToBeInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F_Before01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Radiant Barrier[/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed on all vertical surfaces</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Radiant barrier must be installed on all vertical surfaces in the attic including gable ends.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Radiant barrier emittance</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The emittance of the radiant barrier shall be less than or equal to 0.05 as tested with ASTM C1371, or E408.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">California certified insulation materials</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The product shall meet all requirements for California certified insulation materials (radiant barriers) of the Department of Consumer Affairs, Bureau of Household Goods and Services, as specified by California Referenced Standards Code (CCR), Title 24, Part 12, Chapter 12-13, Standards for Insulating Material</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Determining total attic area</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">When determining the Total Attic Area, the area over unconditioned spaces such as the garage is included when the attic spaces are connected</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Attic Ventilation - Additional Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If parent Not== CF1R-ALT And A04_IsAtticVented == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_Subheading" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Lower Vents[/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lower vent location</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Lower vents are within one foot (1-ft) of the eave.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01AfterSubheading" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Upper Vents[/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Upper vent location</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Upper vents are within three feet (3-ft) of the ridge.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02AfterSubheading" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">[d:b]Vent Area[/d:b]</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Upper vents NFA</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The NFA of upper vents must be within required NFA range of upper vents  [d:line1/] Note: per Exception to R806.2 of the California Building Code (CBC) Title 24, Part2, Vol.2.5, if the net free ventilating area is less than 1:150, then the upper ventilation must be at least 40% and no more than 50%.  Part 2 contains additional requirements that must be met if the area is less than 1:150.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Roofing Products (Cool Roof) Installation Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable unless one of the the following is true:  If the parent is prescriptive CF1R-ADD, ALT or NCB And CoolRoofComplianceMethod == ClimateZoneNotApplicable Then this section is not applicable.  Or  If the parent is performance, CF1R-PRF And L08_CoolRoofToBeInstalled == falseThen this section is not applicable.  .</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="TableRoof" >
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"></xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="H01_PartitionName" type="env:PartitionName" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tag/ID</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Data from CF1R</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H02_IsRoofPitchGTE2Run12Rise" type="comp:IsRoofPitchGTE2Run12Rise" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Roof Pitch</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list; true value display term Roof pitch is greater or equal to than 2 :12, and false value display term Roof pitch is less than 2 :12</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H03_CRRCProductID" type="env:CRRCProductID" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Cool Roof Rating Council (CRRC)  Product ID Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input value from Cool Roof Rating Council (CRRC) rated product directory</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H04_RoofProductType" type="env:RoofProductType" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Product type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from CRRC list: AsphaltShingles, BuiltUpRoofing,  ClayRoofTiles, FactoryAppliedCoating, FieldAppliedCoating, FluidAppliedMembrane, MetalRoof, MetalShakesShingles, ModifiedBitumin, PolymerCompositeSteepSlope, RoofPavers, SinglePlyThermoplastic, SinglePlyThermoset, SprayPolyurethaneFoam, StoneAggregateBallast,</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H05_IsAgedSolarReflectanceCRRC" type="comp:IsAgedSolarReflectanceCRRC" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Cool Roof Rating Council (CRRC)  Listed Aged Solar Reflectance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects Yes for Boolean true, No for Boolean false</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H05After_HeadingForH06toH09" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">[d:b]Installed[/d:b]</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H06_SolarReflectanceInitial" type="com:SolarReflectanceInitial" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Initial Solar Reflectance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input value from CRRC rated product directory or product label</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H07_SolarReflectanceAged" type="com:SolarReflectanceAged" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Aged Solar Reflectance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User iput as follows: If H05_IsAgedSolarReflectanceCRRC == true then value is from CRRC  rated product directory Else value calculated using Solar Reflectance Index Calculation Worksheet on CEC website or equation in Title 24 section 110.8(i)2</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H08_ThermalEmittance" type="com:ThermalEmittance" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Thermal Emittance</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input value from CRRC rated product directory</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H09_SolarReflectanceIndex" type="env:SolarReflectanceIndex" >
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">SRI</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input value from CRRC rated product directory or calculated using Solar Reflectance Index Calculation Worksheet on CEC website</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="H09After_HeadingForH10toH12" minOccurs="0">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">[d:b]Required[/d:b]</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="H10_SolarReflectanceAgedLimit" type="env:SolarReflectanceAgedLimit" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Aged Solar Reflectance</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input from CF1R proposed; Note N/A allowed if CF1R= NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="H10_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Aged Solar Reflectance</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input from CF1R proposed; Note N/A allowed if CF1R= NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="H11_ThermalEmittanceLimit" type="com:ThermalEmittanceLimit" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Thermal Emittance</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input from CF1R proposed; Note N/A allowed if CF1R= NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="H11_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Thermal Emittance</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input from CF1R proposed; Note N/A allowed if CF1R= NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="H12_SolarReflectanceIndexLimit" type="env:SolarReflectanceIndexLimit" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">SRI</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input from CF1R proposed; Note N/A allowed if CF1R= NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="H12_NotApplicableMessage" type="comp:NotApplicableMessage" >
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">SRI</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">User input from CF1R proposed; Note N/A allowed if CF1R= NA</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Roofing Products (Cool Roof) - Additional Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable unless one of the the following is true:  If the parent is prescriptive CF1R-ADD, ALT or NCB And CoolRoofComplianceMethod equals ClimateZoneNotApplicable Then this section is not applicable.  Or  If the parent is performance, CF1R-PRF And And L08_CoolRoofToBeInstalled == false Then this section is not applicable.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">PV Solar Thermal Exception</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Any roof area covered by building integrated photovoltaic panels and solar thermal panels are exempt from the above Cool Roof requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Field applied liquid coating</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Liquid field applied coatings must comply with installation criteria from section 110.8(i)4</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Mass roof</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Mass roof 25 pounds per square foot (lb/ft[d:sup]2[/d:sup]) or greater: Mass roofs are not required to have a cool roof even if the climate zone specifies minimum performance requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF2RENV04E" type="CF2RENV04E">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RENV04E compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
