deployed/CF2R/CF2RPVB02E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RPVB02E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RPVB02E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Battery Storage Systems" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RPVB02E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RPVB02E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RPVB02E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Battery Storage Systems</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_ProjectCity" type="comp:ProjectCity">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Project Location (City)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled: reference value from CF2R-PVB-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialLowriseBuildingType" type="com:ResidentialLowriseBuildingType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled: reference value from CF2R-PVB-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_ClimateZone" type="com:ClimateZone">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Climate Zone</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled: reference value from CF2R-PVB-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_ComplianceMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Method of Compliance:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled: reference value from CF2R-PVB-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:ComplianceMethod">
                           
                           
                           <xs:enumeration value="Performance"/>
                           
                           
                           <xs:enumeration value="PrescriptiveNewConstruction"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Design Battery Energy Storage System (BESS) Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_BatteryCapacity" type="hvac:BatteryCapacity">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Battery Compliance Cycling Capacity (kWh)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If A04_ComplianceMethod Not== Performance result = 7.5 Else reference value from CF1R-PRF</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B02_BatteryControl" type="hvac:BatteryControl">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Control</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A04_ComplianceMethod Not== Performance result = NA stored in NotApplicableMessage Else  reference value from CF1R-PRF</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Control</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A04_ComplianceMethod Not== Performance result = NA stored in NotApplicableMessage Else  reference value from CF1R-PRF</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B03_ChargingEfficiency" type="hvac:ChargingEfficiency">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Charging Efficiency (%)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A04_ComplianceMethod Not== Performance result = NA stored in NotApplicableMessage Else  reference value from CF1R-PRF</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Charging Efficiency (%)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A04_ComplianceMethod Not== Performance result = NA stored in NotApplicableMessage Else  reference value from CF1R-PRF</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B04_DischargingEfficiency" type="hvac:DischargingEfficiency">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Discharging Efficiency (%)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A04_ComplianceMethod Not== Performance result = NA stored in NotApplicableMessage Else  reference value from CF1R-PRF</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Discharging Efficiency (%)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B05_RoundTripEfficiency" type="hvac:RoundTripEfficiency">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Round Trip Efficiency (%)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">From CF1R-PRF-01; 
                              Else, if prescriptive, value = N/A
                           </xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Discharging Efficiency (%)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Installed Battery Energy Storage System (BESS) Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="CBeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:b>
                              The responsible builder/installer certifies that the battery energy storage system installer has installed the 2025 JA12 compliant battery energy storage system. The list of JA12 compliant battery energy storage systems are available at:

                              <ns1:line1/>
                               https://solarequipment.energy.ca.gov/Home/EnergyStorage for Integrated BESS  and 
                              <ns1:line1/>
                              https://solarequipment.energy.ca.gov/Home/BatteryList for Field-Assembled BESS 
                           </ns1:b>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C01_BatteryManufacturer" type="hvac:BatteryManufacturer">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Manufacturer</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_BatteryModelNumber" type="hvac:BatteryModelNumber">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Model #</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C03_BatteryCapacity" type="hvac:BatteryCapacity">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Battery Compliance Cycling Capacity (kWh)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Reference B01_BatteryCapacity as default; allow user to override value only if result is GTE B01_BatteryCapacity</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C04_BatteryControl" type="hvac:BatteryControl">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Control During Commissioning</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list with options as follows: If parent == CF1R-NCB Or B02_BatteryControl == Basic Or If B02_NotApplicableMessage == N/A, list Basic, TOU and AdvancedDR Else If B02_BatteryControl == TOU list TOU and AdvancedDR Else If B02_BatteryControl == AdvancedDR list AdvancedDR</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C05_ChargingEfficiency" type="hvac:ChargingEfficiency">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Charging Efficiency (%)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Reference B03_ChargingEffiency as default; allow user to override value only if result is GTE B03_ChargingEffiency.  If B03_NotApplicableMessage == N/A,, user input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C06_DischargingEfficiency" type="hvac:DischargingEfficiency">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Discharging Efficiency (%)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Reference B04_DischargingEffiency as default; allow user to override value only if result is GTE B04_DischargingEffiency;  If B04_NotApplicableMessage == N/A,, user input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C06a_RoundTripEfficiency" type="hvac:RoundTripEfficiency">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Round Trip Efficiency (%)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Reference B05_RoundTripEfficiency as default; allow user to override value only if result is GTE B05_RoundTripEfficiency;  If B05_NotApplicableMessage == N/A,, user input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C07_IsBatterySystemCertified" type="comp:IsBatterySystemCertified">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Battery Energy Storage System (BESS) Certified and listed by CEC for JA12-2025.</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="D01_DoesDwellingComplyWithBatteryRequirements" type="comp:DoesDwellingComplyWithBatteryRequirements">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If C03_BatteryCapacity  GTE B01_BatteryCapacity and C07_IsBatterySystemCertified == true then result = true, Else result = false</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RPVB02E" type="CF2RPVB02E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RPVB02E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
