deployed/CF2R/CF2RMCH29H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH29H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH29H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Duct Surface Area Reduction, R-Value, Buried Ducts Compliance Credit" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH29H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH29H" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH29H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Duct Surface Area Reduction, R-Value, Buried Ducts Compliance Credit</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Duct System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section references to MCH-01 refer to the CF2R-MCH-01 and references to the parent CC refer to the parent CF1R</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Note:  Submit one Certificate of installation for each duct system that must demonstrate compliance in the dwelling.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Name or Identification/Tag:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Location or Area Served:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name or  Description of  Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_DuctSurfaceAreaReductionRValueCreditTaken" type="comp:DuctSurfaceAreaReductionRValueCreditTaken">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Status - Duct Surface Area Reduction And R-Value Compliance Credit</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If parent CC Duct Surface Area Reduction And R-Value Compliance Credit == true , then result = true display term Installation should proceed according to the requirements in RA3.1.4.1.4.   Else result = false display term Credit not taken</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_DuctsBuriedComplianceCreditTaken" type="comp:DuctsBuriedComplianceCreditTaken">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Status - Buried Ducts Compliance Credit</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If parent CC flags: Buried Ducts Compliance Credit == true , then result = true display term Installation should proceed according to the requirements in RA3.1.4.1.5,    Else result = false display term Credit not taken</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_DuctsDeeplyBuriedComplianceCreditTaken" type="comp:DuctsDeeplyBuriedComplianceCreditTaken">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Status - Deeply Buried Ducts Compliance Credit</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If parent CC flags: Deeply Buried Ducts Compliance Credit  == true result = true. For Boolean true value,  display text: Installation should proceed according to the requirements in RA3.1.4.1.6.    Else result is false.  For Boolean false value display text: Credit not taken</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Duct Surface Area Reduction And R-Value Compliance Credit</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">Display this section if A04_DuctSurfaceAreaReductionRValueCreditTaken == true</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Credit is available for supply duct systems with reduced surface area in unconditioned space with varying combinations of higher performance insulation if the system complies with the following requirements</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Design Special Feature in CF1R-PRF-01-E</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system design shall be detailed in the special features section of the CF1R-PRF-01-E approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Design Documented on Building Design Plans</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A duct design layout that conforms to the duct system design details in the special features section of the CF1R-PRF-01-E shall be documented on the building design plans approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Installation Conforms to Design</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system installation, including duct sizes, R-values and lengths, and locations of supply &amp;amp; return registers shall conform to the duct system design layout approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">ECC Rater Verification of Duct System Installation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system installation shall be verified by a ECC rater according to the requirements in RA3.1.4.1.4.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">No Restriction of Required Operating Airflow.</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system installation shall not have severely twisted or compressed sections that would restrict required operating airflow.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="BEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Buried Ducts Compliance Credit</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">Display this section if A05_DuctsBuriedComplianceCreditTaken == true</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducts partly or completely buried in blown attic insulation in dwelling units meeting the requirements for verified quality insulation installation may take credit for increased effective duct insulation if the system complies with the following requirements</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Design Special Feature in CF1R-PRF-01-E</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system design shall be detailed in the special features section of the CF1R-PRF-01-E approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Design Documented on Building Design Plans</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A duct design layout that conforms to the duct system design details in the special features section of the CF1R-PRF-01-E shall be documented on the building design plans approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Installation Conforms to Design</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The installed duct system and attic insulation  shall conform to the design details in the  enforcement agency.approved CF1R-PRF-01-E.  These installation details include duct nominal diameter, R-value, and length of each segment, ceiling insulation depth, type (i.e. fiberglass or cellulose), and R-value, and supply and return register locations.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">ECC Rater Verification of Duct System Installation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system installation shall be verified by a ECC rater according to the requirements in RA3.1.4.1.5.  Verification of duct system installation shall be completed prior to burial of ducts.  Verification of insulation installation shall be completed by a second ECC inspection after ducts are buried.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">No Restriction of Required Operating Airflow.</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducts shall not have severely twisted or compressed sections that would restrict required operating airflow.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Buried ducts placement</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducts shall be buried by a uniform level of insulation (i.e. no mounding attic insulation to achieve burial level), lay directly or within 3.5 inches of ceiling gypsum board, and have at least 6 inches of space between the duct outer jacket and the roof sheathing.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C07">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Quality Insulation Installation requirements</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The dwelling shall comply with all Quality Insulation Installation requirements as documented on the applicable CF2R and CF3R.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="CEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Deeply Buried Ducts Compliance Credit</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">Display this section if A06_DuctsDeeplyBuriedComplianceCreditTaken == true</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Duct segments meeting requirements for buried ducts  and covered by at least 3.5 inches of insulation can take credit for effective duct insulation levels greater than buried ducts.  Deeply buried ducts have the option of using lowered portions of the ceiling or durable containment systems to achieve burial depth greater than the overall attic insulation level.  Deeply buried duct systems must comply with the following requirements:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Design Special Feature in CF1R-PRF-01-E</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system design shall be detailed in the special features section of the CF1R-PRF-01-E approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Design Documented on Building Design Plans</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A duct design layout that conforms to the duct system design details in the special features section of the CF1R-PRF-01-E shall be documented on the building design plans approved by the enforcement agency.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Installation Conforms to Design</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The installed duct system and attic insulation shall conform to the  system design details in the  enforcement agency.approved CF1R-PRF-01-E.  These installation details include duct nominal diameter, R-value, and length of each segment, ceiling insulation depth, type (i.e. fiberglass or cellulose), and R-value, lowered chase or containment system locations, and supply and return register locations.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">ECC Rater Verification of Duct System Installation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The duct system installation shall be verified by a ECC rater according to the requirements in RA3.1.4.1.6.  Verification of duct system installation shall be completed prior to burial of ducts.  Verification of insulation installation shall be completed by a second ECC inspection after ducts are buried.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">No Restriction of Required Operating Airflow.</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducts shall not have severely twisted or compressed sections that would restrict required operating airflow.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Buried Duct Placement</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducts shall be buried by a uniform level of insulation (i.e. no mounding attic insulation to achieve burial level), lay directly or within 3.5 inches of ceiling gypsum board, and have at least 6 inches of space between the duct outer jacket and the roof sheathing.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D07">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Quality Insulation Installation requirements</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The dwelling shall comply with all Quality Insulation Installation requirements as documented on the applicable CF2R and CF3R.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D08">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Containment Systems</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Containment systems shall have walls at least 7 inches wider than the duct outer diameter, extend at least 3.5 inches above the duct jacket, be filled completely with blown insulation. and have the duct centered between the containment walls.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="DEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Duct System Details</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required if A04_DuctSurfaceAreaReductionRValueCreditTaken  == true Or A05_DuctsBuriedComplianceCreditTaken  == true  Or A06_DuctsDeeplyBuriedComplianceCreditTaken  == true.  

All references to the parent CC refer to the parent CF1R-PRF-01-E
Data is this table is copied from parent CC</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="E_TableDuctDesign">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="E01_AirSegmentName" type="hvac:AirSegmentName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Duct Segment Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E02_DuctNominalDiameter" type="hvac:DuctNominalDiameter">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Nominal Diam. (in)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E03_DuctRValue" type="hvac:DuctRValue">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Duct R-value</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E04_DuctLength" type="hvac:DuctLength">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Length (ft)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E05_InsulationRValue" type="env:InsulationRValue">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Attic insulation R-value</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E06_InsulationThickness" type="env:InsulationThickness">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Attic Insulation Depth (in)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E07_InsulationType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Attic Insulation Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC  Acceptable values are Fiberglass and Cellulose</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:InsulationType">
                                             
                                             
                                             <xs:enumeration value="Cellulose"/>
                                             
                                             
                                             <xs:enumeration value="Fiberglass"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E08_BuriedDuctInsulationDevice" type="hvac:BuriedDuctInsulationDevice">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Containment system or Lowered Chase</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="E09_DuctBuriedLevel" type="hvac:DuctBuriedLevel">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Duct Burial Level</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Reference data from parent CC</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="E09_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Duct Burial Level</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Reference data from parent CC which allows NotApplicable</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH29H" type="CF2RMCH29H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH29H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
