deployed/CF2R/CF2RSTH01E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RSTH01E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RSTH01E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Solar Water Heating Systems" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RSTH01E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RSTH01E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RSTH01E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Solar Water Heating Systems</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Design Solar Water Heating Systems Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableDesign">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="A01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">System Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference values from CF1R.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A02_SolarWaterHeatingCollectorManufacturer" type="hvac:SolarWaterHeatingCollectorManufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Collector Manufacturer</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  data is available
reference value from CF1R, 
Else  
allow user input
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A03_SolarWaterHeatingCollectorBrand" type="hvac:SolarWaterHeatingCollectorBrand">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Collector Brand</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  data is available
reference value from CF1R, 
Else  
allow user input
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A04_SolarWaterHeatingCollectorModelNumber" type="hvac:SolarWaterHeatingCollectorModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Collector Model</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  data is available
reference value from CF1R, 
Else  
allow user input
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A05_SolarWaterHeatingCollectorCount" type="hvac:SolarWaterHeatingCollectorCount">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText"># of Collectors</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If  data is available
                                                reference value from CF1R, 
                                                Else  
                                                allow user input or N/A if SRCC Certification Type = OG-300
                                                End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText"># of Collectors</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If  data is available
                                                reference value from CF1R, 
                                                Else  
                                                allow user input or N/A if SRCC Certification Type = OG-300
                                                End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                                                        
                                    
                                    <xs:element name="A06_SolarWaterHeatingCollectorAngleFromNorth" type="comp:SolarWaterHeatingCollectorAngleFromNorth">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Azimuth from North (in degrees)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  data is available
reference value from CF1R, 
Else  
allow user input
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A07_SolarWaterHeatingCollectorSlope" type="hvac:SolarWaterHeatingCollectorSlope">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tilt from Horizontal</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  data is available
reference value from CF1R, 
Else  
allow user input
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A08_StorageCapacity" type="hvac:StorageCapacity">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Tank Volume (gal)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If  data is available
                                                reference value from CF1R, 
                                                Else  
                                                allow user input or N/A if SRCC Certification Type = OG-300
                                                End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText"># of Collectors</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If  data is available
                                                reference value from CF1R, 
                                                Else  
                                                allow user input or N/A if SRCC Certification Type = OG-300
                                                End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                                                       
                                    
                                    <xs:element name="A09_SolarWaterSystemSRCC_CertificationNumber" type="hvac:SolarWaterSystemSRCC_CertificationNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">SRCC/IAPMO  Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  data is available
reference value from CF1R, 
Else  
allow user input
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A10_SolarWaterHeatingSavingsFraction" type="comp:SolarWaterHeatingSavingsFraction">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Solar Savings Fraction</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference values from CF1R.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Installed Solar Water Heating Systems Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableInstall">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_WaterHeatingSystemName" type="hvac:WaterHeatingSystemName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">System Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference values from A01</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_SolarWaterHeatingCollectorManufacturer" type="hvac:SolarWaterHeatingCollectorManufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Collector Manufacturer</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input
Else reference value in A02
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B03_SolarWaterHeatingCollectorBrand" type="hvac:SolarWaterHeatingCollectorBrand">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Collector Brand</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input
Else reference value in A03
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B04_SolarWaterHeatingCollectorModelNumber" type="hvac:SolarWaterHeatingCollectorModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Collector Model</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input
Else reference value in A04
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B05_SolarWaterHeatingCollectorCount" type="hvac:SolarWaterHeatingCollectorCount">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText"># of Collectors</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">User input
Else reference value in A05
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText"># of Collectors</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If value in A05 is NotApplicable result = NotApplicable End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="B06_SolarWaterHeatingCollectorAngleFromNorth" type="comp:SolarWaterHeatingCollectorAngleFromNorth">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Azimuth from North (in degrees)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input value GTE 145 And LTE 215
Else reference value in A06
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B07_SolarWaterHeatingCollectorSlope" type="hvac:SolarWaterHeatingCollectorSlope">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tilt from Horizontal</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input value GTE 14
Else reference value in A07
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B08_StorageCapacity" type="hvac:StorageCapacity">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Tank Volume (gal)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">IUser input
Else reference value in A08
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B08_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText"># of Collectors</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If value in A08 is NotApplicable result = NotApplicable End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="B09_SolarWaterSystemSRCC_CertificationNumber" type="hvac:SolarWaterSystemSRCC_CertificationNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">SRCC/IAPMO  Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input
Else reference value in A09
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B10_SolarWaterHeatingSavingsFraction" type="comp:SolarWaterHeatingSavingsFraction">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Solar Savings Fraction</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input value GTE A10
Else reference value in A10
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Mandatory Measures For Solar Water Heating Systems</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Backup Storage tanks for solar water-heating systems have R-3.5 external insulation or R-16  internal insulation where the internal insulation R-value indicated on the exterior of the tank (
                           <ns1:t24refnolink/>
                           150.0(i)1).
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           All domestic hot water piping (including solar) shall be insulated (
                           <ns1:t24refnolink/>
                           150(j)2A)
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The collectors are located in a position that is not shaded by adjacent buildings or trees.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:b>OG-300 System only</ns1:b>
                            -The collectors shall face within 35 
                           <ns1:deg/>
                            of south and be tilted at a slope of at least 3:12
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="CEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RSTH01E" type="CF2RSTH01E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RSTH01E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
