deployed/CF2R/CF2RMCH22H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH22H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH22H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Space Conditioning System Fan Efficacy" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH22H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH22dH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH22H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Space Conditioning System Fan Efficacy - Fan Efficacy Measurement Forced Air System Plus Central Fan Ventilation Cooling System And Zoned Systems</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Ducted Cooling System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF2R-MCH23</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_ResidentialCoolingSystemName" type="hvac:ResidentialCoolingSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_ImprovementStatus">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Installation Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="hvac:ImprovementStatus">
                           
                           
                           <xs:enumeration value="Alteration"/>
                           
                           
                           <xs:enumeration value="New"/>
                           
                           
                           <xs:enumeration value="Replacement"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A06_CondenserSpeedType" type="hvac:CondenserSpeedType">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Condenser Speed Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Condenser Speed Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A07_ResidentialCoolingZoneType" type="hvac:ResidentialCoolingZoneType">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Cooling System Zonal Control Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A07_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Cooling System Zonal Control Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A08_IsVentilationSystemCFI" type="comp:IsVentilationSystemCFI">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central  Fan Integrated (CFI) Ventilation System Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A09_HasBypassDuct" type="hvac:HasBypassDuct">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">System Bypass Duct Status</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A09_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">System Bypass Duct Status</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23 which allows NotApplicable</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A10_AirflowRateMeasurementDate" type="comp:AirflowRateMeasurementDate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Date of System Airflow Rate Measurement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A11_AirflowRateMeasurementProtocol" type="comp:AirflowRateMeasurementProtocol">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Airflow Rate Protocol utilized</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A12_CFVCS_Type" type="comp:CFVCS_Type">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan Ventilation Cooling System Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Fan Watt Measurement Apparatus and Procedure Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF2R-MCH23</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>Instrument Specifications are given in RA3.3.1, and system fan watt measurement apparatus information is given in RA3.3.2.2.</ns1:i>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B01_FanWattMeterType" type="comp:FanWattMeterType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fan Watt Verification Device Used.</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input:  For choice PortableWattMeter display text: Portable watt meter  For choice AnalogUtilityWattMeter display text: Analog Utility Revenue Meter (spinning wheel type)  For DigitalUtilityWattMeter display text: Digital Utility Revenue Meter</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C1">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Forced Air System Fan Efficacy Measurement</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">If A06 Condenser Speed Type != SingleSpeed Or A07_ResidentialCoolingZoneType != ZoneControlled this section is required.  In this section MCH-23 refers to the project CF2R-MCH23 and MCH-01 refers to the project CF2R-MCH-01</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
		
               <xs:sequence>
                  
		  
                  <xs:element minOccurs="0" name="Cms_BeginNote1">
                     
		   
                     <xs:annotation>
                        
		      
                        <xs:documentation source="AdditionalRequirements">Complete this section entering data for Newly Installed Non-Zoned Systems or Zoned Multi-Speed Compressor</xs:documentation>
                        
		   
                     </xs:annotation>
                     
		  
                  </xs:element>
                                    
	        
                  <xs:element minOccurs="0" name="Cms_BeginNote2">
                                                           
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText"/>
                        
                      
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>System Fan Watt Verification procedures are specified in Reference Residential Appendix RA3.3.</ns1:i>
                        </xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                    
                
                  <xs:element name="Cms01_FanPowerActual" type="hvac:FanPowerActual">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Actual Tested Watts</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">User input, numeric value xx.xx</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cms02_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Actual Tested Airflow from MCH-23 (cfm)</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">Referenced from MCH-23 (make sure to reference tested airflow value and not target airflow value) </xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cms03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Required Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If loading Row 1 Forced Air System data Then If parent document == MCH-01a or MCH01d, then result = C09_MaximumCoolingWperCFM;  
Else If parent document == MCH-01b Or Mch01c   If MCH01b- C06 or Mch01c - B05 ResidentialCoolingSystemType  == SmallDuctHighVelocityHP Or SmallDuctHighVelocityAC result = 0.62  Else If  MCH01b - C02 Or Mch01c - B02 ResidentialHeatingSystemType  == CentralGasFurnace Or GasPackagedFurnace result = 0.45 Else result = 0.58
Else If loading Row 2 of CFVCS data Then If parent document == MCH-01a Or MCH-01d result = C12_VentilationCoolingFanEfficacy</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cms04_FanEfficacy" type="hvac:FanEfficacy">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Actual Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">Calculated field: Cms01_FanPowerActual / Cms02_AirflowMeasuredRate</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cms05_DoesSystemFanEfficacyComply" type="comp:DoesSystemFanEfficacyComply">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">If Cms04_FanEfficacy LTE Cms03_FanEfficacyRequired result = true display term: System fan efficacy complies.  Else result =  false display term   System does not comply with fan efficacy requirement.</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C2">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Forced Air System Fan Efficacy Measurement – All Zones Calling</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">If A06 CondenserSpeedType == SingleSpeed And A07_ResidentialCoolingZoneType== ZoneControlled this section is required.  In this section MCH-23 refers to the project CF2R-MCH23 and MCH-01 refers to the project CF2R-MCH-01</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
		
               <xs:sequence>
                  
		  
                  <xs:element minOccurs="0" name="Cssz_BeginNote1">
                     
		   
                     <xs:annotation>
                        
		      
                        <xs:documentation source="AdditionalRequirements">Complete this section entering data for Newly Installed Zoned Single-Speed Compressor Systems</xs:documentation>
                        
	           
                     </xs:annotation>
                     
		  
                  </xs:element>
                                          
	        
                  <xs:element minOccurs="0" name="Cssz_BeginNote2">
                                                           
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText"/>
                        
                      
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>System Fan Watt Verification procedures are specified in Reference Residential Appendix RA3.3.</ns1:i>
                        </xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                    
                
                  <xs:element name="Cssz01_FanPowerActual" type="hvac:FanPowerActual">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Actual Tested Watts</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">User input, numeric value xx.xx</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cssz02_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Actual Tested Airflow from MCH-23 (cfm)</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">Referenced from MCH-23 (make sure to reference tested airflow value and not target airflow value) </xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cssz03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Required Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If loading Row 1 Forced Air System data Then If parent document == MCH-01a or MCH01d, then result = C09_MaximumCoolingWperCFM;  
Else If parent document == MCH-01b Or Mch01c   If MCH01b- C06 or Mch01c - B05 ResidentialCoolingSystemType  == SmallDuctHighVelocityHP Or SmallDuctHighVelocityAC result = 0.62  Else If  MCH01b - C02 Or Mch01c - B02 ResidentialHeatingSystemType  == CentralGasFurnace Or GasPackagedFurnace result = 0.45 Else result = 0.58</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cssz04_FanEfficacy" type="hvac:FanEfficacy">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Actual Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">Calculated field: Cssz01_FanPowerActual / Cssz02_AirflowMeasuredRate</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
                
                  <xs:element name="Cssz05_DoesSystemFanEfficacyComply" type="comp:DoesSystemFanEfficacyComply">
                     
                   
                     <xs:annotation>
                        
                      
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                      
                        <xs:documentation source="CalculationsAndRules">If Cssz04_FanEfficacy LTE Cssz03_FanEfficacyRequired result = true display term: System fan efficacy complies.  Else result =  false display term   System does not comply with fan efficacy requirement.</xs:documentation>
                        
                   
                     </xs:annotation>
                     
                
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         	               
         
         <xs:element minOccurs="0" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">All Zonal Control Modes</xs:documentation>
                
               
               <xs:documentation source="AdditionalRequirements">The procedures for System Fan Efficacy Verification are specified in Reference Residential Appendix RA3.3.Note: For compliance with verification in all zonal control modes, it is sufficient to verify fan efficacy for operation of each individual zone when the individual zone is the sole zone calling for conditioning.  It is not necessary to verify fan efficacy for combinations of 2 or more zones that are less than all zones calling (e.g., 2 out of three zones calling).</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">If A07_ResidentialCoolingZoneType  == ZoneControlled this section is required</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="D01_ResidentialIndependentlyControlledZoneCount" type="hvac:ResidentialIndependentlyControlledZoneCount">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Number of independently controlled zones (i.e., number of thermostats or temperature sensors that independently control one or more dampers.)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input integer</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D02_FanEfficacyRequiredZonalControl" type="hvac:FanEfficacyRequiredZonalControl">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required Fan Efficacy in all Zonal Control Modes(Watt/cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If parent document == MCH-01a or MCH01d, then reference its value in C09_MaximumCoolingWperCFM;  Else If parent document == MCH-01b Or Mch01c   If MCH01b- C06 or Mch01c - B05 ResidentialCoolingSystemType  == SmallDuctHighVelocityHP Or SmallDuctHighVelocityAC result = 0.62  Else If  MCH01b - C02 Or Mch01c - B02 ResidentialHeatingSystemType  == CentralGasFurnace Or GasPackagedFurnace result = 0.45 Else result = 0.58</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableZones">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="D03_ThermalZoneName" type="hvac:ThermalZoneName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Zone Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Create 1 row of data for each of the number of independently controlled zones identified in C06.  User entry, text field 20 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D04_ThermalZoneDescription" type="hvac:ThermalZoneDescription">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Zone Description</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry, text field 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D05_ZoneMeasuredFanPower" type="hvac:ZoneMeasuredFanPower">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Measured Watt Draw with all other zones off</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric value: xxxx</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D06_ZoneMeasuredAirflow" type="hvac:ZoneMeasuredAirflow">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Measured Airflow with all other zones off (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Data from MCH23</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D07_FanEfficacyMeasuredZonalControl" type="hvac:FanEfficacyMeasuredZonalControl">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Calculated Fan Efficacy</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field:   D05_ZoneMeasuredFanPower / D06_ZoneMeasuredAirflow</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D08_DoesZoneComplyWithRequiredFanEfficacy" type="comp:DoesZoneComplyWithRequiredFanEfficacy">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Zone Compliance Status</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If D07_FanEfficacyMeasuredZonalControl LTE  D02_FanEfficacyRequiredZonalControl  result = true display term Pass;  Else result = false.  display term  Fail</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D09_DoAllZonesComplyWithRequiredFanEfficacy" type="comp:DoAllZonesComplyWithRequiredFanEfficacy">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If D08_DoesZoneComplyWithRequiredFanEfficacy == true for all rows, then result = true  display term  System fan efficacy complies.  Else result = false display term System does not comply with fan efficacy requirement</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Central Fan Ventilation Cooling System Fan Efficacy Measurement</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">If A12_CFVCS_Type != NotCFVCS this section is required.  In this section MCH-23 refers to the project CF2R-MCH23 and MCH-01 refers to the project CF2R-MCH-01</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="E_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The procedures for Central Fan Ventilation Cooling System Fan Watt Verification are specified in Reference Residential Appendix RA3.3.4.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E01_FanPowerActual" type="hvac:FanPowerActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Tested Watts</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input, numeric value xx.xx</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E02_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Tested Ventilation Airflow from MCH-23 (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Referenced MCH-23 Actual System Ventilation Airflow Rate Measurement (cfm) from Central Fan Ventilation Cooling System Fan Efficacy Measurement Section </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If parent document == MCH-01a  reference value from Mch01a C12 Else If parent document == MCH-01d  reference value from Mch01d C12</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E04_FanEfficacy" type="hvac:FanEfficacy">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  E01_FanPowerActual  /  E02_AirflowMeasuredRate</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E05_DoesSystemFanEfficacyComply" type="comp:DoesSystemFanEfficacyComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If E03_FanEfficacyRequired GTE E04_FanEfficacy result = true display term: System fan efficacy complies.  Else result =  false display term   System does not comply with fan efficacy requirement.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_F">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="F01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">All registers fully open</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All registers were fully open during the diagnostic test.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System fan testing speed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">System fan was set at maximum speed during the diagnostic test.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fresh Air Duct</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If fresh air duct is part of the HVAC system it was not closed during the diagnostic test.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fan Efficacy tested value</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Airflow rate and fan watt draw shall be simultaneous measurements when used to calculate the Fan Efficacy tested value.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Multi-speed compressor</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Multi-speed compressor space cooling systems or variable speed compressor systems with controls that vary fan speed subject to the number of zones, as certified by the installer may verify air flow (cfm/ton) and fan efficacy (Watt/cfm) with system operating at the maximum compressor capacity and system fan speed with all zones calling for conditioning.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Single speed compressors</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Zoned cooling air distribution systems with single speed compressors shall meet both the airflow (cfm/ton) and fan efficacy (Watt/cfm) criteria in every zonal control mode.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F07">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Portable Watt meters</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Portable Watt meters used for measurements of air handler watt draws shall be true power measurement systems (i.e., sensor plus data acquisition system) having an accuracy of +- 2 percent of reading or +- 10 Watts whichever is greater.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="FEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH22H" type="CF2RMCH22H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH22H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
