deployed/CF2R/CF2RMCH02E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH02E" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF2RMCH02E" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF2RMCH02E">
      <xsd:annotation>
         <xsd:documentation>Whole House Fan</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Whole House Fan (WHF) Equipment Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Requirements for Whole House Fans are given in Section 150.1(c)12</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableEquipment">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="A01_WHF_Manufacturer" type="comp:WHF_Manufacturer">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">WHF Manufacturer Name</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A02_WHF_ModelNumber" type="comp:WHF_ModelNumber">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">WHF Model Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A03_WHF_RatedAirFlow" type="comp:WHF_RatedAirFlow">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">WHF Rated CFM</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input numeric</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A04_WHF_Count" type="comp:WHF_Count">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">WHF Model Quantity in this Dwelling</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input integer</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A05_WHFsTotalRatedAirFlow" type="comp:WHFsTotalRatedAirFlow">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">WHF Model Total Rated Airflow</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: PRODUCT (A03_WholeHouseFanRatedAirFlow, A04_ WholeHouseFanCount</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="A06_WHF_VentLocation" type="comp:WHF_VentLocation">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Vent Location</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: AtticVent, display term Attic, OutsideVent display term Outside</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Whole House Fan compliance calculations</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01_WHFsAllModelsTotalRatedAirFlow" type="comp:WHFsAllModelsTotalRatedAirFlow">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Sum of all Installed WHF Rated Airflow in Dwelling (CFM)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: SUM ALL ( A05_WHFsTotalRatedAirFlow )</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02_WHFsAllModelsTotalRatedAirFlowAttic" type="comp:WHFsAllModelsTotalRatedAirFlowAttic">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Sum of Airflow vented to attic</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Sum If A06_WHF_VentCount == AtticVent ( A05_WHFsTotalRatedAirFlow )</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B03_WHFsAllModelsTotalRatedAirFlowOutside" type="comp:WHFsAllModelsTotalRatedAirFlowOutside">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Sum of Airflow vented to outside</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Sum If A06_WHF_VentCount == OutsideVent ( A05_WHFsTotalRatedAirFlow )</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B04_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Dwelling Conditioned Floor Area (ft<d:sup>2</d:sup>)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Data from CF1R</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B05_WHFsMinimumRequiredAirflow" type="comp:WHFsMinimumRequiredAirflow">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Minimum WHF Airflow Rate Requirement (CFM)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If parent is CF1R-PRF then result = value stored in CoolingVent(cfm), Else result = PRODUCT (B04__ResidentialDwellingUnitConditionedFloorArea, 1.5 CFM per ft2)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Attic Vent Free area</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required If A06_WHF_VentLocation == AtticVent</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C01_AtticVentFreeAreaRequired" type="env:AtticVentFreeAreaRequired">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required Attic Vent Free Area (ft<d:sup>2</d:sup>)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: B02_WHFsAllModelsTotalRatedAirFlowAttic / 750</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02_AtticVentFreeAreaInstalled" type="env:AtticVentFreeAreaInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Attic Vent Free Area (ft<d:sup>2</d:sup>)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xxx.x</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D01_DoesWholeHouseFanComply" type="comp:DoesWholeHouseFanComply">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Result</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If B01_WHFsAllModelsTotalRatedAirFlow GTE B05_ WHFsMinimumRequiredAirflow And If Section C applies If C02_AtticVentFreeAreaInstalled GTE C01_AtticVentFreeAreaRequired  then result = true display term  Pass - Dwelling complies with the prescriptive WHF requirement.  Else result = false display term Fail - Dwelling does not comply with the prescriptive WHF requirement</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Listed on HVI appliance database</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The installed fan shall be listed in the Home Ventilating Institute (HVI) Certified Products Directory.  WHF Model Rated Airflow shall be based on the value listed in the HVI Directory.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">User instructions documentation</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The homeowner shall be provided with user instructions documentation that describe the proper use of the whole house fan necessary to obtain the full energy savings benefit.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="EEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RMCH02E"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Whole House Fan"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF2RMCH02E"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RMCH02E"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF2RMCH02E" type="CF2RMCH02E">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RMCH02E compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
