deployed/CF2R/CF2RLTG01E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RLTG01E" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF2RLTG01E" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF2RLTG01E">
      <xsd:annotation>
         <xsd:documentation>Lighting Single Family Dwellings</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Installed Lighting and Controls</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Select  Yes or No according to whether your work on the project includes each of the following types of lighting and controls.  See sections B through H for applicable requirements.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Boolean  true values in this section  display text: Yes   For Boolean  false values in this section  display text: No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_InteriorHighEfficacyLuminairesInstalled" type="comp:InteriorHighEfficacyLuminairesInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">High Luminous Efficacy luminaires installed in any interior rooms. (See Section B.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_InteriorJA8CompliantLuminairesInstalled" type="comp:InteriorJA8CompliantLuminairesInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">JA8 compliant luminaires installed in any interior rooms. (See Section B.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_InteriorRecessedLuminairesInstalled" type="comp:InteriorRecessedLuminairesInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Recessed downlight luminaires in ceilings in any interior room (See Section C).</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_InteriorEnclosedLuminairesInstalled" type="comp:InteriorEnclosedLuminairesInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Light Sources in Enclosed or Recessed Luminaires (See Section D.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A05_InteriorEnclosedLuminairesInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_BathroomLightingControlsInstalled" type="comp:BathroomLightingControlsInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lighting controls in bathrooms (See Section E.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A06_BathroomLightingControlsInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_LaundryRoomLightingControlsInstalled" type="comp:LaundryRoomLightingControlsInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lighting controls in laundry rooms (See Section E.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A07_LaundryRoomLightingControlsInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_UtilityRoomLightingControlsInstalled" type="comp:UtilityRoomLightingControlsInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lighting controls in utility rooms (See Section E.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A08_UtilityRoomLightingControlsInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A08_GarageLightingControlsInstalled" type="comp:GarageLightingControlsInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lighting controls in garage (See Section E.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A09_GarageLightingControlsInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A09_ClosetLightingControlsInstalled" type="comp:ClosetLightingControlsInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lighting controls in walk-in closets. (See Section E.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A10_InteriorRoomsLightingControlsInstalled" type="comp:InteriorRoomsLightingControlsInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lighting controls in interior rooms except bathrooms, laundry rooms, utility rooms, and garages. (See Section E2.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A11_ScrewBasedLuminaires" type="comp:ScrewBasedLuminaires">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Screw Based luminaires. (See Section F.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_AddressSignsInternalLuminationInstalled" type="comp:AddressSignsInternalLuminationInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Internally illuminated address signs. (See Section G.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A12_AddressSignsInternalLuminationInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A13_OutdoorLightingSingleFamilyInstalled" type="comp:OutdoorLightingSingleFamilyInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Outdoor lighting and controls (See Section H.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects Yes or No</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A10_OutdoorLightingSingleFamilyInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A14_GarageGTE8Vehicles" type="comp:GarageGTE8Vehicles">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Parking Garages for eight or more Vehicles (See Section I)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A15_BlankElectricalBoxesInstalled" type="comp:BlankElectricalBoxesInstalled">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Blank Electrical Boxes installed more than 5 feet from finished floor (See Section J)</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="cell number">A11_BlankElectricalBoxesInstalled</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">High Luminous Efficacy Luminaires</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if  A01_InteriorHighEfficacyLuminairesInstalled == true Or A02_InteriorJA8CompliantLuminairesInstalled== true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">All luminaires installed High Efficacy source or JA8 compliant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1A and Table 150.0-A: All luminaires are installed with:
                           <d:l t="*">
                              <d:list> Light sources of one of the lighting technologies specified under the "High Luminous Efficacy" column of Table 150.0-A; or  </d:list>
                              <d:list> JA8 compliant light sources and the light sources are marked with a label reading "JA8-2022" or "JA8-2022-E".</d:list>
                           </d:l>
                           <d:line2/>Exception 1: Integrated device lighting: Lighting integral to exhaust fans, kitchen range hoods, bath vanity mirros, and garage door openers, and non-removable lighting attached to ceiling fans. 
                           <d:line1/>Exception 2: Navigation Lighting: Night lights, step lights, path lights less than 5 watts.  
                           <d:line1/>Exception 3: Cabinet Lighting: Lighting internal to drawers, cabinetry, and linen closets with an efficacy of 45 lumens per watt or greater.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Wall mounted controls</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:l t="*">
                              <d:list> Lighting shall have readily accessible wall-mounted controls that allow the lighting to be manually turned ON and  OFF.</d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="BEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Recessed Downlight LuminaIres in Ceilings</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A03_ InteriorRecessedLuminairesInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">No screw based lamp sockets</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1Ci: Do not contain screw based lamp sockets.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">JA8-2022 label</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The luminaire is marked with "JA8-2022".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Air Tight Label</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1Cii: Has label certifying the luminairea are air tight with air leakage less than 2.0 cfm at 75 Pascals when tested in accordance with ASTM E283. 
                           <d:line1/> Exception: Recessed luminaires marked for use in fire-rated installations, and recessed luminaires installed in non-insulated ceilings.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Sealing Requirements</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1Ciii: Sealed with a gasket or caulk between the luminaire housing and ceiling, and all air leakage paths between conditioned and unconditioned spaces are sealed with a gasket or caulk, or be installed per manufacturer's instructions to maintain airtightness between the luminaire housing and ceiling. 
                           <d:line1/> Exception: Recessed luminaires marked for use in fire-rated installations, and recessed luminaires installed in non-insulated ceilings.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)1Civ Requirements</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1Civ: Meet the following requirements (California Electrical Code Section 410.116). 
                           <d:l t="*">
                              <d:list>A recessed luminaire that is not identified for contact with insulation shall have all recessed parts spaced not less than 1/2 inch from combustible materials.  The points of support and the trim finishing off the openings in the ceiling shall be permitted to be in contact with combustible materials.</d:list>
                              <d:list>A recessed luminaire that is identified for contact with insulation, Type IC, shall be permitted to be in contact with combustible materials at recessed parts, points of support and portions passing through or finishing off the opening in the building structure.</d:list>
                              <d:list>Thermal insulation shall not be installed above a recessed luminaire or within 3 inches of the recessed luminaire's enclosure,  wiring compartment, ballast, transformer, LED driver, or power supply unless the luminaire is identified as Type IC for insulation contact.</d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Light sources in enclosed or recessed luminaires (other than recessed downlight luminaires in ceilings)</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A04_InteriorEnclosedLuminairesInstalled  == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)1D Light Sources</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1D: 
                           <d:b>Light Sources in Enclosed or Recessed Luminaires </d:b>that are not marked with the "JA8-2022-E", shall not be installed in enclosed or recessed luminaires.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Lighting controls in bathrooms, garages, laundry rooms, utility rooms, and walk-in closets.</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A05_BathroomLightingControlsInstalled, A06_LaundryRoomLightingControlsInstalled, A07_UtilityRoomLightingControlsInstalled, A08_GarageLightingControlsInstalled  or A09_ClosetLightingControlsInstalled== true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2E Vacancy sensor in low use rooms</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2E: In 
                           <d:b>bathrooms, garages, laundry rooms, utility rooms and walk-in closets</d:b>, at least one installed luminaire is controlled by an occupancy or vacancy sensor providing automatic-off functionality.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="EEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Lighting Controls in any interior rooms</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A10_InteriorRoomsLightingControlsInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Ctrl01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2Eii Lighting in Drawers/Cabinets</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2Eii: For lighting internal to drawers and cabinetry with opaque fronts or doors, controls that turn light off when the drawer or door is closed shall be provided.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Ctrl02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2F</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2F: Lighting in habitable spaces, including but not limited to living rooms, dining rooms, kitchens, and bedrooms, have readily accessible wall-mounted dimming controls that allow the lighting to be manually adjusted up and down.  Forward phase cut dimmers controlling LED light sources in these spaces shall comply with NEMA SSL 7A.
                           <d:line2/>EXCEPTION 1: Ceiling fans may provide control of integrated lighting via a remote control. 
                           <d:line1/> EXCEPTION 2:Luminaires connected to a circuit with controlled lighting power less than 20 watts; or controlled by an occupancy or vacancy sensor providing automatic-off functionality .
                           <d:line1/>EXCEPTION 3: Navigation lighting such as night lights, step lights, and path lights less than 5 watts, and lighting internal to drawers and cabinetry with opaque fronts or doors or with automatic off controls.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Ctrl03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Wall mounted controls</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2A Lighting has readily accessible wall-mounted controls that allow the lighting to be manually turned ON and  OFF.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Ctrl04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2B No Bypass of Dimmer or Vacancy sensor</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2B: No control bypasses a dimmer, occupancy sensor or vacancy sensor function where that dimmer or sensor has been installed to comply with Section 150.0(k)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Ctrl05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2C Section 110.9 Requirements</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2C: Lighting controls comply with the applicable requirements in Section 110.9.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Ctrl06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2D Energy Management Control Systems</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2D: An Energy Management Control System (EMCS) or a multiscene programmable control can be used to comply with dimming, occupancy, and lighting control requirements in Section 150.0(k)2 if it provides the functionality of the specified control in accordance with Section 110.9, and the physical controls (readily accessible wall-mounted controls that allow the lighting to be manually turned ON and OFF).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Ctrl07" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)2G</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)2G: Independent Controls: 
                           <d:l t="*">
                              <d:list> Integrated lighting of exhaust fans is controlled independently from the fans. </d:list>
                              <d:list> Undercabinet lighting, undershelf lighting, interior lighting of display cabinets, and switched outlets are controlled separately from ceiling installed lighting.</d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CtrlEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Screw Based Luminaires</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A10_ScrewBasedLuminaires == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)1B Screw based luminaires</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1B: Screw based luminaires shall contain lamps that are marked with "JA8-2022" or "JA8-2022-E".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Address Signs</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A11_AddressSignsInternalLuminationInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)4 Internally illuminated address signs</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)4: Internally illuminated address signs shall either: 
                           <d:l t="*">
                              <d:list>Comply with Section 140.8. Applicable nonresidential sign lighting compliance forms shall also be submitted, or </d:list>
                              <d:list> Consume no more than 5 Watts of power.</d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Outdoor lighting and Controls</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A12_OutdoorLightingSingleFamilyInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)1A High Efficacy Lighting</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1A and Table 150.0-A: High efficacy outdoor lighting or LED light sources are installed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)3A Low Efficacy Lighting</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)3A: Outdoor lighting is controlled by a manual ON and OFF switch that permits one of the following automatic actions: 
                           <d:l t="*">
                              <d:list> Controlled be a photocell and either a motion sensor or an automatic time switch control;  </d:list>
                              <d:list> Controlled by an astronomical time clock control. </d:list>
                           </d:l>
                           <d:line1/>  Controls that override to ON shall not be allowed unless the override automatically returns the automatic control to its normal operation within 6 hours.  
                           <d:line1/>  An energy management control that provides the specified lighting control functionality and complies with all requirements applicable to the specified controls may be used to meet the above requirements.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_J" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Lighting for Residential Garages for Eight or More Vehicles</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A13_GarageGTE8Vehicles == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="J01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)5 Garage with 8+ vehicles</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)5: Lighting complies with the applicable requirements for nonresidential garages in Sections 110.9, 130.0, 130.1, 130.4, 140.6 and 141.0.  Applicable LTG forms shall also be submitted.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="JEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_K" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Blank Electrical Boxes</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This Section is applicable only if A14_BlankElectricalBoxesInstalled == true</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="K01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">150.0(k)1E Blank electrical boxes installed</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">150.0(k)1E: The number of blank electrical boxes that are more than 5 feet above the finished floor and do not contain a luminaire or other device, shall be no greater than the number of bedrooms. The electrical boxes must be served by a dimmer, a vacancy sensor, low voltage wiring or fan speed control.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="KEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RLTG01E"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Lighting Single Family Dwellings"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF2RLTG01E"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RLTG01E"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF2RLTG01E" type="CF2RLTG01E">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RLTG01E compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
