deployed/CF2R/CF2RMCH04E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH04E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH04E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Evaporative Coolers" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH04E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH04E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH04E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Evaporative Coolers</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">System Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>Each system requiring verification must use a separate form</ns1:i>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_EvaporativeCoolerName" type="hvac:EvaporativeCoolerName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Name or Identification/Tag</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from the CF2R-MCH-01 registered for this project</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from the CF2R-MCH-01 registered for this project</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_ResidentialCoolingSystemType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Evaporative Cooler System Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from the CF2R-MCH-01 registered for this project.  Allowed values: EvaporativeDirect display term Evaporative - direct, EvaporativeIndirect display term Evaporative - indirect, EvaporativeIndirectDirect display term Evaporative - indirect/direct</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="hvac:ResidentialCoolingSystemType">
                           
                           
                           <xs:enumeration value="EvaporativeDirect"/>
                           
                           
                           <xs:enumeration value="EvaporativeIndirect"/>
                           
                           
                           <xs:enumeration value="EvaporativeIndirectDirect"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_EvaporativeCoolerManufacturerName" type="comp:EvaporativeCoolerManufacturerName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Manufacturer Name of Installed Evaporative Cooler</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_EvaporativeCoolerManufacturerModel" type="comp:EvaporativeCoolerManufacturerModel">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Manufacturer Model Number of Installed Evaporative Cooler</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Installation Criteria</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Only Indirect or Direct/Indirect Systems Comply</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Only indirect or direct/indirect systems may be installed as part of the evaporative cooling compliance option. Direct evaporative coolers do not meet the eligibility criteria.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed Evaporative Cooler on Approved List</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Installed evaporative cooler is listed as an approved non central air conditioner and heat pumps.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Permanent Installation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Equipment shall be permanently installed (no window or portable units).</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installation Requirements</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Installation shall provide for automatic relief of supply air from the house with maximum air velocity through the relief dampers not exceeding 800 fpm (at the Title 20 rated airflow).  Pressure relief dampers and ductwork shall be distributed to provide adequate airflow through all habitable rooms. For installations with an attic, ceiling dampers shall be installed to relieve air into the attic, and then to outside through attic vents.  For installations without an attic, sidewall relief dampers are acceptable.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Bleed Systems Not Allowed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">To minimize water consumption, bleed systems are not allowed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Water Quality Management System Required</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A water quality management system (either "pump out" or conductivity sensor) is required.  "Pump out" systems can either be integral to the evaporative cooler or they can be accessories that operate on a timed interval.  The time interval between dumps shall be set to a minimum of six hours of cooler operation.  Longer intervals are encouraged if local water quality allows.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B07">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Water Use Requirements</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The equipment manufacturer shall certify to the Commission that water use does not exceed 7.5 gallons per ton hour based on the Title 20 Appliance Standards testing criteria.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B08">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Automatic Thermostats Required</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Automatic thermostats are required.  On/off control is not allowed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B09">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Shared Duct System</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If the evaporative cooler duct system is shared with a heating and/or cooling system, the installed duct system shall employ backdraft dampers at the evaporative cooler supply.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B10">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Winter Closure Device</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The installing contractor must provide a winter closure device that substantially blocks outdoor air from entering the indoor space.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B11">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Water Inlet Connection Size</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The size of the water inlet connection at the evaporative cooler shall not exceed 3/8"</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B12">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Sump Overflow Line</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Unless prohibited by local code, the sump overflow line shall not be directly connected to a drain and shall be terminated in a location that is normally visible to the building occupants.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="BEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH04E" type="CF2RMCH04E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH04E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
