deployed/CF2R/CF2RENV01E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RENV01E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RENV01E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Fenestration Installation" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RENV01E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RENV01E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RENV01E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Fenestration Installation</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Fenestration/ Glazing</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeforeNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Before Section Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>If more than one person has responsibility for installation of the items on this certificate, each person shall prepare and sign a certificate applicable to the portion of construction for which they are responsible. Alternatively, the person with chief responsibility for construction shall prepare and sign this certificate for the entire construction. The signer agrees that all applicable Mandatory Measures were met. Temporary labels are not to be removed before verification by the building inspector.</ns1:i>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Includes all Windows, Skylights, Greenhouse or Bay Windows and Glazed Doors(
                           <ns1:gte/>
                            25% glazing area).
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote2">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 2</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Note: If meeting Exception 1 to 150.1(c)3A, new dwelling units with a conditioned floor area of 
                           <ns1:lte/>
                            500 square feet (ft
                           <ns1:sup>2</ns1:sup>
                           ) in Climate Zone 5 may comply with a maximum U-factor of 0.30. 

                           <ns1:line1/>
                           <ns1:tab1/>
                           If meeting Exception 2 to 150.1(c)3A, for each dwelling unit, up to 3 square feet of glazing area installed in doors and up to 3 square feet of tubular skylights area with dual-pane diffusers shall not be required to meet U-factor and SHGC requirements of Table 150.1-A. 

                           <ns1:line1/>
                           <ns1:tab1/>
                           If meeting Exception 3 to 150.1(c)3A, in Climate Zones 2,4,6 through 15 or each dwelling unit installing 
                           <ns1:lte/>
                            16 square feet (ft
                           <ns1:sup>2</ns1:sup>
                           ) of skylight shall meet a maximum U-factor of 0.40 and a maximum SHGC of 0.30.  In Climate Zones 1, 3, 5 and 16 there is no SHGC requirement. 

                           <ns1:line1/>
                           <ns1:tab1/>
                           If meeting Exception 3 to 150.1(c)1B, in Climate Zone 15 vertical fenestration shall have a maximum U-factor of 0.23.

                           <ns1:line1/>
                           <ns1:tab1/>
                            Doors with greater than or equal to 25 percent glazing area are considered glazed doors and are treated as fenestration products.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableFenestration">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A01_FenestrationVerticalName" type="env:FenestrationVerticalName">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Tag ID</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A01_SkylightName" type="env:SkylightName">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Tag ID</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="A02_FenestrationManufacturerBrand" type="comp:FenestrationManufacturerBrand">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manufacturer/Brand</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">user input</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A03_FenestrationVerticalArea" type="env:FenestrationVerticalArea">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">
                                                Fenestration Area (ft
                                                <ns1:sup>2</ns1:sup>
                                                )
                                             </xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A03_SkylightArea" type="env:SkylightArea">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">
                                                Fenestration Area (ft
                                                <ns1:sup>2</ns1:sup>
                                                )
                                             </xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">auto-filled with value from CF1R</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A04_Azimuth" type="dtyp:Azimuth">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Orientation</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Auto-filled value: If parent doc == CF1R-PRF, then use Azimuth ; Else if parent doc == prescriptive ADD, ALT or NCB, use CardinalOrientation.</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A04_CardinalOrientation">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Orientation</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Auto-filled value: If parent doc == CF1R-PRF, then use Azimuth ; Else if parent doc == prescriptive ADD, ALT or NCB, use CardinalOrientation.</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                          
                                          <xs:simpleType>
                                             
                                             
                                             <xs:restriction base="com:CardinalOrientation">
                                                
                                                
                                                <xs:enumeration value="East"/>
                                                
                                                
                                                <xs:enumeration value="North"/>
                                                
                                                
                                                <xs:enumeration value="South"/>
                                                
                                                
                                                <xs:enumeration value="West"/>
                                                
                                             
                                             </xs:restriction>
                                             
                                          
                                          </xs:simpleType>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="A05_IsGlazingChromogenic" type="env:IsGlazingChromogenic">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Chromogenic</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">For Boolean true value display text: Yes     For Boolean false value display text: No</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A06_UFactor" type="com:UFactor">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">U-factor</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R, but user can override with value LTE CF1R value.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A07_FenestrationCertificationMethod">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Source</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User picks from list: NFRCRated display text: NFRC;    CECDefaultPerformance display text Tables 110.6-A and 110.6-B;    NA6Equations display text Equations NA 6-1 and NA 6 -2; and CF1R_ENV_02 display text: Area-weighted Average Worksheet (CF1R-ENV-02)</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:FenestrationCertificationMethod">
                                             
                                             
                                             <xs:enumeration value="CECDefaultPerformance"/>
                                             
                                             
                                             <xs:enumeration value="CF1R_ENV_02"/>
                                             
                                             
                                             <xs:enumeration value="NA6Equations"/>
                                             
                                             
                                             <xs:enumeration value="NFRCRated"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A08_SHGC" type="com:SHGC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">SHGC</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R, but user can override.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A09_FenestrationCertificationMethod">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Source</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User picks from list: NFRCRated display text: NFRC;    CECDefaultPerformance display text Tables 110.6-A and 110.6-B;    NA6Equations display text Equations NA 6-1 and NA 6 -2; and CF1R_ENV_02 display text: Area-weighted Average Worksheet (CF1R-ENV-02)</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:FenestrationCertificationMethod">
                                             
                                             
                                             <xs:enumeration value="CECDefaultPerformance"/>
                                             
                                             
                                             <xs:enumeration value="CF1R_ENV_02"/>
                                             
                                             
                                             <xs:enumeration value="NA6Equations"/>
                                             
                                             
                                             <xs:enumeration value="NFRCRated"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A10_FenestrationDescription" type="comp:FenestrationDescription">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fenestration Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled with value from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A11_ExternalShadingObjectType" type="env:ExternalShadingObjectType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Exterior Shading Devices</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled with value from CF1R with values from  ExternalShadingObjectType:    Standard Bug Screen, Sun Screen,  Louvered Sun Screen,  Low Sun Angle Louvered Sun Screen,  Operable Awnings, Retractable Awnings, Drop Arm Awnings,  Roll Down Blinds Or Slats,  Vertical Roller Or Shades, and None</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element minOccurs="0" name="A12_ComplianceDocumentTableComments" type="comp:ComplianceDocumentTableComments">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Comments/Special Features</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Fenestration Installation</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed window U-factor</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The U-factor of the installed windows for new construction and existing buildings must be equal to or less than those listed on the CF1R.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed window SHGC</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The SHGC of the installed windows for new construction and existing buildings must be equal to or less than those listed on the CF1R in climate zones 2, 4 and 6-15.  For climate zones 1, 3, 5 and 16 there is no SHGC requirement.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Temporary labels</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Temporary labels are not to be removed until verified by the building inspector.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Manufacturer installation instructions</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The fenestration product manufacturer's installation specifications shall be followed when installing these products. The space between the fenestration product and rough opening shall be completely filled with insulation.  If batt insulation is used, it is cut to size and placed properly around the fenestration product.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="BEndnote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RENV01E" type="CF2RENV01E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RENV01E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
