deployed/CF2R/CF2RELC01E.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RELC01E" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF2RELC01E" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF2RELC01E">
      <xsd:annotation>
         <xsd:documentation>Electric Ready Requirements</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_ResElectricReadyScope" maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Project Scope</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects all that apply: ReadyEnergyStorageSystem, ReadyHeatingHP, ReadyElecCooktop, ReadyElecDryer, ReadyElecNA</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:ResElectricReadyScope">
                           <xsd:enumeration value="ReadyElecCooktop"/>
                           <xsd:enumeration value="ReadyElecDryer"/>
                           <xsd:enumeration value="ReadyEnergyStorageSystem"/>
                           <xsd:enumeration value="ReadyHeatingHP"/>
                           <xsd:enumeration value="ReadyElecNA"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Energy Storage System Ready</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if A01_ResElectricReadyScope includes ReadyEnergyStorageSystem</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Stor01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">ESS Ready interconnection equipment with minimum backed up of 60 amps and 4 ESS branch circuits, 
OR
A dedicated raceway from the main service to a panelboard (subpanel). The panelboard that supplies the branch circuits (subpanel) must be labeled "Subpanel shall include all backed-up load circuits."</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Stor02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A minimum of four branch circuits shall be identified and have their source of supply collocated at a single panelboard suitable to be supplied by the ESS.  At least one circuit shall supply the refrigerator, one lighting circuit near the primary egress, and at least one circuit shall supply a sleeping room receptacle outlet.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Stor03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The main panelboard shall have a minimum busbar rating of 225 amps.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Stor04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Sufficient space shall be reserved to allow future installation of a system isolation equipment/transfer switch within 3 feet of the main panelboard.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="StorEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Heat Pump Space Heater Ready</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if A01_ResElectricReadyScope includes ReadyHeatingHP</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Htp01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A dedicated 240 volt branch circuit wiring shall be installed within 3 feet from the furnace and accessible to the furnace with no obstructions.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Htp02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The branch circuit conductors shall be rated at 30 amps minimum.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Htp03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The blank cover shall be identified as "240V ready".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Htp04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All electrical components shall be installed in accordance with the 
                           <d:i>California Electrical Code</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Htp05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The main electrical service panel shall have a reserved space to allow for the installation of a double pole circuit breaker for a future heat pump space heater installation.  The reserved space shall be permanently marked as "For Future 240V use".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HtpEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Electric Cooktop Ready</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if A01_ResElectricReadyScope includes ReadyElecCooktop</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Cook01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A dedicated 240 volt branch circuit wiring shall be installed within 3 feet from the cooktop and accessible to the cooktop with no obstructions.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cook02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The branch circuit conductors shall be rated at 50 amps minimum.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cook03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The blank cover shall be identified as "240V ready".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cook04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All electrical components shall be installed in accordance with the 
                           <d:i>California Electrical Code</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cook05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The main electrical service panel shall have a reserved space to allow for the installation of a double pole circuit breaker for a future electric cooktop installation.  The reserved space shall be permanently marked as "For Future 240V use".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CookEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Electric Clothes Dryer Ready</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable if A01_ResElectricReadyScope includes ReadyElecDryer</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Dry01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A dedicated 240 volt branch circuit wiring shall be installed within 3 feet from the clothes dryer location and accessible to the clothes dryer location with no obstructions.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Dry02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The branch circuit conductors shall be rated at 30 amps minimum.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Dry03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The blank cover shall be identified as "240V ready".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Dry04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All electrical components shall be installed in accordance with the 
                           <d:i>California Electrical Code</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Dry05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The main electrical service panel shall have a reserved space to allow for the installation of a double pole circuit breaker for a future electric clothes dryer installation.  The reserved space shall be permanently marked as "For Future 240V use".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DryEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RELC01E"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Electric Ready Requirements"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF2RELC01E"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RELC01E"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF2RELC01E" type="CF2RELC01E">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RELC01E compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
