deployed/CF2R/CF2RENV21H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RENV21H" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF2RENV21H" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF2RENV21H">
      <xsd:annotation>
         <xsd:documentation>QII - Air Infiltration Sealing - Framing Stage</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Air Barrier Materials</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">A continuous sealed exterior air barrier is required in all thermal envelope assemblies to limit air movement between unconditioned/ outside spaces and conditioned/ inside spaces, and must comply using one of the following methods: 
                           <d:l t="#">
                              <d:list> Using individual materials that have an air permeance not exceeding 0.004 cfm/ft<d:sup>2</d:sup> under a pressure differential of 0.3 in. w.g. (1.57 pcf) (0.02 L/s.m<d:sup>2</d:sup> at 75 pa) when tested in accordance with ASTM E2178; or </d:list>
                              <d:list> Using assemblies of materials and components that have an average air leakage not to exceed 0.04 cfm/ft<d:sup>2</d:sup> under a pressure differential of 0.3 in. w.g. (1.57 pcf) (0.2 L/s.m<d:sup>2</d:sup> at 75 pa) when tested in accordance with ASTM E2357, ASTM E1677, ASTM E1680, or ASTM E283; or </d:list>
                              <d:list> Testing the complete building and demonstrating that the air leakage rate of the building envelope does not exceed  0.40 cfm/ft<d:sup>2</d:sup> under a pressure differential of 0.3 in. w.g. (1.57 pcf) (2.0 L/s.m<d:sup>2</d:sup> at 75 pa) when tested in accordance with ASTM E779 or an equivalent approved method.  </d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_AirBarrierComplianceMethod" type="comp:AirBarrierComplianceMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Method of Compliance</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Method1Materials display term Method 1 (Individual Materials), Method2Assemblies display term Method 2 (Assemblies of Materials), Method3CompleteBuilding display term Method 3 (Complete Building)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="AEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Note: 
                           <d:line1/>
                           <d:tab1/> SPF insulation is an acceptable air barrier and sealant when installed to a minimum thickness of 2 inches for closed cell and 5.5 inches for open cell, except where not allowed by manufacturer (e.g. flues, vents, can lights, etc).</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="AEndNote2" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 2</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Raised Floor Adjacent to Unconditioned Space or Separate Dwelling Units</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All gaps in the raised floor are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All chases sealed at floor level using a sealed hard cover.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All holes (e.g. for plumbing and electrical wires) that penetrate the floor or bottom plates of walls are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Subfloor sheathing is glued or sealed at all panel edges to create a continuous airtight subfloor air barrier.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="BEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Walls Adjacent to Unconditioned Space</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All penetrations through the exterior wall air barrier are sealed to provide an airtight envelope to unconditioned spaces such as the outdoors, attic, garage and crawl space.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Exterior wall air barrier is sealed to the top plate and bottom plate in each stud bay.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All electrical boxes, including knockouts that penetrate the air barrier to unconditioned space are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All openings in top and bottom plate, including all interior and exterior walls, to unconditioned space are sealed; such as holes drilled for electrical and plumbing.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Exterior bottom plates (all stories) are sealed to the floor.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All gaps around windows and doors are sealed.  The sealant used follows manufacturer specifications.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C07" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Rim joist gaps and openings are fully sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C08" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Fan exhaust duct outlet/ damper at the exterior wall are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C09" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Knee walls have solid and sealed blocking at the bottom, top, left and right sides to prevent air movement into insulation.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Ceiling Air Barrier Adjacent to Unconditioned Space</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">There is a continuous air barrier at the ceiling level.  All openings into walls, drops, chases or double walls are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All penetrations through the top plate of interior and exterior walls are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Fire sprinklers penetrating a ceiling air barrier shall be sealed to prevent air movement according to the manufacturer's instructions.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All fixtures cut into the ceiling air barrier (e.g. HVAC registers, electrical boxes, fire alarm boxes, exhaust fan housing, and recessed lighting fixtures) are sealed to the surrounding dry wall.  If it is not possible to seal the fixture directly, a secondary air barrier shall be created around the fixture.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All installed recessed lighting fixtures that penetrate the ceiling to unconditioned space are rated to be Insulation Contact and Airtight (IC and AT) which allow direct contact with insulation.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All dropped ceiling areas are covered with hard covers that are sealed to the framing, or else the bottom and sides of dropped ceiling areas are all insulated and sealed as ceilings and walls as required on the Certificate of Compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D07" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All vertical chases (e.g. HVAC ducts and plumbing) and soffits are sealed at the ceiling level.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D08" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Chimneys and flues require sheet metal flashing at the ceiling level. The flashing shall be sealed to the chimney/flue with fire rated caulk.  The flashing shall be sealed to the surrounding framing.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D09" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Framing locations where air may move down into the walls from the attic (e.g. double walls, pocket doors, architectural bump-outs, etc) have a sealed hard cover to prevent air movement.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D10" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Attic access forms an airtight seal between the conditioned space and unconditioned space. Vertical attic access requires mechanical compression using screws or latches.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Roof Air Barrier - Unvented Attics Adjacent to Unconditioned Space</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">There is a continuous air barrier at the roof deck and gable ends.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Chimneys and flues require sheet metal flashing at the roof deck. The flashing shall be sealed to the chimney/flue with fire rated caulk.  The flashing shall be sealed to the surrounding framing.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All penetrations in the roof deck and gable ends for plumbing, electrical, etc. are sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="EEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Conditioned Space Above Or Adjacent To Garage Air Barrier</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">All penetrations in the subfloor above the garage into conditioned space must follow the raised floor air barrier requirements above.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Infiltration between the space above the garage and subfloor is prevented by one of the following methods:   
                           <d:l t="*">
                              <d:list> Seal all edges of  garage ceiling (typically drywall) at the perimeter of the garage to create a continuous airtight surface between the garage and adjacent conditioned envelope.  Seal all plumbing, electric and mechanical penetrations between the garage and the adjacent conditioned space. For an open-web truss, airtight blocking is added on four sides of the garage perimeter. Insulation can be placed on the garage ceiling. </d:list>
                              <d:list>  Seal the band joist above the wall at the garage to conditioned space transition.  Seal all subfloor seams and penetrations between the garage and adjacent conditioned space.  Insulation must be placed in contact with the subfloor below the conditioned space.</d:list>
                           </d:l>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="FEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Cantilevered Floor Air Barrier</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Airtight blocking is installed between joists where the wall rim joist would have been located in the absence of a cantilever.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Exterior sheathing is installed to the bottom of the cantilever so that there is a continuous air and weather barrier for the cantilever.  The cantilevered joist must be insulated to the same R value as would be required for the subfloor prior to closing.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Any gaps, cracks or penetrations in the air barrier of the cantilever are sealed.  Recessed can lights in the cantilever are rated to be Insulation Contact and Airtight (IC and AT) and properly sealed to the sheathing.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Walls For Attached Porch, Attic, Double Wall Air Barrier</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">An exterior wall air barrier is required at the intersection of the porch and exterior wall when there is conditioned space on the other side.  The exterior wall includes an air barrier where the attic attaches to the conditioned space.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Truss framing blocking is used at the top and bottom of each wall/ roof section.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="HEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Special Requirements for SIPs</xsd:documentation>
               <xsd:appinfo source="PrevName">
                  <dtyp:prevSchema version="2019.1.006" changed="section only">Section_J</dtyp:prevSchema>
               </xsd:appinfo>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Sip01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">SIPs are considered an air barrier when properly sealed at top, bottom, sides and all penetrations.</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="section only">J01</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Sip02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Air barrier is continuous across all surfaces, including between SIPs and non-SIP sections.</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="section only">J02</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="SipEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="section only">JEndNote1</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_J" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Special Requirements for ICF</xsd:documentation>
               <xsd:appinfo source="PrevName">
                  <dtyp:prevSchema version="2019.1.006" changed="section only">Section_K</dtyp:prevSchema>
               </xsd:appinfo>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Icf01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">ICF sections are considered an air barrier when properly sealed at top, bottom, sides and all penetrations.</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="section only">K01</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Icf02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Air barrier is continuous across all surfaces, including between ICF and non-ICF sections.</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="section only">K02</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="IcfEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                        <xsd:appinfo source="PrevName">
                           <dtyp:prevSchema version="2019.1.006" changed="section only">KEndNote1</dtyp:prevSchema>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF2RENV21H"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF INSTALLATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="QII - Air Infiltration Sealing - Framing Stage"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF2RENV21H"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF2RENV21H"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF2RENV21H" type="CF2RENV21H">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF2RENV21H compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
