deployed/CF2R/CF2RMCH02E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH02E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH02E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Whole House Fan" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH02E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH02E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH02E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Whole House Fan</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole House Fan (WHF) Equipment Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Requirements for Whole House Fans are given in Section 150.1(c)12</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableEquipment">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="A01_WHF_Manufacturer" type="comp:WHF_Manufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Manufacturer Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A02_WHF_ModelNumber" type="comp:WHF_ModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Model Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A03_WHF_RatedAirFlow" type="comp:WHF_RatedAirFlow">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Rated CFM</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A04_WHF_Count" type="comp:WHF_Count">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Model Quantity in this Dwelling</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input integer</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A05_WHFsTotalRatedAirFlow" type="comp:WHFsTotalRatedAirFlow">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Model Total Rated Airflow</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: PRODUCT (A03_WholeHouseFanRatedAirFlow, A04_ WholeHouseFanCount</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A06_WHF_VentLocation" type="comp:WHF_VentLocation">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Vent Location</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: AtticVent, display term Attic, OutsideVent display term Outside</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole House Fan compliance calculations</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_WHFsAllModelsTotalRatedAirFlow" type="comp:WHFsAllModelsTotalRatedAirFlow">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Sum of all Installed WHF Rated Airflow in Dwelling (CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: SUM ALL ( A05_WHFsTotalRatedAirFlow )</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B02_WHFsAllModelsTotalRatedAirFlowAttic" type="comp:WHFsAllModelsTotalRatedAirFlowAttic">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Sum of Airflow vented to attic</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Sum If A06_WHF_VentCount == AtticVent ( A05_WHFsTotalRatedAirFlow )</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B03_WHFsAllModelsTotalRatedAirFlowOutside" type="comp:WHFsAllModelsTotalRatedAirFlowOutside">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Sum of Airflow vented to outside</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Sum If A06_WHF_VentCount == OutsideVent ( A05_WHFsTotalRatedAirFlow )</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B04_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Dwelling Conditioned Floor Area (ft
                           <ns1:sup>2</ns1:sup>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from CF1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B05_WHFsMinimumRequiredAirflow" type="comp:WHFsMinimumRequiredAirflow">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Minimum WHF Airflow Rate Requirement (CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If parent is CF1R-PRF then result = value stored in CoolingVent(cfm), Else result = PRODUCT (B04__ResidentialDwellingUnitConditionedFloorArea, 1.5 CFM per ft2)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Attic Vent Free area</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If A06_WHF_VentLocation == AtticVent</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="C01_AtticVentFreeAreaRequired" type="env:AtticVentFreeAreaRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Required Attic Vent Free Area (ft
                           <ns1:sup>2</ns1:sup>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: B02_WHFsAllModelsTotalRatedAirFlowAttic / 750</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_AtticVentFreeAreaInstalled" type="env:AtticVentFreeAreaInstalled">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Installed Attic Vent Free Area (ft
                           <ns1:sup>2</ns1:sup>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric xxx.x</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="D01_DoesWholeHouseFanComply" type="comp:DoesWholeHouseFanComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Result</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If B01_WHFsAllModelsTotalRatedAirFlow GTE B05_ WHFsMinimumRequiredAirflow And If Section C applies If C02_AtticVentFreeAreaInstalled GTE C01_AtticVentFreeAreaRequired  then result = true display term  Pass - Dwelling complies with the prescriptive WHF requirement.  Else result = false display term Fail - Dwelling does not comply with the prescriptive WHF requirement</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="E01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Listed on HVI appliance database</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The installed fan shall be listed in the Home Ventilating Institute (HVI) Certified Products Directory.  WHF Model Rated Airflow shall be based on the value listed in the HVI Directory.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="E02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">User instructions documentation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The homeowner shall be provided with user instructions documentation that describe the proper use of the whole house fan necessary to obtain the full energy savings benefit.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="EEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH02E" type="CF2RMCH02E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH02E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
