deployed/CF2R/CF2RMCH30H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH30H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH30H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Central Fan Ventilation Cooling Systems (VCS)" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH30H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH30H" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH30H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Central Fan Ventilation Cooling Systems (VCS)</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Central Fan Ventilation Cooling System (VCS) Equipment Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeforeNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>NOTE: When the Certificate of Compliance indicates a Central Fan Ventilation Cooling system (CFVCS) is installed, the following items must be verified.</ns1:i>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name or  Description of  Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_FanManufacturerName" type="comp:FanManufacturerName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan VCS Equipment - Manufacturer Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: Text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_FanManufacturerModelNumber" type="comp:FanManufacturerModelNumber">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan VCS Equipment - Manufacturer Model No.</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: Text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_CFVCS_Type" type="comp:CFVCS_Type">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan VCS Equipment - Fan Type Required</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text from CF2R-Mch-01 B05_CFVCS_Type value; FixedCFVCS display term Fixed CFVCS or VariableCFVCS display term Variable CFVCS</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_CFVCS_Type" type="comp:CFVCS_Type">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan VCS Equipment - Fan Type Installed</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If A06_CFVCS_Type == VariableCFVCS result = VariableCFVCS; Else User selects from list: FixedCFVCS display term Fixed CFVCS or VariableCFVCS display term Variable CFVCS</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A08_DoesManufacturerDocumentationMeetApplicableRequirements" type="comp:DoesManufacturerDocumentationMeetApplicableRequirements">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan VCS Equipment - Manufacturer Documentation Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: Manufacturer system documentation meets the applicable requirements in section B item 06 on this document  or Manufacturer system documentation does not meet the applicable requirements in section B item 06 on this document</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A09_IsRequiredCF2RMCH20Registered" type="comp:IsRequiredCF2RMCH20Registered">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct Leakage Verification Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field:  If this air system has a registered CF2R-MCH-20 that complies with the maximum duct leakage rate criteria on the CF1R, then result  is true and display text is: System Complies with Duct Leakage Verification Requirements;  Else result is false and display text is: System Does not Comply.  A registered CF2R-MCH-20 is required</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A10_IsRequiredCF2RMCH23Registered" type="comp:IsRequiredCF2RMCH23Registered">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Airflow Rate Verification Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field:  If CF2R-MCH-23  G03 == true result = true display term System Complies with Airflow Rate Verification Requirements;  Else result = false display term   System Does not Comply.  A registered CF2R-MCH-23 is required</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A11_IsRequiredCF2RMCH22Registered" type="comp:IsRequiredCF2RMCH22Registered">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fan Efficacy Verification Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field: If CF2R-MCH-22 E05 == true result is true display term System Complies with Fan Efficacy Verification Requirements;  Else result is false display term  System Does not Comply.  A registered CF2R-MCH-22 is required</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A12_DoesSystemComplyWithFanDuctVerification" type="comp:DoesSystemComplyWithFanDuctVerification">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field:   If A07_CFVCS_Type == A06_CFVCS_Type And A08, A09, A10  and A11 == true, then result = true, Else the result = false.  For Boolean true value display text: System Complies with Fan and Duct Verification Requirements.  For Boolean false value display text: System does not Comply with Fan and Duct Verification Requirements</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           When the Central Fan Ventilation Cooling system directs its relief airflow into the dwelling's attic, the attic vent free area shall be equal to or greater than 1 ft
                           <ns1:sup>2</ns1:sup>
                            per 750 CFM of the system's rated Ventilation Cooling airflow.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Variable speed motor systems shall be capable of varying system airflow rate in a continuous range between full air flow rate (100%) and a minimum airflow rate of no more than 25% of the full airflow rate.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Central fan ventilation cooling system controls shall include proper installation of an indoor thermostat</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Central fan ventilation cooling system controls shall include installation of an outdoor temperature sensor to initiate or terminate ventilation cooling operation automatically in response to user preference or availability of ventilation cooling capacity of outside air.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Central fan ventilation cooling system controls shall include proper installation of an air handler temperature sensor, or damper end switches, or other control device(s) that ensure correct outdoor air damper position.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The central fan ventilation cooling system manufacturer shall provide detailed system operation documentation to the building owner that describes how to configure the system controls and operate the system to obtain the maximum energy savings benefit.  The manufacturer's system operation documentation shall also describe how the system's control strategy is implemented; how the fan speed is controlled during ventilation cooling mode; and how ventilation cooling rates are determined. System target ventilation cooling rate calculations (if applicable) shall occur at time intervals of 24 hours or less to ensure the system responds correctly to changes in weather patterns</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="BEndnote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH30H" type="CF2RMCH30H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH30H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
