deployed/CF1R/CF1RENV05E.xsd

<xsd:schema xmlns="http://www.lmonte.com/besm/CF1RENV05E" xmlns:d="http://www.lmonte.com/besm/d" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:env="http://www.lmonte.com/besm/env" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:com="http://www.lmonte.com/besm/com" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF1RENV05E" version="2025.0.000">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element minOccurs="0" name="DocID">
               <xsd:complexType>
                  <xsd:attribute fixed="CF1RENV05E" name="doc" type="comp:ComplianceDocumentTag"/>
                  <xsd:attribute fixed="CERTIFICATE OF COMPLIANCE" name="docType" type="comp:ComplianceDocumentType"/>
                  <xsd:attribute fixed="Alternative Default Fenestration Procedure (NA6) Worksheet" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERSCC"/>
                     <xsd:element ref="cF1RENV05E"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF1R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         <xsd:attribute fixed="CF1RENV05E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CF1RENV05E">
      <xsd:annotation>
         <xsd:documentation>Alternative Default Fenestration Procedure (NA6) Worksheet</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="1" name="Section_A">
            <xsd:annotation>
               <xsd:documentation source="FieldText">General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_ResidentialBuildingTotalConditionedFloorArea" type="com:ResidentialBuildingTotalConditionedFloorArea">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Conditioned Floor Area</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto-filled from CF1R</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ConditionedFloorArea5Percent" type="com:ConditionedFloorArea5Percent">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">5% of the Conditioned Floor Area</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Result = PRODUCT( A01_ResidentialBuildingTotalConditionedFloorArea, .05)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_FenestrationNonRatedSiteBuiltTotalAreaAllowed" type="env:FenestrationNonRatedSiteBuiltTotalAreaAllowed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Total Allowed Non-Rated Site-built Fenestration Area</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Result = Largest (A02_ResidentialBuildingConditionedFloorArea5Percent, 250)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_FenestrationNonRatedSiteBuiltTotalAreaProposed" type="env:FenestrationNonRatedSiteBuiltTotalAreaProposed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Proposed Area of Site-built Fenestration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: SUM ALL (B02_GlazingArea</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="1" name="Section_B">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fenestration/ Glazing Area</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If CF1R parent == CF1R-ADD, CF1R-ALT or CF1R-NCB require a row for fenestration products with Proposed U-factor or SHGC Source property,  FenestrationCertificationMethod == NA6Equations 
Else If CF1R parent == CF1R-PRF, require a row for fenestration products with M08aFenestrationCertificationMethod = NA6Equations Or M09aFenestrationCertificationMethod = NA6Equations </xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="TableFenestration">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B01_FenestrationName" type="comp:FenestrationName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tag/Identification</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Auto-filled from CF1R.</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B02_GlazingArea" type="env:GlazingArea">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Area (ft<d:sup>2</d:sup></xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User entry, nonnegative decimal</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element maxOccurs="1" minOccurs="0" name="Section_C">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Default U-factor Using Reference Appendices, Nonresidential Appendix NA6, Equation NA6-1</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable If CF1R parent == CF1R-ADD, CF1R-ALT or CF1R-NCB and at least one fenestration product has Proposed U-factor Source property,  FenestrationCertificationMethod == NA6Equations 
Else If CF1R parent == CF1R-PRF, require a row for fenestration products with M08aFenestrationCertificationMethod = NA6Equations.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="C_BeginNote1">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Equation NA6-1: U<d:sub>T</d:sub> = C<d:sub>1</d:sub> + (C<d:sub>2</d:sub> x U<d:sub>C</d:sub></xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableUFactor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_FenestrationName" type="comp:FenestrationName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tag/Identification</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list provided from B01_FenestrationName for this section</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C02_NA6FenestrationType" type="comp:NA6FenestrationType">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Product Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: SiteBuiltVertical, SkylightCurb, SkylightNoCurb</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C03_FenestrationFraming">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Frame Type</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User picks from list: Metal with thermal break; Metal; NonMetal</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="env:FenestrationFraming">
                                             <xsd:enumeration value="MetalFramingWithThermalBreak"/>
                                             <xsd:enumeration value="MetalFraming"/>
                                             <xsd:enumeration value="NonMetalFraming"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element name="C04_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">C<d:sub>1</d:sub> from Table NA6-5</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input decimal number from Table NA6-5</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C05_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">C<d:sub>2</d:sub> from Table NA6-5</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input decimal number from Table NA6-5</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C06_UFactorCenterOfGlass" type="com:UFactorCenterOfGlass">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Center of Glass U-factor (U<d:sub>c</d:sub> )</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input decimal number</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C07_NA6SourceCOG" type="comp:NA6SourceCOG">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Source</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: ManufacturerSpec, CMAST</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="C08_SiteBuiltFenestrationUFactor" type="comp:SiteBuiltFenestrationUFactor">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Total Performance U-factor(U<d:sub>T</d:sub>)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field:  Result = PRODUCT (C05_UfactorCoefficient2, C06_UFactorCenterOfGlass) + C04_UfactorCoefficient1</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="TableNA6_5">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Table NA6-5 - U-factor Coefficiencts from Reference Appendices, Nonresidential Appendix NA6</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This section is for report layout and storing of table values used in Section C.  It is not for collecing XML data</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element minOccurs="0" name="Col00Heading">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Product Type</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="Col01Heading">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Frame Type</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="Col02Heading">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">C<d:sub>1</d:sub></xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element minOccurs="0" name="Col03Heading">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">C<d:sub>2</d:sub></xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="SiteBuiltVertical" name="Row01Col00_NA6FenestrationType" type="comp:NA6FenestrationType">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Site-built Vertical Fenestration</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="MetalFraming" name="Row01aCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Metal</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.311" name="Row01aCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.872" name="Row01aCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="MetalFramingWithThermalBreak" name="Row01bCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Metal Thermal Break</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.202" name="Row01bCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.867" name="Row01bCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="NonMetalFraming" name="Row01cCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Nonmetal</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.202" name="Row01cCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.867" name="Row01cCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="SkylightCurb" name="Row02Col00_NA6FenestrationType" type="comp:NA6FenestrationType">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Skylights with a Curb</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="MetalFraming" name="Row02aCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Metal</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.711" name="Row02aCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="1.065" name="Row02aCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="MetalFramingWithThermalBreak" name="Row02bCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Metal Thermal Break</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.437" name="Row02bCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="1.229" name="Row02bCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="NonMetalFraming" name="Row02cCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Nonmetal</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.437" name="Row02cCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="1.229" name="Row02cCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="SkylightNoCurb" name="Row03Col00_NA6FenestrationType" type="comp:NA6FenestrationType">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Skylights with no Curb</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="MetalFraming" name="Row03aCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Metal</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.195" name="Row03aCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.882" name="Row03aCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="MetalFramingWithThermalBreak" name="Row03bCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Metal Thermal Break</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.310" name="Row03bCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.878" name="Row03bCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="NonMetalFraming" name="Row03cCol1_FenestrationFraming" type="env:FenestrationFraming">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText">Nonmetal</xsd:documentation>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.310" name="Row03cCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                           <xsd:element fixed="0.878" name="Row03cCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              <xsd:annotation>
                                 <xsd:documentation source="FieldText"/>
                              </xsd:annotation>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element minOccurs="0" name="Section_D">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Default Solar Heat Gain Coefficient (SHGC) Using Reference Appendices, Nonresidential Appendix NA6 Equation NA6-2</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is applicable If CF1R parent == CF1R-ADD, CF1R-ALT or CF1R-NCB and at least one fenestration product has Proposed SHGC Source property,  FenestrationCertificationMethod == NA6Equations 
Else If CF1R parent == CF1R-PRF, and at least one fenestration product has M09aFenestrationCertificationMethod = NA6Equations.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="D_BeginNote1">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Equation NA6-2: SHGC<d:sub>T</d:sub> = 0.08 + (0.86 x SHGC<d:sub>C</d:sub></xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableSHGC">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="D01_FenestrationName" type="comp:FenestrationName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Tag/Identification</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list provided from B01_FenestrationName values for this section</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D02_SHGC_CenterOfGlass" type="com:SHGC_CenterOfGlass">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Center of Glass SHGC (SHGC<d:sub>C</d:sub>)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User entry, nonnegative decimal</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D03_NA6SourceCOG" type="comp:NA6SourceCOG">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Source</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User selects from list: ManufacturerSpec, CMAST</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="D04_SiteBuiltFenestrationSHGC" type="comp:SiteBuiltFenestrationSHGC">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Total Performance SHGC (SHGC<d:sub>T</d:sub>)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field:  Result = PRODUCT (D02_SHGC_CenterOfGlass, 0.86) + 0.08</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="cF1RENV05E" type="CF1RENV05E">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF1RENV05E compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
