deployed/CF1R/CF1RENV03E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF1RENV03E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF1RENV03E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF COMPLIANCE" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Solar Heat Gain Coefficient (SHGC) Worksheet" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERSCC"/>
                     
                     
                     <xs:element ref="cF1RENV03E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF1R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF1RENV03E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF1RENV03E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Solar Heat Gain Coefficient (SHGC) Worksheet</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Product Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableProduct">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="A01_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A02_CardinalOrientation">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Orientation</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="com:CardinalOrientation">
                                             
                                             
                                             <xs:enumeration value="East"/>
                                             
                                             
                                             <xs:enumeration value="North"/>
                                             
                                             
                                             <xs:enumeration value="South"/>
                                             
                                             
                                             <xs:enumeration value="West"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A03_DoesFenestrationHaveNFRC_Label" type="comp:DoesFenestrationHaveNFRC_Label">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fenestration has a temporary or Site-built NFRC label certificate</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list Yes (Boolean true) or No (Boolean false)</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A04_SolarHeatGainCoefficientNFRC" type="com:SolarHeatGainCoefficientNFRC">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">SHGC value from  NFRC label</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If DoesFenestrationHaveNFRC_Label == true, user enters value; Else enter N/A in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A04_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">SHGC value from  NFRC label</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If DoesFenestrationHaveNFRC_Label == true, user enters value; Else enter N/A in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="A05_SHGC_SourceNonNFRC" type="comp:SHGC_SourceNonNFRC">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Non-NFRC labeled SHGC information</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If DoesFenestrationHaveNFRC_Label == true,  enter N/A in NotApplicableMessage, Else user selects from list: Table 110.6-B or Calculated Using Equation NA6-2</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Non-NFRC labeled SHGC information</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If DoesFenestrationHaveNFRC_Label == true,  enter N/A in NotApplicableMessage, Else user selects from list: Table 110.6-B or Calculated Using Equation NA6-2</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="A06_ExternalShadingObjectType" type="env:ExternalShadingObjectType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Exterior Shading Device Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">ExternalShadingObjectType choices:
DropArmAwnings, LouveredSunScreen, LowSunAngleLouveredSunScreen,
NoExternalShadingDevice, OperableAwnings  RetractableAwnings, RollDownBlindsOrSlats  , StandardBugScreen, SunScreen, 
VerticalRollerOrShades,</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A07_SolarHeatGainCoefficientExteriorShading" type="com:SolarHeatGainCoefficientExteriorShading">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Exterior Shading SHGC</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If  A06_ExteriorShadingObjectType ==  NoExternalShadingDevice, result = 1.0; Else If A06_ExteriorShadingObjectType ==  StandardBugScreen, result = 0.76;  Else If A06_ExteriorShadingObjectType == SunScreen, result = 0.30;  
Else If A06_ExteriorShadingObjectType == LouveredSunScreen  result = 0.27;  Else for all other types, result = 0.13</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Default Solar Heat Gain Coefficient Calculation Using Table 110.6-B</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is applicable If A05_SHGC_SourceNonNFRC == Table110_6B</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableSHGC">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list provided from all  A01_FenestrationName values where A05_SHGC_SourceNonNFRC ;== Table110_6B</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_CardinalOrientation">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Orientation</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from North, South, East, West</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="com:CardinalOrientation">
                                             
                                             
                                             <xs:enumeration value="East"/>
                                             
                                             
                                             <xs:enumeration value="North"/>
                                             
                                             
                                             <xs:enumeration value="South"/>
                                             
                                             
                                             <xs:enumeration value="West"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B03_FenestrationFraming">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Frame Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User picks from list: Metal with thermal break; Metal; NonMetal</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:FenestrationFraming">
                                             
                                             
                                             <xs:enumeration value="MetalFramingWithThermalBreak"/>
                                             
                                             
                                             <xs:enumeration value="MetalFraming"/>
                                             
                                             
                                             <xs:enumeration value="NonMetalFraming"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B04_FenestrationProductType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Product</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: Operable window, Fixed window</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:FenestrationProductType">
                                             
                                             
                                             <xs:enumeration value="FixedWindow"/>
                                             
                                             
                                             <xs:enumeration value="OperableWindow"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B05_GlazingTint" type="env:GlazingTint">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Glazing</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: Clear, Tinted</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B06_FenestrationPanes" type="env:FenestrationPanes">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Number of Panes</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: Single pane, Double pane, Glass block</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B07_SolarHeatGainCoefficientCEC" type="com:SolarHeatGainCoefficientCEC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Default f;;Fenestration SHGC</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field from table 110.6-B using values from B04_FenestrationProductType, B03_FenestrationFraming, B05_GlazingTint and B06_FenestrationPanes to determine the Default SHGC value.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Non-Rated Site-built Solar Heat Gain Coefficient Calculation Using Equation NA6-2 from Reference Appendices, Nonresidential Appendix NA6.3</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is applicable If A05_SHGC_SourceNonNFRC == NA6_2Calculation</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="C01_ResidentialBuildingTotalConditionedFloorArea" type="com:ResidentialBuildingTotalConditionedFloorArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Conditioned Floor Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User entry</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_ConditionedFloorArea5Percent" type="com:ConditionedFloorArea5Percent">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">5% of Conditioned Floor Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Result = PRODUCT( C01_ResidentialBuildingTotalConditionedFloorArea, 0.05)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C03_FenestrationNonRatedSiteBuiltTotalAreaAllowed" type="env:FenestrationNonRatedSiteBuiltTotalAreaAllowed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Total Allowed Non-rated site-built Fenestration Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Result = Smallest (ResidentialBuildingConditionedFloorArea5Percent, 250)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C04_FenestrationNonRatedSiteBuiltTotalAreaProposed" type="env:FenestrationNonRatedSiteBuiltTotalAreaProposed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Proposed Area of site-built Fenestration</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: non negative decimal;  If result GT  C03_FenestrationNonRatedSiteBuiltTotalAreaAllowed, display message Proposed site-built Fenestration exceeds allowable area, Do Not Proceed</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableFenestration">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="C05_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list provided from all  A01_FenestrationName where A05_SHGC_SourceNonNFRC  == NA6_2Calculation</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C06_GlazingArea" type="env:GlazingArea">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Glass Area</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry, nonnegative decimal</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C07_SHGC_CenterOfGlass" type="com:SHGC_CenterOfGlass">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Center of Glass (COG) Solar Heat Gain Coefficient</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry, nonnegative decimal</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C08_SiteBuiltFenestrationSHGC" type="comp:SiteBuiltFenestrationSHGC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Total Allowed SHGC of the Non-Rated Site-Built Fenestration</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field:  Result = PRODUCT (C07_SHGC_CenterOfGlass, 0.86) + 0.08</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Combined Solar Heat Gain Coefficient Calculation and Shading Device Calculation</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableCombinedSHGC">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="D01_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list provided from all  A01_FenestrationName values</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D02_LargestProposedSHGC" type="comp:LargestProposedSHGC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             SHGC
                                             <ns1:i>
                                                <ns1:sub>max =</ns1:sub>
                                             </ns1:i>
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field  Result = Largest of available values ( A04_SolarHeatGainCoefficientNFRC,  A07_ SolarHeatGainCoefficientExteriorShading, B07_SolarHeatGainCoefficientCEC, C08_ SiteBuiltFenestrationSHGC )</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D03_SmallestProposedSHGC" type="comp:SmallestProposedSHGC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             SHGC
                                             <ns1:i>
                                                <ns1:sub>min =</ns1:sub>
                                             </ns1:i>
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field  Result = Smallest of available values ( A04_SolarHeatGainCoefficientNFRC,  A07_ SolarHeatGainCoefficientExteriorShading, B07_SolarHeatGainCoefficientCEC, C08_ SiteBuiltFenestrationSHGC )</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D04_ProposedAllFenestrationAdjustedTotalSHGC" type="comp:ProposedAllFenestrationAdjustedTotalSHGC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Total Combined Adjusted SHGC with Exterior Shading Device (SHGC
                                             <ns1:sub>total</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: Result = PRODUCT( PRODUCT(D02_LargestProposedSHGC, 0.2875) + .75), D03_SmallestProposedSHGC</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF1RENV03E" type="CF1RENV03E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF1RENV03E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
