deployed/CF1R/CF1RENV05E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF1RENV05E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF1RENV05E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF COMPLIANCE" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Alternative Default Fenestration Procedure (NA6) Worksheet" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERSCC"/>
                     
                     
                     <xs:element ref="cF1RENV05E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF1R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF1RENV05E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF1RENV05E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Alternative Default Fenestration Procedure (NA6) Worksheet</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_ResidentialBuildingTotalConditionedFloorArea" type="com:ResidentialBuildingTotalConditionedFloorArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Conditioned Floor Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ConditionedFloorArea5Percent" type="com:ConditionedFloorArea5Percent">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">5% of the Conditioned Floor Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Result = PRODUCT( A01_ResidentialBuildingTotalConditionedFloorArea, .05)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_FenestrationNonRatedSiteBuiltTotalAreaAllowed" type="env:FenestrationNonRatedSiteBuiltTotalAreaAllowed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Total Allowed Non-Rated Site-built Fenestration Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Result = Largest (A02_ResidentialBuildingConditionedFloorArea5Percent, 250)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_FenestrationNonRatedSiteBuiltTotalAreaProposed" type="env:FenestrationNonRatedSiteBuiltTotalAreaProposed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Proposed Area of Site-built Fenestration</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: SUM ALL (B02_GlazingArea</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Fenestration/ Glazing Area</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">If CF1R parent == CF1R-ADD, CF1R-ALT or CF1R-NCB require a row for fenestration products with Proposed U-factor or SHGC Source property,  FenestrationCertificationMethod == NA6Equations 
Else If CF1R parent == CF1R-PRF, require a row for fenestration products with M08aFenestrationCertificationMethod = NA6Equations Or M09aFenestrationCertificationMethod = NA6Equations </xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableFenestration">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_GlazingArea" type="env:GlazingArea">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Area (ft
                                             <ns1:sup>2</ns1:sup>
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry, nonnegative decimal</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Default U-factor Using Reference Appendices, Nonresidential Appendix NA6, Equation NA6-1</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is applicable If CF1R parent == CF1R-ADD, CF1R-ALT or CF1R-NCB and at least one fenestration product has Proposed U-factor Source property,  FenestrationCertificationMethod == NA6Equations 
Else If CF1R parent == CF1R-PRF, require a row for fenestration products with M08aFenestrationCertificationMethod = NA6Equations.</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Equation NA6-1: U
                           <ns1:sub>T</ns1:sub>
                            = C
                           <ns1:sub>1</ns1:sub>
                            + (C
                           <ns1:sub>2</ns1:sub>
                            x U
                           <ns1:sub>C</ns1:sub>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableUFactor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="C01_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list provided from B01_FenestrationName for this section</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C02_NA6FenestrationType" type="comp:NA6FenestrationType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Product Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: SiteBuiltVertical, SkylightCurb, SkylightNoCurb</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C03_FenestrationFraming">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Frame Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User picks from list: Metal with thermal break; Metal; NonMetal</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:FenestrationFraming">
                                             
                                             
                                             <xs:enumeration value="MetalFramingWithThermalBreak"/>
                                             
                                             
                                             <xs:enumeration value="MetalFraming"/>
                                             
                                             
                                             <xs:enumeration value="NonMetalFraming"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C04_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             C
                                             <ns1:sub>1</ns1:sub>
                                              from Table NA6-5
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input decimal number from Table NA6-5</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C05_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             C
                                             <ns1:sub>2</ns1:sub>
                                              from Table NA6-5
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input decimal number from Table NA6-5</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C06_UFactorCenterOfGlass" type="com:UFactorCenterOfGlass">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Center of Glass U-factor (U
                                             <ns1:sub>c</ns1:sub>
                                              )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input decimal number</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C07_NA6SourceCOG" type="comp:NA6SourceCOG">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Source</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: ManufacturerSpec, CMAST</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C08_SiteBuiltFenestrationUFactor" type="comp:SiteBuiltFenestrationUFactor">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Total Performance U-factor(U
                                             <ns1:sub>T</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field:  Result = PRODUCT (C05_UfactorCoefficient2, C06_UFactorCenterOfGlass) + C04_UfactorCoefficient1</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="TableNA6_5">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Table NA6-5 - U-factor Coefficiencts from Reference Appendices, Nonresidential Appendix NA6</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">This section is for report layout and storing of table values used in Section C.  It is not for collecing XML data</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element minOccurs="0" name="Col00Heading">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Product Type</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element minOccurs="0" name="Col01Heading">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Frame Type</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element minOccurs="0" name="Col02Heading">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">
                                    C
                                    <ns1:sub>1</ns1:sub>
                                 </xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element minOccurs="0" name="Col03Heading">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">
                                    C
                                    <ns1:sub>2</ns1:sub>
                                 </xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="SiteBuiltVertical" name="Row01Col00_NA6FenestrationType" type="comp:NA6FenestrationType">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Site-built Vertical Fenestration</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="MetalFraming" name="Row01aCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Metal</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.311" name="Row01aCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.872" name="Row01aCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="MetalFramingWithThermalBreak" name="Row01bCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Metal Thermal Break</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.202" name="Row01bCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.867" name="Row01bCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="NonMetalFraming" name="Row01cCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Nonmetal</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.202" name="Row01cCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.867" name="Row01cCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="SkylightCurb" name="Row02Col00_NA6FenestrationType" type="comp:NA6FenestrationType">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Skylights with a Curb</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="MetalFraming" name="Row02aCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Metal</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.711" name="Row02aCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="1.065" name="Row02aCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="MetalFramingWithThermalBreak" name="Row02bCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Metal Thermal Break</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.437" name="Row02bCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="1.229" name="Row02bCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="NonMetalFraming" name="Row02cCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Nonmetal</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.437" name="Row02cCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="1.229" name="Row02cCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="SkylightNoCurb" name="Row03Col00_NA6FenestrationType" type="comp:NA6FenestrationType">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Skylights with no Curb</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="MetalFraming" name="Row03aCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Metal</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.195" name="Row03aCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.882" name="Row03aCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="MetalFramingWithThermalBreak" name="Row03bCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Metal Thermal Break</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.310" name="Row03bCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.878" name="Row03bCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="NonMetalFraming" name="Row03cCol1_FenestrationFraming" type="env:FenestrationFraming">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText">Nonmetal</xs:documentation>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.310" name="Row03cCol2_UfactorCoefficient1" type="comp:UfactorCoefficient1">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                           
                           <xs:element fixed="0.878" name="Row03cCol3_UfactorCoefficient2" type="comp:UfactorCoefficient2">
                              
                              
                              <xs:annotation>
                                 
                                 
                                 <xs:documentation source="FieldText"/>
                                 
                              
                              </xs:annotation>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Default Solar Heat Gain Coefficient (SHGC) Using Reference Appendices, Nonresidential Appendix NA6 Equation NA6-2</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is applicable If CF1R parent == CF1R-ADD, CF1R-ALT or CF1R-NCB and at least one fenestration product has Proposed SHGC Source property,  FenestrationCertificationMethod == NA6Equations 
Else If CF1R parent == CF1R-PRF, and at least one fenestration product has M09aFenestrationCertificationMethod = NA6Equations.</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Equation NA6-2: SHGC
                           <ns1:sub>T</ns1:sub>
                            = 0.08 + (0.86 x SHGC
                           <ns1:sub>C</ns1:sub>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableSHGC">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="D01_FenestrationName" type="comp:FenestrationName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/Identification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list provided from B01_FenestrationName values for this section</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D02_SHGC_CenterOfGlass" type="com:SHGC_CenterOfGlass">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Center of Glass SHGC (SHGC
                                             <ns1:sub>C</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User entry, nonnegative decimal</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D03_NA6SourceCOG" type="comp:NA6SourceCOG">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Source</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: ManufacturerSpec, CMAST</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D04_SiteBuiltFenestrationSHGC" type="comp:SiteBuiltFenestrationSHGC">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Total Performance SHGC (SHGC
                                             <ns1:sub>T</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field:  Result = PRODUCT (D02_SHGC_CenterOfGlass, 0.86) + 0.08</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF1RENV05E" type="CF1RENV05E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF1RENV05E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
