deployed/CF1R/CF1RENV06E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF1RENV06E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF1RENV06E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF COMPLIANCE" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Interior and Exterior Insulation Layers Worksheet" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERSCC"/>
                     
                     
                     <xs:element ref="cF1RENV06E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF1R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF1RENV06E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF1RENV06E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Interior and Exterior Insulation Layers Worksheet</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Masonry/Mass Wall Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableMassWall">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="A01_PartitionName" type="env:PartitionName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/ID</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A02_MasonryType" type="env:MasonryType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Masonry/Mass Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A03_PartitionAboveGrade" type="env:PartitionAboveGrade">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Above or Below Grade</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A04_PartitionGrossArea" type="env:PartitionGrossArea">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Area (ft
                                             <ns1:sup>2</ns1:sup>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input: DecimalNonnegative</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A05_MassWallThickness" type="env:MassWallThickness">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Masonry/Mass Thickness (inches)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="A06_UFactorLimit" type="com:UFactorLimit">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">U-factor from Joint Appendix JA4</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input value from JA4 as DecimalNonnegative</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Interior and Exterior Insulation Layers</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableLayerInsulation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_PartitionName" type="env:PartitionName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/ID</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference  value from A01_PartitionName</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_PartitionFramingMaterial" type="env:PartitionFramingMaterial">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Exterior/ Frame Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: Metal, Wood, EIFS</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B03_FurringStripThickness" type="env:FurringStripThickness">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">FurringThickness (inches)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input: DecimalNonnegative</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B04_InsulationRValue" type="env:InsulationRValue">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Installed R-value of Insulation</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input: nonnegative integer</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B05_InsulationPlacement">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Exterior or Interior Insulation?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: Exterior, Interior</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="env:InsulationPlacement">
                                             
                                             
                                             <xs:enumeration value="Exterior"/>
                                             
                                             
                                             <xs:enumeration value="Interior"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B06_InsulationExteriorRValue" type="env:InsulationExteriorRValue">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Adjusted Exterior R-value</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B05_InsulationPlacement == Exterior, user input number GT 0 with 1 decimal place, xx.x; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B06_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Adjusted Exterior R-value</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B05_InsulationPlacement == Exterior, user input number GT 0 with 1 decimal place, xx.x; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B07_InsulationInteriorRValue" type="env:InsulationInteriorRValue">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Adjusted Interior R-value</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B05_InsulationPlacement == Interior, user input number GT 0 with 1 decimal place, xx.x;; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B07_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Adjusted Interior R-value</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B05_InsulationPlacement == Interior, user input number GT 0 with 1 decimal place, xx.x;; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">U-factor Calculation</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Equation 4-4 of the Reference Appendices, Joint Appendix JA4: U
                           <ns1:sub>Total</ns1:sub>
                            = 1/ (R
                           <ns1:sub>Outside</ns1:sub>
                            + (1/U
                           <ns1:sub>Mass</ns1:sub>
                           ) + R
                           <ns1:sub>Inside</ns1:sub>
                            )
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableUFactor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="C01_PartitionName" type="env:PartitionName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Tag/ID</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference  value from A01_PartitionName</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C02_UFactorLimit" type="com:UFactorLimit">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Mass Wall U-factor 
                                             <ns1:line1/>
                                              (U
                                             <ns1:sub>Mass</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference  value from A08_UFactorLimit</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C03_InsulationExteriorRValue" type="env:InsulationExteriorRValue">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Adjusted Exterior R-value 
                                             <ns1:line1/>
                                              (R
                                             <ns1:sub>Outside</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If B06_NotApplicableMessage == N/A result = 0;  Else result = B06_InsulationExteriorRValue</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C04_InsulationInteriorRValue" type="env:InsulationInteriorRValue">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Adjusted Interior R-value 
                                             <ns1:line1/>
                                              (R
                                             <ns1:sub>Inside</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If B07_NotApplicableMessage == N/A result = 0;  Else result = B07_InsulationInteriorRValue</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C05_UFactorMassWallTotal" type="com:UFactorMassWallTotal">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Total Performance U-factor 
                                             <ns1:line1/>
                                             (U
                                             <ns1:sub>Total</ns1:sub>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: Result = 1/ (C03_InsulationExteriorRValue + (1/C02_UFactorLimit) + C04_InsulationInteriorRValue)</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF1RENV06E" type="CF1RENV06E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF1RENV06E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
