deployed/CF1R/CF1RENV04E.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF1RENV04E" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF1RENV04E" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF COMPLIANCE" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Solar Reflectance Index Calculation Worksheet" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERSCC"/>
                     
                     
                     <xs:element ref="cF1RENV04E"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF1R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF1RENV04E" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF1RENV04E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Solar Reflectance Index Calculation Worksheet</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Product  Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_PartitionName" type="env:PartitionName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Tag/ID</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Reference value from CF1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_CRRCProductID" type="env:CRRCProductID">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Cool Roof Rating Council (CRRC) Product ID Number</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_RoofProductManufacturer" type="comp:RoofProductManufacturer">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Manufacturer</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_RoofProductBrand" type="comp:RoofProductBrand">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Brand</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_RoofProductModel" type="comp:RoofProductModel">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Model</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input: text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_RoofProductType" type="env:RoofProductType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Product type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from CF-1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_IsRoofPitchGTE2Run12Rise" type="comp:IsRoofPitchGTE2Run12Rise">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Roof Pitch</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from CF-1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">SRI Calculations</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_IsAgedSolarReflectanceCRRC" type="comp:IsAgedSolarReflectanceCRRC">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Is Aged Reflectance Listed with Cool Roof Rating Council (CRRC) ? (Yes or No)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input; Yes if their product's aged solar reflectance is listed in the CRRC website, and No if it is not.  Store Yes result as Boolean true and No as Boolean false.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B02_CRRC_AgedReflectance" type="env:CRRC_AgedReflectance">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Cool Roof Rating Council (CRRC) Listed Aged Solar Reflectance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_IsAgedSolarReflectanceCRRC == true, then user enters numeric value 0.xx which must be GT 0 and LT 1 Else enter N/A in the NotApplicableMessage, and display text  N/A</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Cool Roof Rating Council (CRRC) Listed Aged Solar Reflectance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_IsAgedSolarReflectanceCRRC == true, then user enters numeric value 0.xx which must be GT 0 and LT 1 Else enter N/A in the NotApplicableMessage, and display text  N/A</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B03_CRRC_InitialReflectance" type="env:CRRC_InitialReflectance">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Initial Solar Reflectance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_IsAgedSolarReflectanceCRRC == false, then user enters numeric value 0.xx which must be GT 0 and LT 1; Else enter N/A in the NotApplicableMessage  and display text  N/A</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Initial Solar Reflectance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_IsAgedSolarReflectanceCRRC == false, then user enters numeric value 0.xx which must be GT 0 and LT 1; Else enter N/A in the NotApplicableMessage  and display text  N/A</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B04_SolarReflectanceAged" type="com:SolarReflectanceAged">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Calculated Aged Solar Reflectance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_IsAgedSolarReflectanceCRRC == false,user enters numeric value 0.xx which must be GT 0 and LT 1; Else enter N/A in the NotApplicableMessage  and display text  N/A</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Calculated Aged Solar Reflectance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_IsAgedSolarReflectanceCRRC == false,user enters numeric value 0.xx which must be GT 0 and LT 1; Else enter N/A in the NotApplicableMessage  and display text  N/A</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B05_CRRC_AgedEmittance" type="env:CRRC_AgedEmittance">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Thermal Emittance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">User input: numeric value 0.xx which must be GT 0 and LT 1 of either CRRC listed initial thermal emittance stored in CRRC_InitialEmittance or CRRC listed 3-year aged value stored in CRRC_AgedEmittance</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_CRRC_InitialEmittance" type="env:CRRC_InitialEmittance">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Thermal Emittance</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">User input: numeric value 0.xx which must be GT 0 and LT 1 of either CRRC listed initial thermal emittance stored in CRRC_InitialEmittance or CRRC listed 3-year aged value stored in CRRC_AgedEmittance</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Results</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="C01_SolarReflectanceIndex" type="env:SolarReflectanceIndex">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Solar Reflectance Index</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric value which must be GT 0 and LTE 100</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF1RENV04E" type="CF1RENV04E">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF1RENV04E compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
