deployed/NRCV/NRCVMCH04aH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/NRCVMCH04aH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/NRCVMCH04aH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="NRCVMCH04aH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Duct Leakage Diagnostic Test"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH04a Completely New Duct System"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="a"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="nRCVMCH04aH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonNRCV"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="NRCVMCH04aH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="NRCVMCH04aH">
      <xsd:annotation>
         <xsd:documentation>Duct Leakage Diagnostic Test - MCH04a Completely New Duct System</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_SpaceConditioningSystemName" type="hvac:SpaceConditioningSystemName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input, text, maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_HvacSystemAreaServed" type="hvac:HvacSystemAreaServed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input, text, maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor Unit Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input, text, maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_VerifiedLowLeakageAirHandlingUnit" type="comp:VerifiedLowLeakageAirHandlingUnit">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verified Low Leakage Air-Handling Unit Credit</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from true display term Yes or false display term No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_DuctSystemLeakageComplianceCategory">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Duct System Compliance Category</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from  list: New, Alteration, AlterationUsingSmokeTest</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:DuctSystemLeakageComplianceCategory">
                           <xsd:enumeration value="Alteration"/>
                           <xsd:enumeration value="AlterationUsingSmokeTest"/>
                           <xsd:enumeration value="New"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Duct Leakage Diagnostic Test - MCH-04a - Completely New Duct System</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">calculated field:  If A05_DuctSystemLeakageComplianceCategory == New and A04_VerifiedLowLeakageAirHandlingUnit == false  Then MCH-04a - Completely New Duct System is the correct version of this document.</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser Nominal Cooling Capacity (ton)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input, number xx.xx</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B02_HeatingCapacity" type="hvac:HeatingCapacity">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Heating Capacity (kBtu/h)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input, number  xxx</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B03_DuctSystemLeakageFactor" type="comp:DuctSystemLeakageFactor" fixed="0.06">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Leakage Factor</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">LeakageFactor is fixed at 0.06</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B04_AirflowMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Air Handling Unit Airflow (AHUAirflow) Determination Method</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from two values: CoolingSystemMethod and HeatingSystemMethod</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:AirflowMethod">
                           <xsd:enumeration value="CoolingSystemMethod"/>
                           <xsd:enumeration value="HeatingSystemMethod"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="B05_DuctLeakageAllowed" type="comp:DuctLeakageAllowed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Calculated Target Allowable Duct Leakage (cfm25)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field: If B04_AirflowMethod == CoolingSystemMethod  result =  PRODUCT (B01  CondenserNominalCoolingCapacity, 400,   B03_DuctSystemLeakageFactor)  Else if B04_AirflowMethod ==  HeatingSystemMethod result = PRODUCT (B02 
PlantHeatingCapacity, 21.7, B03_ DuctSystemLeakageFactor)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B06_DuctLeakageTestActual" type="comp:DuctLeakageTestActual">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Duct Leakage Rate from Leakage Test Measurement (cfm25)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input: numeric xxx.x</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B07_DoesDuctLeakageTestPass" type="comp:DoesDuctLeakageTestPass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field: If  B06_DuctLeakageTestActual LTE B05_ DuctLeakageAllowed result = true  display term  System Passes Leakage Test.  
Else result = false display term System Fails Leakage Test</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Requirements for Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Testing under normal operation condition</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">System was tested in its normal operation condition.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Supply and Return Register Boots</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All supply and return register boots sealed to the surrounding material.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Cloth Backed Tape</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Cloth backed rubber adhesive duct tape may not be used as the primary air sealing method for duct connections.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">All Connection Points Sealed</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All connection points between the air handler and the supply and return plenums are completely sealed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C05_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C06_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status equals Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="CEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_DoesNRCV_Pass" type="comp:DoesNRCV_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="CalculationsAndRules">calculated field: If B07_DoesDuctLeakageTestPass == true And C05_DoesSystemComplyWithRequirements == Pass or N/A, the result = true display term Complies: All specified verification protocol requirements on this document are met.  Else the result = false display term Does not comply: One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="nRCVMCH04aH" type="NRCVMCH04aH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the NRCVMCH04aH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
