deployed/NRCV/NRCVMCH32H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:ns2="http://www.lmonte.com/besm/dtyp" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/NRCVMCH32H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="NRCVMCH32H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Local Mechanical Exhaust" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="nRCVMCH32H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonNRCV"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="NRCVMCH32H" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="NRCVMCH32H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Local Mechanical Exhaust</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Local Mechanical Exhaust - General Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section parent CC refers to the parent NRCC Certificate of Compliance (CC)</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeforeNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Before Section Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Title 24, Part 6, Section 160.2(b)2 
                           <ns1:b>Ventilation and Indoor Air Quality for Attached Dwelling Units.</ns1:b>
                            All dwelling units shall meet the requirements of ANSI/ASHRAE Standard 62.2. Ventilation and Acceptable Indoor Air Quality in Residential Buildings subject to the amendments specified in Section  160.2(b)2A. 
                           <ns1:i>Equation and table numbering on this form corresponds to the numbering for that information in the published ANSI/ASHRAE 62.2-2019.</ns1:i>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_DwellingUnitName" type="com:DwellingUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Dwelling unit name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialBuildingTypeMechExhaust" type="com:ResidentialBuildingTypeMechExhaust">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User  selects from list: MultiFamily display term Multifamily, SingleFamilyAttached display term Single family attached, SingleFamilyDetached display term Single family detached</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A03_FloorArea" type="com:FloorArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Kitchen Floor Area</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A06_EnclosedSpace == false And (B03_KitchenExhaustSystemType  == VentedRangeHood And B08_KitchenExhaustOperation == DemandControl for ALL systems)
allow NotApplicable stored in NotApplicableMessage
Else User input numeric xx.xx 
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Kitchen Floor Area</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A06_EnclosedSpace == false And (B03_KitchenExhaustSystemType  == VentedRangeHood And B08_KitchenExhaustOperation == DemandControl for ALL systems)
allow NotApplicable stored in NotApplicableMessage
Else User input numeric xx.xx 
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A04_FloorToCeilingHeight" type="com:FloorToCeilingHeight">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Kitchen Average Ceiling Height</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A06_EnclosedSpace == false And (B03_KitchenExhaustSystemType  == VentedRangeHood And B08_KitchenExhaustOperation == DemandControl for ALL systems)
allow NotApplicable stored in NotApplicableMessage
Else User input numeric xx.xx 
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Kitchen Average Ceiling Height</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A06_EnclosedSpace == false And (B03_KitchenExhaustSystemType  == VentedRangeHood And B08_KitchenExhaustOperation == DemandControl for ALL systems)
allow NotApplicable stored in NotApplicableMessage
Else User input numeric xx.xx 
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A05_Volume" type="com:Volume">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Kitchen Total Conditioned Volume</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field:: If A03_NotApplicableMessage Or A04_NotApplicableMessage == N/A result = N/A stored in NotApplicablemessage
Else result = A03_FloorArea * A04_FloorToCeilingHeight</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Kitchen Total Conditioned Volume</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field:: If A03_NotApplicableMessage Or A04_NotApplicableMessage == N/A result = N/A stored in NotApplicablemessage
Else result = A03_FloorArea * A04_FloorToCeilingHeight</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A06_EnclosedSpace" type="com:EnclosedSpace">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Kitchen  Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from Enclosed, Boolean value true or Non-Enclosed Boolean false</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns2:displayterm value="true">Enclosed</ns2:displayterm>
                           
                           
                           <ns2:displayterm value="false">Non-Enclosed</ns2:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Dwelling Unit Total Floor Area</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: data loaded from parent CC  DwellingUnitConditionedFloorArea or user input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A08_FuelType" type="com:FuelType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Kitchen Range (Cooking Stove) Fuel Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: electric, gas</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Kitchen Exhaust Systems</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element maxOccurs="1" name="TableSystems">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_KitchenExhaustSystemName" type="com:KitchenExhaustSystemName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">System Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text up to 50 characters</xs:documentation>
                                          
                                          
                                          <xs:appinfo source="filenameterm">
                                             
                                             
                                             <ns2:filenameterm>2019Table5.html</ns2:filenameterm>
                                             
                                          
                                          </xs:appinfo>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_ManufacturerName" type="com:ManufacturerName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manufacturer Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text up to 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element maxOccurs="1" name="B03_KitchenExhaustSystemType" type="com:KitchenExhaustSystemType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">System Type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: VentedRangeHood display term Vented Range Hood, Downdraft display term Downdraft, Other display term Other,</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B04_SystemModelNumberHVI" type="comp:SystemModelNumberHVI">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">HVI Directory Listed Model Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text up to 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B05_SystemRatedAirflowHVI" type="comp:SystemRatedAirflowHVI">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">HVI Directory Listed Rated Airflow</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric xxxx.xx</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B06_SystemSoundRatingHVI" type="comp:SystemSoundRatingHVI">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">HVI Directory Listed Sound Rating</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric xx.xx</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B07_KitchenExhaustMinimumAirFlow" type="com:KitchenExhaustMinimumAirFlow">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Minimum Airflow (defaults to rated airflow)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Defaults to B05_SystemRatedAirflowHVI otherwise user input numeric xxx.xx not to exceed B05_SystemRatedAirflowHVI</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B08_KitchenExhaustOperation" type="com:KitchenExhaustOperation">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Operation Schedule</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: ContinuousOperation display term Continuous, DemandControl display term Demand Control</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B09a_HoodExhaustComplianceMethod" type="comp:HoodExhaustComplianceMethod">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Method of Compliance</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B08_KitchenExhaustOperation == ContinuousOperation
result = N/A stored in NotApplicableMessage
Else user selects from list: Airflow, CaptureEfficiency
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B09a_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Method of Compliance</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B08_KitchenExhaustOperation == ContinuousOperation
result = N/A stored in NotApplicableMessage
Else user selects from list: Airflow, CaptureEfficiency
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B09_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Required Minimum Ventilation Rate (if demand controlled)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field (results are in CFM): 
If B09a_HoodExhaustComplianceMethod == CaptureEfficiency
result = N/A - C2  stored in NotApplicableMessage display term N/A - See Table C2
Else If B09a_HoodExhaustComplianceMethod == Airflow 
If B08_KitchenExhaustOperation == DemandControl: 
If B03_KitchenExhaustSystemType  == VentedRangeHood And A08_FuelType == Electric
If A07_DwellingUnitConditionedFloorArea  GT 1500
result = 110;
Else If A07_DwellingUnitConditionedFloorArea GT 1000 And LTE1500  
result = 110;
Else If A07_DwellingUnitConditionedFloorArea GTE 750 And LTE 1000 
result = 130
Else If A07_DwellingUnitConditionedFloorArea LT 750 
result = 160
 End If
Else If B03_KitchenExhaustSystemType  == VentedRangeHood And A08_FuelType == Gas
If A07_DwellingUnitConditionedFloorArea  GT 1500
result = 180;
Else If A07_DwellingUnitConditionedFloorArea GT 1000 And LTE1500  
result = 250;
Else If A07_DwellingUnitConditionedFloorArea GTE 750 And LTE 1000 
result = 180
End If

Else If  B03_KitchenExhaustSystemType  == Other Or DownDraft 
Then If A06_Enclosed == true result = Smallest (300, (5 *  (A05_SpaceVolume / 60))); 
Else If A06_Enclosed == false result = 300; 
End If
End if
Else If B08_KitchenExhaustOperation == ContinuousOperation: 
result = N/A stored in NotApplicableMessage display term N/A - See Table C
End If
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B09_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Required Minimum Ventilation Rate (if demand controlled)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field (results are in CFM
If B09a_HoodExhaustComplianceMethod == CaptureEfficiency
result = N/A - C2 stored in NotApplicableMessage display term N/A - See Table C2
Else If B08_KitchenExhaustOperation == ContinuousOperation: 
result = N/A stored in NotApplicableMessage display term N/A - See Table C
End If
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                                                                    
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="B10a_SoundRatingException" type="comp:SoundRatingException">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Exception to Maximum Sound Rating</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Default result = NoSoundException but user can override and select ExceptionSoundRating display term Remote mounted fan with min. 4ft of duct between fan and intake grille</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B10_KitchenExhaustSoundRating" type="com:KitchenExhaustSoundRating">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Maximum Sound Rating</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field:  If B10a_SoundRatingException != NoSoundException 
result = N/A stored in NotapplicableMessage
Else If B08_KitchenExhaustOperation == ContinuousOperation 
result = 1Sone 
Else If B08_KitchenExhaustOperation == DemandControl And B07_SystemRatedAirflowHVI LTE 400 
result = 3Sone 
Else result = N/A stored in NotapplicableMessage
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B10_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Maximum Sound Rating</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field:  If B10a_SoundRatingException != NoSoundException 
result = N/A stored in NotapplicableMessage
Else If B08_KitchenExhaustOperation == ContinuousOperation 
result = 1Sone 
Else If B08_KitchenExhaustOperation == DemandControl And B07_SystemRatedAirflowHVI LTE 400 
result = 3Sone 
Else result = N/A stored in NotapplicableMessage
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B11_DoesKitchenExhaustSystemComply" type="comp:DoesKitchenExhaustSystemComply">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Compliance Statement for Airflow</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field: 
If B09a_HoodExhaustComplianceMethod == CaptureEfficiency
result = N/A stored in NotApplicableMessage display term N/A
Else If B09a_HoodExhaustComplianceMethod == Airflow

If B08_KitchenExhaustOperation ==  DemandControl: 
If B05_SystemRatedAirflowHVI GTE B09_MinimumAirflowRateRequired  
 result = true display term Complies 
Else 
result = false display term Does Not Comply;  
End If
Else If B08_KitchenExhaustOperation == Continuous:  
result = N/A stored in NotApplicableMessage display term N/A
End If
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B11_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Compliance Statement for Airflow</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field: 
If B09a_HoodExhaustComplianceMethod == CaptureEfficiency
result = N/A stored in NotApplicableMessage display term N/A
Else If B09a_HoodExhaustComplianceMethod == Airflow
If B08_KitchenExhaustOperation == DemandControl 
If B05_SystemRatedAirflowHVI GTE B09_MinimumAirflowRateRequired   
result = true display term Complies; 
Else
result = false display term Does Not Comply
End If
Else If  If B08_KitchenExhaustOperation == ContinuousOperation  
result = N/A stored in NotApplicableMessage 
End If 
End If</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="B12_DoesKitchenExhaustSoundComply" type="comp:DoesKitchenExhaustSoundComply">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Compliance Statement for Sound</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: 
If B06_SystemSoundRatingHVI  LTE B10_KitchenExhaustSoundRating Or If B10_NotApplicableMessage == N/A
result = true display term Complies
Else 
result = false display term Does Not Comply
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Continuous Kitchen Exhaust</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="C01_TotalContinuousAirflow" type="comp:TotalContinuousAirflow">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Continuous Ventilation Airflow</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field:  If in Section B all rows have B08_KitchenExhaustOperation != ContinuousOperation 
result = N/A stored in NotApplicableMessage; 
Else result = Sum All where B08_KitchenExhaustOperation == ContinuousOperation (B05_SystemRatedAirflowHVI)
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="C01_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Continuous Ventilation Airflow</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field:  If in Section B all rows have B08_KitchenExhaustOperation != ContinuousOperation 
result = N/A stored in NotApplicableMessage; Else result = Sum All where B08_KitchenExhaustOperation == ContinuousOperation (B05_SystemRatedAirflowHVI)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="C02_MinimumContinuousAirflow" type="comp:MinimumContinuousAirflow">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Required Minimum Continuous Ventilation Airflow</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else result = 5 *  A05_SpaceVolume / 60</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="C02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Required Minimum Continuous Ventilation Airflow</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else result = 5 *  A05_SpaceVolume / 60</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="C03_DoesKitchenExhaustSystemComply" type="comp:DoesKitchenExhaustSystemComply">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else If C01_TotalContinuousAirflow GTE C02_MinimumContinuousAirflow result = true display term Complies; Else result = false display term Does Not Comply</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="C03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If C01_NotApplicableMessage == N/A result = N/A stored in NotApplicableMessage; Else If C01_TotalContinuousAirflow GTE C02_MinimumContinuousAirflow result = true display term Complies; Else result = false display term Does Not Comply</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C2">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Kitchen Range Hood Capture Efficiency Option</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If B09a_HoodExhaustComplianceMethod == CaptureEfficiency</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="Cap01_ManufacturerName" type="com:ManufacturerName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Manufacturer Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input text up to 50 characters</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="Cap02_SystemModelNumberCEC" type="comp:SystemModelNumberCEC">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">CEC-Approved Directory Listed Model Number</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input text up to 50 characters</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="Cap03_CaptureEfficiency" type="comp:CaptureEfficiency">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">CEC-Approved Directory Listed Rated Capture Efficiency (%)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric efficiecy in percentage units</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="Cap04_MinimumRequiredCaptureEfficiency" type="comp:MinimumRequiredCaptureEfficiency">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Required Minimum Capture Efficiency (
                           <ns1:i>Table 160.2-G</ns1:i>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field
If A07_DwellingUnitConditionedFloorArea GT 1500 Then
If A08_FuelType == Electric
result 50
Else If A08_FuelType == Gas
result = 70
End If
 
Else If A07_DwellingUnitConditionedFloorArea InRange (1,000, 1,500)
If A08_FuelType == Electric
result 50
Else If A08_FuelType == Gas
result = 80
End If
 
Else If A07_DwellingUnitConditionedFloorArea InRange (750, 1,000)
If A08_FuelType == Electric
result = 55
Else If A08_FuelType == Gas
result = 85
End If
 
Else If A07_DwellingUnitConditionedFloorArea InRange LT750
If A08_FuelType == Electric
result 65
Else If A08_FuelType == Gas
result = 85
End If
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="Cap05_DoesKitchenExhaustSystemComply" type="comp:DoesKitchenExhaustSystemComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If Cap03_CaptureEfficiency GTE Cap04_MinimumRequiredCaptureEfficiency
result = true display term Complies
Else
result = false display term Does Not Comply
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Determination of HERS Verification Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D01_DoesNRCV_Pass" type="comp:DoesNRCV_Pass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If B11_DoesKitchenExhaustSystemComply == true Or Or B11_NotApplicableMessage == N/A 
And B12_DoesKitchenExhaustSoundComply == true 
And  Cap05__DoesKitchenExhaustSystemComply == true 
And C03_DoesKitchenExhaustSystemComply == true Or C03_NotApplicableMessage == N/A 

result = true display term Complies: All specified verification protocol requirements on this document are met.  
Else result = false display term: Does not comply: One or more specified verification protocol requirements on this document are not met.
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="nRCVMCH32H" type="NRCVMCH32H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the NRCVMCH32H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
