deployed/base/ResBuilding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/bld" version="2022.0.000" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="ResLighting.xsd"/>
   <xsd:simpleType name="BuildingAdditionalConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>Conditioned floor area for an addition to the Building.  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingAdditionalSlabArea">
      <xsd:annotation>
         <xsd:documentation>Floor area for a slab addition to the Building.  Units: ft2</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="BuildingDescription">
      <xsd:annotation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Property Notes</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="ExistingConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>Conditioned floor area for an addition to the Building.  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Existing Conditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="NewAdditionConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>All conditioned floor area in an addition project.  It can be derived from all conditioned area in the Zones  Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>Total Conditioned Floor Area New Construction/Addition</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
   <xsd:simpleType name="NewConditionedFloorArea">
      <xsd:annotation>
         <xsd:documentation>Units: ft2</xsd:documentation>
         <xsd:appinfo source="displaytermType">
            <dtyp:displayterm>New Conditioned Floor Area</dtyp:displayterm>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="dtyp:DecimalNonnegative"/>
   </xsd:simpleType>
</xsd:schema>
