deployed/base/ResLighting.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/dtyp" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/lit" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="DataTypes.xsd"/>
   
   
   <xs:simpleType name="AllLuminairePowerInArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Power of All  Luminaires Installed in Area</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="AlteredLightingConditionedFloorArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft2</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Altered Lighting Conditioned Floor Area</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="AlteredLightingUnconditionedFloorArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft2</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Altered Lighting Unconditioned Floor Area</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="BankingKioskCount">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: none</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Number of ATM's</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:IntegerNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="BoardLightingLength">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>White/ Chalk Board Lighting Length</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="DisplayCaseArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Area of very valuable display case used in determining tailored method lighting allowance  Units: ft2</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="IlluminationMethod">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="External">Externally</ns1:displayterm>
            
            
            <ns1:displayterm value="Internal">Internally</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationConstant">
         
         
         <xs:enumeration value="External"/>
         
         
         <xs:enumeration value="Internal"/>
         
      
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="InteriorLightingSystemName">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Unique identification name for an InteriorLightingSystem instance</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:ObjectNamePermissive">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="InteriorLightingSystemPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="InterlockedLightingSystems">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Does area have Interlocked Lighting Systems?</ns1:displayterm>
            
         
         </xs:appinfo>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="true">Yes</ns1:displayterm>
            
            
            <ns1:displayterm value="false">No</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:boolean">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="IsLightingControlSystemOrEMCS_Present">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="true">Yes</ns1:displayterm>
            
            
            <ns1:displayterm value="false">No</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:boolean">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="IsLuminaireTrackLighting">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Is luminaire track lighting?</ns1:displayterm>
            
         
         </xs:appinfo>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="true">Yes</ns1:displayterm>
            
            
            <ns1:displayterm value="false">No</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:boolean">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="KitchenLuminaireHighEfficacySameTypeTotalPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="KitchenLuminaireLowEfficacySameTypeTotalPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="KitchenLuminairesHighEfficacyAllTypesTotalPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="KitchenLuminairesLowEfficacyAdditionalPowerAllowance">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="KitchenLuminairesLowEfficacyAllTypesTotalPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="KitchenLuminairesTotalLowEfficacyPowerAllowed">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightedSignArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft2</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightedSignDescription">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Description of a Sign that is illuminated</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:token">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightedSignLocation">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Sign Type</ns1:displayterm>
            
         
         </xs:appinfo>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="ElecMessageCenter">Elec. Message Center</ns1:displayterm>
            
            
            <ns1:displayterm value="Indoor">Indoor</ns1:displayterm>
            
            
            <ns1:displayterm value="Outdoor">Outdoor</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationConstant">
         
         
         <xs:enumeration value="ElecMessageCenter"/>
         
         
         <xs:enumeration value="Indoor"/>
         
         
         <xs:enumeration value="Outdoor"/>
         
      
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightedSignName">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Unique identification name for a Sign that is illuminated</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:token">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightingControlDevice">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Type of lighting control device used in calculating allowed lighting power.</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Lighting Control Device</ns1:displayterm>
            
         
         </xs:appinfo>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="AutomaticMultiLevelDaylightingControl">Automatic multi-level daylighting control</ns1:displayterm>
            
            
            <ns1:displayterm value="InterlockSwitch">Interlock switch</ns1:displayterm>
            
            
            <ns1:displayterm value="ManualOnOccupancy">Manual on occupancy</ns1:displayterm>
            
            
            <ns1:displayterm value="MultiLevelAstronomicalTimeSwitch">Multi-level astronomical time switch</ns1:displayterm>
            
            
            <ns1:displayterm value="MultiLevelOccupantSensor">Multi-level occupant sensor</ns1:displayterm>
            
            
            <ns1:displayterm value="OutdoorAstronomicalTimeSwitch">Outdoor astronomical time switch</ns1:displayterm>
            
            
            <ns1:displayterm value="OverrideSwitch">Override switch</ns1:displayterm>
            
            
            <ns1:displayterm value="SwitchingOrControlDevice">Switching or control device</ns1:displayterm>
            
            
            <ns1:displayterm value="SystemShutOff">System shut off</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationConstant">
         
         
         <xs:enumeration value="AutomaticMultiLevelDaylightingControl"/>
         
         
         <xs:enumeration value="InterlockSwitch"/>
         
         
         <xs:enumeration value="ManualOnOccupancy"/>
         
         
         <xs:enumeration value="MultiLevelAstronomicalTimeSwitch"/>
         
         
         <xs:enumeration value="MultiLevelOccupantSensor"/>
         
         
         <xs:enumeration value="OutdoorAstronomicalTimeSwitch"/>
         
         
         <xs:enumeration value="OverrideSwitch"/>
         
         
         <xs:enumeration value="SwitchingOrControlDevice"/>
         
         
         <xs:enumeration value="SystemShutOff"/>
         
      
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightingControlScheme">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Type of lighting control scheme used in calculating allowed lighting power.</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Lighting Control Scheme</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationConstant">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightingPAF">
      
      
      <xs:annotation>
         
         
         <xs:documentation>The fraction that may be subtracted from the total controlled lighting wattage to simulate energy savings resulting from control devices such as occupancy sensor controls that turn lights off when no one is in the space.  Units: none</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Power Adjustment Factor</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LightingPowerReductionPercent">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: none</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Percent Lighting Power Reduction for Space</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireCategory">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Enumeration type for determining luminaire heat gain distribution</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Luminaire Category</ns1:displayterm>
            
         
         </xs:appinfo>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="DownlightCompactFluorescentLuminaire">Downlight compact fluorescent luminaire</ns1:displayterm>
            
            
            <ns1:displayterm value="DownlightIncandescentLuminaire">Downlight incandescent luminaire</ns1:displayterm>
            
            
            <ns1:displayterm value="NonInCeilingFluorescentLuminaire">No in ceiling fluorescent luminaire</ns1:displayterm>
            
            
            <ns1:displayterm value="RecessedFluorescentLuminaireLens">Recessed fluorescent luminaire  with lens</ns1:displayterm>
            
            
            <ns1:displayterm value="RecessedFluorescentLuminaireNoLens">Recessed fluorescent luminaire without lens</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationConstant">
         
         
         <xs:enumeration value="DownlightCompactFluorescentLuminaire"/>
         
         
         <xs:enumeration value="DownlightIncandescentLuminaire"/>
         
         
         <xs:enumeration value="NonInCeilingFluorescentLuminaire"/>
         
         
         <xs:enumeration value="RecessedFluorescentLuminaireLens"/>
         
         
         <xs:enumeration value="RecessedFluorescentLuminaireNoLens"/>
         
      
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireCountByType">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Number of luminaries of a specific type  Units: none</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:IntegerNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireDescription">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Description of the luminaire</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:string">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireMountingHeight">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Distance from the finished floor to the bottom of the luminaire  Units: ft</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireName">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Unique identification name for a Luminaire instance.</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:StringMin1Char">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminairePower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminairePowerByType">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Installed Luminaire Power By Type</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminairePowerInArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Installed Luminaire Power in Area</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminairesTotalLF">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Luminaires Total Linear Feet</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireUse">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="SmallApertureColorChanging">Small Aperture and Color Change Nonres</ns1:displayterm>
            
            
            <ns1:displayterm value="SmallApertureColorChangingMF">Small Aperture and Color Change Multifamily</ns1:displayterm>
            
            
            <ns1:displayterm value="TrackLighting">Modular (Track)</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationConstant">
         
         
         <xs:enumeration value="SmallApertureColorChanging"/>
         
         
         <xs:enumeration value="SmallApertureColorChangingMF"/>
         
         
         <xs:enumeration value="TrackLighting"/>
         
      
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="LuminaireWattsPerLF">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W per ft</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Watts per LF</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="MirrorsCount">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: none</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Number of lighted mirrors in fitting room</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:IntegerNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="MountingHeightFactor">
      
      
      <xs:annotation>
         
         
         <xs:documentation>An adjustment to the Wall Display allowance and the Floor Display allowance in the Tailored Method, based on the mounting height of the fixtures.  Units: none</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>MountingHeightFactor</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="NewLightingConditionedFloorArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft2</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>New Lighting Conditioned Floor Area</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="NewLightingUnconditionedFloorArea">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft2</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>New Lighting Unconditioned Floor Area</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="SpaceIlluminationLevel">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Space Illumination Level</ns1:displayterm>
            
         
         </xs:appinfo>
         
         
         <xs:appinfo source="displayterm">
            
            
            <ns1:displayterm value="100">100 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="1000">1000 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="150">150 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="200">200 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="300">300 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="400">400 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="50">50 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="500">500 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="600">600 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="700">700 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="800">800 lux</ns1:displayterm>
            
            
            <ns1:displayterm value="900">900 lux</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:EnumerationIntegerNonNegative">
         
         
         <xs:enumeration value="100"/>
         
         
         <xs:enumeration value="1000"/>
         
         
         <xs:enumeration value="150"/>
         
         
         <xs:enumeration value="200"/>
         
         
         <xs:enumeration value="300"/>
         
         
         <xs:enumeration value="400"/>
         
         
         <xs:enumeration value="50"/>
         
         
         <xs:enumeration value="500"/>
         
         
         <xs:enumeration value="600"/>
         
         
         <xs:enumeration value="700"/>
         
         
         <xs:enumeration value="800"/>
         
         
         <xs:enumeration value="900"/>
         
      
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLengthPowerCalculated">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Track Lighting Length Watts Calculated</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingBranchCircuitPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Branch Circuit VA Rating (as Watts)
</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingCurrentLimiterPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>VA of Current Limiter (as Watts)
</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingDescription">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Track Lighting Description</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:token">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingLength">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: ft</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Track Lighting Lenght</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingName">
      
      
      <xs:annotation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Track Lighting ID</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="xsd:token">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingPowerSourceRatedWattage">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Maximum rated input wattage per manufacturer</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackLightingWattsCalculated">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Track lighting watts calculated for luminaire</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="TrackOvercurrentPanelsTotalPower">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Sum of VA ratings for all Overcurrent Panels</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="VeryValuableDisplayDescription">
      
      
      <xs:restriction base="xsd:token">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="WallDisplayLength">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Length of wall display used in determining tailored method lighting allowance  Units: ft</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Wall Display Length</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   
   
   <xs:simpleType name="WattsPerLinearFootDefault">
      
      
      <xs:annotation>
         
         
         <xs:documentation>  Units: W per ft</xs:documentation>
         
         
         <xs:appinfo source="displaytermType">
            
            
            <ns1:displayterm>Track Lighting Default Watts/LF</ns1:displayterm>
            
         
         </xs:appinfo>
         
      
      </xs:annotation>
      
      
      <xs:restriction base="dtyp:DecimalNonnegative">
      </xs:restriction>
      
   
   </xs:simpleType>
   

</xs:schema>
