deployed/ArchivedVariantSourceForSimplifiedReports/CF2RENV20bH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/dtyp" xmlns:ns2="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RENV20bH" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RENV20bH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Building Air Leakage Diagnostic Test - Building Enclosures and Dwelling Unit Enclosures" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="ENV20b Single Point Air Tightness Test With Automatic Meter" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="b" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RENV20bH"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RENV20bH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RENV20bH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Building Air Leakage Diagnostic Test - Building Enclosures and Dwelling Unit Enclosures - ENV20b Single Point Air Tightness Test With Automatic Meter</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Enclosure Air Leakage - General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_IsEnvelopeAirLeakageHERSVerificationRequired" type="comp:IsEnvelopeAirLeakageHERSVerificationRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Is HERS verification of building enclosure air leakage to outside required by CF1R?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If project CF1R requires HERS verification of building enclosure air leakage result = true display term Required Else result = false display term N/A</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="false">N/A
</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A02_EnclosureLeakageTargetCFM50" type="comp:EnclosureLeakageTargetCFM50">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Target  Enclosure Air Leakage from CF1R (CFM50)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = CFM50 target value  from project CF1R Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                           
                           <xs:appinfo source="PrevName">
                              
                              
                              <ns1:prevSchema changed="cell number" version="2019.1.006">A03_EnclosureLeakageTargetCFM50</ns1:prevSchema>
                              
                           
                           </xs:appinfo>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Target  Enclosure Air Leakage from CF1R</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A01IsEnvelopeAirLeakageHERSVerificationRequired == true, result = CFM50 target value  from project CF1R Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                           
                           <xs:appinfo source="PrevName">
                              
                              
                              <ns1:prevSchema changed="cell number" version="2019.1.006">A03_NotApplicableMessage</ns1:prevSchema>
                              
                           
                           </xs:appinfo>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A03_TestTemperatureIndoor" type="comp:TestTemperatureIndoor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Indoor Temperature During Test (degrees Fahrenheit (
                           <ns2:deg/>
                           F))
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric x.x deg F</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A04_TestTemperatureIndoor</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_TestTemperatureOutdoor" type="comp:TestTemperatureOutdoor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Outdoor Temperature During Test (degrees Fahrenheit (
                           <ns2:deg/>
                           F))
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric x.x deg F</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A05_TestTemperatureOutdoor</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_BlowerDoorLocation" type="comp:BlowerDoorLocation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Blower Door Location</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A06_BlowerDoorLocation</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_Elevation" type="com:Elevation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Elevation Above Sea level (feet (ft))</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input integer xxxxx</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A07_Elevation</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_TestDate" type="comp:TestDate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Date of Diagnostic Test for this Dwelling</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input date</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A14_TestDate</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A08_AirLeakageTestProcedure">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Test Procedure Used</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list:  SinglePointTestManualMeter, display term Single-Point Test with Manual Meter    SinglePointTestAutomaticMeter,  display term Single-Point Test with Automatic Meter</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A15_AirLeakageTestProcedure</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:AirLeakageTestProcedure">
                           
                           
                           <xs:enumeration value="SinglePointTestAutomaticMeter"/>
                           
                           
                           <xs:enumeration value="SinglePointTestManualMeter"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A08After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Env20b Variant Banner</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">ENV20b Single Point Air Tightness Test With Automatic Meter</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If A08_AirLeakageTestProcedure == SinglePointTestAutomaticMeter, Then variant result = ENV20b Single Point Air Tightness Test With Automatic Meter.  Use this variant for the remainder of this document.</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">A15After</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Diagnostic Equipment Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_ManometerCount" type="comp:ManometerCount">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Number of Manometers Used to Measure Home Pressurization</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If ManometerCount GT 1, provide a row for each manometer in ManometerCount to record its data</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableEquipment">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B02_ManometerMake" type="comp:ManometerMake">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manometer Make</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B03_ManometerModel" type="comp:ManometerModel">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manometer Model</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B04_ManometerSerialNumber" type="comp:ManometerSerialNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manometer Serial Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B05_ManometerCalibrationDate" type="comp:ManometerCalibrationDate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manometer Calibration Date</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input (Date)</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B06_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manometer Calibration Status</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If B05_ManometerCalibrationDate  is within 12 months of the diagnostic TestDate in section A, then result = true  display term   Manometer Calibration is valid.  Else result = false display term WARNING -  Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Enclosure Air Leakage Diagnostic Test</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B07_FanCount" type="comp:FanCount">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Number of Fans Used to Pressurize Home</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If BlowerDoorFanCount GT 1, provide a row for each fan in BlowerDoorFanCount to record its data</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableFans">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B08_FanMake" type="comp:FanMake">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Make</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B09_FanModel" type="comp:FanModel">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Model</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B10_FanSerialNumber" type="comp:FanSerialNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Serial Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B11_FanConfiguration" type="comp:FanConfiguration">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Configuration (rings)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text maximum 50 characters</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Enclosure Air Leakage Diagnostic Test</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="C01_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Time Average Period of Meter (seconds)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input integer GTE  10 seconds</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Test Methodology</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: Pressurization, Depressurization</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C03_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Pre-test Baseline Enclosure Pressure (Pa) (may be positive or negative)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-40, 40)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C04_InducedEnclosurePressureDifference" type="comp:InducedEnclosurePressureDifference">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Induced Enclosure Pressure Difference from Manometer (Pa) Goal = 50 +- 3 (Pressurization is positive; Depressurization is negative)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-75, 75)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C05_IsInducedPressureWithinRange" type="comp:IsInducedPressureWithinRange">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Induced Enclosure Pressure Check</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If ABS  ( C04_InducedEnclosurePressureDifference) GTE 15 Pa, result = true.  display term Induced pressure within range for single point test.  Else result = false display term Induced pressure is too low for single point test.   Do Not Proceed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C06_NominalCFM50" type="comp:NominalCFM50">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Calculated Nominal CFM50</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input integer (resolution 1 CFM)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Altitude and Temperature Correction</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="Calculations">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">This subsection is not visible to the user.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:choice maxOccurs="1">
                              
                              
                              <xs:element name="Da1_OutdoorAirViscosityCorrection" type="comp:OutdoorAirViscosityCorrection">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Outdoor Dynamic Viscosity of Air Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 2.629 * 10^-3 * ((A04_TestTemperatureOutdoor+460)^0.5 / (1+(198.7 /  (A04_TestTemperatureOutdoor+460)))); Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                              
                              <xs:element name="Da1_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Outdoor Dynamic Viscosity of Air Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 2.629 * 10^-3 * ((A04_TestTemperatureOutdoor+460)^0.5 / (1+(198.7 /  (A04_TestTemperatureOutdoor+460)))); Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                           
                           </xs:choice>
                           
                           
                           <xs:choice maxOccurs="1">
                              
                              
                              <xs:element name="Da2_IndoorAirViscosityCorrection" type="comp:IndoorAirViscosityCorrection">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Indoor Dynamic Viscosity of Air Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result =2.629 * 10^-3 * ((A03_TestTemperatureIndoor+460)^0.5 / (1+(198.7 /  (A03_TestTemperatureIndoor+460))));   Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                              
                              <xs:element name="Da2_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Indoor Dynamic Viscosity of Air Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result =2.629 * 10^-3 * ((A03_TestTemperatureIndoor+460)^0.5 / (1+(198.7 /  (A03_TestTemperatureIndoor+460))));   Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                           
                           </xs:choice>
                           
                           
                           <xs:choice maxOccurs="1">
                              
                              
                              <xs:element name="Da3_OutdoorAirDensityCorrection" type="comp:OutdoorAirDensityCorrection">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Outdoor Air Density Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 0.07517 * (1-((0.0035666 * A06_Elevation)/528))^(5.2553) * (528/(A04_TestTemperatureOutdoor+460)); Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                              
                              <xs:element name="Da3_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Outdoor Air Density Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 0.07517 * (1-((0.0035666 * A06_Elevation)/528))^(5.2553) * (528/(A04_TestTemperatureOutdoor+460)); Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                           
                           </xs:choice>
                           
                           
                           <xs:choice maxOccurs="1">
                              
                              
                              <xs:element name="Da4_IndoorAirDensityCorrection" type="comp:IndoorAirDensityCorrection">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Indoor Air Density Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result = 0.07517 * (1-((0.0035666 * A06_Elevation)/528))^(5.2553) * (528/(A03_TestTemperatureIndoor+460)); Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                              
                              <xs:element name="Da4_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 
                                 
                                 <xs:annotation>
                                    
                                    
                                    <xs:documentation source="FieldText">Indoor Air Density Correction</xs:documentation>
                                    
                                    
                                    <xs:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result = 0.07517 * (1-((0.0035666 * A06_Elevation)/528))^(5.2553) * (528/(A03_TestTemperatureIndoor+460)); Else result = N/A</xs:documentation>
                                    
                                 
                                 </xs:annotation>
                                 
                              
                              </xs:element>
                              
                           
                           </xs:choice>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D01_AltitudeTemperatureCorrectionFactor" type="comp:AltitudeTemperatureCorrectionFactor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Altitude and Temperature Correction Factor</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If C02_BuildingAirLeakageTestMethod == Depressurization result = (Da1_OutdoorAirVicosityCorrection / 0.044)^(2* 0.65-1) * (Da3_OutdoorAirDensityCorrection / 0.07517) ^(1-(0.65));  Else  If C02_BuildingAirLeakageTestMethod == Pressurization result =  (Da2_IndoorAirVicosityCorrection / 0.044)^(2 * 0.65-1) * (Da4_IndoorAirDensityCorrection / 0.07517)^(1-(0.65))</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D02_CFM50TempAltCorrected" type="comp:CFM50TempAltCorrected">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Corrected CFM50</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  PRODUCT (C06__NominalCFM50,  D01_AltitudeTemperatureCorrectionFactor)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Accuracy Adjustment</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="E01_CFM50Adjusted" type="comp:CFM50Adjusted">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Adjusted CFM50 (measured air leakage rate)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: PRODUCT (D02_CFM50TempAltCorrected, 1.1)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_F">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="F01_DoesBuildingAirLeakageTestComply" type="comp:DoesBuildingAirLeakageTestComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If B06_IsManometerCalibrationCurrent == true Then
If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true  And E01_CFM50Adjusted  LTE A02_EnclosureLeakageTargetCFM50, 
result = true.  display term  Passes Enclosure Air Leakage Test;   

Else result = false display term Fails Enclosure Air Leakage Test. 
End If
Else  If B06_IsManometerCalibrationCurrent == false result = false display term Manometer Calibration is expired, Fails Enclosure Air Leakage Test. 
End If</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="false">Manometer Calibration is expired, Fails Enclosure Air Leakage Test.</ns1:displayterm>
                           
                           
                           <ns1:displayterm value="false">Fails Enclosure Air Leakage Test.</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_G">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements For Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="G01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The procedure for preparing the enclosure for testing is detailed in RESNET 380-2019 Section 3.2.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="G02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The test procedure for installation of the test apparatus, and preparations for measurement shall conform to RESNET 380-2019 Section 3.3</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">G03</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="G03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The procedure for the conduct of the enclosure air leakage test shall conform to the One-Point Airtightness Test specified in RESNET 380-2019 Section 3.4.1</xs:documentation>
                        
                        
                        <xs:appinfo source="PrevName">
                           
                           
                           <ns1:prevSchema changed="cell number" version="2019.1.006">G04</ns1:prevSchema>
                           
                        
                        </xs:appinfo>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="GEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RENV20bH" type="CF2RENV20bH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RENV20bH compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
