deployed/ArchivedVariantSourceForSimplifiedReports/CF2RMCH27dE.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH27dE" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH27dE" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Indoor Air Quality and Mechanical Ventilation" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH27d Non-dwelling Unit" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="d" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH27dE"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH27dE" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH27dE">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Indoor Air Quality and Mechanical Ventilation - MCH27d Non-dwelling Unit</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole-Dwelling Mechanical Ventilation - General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeforeNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Before Section Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Title 24, Part 6, Section 150.0(o) 
                           <ns1:b>Ventilation for Indoor Air Quality.</ns1:b>
                            All dwelling units shall meet the requirements of ANSI/ASHRAE Standard 62.2.-2022 Ventilation and Acceptable Indoor Air Quality in Single Family Residential Buildings subject to amendments specified by Title 24, Part 6 Section 150.0(o)1.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_DwellingUnitName" type="com:DwellingUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Dwelling unit name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Referenced data from Mch01, A01_DwellingUnitName, Else If information not available then allow user input;</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialBuildingType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Referenced data from CF1R, allowed values: SingleFamilyAttached display term Single family attached, SingleFamilyDetached display term Single family detached, Or allow user to pick NonDwellingUnit display term Non-dwelling Unit</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="com:ResidentialBuildingType">
                           
                           
                           <xs:enumeration value="NonDwellingUnit"/>
                           
                           
                           <xs:enumeration value="SingleFamilyAttached"/>
                           
                           
                           <xs:enumeration value="SingleFamilyDetached"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A03_ProjectScopePerformance" type="comp:ProjectScopePerformance">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Project scope</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Referenced data from CF1R: If parent is CF1R-PRF allowed values are NewConstruction display term Newly Constructed, AdditionAlteration display term Addition and/or Alteration, AdditionOnly display term Newly Constructed Addition</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A03_ProjectScopeNew">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Project scope</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Referenced data from CF1R: If parent is CF1R-NCB allowed values are: AdditionAlone display term Newly constructed  (addition alone)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                        
                        <xs:simpleType>
                           
                           
                           <xs:restriction base="comp:ProjectScopeNew">
                              
                              
                              <xs:enumeration value="AdditionAlone"/>
                              
                              
                              <xs:enumeration value="NewConstruction"/>
                              
                           
                           </xs:restriction>
                           
                        
                        </xs:simpleType>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A03_ProjectScopeAdditions">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Project scope</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Referenced data from CF1R  If parent is CF1R-ADD allowed values are: AdditionLTE300ADU display term ADU Addition  LTE 300 ft2,  AdditionGT300LTE400ADU display term ADU Addition GT 300 ft2 toLTE 400 ft2, AdditionGT400LTE700ADU display term ADU Addition GT 400 ft2 to LTE 700 ft2, AdditionGT700LTE1000ADU display term ADU Addition GT 700 ft2 to LTE  1,000 ft2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                        
                        <xs:simpleType>
                           
                           
                           <xs:restriction base="comp:ProjectScopeAdditions">
                              
                              
                              <xs:enumeration value="AdditionGT300LTE400ADU"/>
                              
                              
                              <xs:enumeration value="AdditionGT400LTE700ADU"/>
                              
                              
                              <xs:enumeration value="AdditionGT700LTE1000ADU"/>
                              
                              
                              <xs:enumeration value="AdditionLTE300ADU"/>
                              
                           
                           </xs:restriction>
                           
                        
                        </xs:simpleType>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A04_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Total Conditioned Floor Area of Dwelling Unit</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">(For addition projects the conditioned floor area equals existing area plus addition area. )</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: reference value from MCH-01; A03 DwellingUnitConditionedFloorArea, Else If information not available then allow user input;</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_BedroomCount" type="com:BedroomCount">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Number of Bedrooms in Dwelling Unit</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">(For addition projects the number of bedrooms equals the existing bedrooms plus addition bedrooms)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: default value referenced from MCH-01 A09 BedroomCount; If result = 0, replace with result = 1, Else If information not available then allow user input;</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A06_VentilationSystemType" type="hvac:VentilationSystemType">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation System Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated value: 
If A02_ResidentialBuildingType == NonDwellingUnit 
result = NotApplicable stored in NotApplicableMessage  
 
Else If registered CF1R form equals CF1R-PRF-01, 
reference data from CF1R 
 
Else if registered CF1R form equals CF1R-NCB-01, 
user picks one from list of following values: Balanced display term Balanced, BalancedCentralVent display term Central Ventilation System - Balanced, BalancedERV display term Balanced ERV, BalancedHRV display term Balanced HRV, CentralFanIntegrated display term Central Fan Integrated (CFI), ExhaustCentralVent display term Central Ventilation System - Exhaust, ExhaustVent display term Exhaust, SupplyCentralVent display term Central Ventilation System - Supply, SupplyVent display Supply;
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation System Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated value: 
If A02_ResidentialBuildingType == NonDwellingUnit 
result = NotApplicable stored in NotApplicableMessage
End if</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A07_VentilationOperationSchedule" type="hvac:VentilationOperationSchedule">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation Operation Schedule</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If registered CF1R == CF1R-PRF-01 reference data from CF1R;  Else If A02 == NonDwellingUnit result = N/A stored in NotApplcableMessage; Else If registered CF1R == CF1R-NCB-01 Or CF1R-ADD-01  User picks from list: Continuous, display term: Continuous display term Continuous,  ShortTermAverage display term Short Term Average;  If result  (this field A07) == Continuous And A06_VentilationSystemType ==CentralFanIntegrated, display message: Central Fan Integrated Ventilation System Not Allowed to Operate Continuously - Do Not Proceed</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A07_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation Operation Schedule</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If registered CF1R == CF1R-PRF-01 reference data from CF1R;  Else If A02 == NonDwellingUnit result = N/A stored in NotApplcableMessage; Else If registered CF1R == CF1R-NCB-01 Or CF1R-ADD-01  User picks from list: Continuous, display term: Continuous display term Continuous,  ShortTermAverage display term Short Term Average;  If result  (this field A07) == Continuous And A06_VentilationSystemType ==CentralFanIntegrated, display message: Central Fan Integrated Ventilation System Not Allowed to Operate Continuously - Do Not Proceed</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element minOccurs="0" name="A07After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Mch-27d Variant</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">MCH27d Non-Dwelling Unit</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field for Variant result: 
If A02_ResidentialBuildingType == SingleFamilyAttached Or SingleFamilyDetached  
And A06_VentilationSystemType == SupplyVent, ExhaustVent, Balanced,BalancedERV, BalancedHRV Or CentralFanIntegrated 
And A07_VentilationOperationSchedule == Continuous Or ShortTermAverage
variant result =  Mch27a Single Family Attached/Detached Ventilation; 
 
Else If A02_ResidentialBuildingType == NonDwellingUnit 
variant result = Mch27d - Non-dwelling Unit
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A09_ClimateZone" type="com:ClimateZone">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">NOT REPORTED IN PDF</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Value from CF1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="AEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Note: 
                           <ns1:line1/>
                           Non-dwelling units do not meet the definition for a dwelling unit as defined in Section 100.1(b).  Non-dwelling units are not designed to provide independent living facilities and do not provide permanent provisions for living, sleeping, eating, cooking and sanitation.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_MechanicalVentilationCompliance" type="comp:MechanicalVentilationCompliance">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == NonDwellingUnit result = BuildingPasses display term Building Passes</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH27dE" type="CF2RMCH27dE">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH27dE compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
