deployed/ArchivedVariantSourceForSimplifiedReports/CF2RMCH24cH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/dtyp" xmlns:ns2="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH24cH" version="2016.1.006">
   
	
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
	
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
	
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
	
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
	
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
	
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
	
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
	
   <xs:element name="ComplianceDocumentPackage">
      
		
      <xs:complexType>
         
			
         <xs:sequence>
            
				
            <xs:element minOccurs="0" name="DocID">
               
					
               <xs:complexType>
                  
						
                  <xs:attribute fixed="CF2RMCH24cH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
						
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
						
                  <xs:attribute fixed="Building Air Leakage Diagnostic Test Worksheet - Building Enclosures and Dwelling Unit Enclosures" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
						
                  <xs:attribute fixed="MCH24c Multi-Point Air Tightness Test" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
						
                  <xs:attribute fixed="c" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
					
               </xs:complexType>
               
				
            </xs:element>
            
				
            <xs:element name="Payload" type="comp:Payload"/>
            
				
            <xs:element name="DocumentData">
               
					
               <xs:complexType>
                  
						
                  <xs:sequence>
                     
							
                     <xs:element name="Header" type="comp:HeaderCF2R_3R"/>
                     
							
                     <xs:element ref="cF2RMCH24cH"/>
                     
							
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
							
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
							
                     <xs:element name="Footer" type="comp:Footer"/>
                     
						
                  </xs:sequence>
                  
					
               </xs:complexType>
               
				
            </xs:element>
            
				
            <xs:element name="Report" type="xsd:base64Binary"/>
            
			
         </xs:sequence>
         
			
         <xs:attribute fixed="rev 10/1/2016" name="revision" type="xsd:string" use="required"/>
         
			
         <xs:attribute fixed="CF2RMCH24cH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
		
      </xs:complexType>
      
	
   </xs:element>
   
	
   <xs:complexType name="CF2RMCH24cH">
      
		
      <xs:annotation>
         
			
         <xs:documentation>Building Leakage Worksheet - MCH24c Multi-Point Air Tightness Test</xs:documentation>
         
		
      </xs:annotation>
      
		
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Enclosure Air Leakage - General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_IsEnvelopeAirLeakageHERSVerificationRequired" type="comp:IsEnvelopeAirLeakageHERSVerificationRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Is HERS verification of building enclosure air leakage to outside required by MCH-27?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If project MCH27 requires HERS verification of building enclosure air leakage,   result = true display term Required Else result = false display term N/A</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="false">N/A
</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_CompartmentilizationLeakageVerificationRequiredHERS" type="comp:CompartmentilizationLeakageVerificationRequiredHERS">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Is HERS verification of dwelling compartmentalization leakage 
                           <ns2:lte/>
                            0.3 CFM
                           <ns2:sub>50</ns2:sub>
                           /ft
                           <ns2:sup>2</ns2:sup>
                            of enclosure area required by MCH-27?
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If project MCH27 requires HERS verification of compartmentalization leakage, result = true display term Required Else result = false display term N/A</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A03_EnclosureLeakageTargetCFM50" type="comp:EnclosureLeakageTargetCFM50">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Default  Enclosure Air Leakage</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = 2 ACH50 Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Default  Enclosure Air Leakage</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = 2 ACH50 Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A04_TestTemperatureIndoor" type="comp:TestTemperatureIndoor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Indoor Temperature During Test  (
                           <ns2:deg/>
                           F)
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric x.x deg F</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_TestTemperatureOutdoor" type="comp:TestTemperatureOutdoor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Outdoor Temperature During Test  (
                           <ns2:deg/>
                           F)
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric x.x deg F</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_BlowerDoorLocation" type="comp:BlowerDoorLocation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Blower Door Location</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_Elevation" type="com:Elevation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Elevation Above Sea level (ft)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input integer xxxxx</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A08_FloorArea" type="com:FloorArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit floor area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit floor area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A09_CeilingArea" type="env:CeilingArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit ceiling area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A09_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit ceiling area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A10_ExteriorWallArea" type="env:ExteriorWallArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit exterior wall  area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A10_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit exterior wall area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A11_DwellingUnitsSharedWallArea" type="com:DwellingUnitsSharedWallArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit wall area shared with other dwelling units (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A11_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit wall area shared with other dwelling units (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A12_DwellingUnitEnclosureArea" type="com:DwellingUnitEnclosureArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit enclosure area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = SUM (A08_FloorArea, A09_CeilingArea, A10_ExteriorWallArea, A11_DwellingUnitsSharedWallArea )</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A12_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Total dwelling unit enclosure area (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = SUM (A08_FloorArea, A09_CeilingArea, A10_ExteriorWallArea, A11_DwellingUnitsSharedWallArea )</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A13_BuildingTotalVolume" type="com:BuildingTotalVolume">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Dwelling Unit Volume</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If performance, reference value from CF1R; Else for prescriptive, user input</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A14_CompartmentalizationLeakageTargetCFM50" type="comp:CompartmentalizationLeakageTargetCFM50">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Target dwelling unit compartmentalization leakage (CFM50)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = PRODUCT (A12_DwellingUnitEnclosureArea, 0.3)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A14_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Target dwelling unit compartmentalization leakage (CFM50)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = PRODUCT (A12_DwellingUnitEnclosureArea, 0.3)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A15_TestDate" type="comp:TestDate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Date of Diagnostic Test for this Dwelling</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input date</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A16_AirLeakageTestProcedure">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Test Procedure Used</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: MultiPointTest display term Multi-Point Test;  SinglePointTestManualMeter, display term Single-Point Test with Manual Meter;    SinglePointTestAutomaticMeter,  display term Single-Point Test with Automatic Meter</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:AirLeakageTestProcedure">
                           
                           
                           <xs:enumeration value="MultiPointTest"/>
                           
                           
                           <xs:enumeration value="SinglePointTestAutomaticMeter"/>
                           
                           
                           <xs:enumeration value="SinglePointTestManualMeter"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A16After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">MCH24a - Single Point Air Tightness Test With Manual Meter  </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If A16_AirLeakageTestProcedure == SinglePointTestManualMeter, Then variant result = MCH24a - Single Point Air Tightness Test With Manual Meter.  Use this variant for the remainder of this document.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Diagnostic Equipment Information</xs:documentation>
               
					
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
				
            </xs:annotation>
            
				
            <xs:complexType>
               
					
               <xs:sequence>
                  
						
                  <xs:element name="B01_ManometerCount" type="comp:ManometerCount">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Number of Manometers Used to Measure Home Pressurization</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">If ManometerCount is greater than 1, provide a row for each manometer in ManometerCount to record its data</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="TableEquipment">
                     
							
                     <xs:complexType>
                        
								
                        <xs:sequence>
                           
									
                           <xs:element maxOccurs="unbounded" name="Row">
                              
										
                              <xs:complexType>
                                 
											
                                 <xs:sequence>
                                    
												
                                    <xs:element name="B02_ManometerMake" type="comp:ManometerMake">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Manometer Make</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B03_ManometerModel" type="comp:ManometerModel">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Manometer Model</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B04_ManometerSerialNumber" type="comp:ManometerSerialNumber">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Manometer Serial Number</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B05_ManometerCalibrationDate" type="comp:ManometerCalibrationDate">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Manometer Calibration Date</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B06_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Manometer Calibration Status</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">If ManometerCalibrationDate  is within 12 months of the diagnostic TestDate in section A, then result is true.  For Boolean true value display text:   Manometer Calibration is valid.  Else result is false.  For Boolean false value display text: WARNING -  Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Building Leakage Worksheet measurement procedure.</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
											
                                 </xs:sequence>
                                 
										
                              </xs:complexType>
                              
									
                           </xs:element>
                           
								
                        </xs:sequence>
                        
							
                     </xs:complexType>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="B07_FanCount" type="comp:FanCount">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Number of Fans Used to Pressurize Home</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">If BlowerDoorFanCount is greater than 1, provide a row for each fan in BlowerDoorFanCount to record its data</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="TableFans">
                     
							
                     <xs:complexType>
                        
								
                        <xs:sequence>
                           
									
                           <xs:element maxOccurs="unbounded" name="Row">
                              
										
                              <xs:complexType>
                                 
											
                                 <xs:sequence>
                                    
												
                                    <xs:element name="B08_FanMake" type="comp:FanMake">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Fan Make</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B09_FanModel" type="comp:FanModel">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Fan Model</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B10_FanSerialNumber" type="comp:FanSerialNumber">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Fan Serial Number</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
												
                                    <xs:element name="B11_FanConfiguration" type="comp:FanConfiguration">
                                       
													
                                       <xs:annotation>
                                          
														
                                          <xs:documentation source="FieldText">Fan Configuration (rings)</xs:documentation>
                                          
														
                                          <xs:documentation source="CalculationsAndRules">maximum 50 characters</xs:documentation>
                                          
													
                                       </xs:annotation>
                                       
												
                                    </xs:element>
                                    
											
                                 </xs:sequence>
                                 
										
                              </xs:complexType>
                              
									
                           </xs:element>
                           
								
                        </xs:sequence>
                        
							
                     </xs:complexType>
                     
						
                  </xs:element>
                  
					
               </xs:sequence>
               
				
            </xs:complexType>
            
			
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="1" name="Section_C">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Envelope Leakage Worksheet - Depressurization -    MCH24c  -  Multi-Point Air Tightness Test</xs:documentation>
               
					
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
				
            </xs:annotation>
            
				
            <xs:complexType>
               
					
               <xs:sequence>
                  
						
                  <xs:element name="C01_ASTM_E779_10Software" type="comp:ASTM_E779_10Software">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Name and version of ASTM E779-10 compliant software used for multi-point test.</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; maximum 50 characters</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C02_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Pre-Test baseline building pressure</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C03_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Time average period of meter</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Value entered by user must be no less than 10 seconds</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element fixed="Depressurization" name="C04_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Test Methodology</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Fixed value of  Depressurization</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C05_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Target</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Use Calculation: -60 plus  BuildingPressureReadingPreTest.   Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C06_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Measured</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C07_BuildingPressureInduced" type="comp:BuildingPressureInduced">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Induced building pressure</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Report result from subtracting  BuildingPressureReadingPreTest
 from BuildingPressureMeasuredUnadjusted</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C08_MinReadingAcknowledge" type="comp:MinReadingAcknowledge">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">A minimum of eight readings were taken spaced evenly between 15 Pa and 60 Pa (or highest attainable pressure)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input to acknowledge this requirement; Boolean value - for true display choice Yes and for false display choice No</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C09_BuildingPressureReadingPostTest" type="comp:BuildingPressureReadingPostTest">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Post-Test baseline building pressure</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="C10_CFM50SoftwareCorrected" type="comp:CFM50SoftwareCorrected">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Corrected CFM50 (from software)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input of value calculated by the software.  Resolution of 1 CFM</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element minOccurs="0" name="C10After">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Multifamily note</xs:documentation>
                        
								
                        <xs:documentation source="AdditionalRequirements">
                           Note:
                           <ns2:line1/>
                            
                           <ns2:l t="*">
                               
                              <ns2:list> For multifamily, each dwelling unit must be tested individually and shown to meet the leakage requirements. Pressurization of the adjacent dwelling units while conducting this test is not allowed. </ns2:list>
                           </ns2:l>
                        </xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
					
               </xs:sequence>
               
				
            </xs:complexType>
            
			
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="0" name="Section_D">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Altitude and Temperature Correction (not used, performed by blower door software)</xs:documentation>
               
					
               <xs:documentation source="CalculationsAndRules">This section is not used as corrections are performed  by blower door software</xs:documentation>
               
				
            </xs:annotation>
            
			
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="1" name="Section_E">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Accuracy Adjustment</xs:documentation>
               
					
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
				
            </xs:annotation>
            
				
            <xs:complexType>
               
					
               <xs:sequence>
                  
						
                  <xs:element name="E01_SoftwareTestPercentUncertainty" type="comp:SoftwareTestPercentUncertainty">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Percent Uncertainty at 95% confidence level (from software)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Calculated by software. The value represented should be percent and not a fraction.</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="E02_SoftwareTestAccuracy" type="comp:SoftwareTestAccuracy">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Accuracy Level</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestPercentUncertainty is less than or equal to 10, report Standard, else report Reduced</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="E03_TestAccuracyFactor" type="comp:TestAccuracyFactor">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Accuracy Adjustment factor</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestAccuracy is Standard report 1, Else If SoftwareTestAccuracy is Reduced report 1+ (SoftwareTestPercentUncertainty  divided by 100)</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="E04_CFM50Depressurization" type="comp:CFM50Depressurization">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Adjusted CFM50 Depressurization  (measured air leakage rate)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Report result of calculation - NominalCFM50 in section C times TestAccuracyFactor</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
					
               </xs:sequence>
               
				
            </xs:complexType>
            
			
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="1" name="Section_F">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Envelope Leakage Worksheet - Pressurization -    MCH24c  -  Multi-Point Air Tightness Test</xs:documentation>
               
					
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
				
            </xs:annotation>
            
				
            <xs:complexType>
               
					
               <xs:sequence>
                  
						
                  <xs:element name="F01_ASTM_E779_10Software" type="comp:ASTM_E779_10Software">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Name and version of ASTM E779-10 compliant software used for multi-point test.</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; maximum 50 characters</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F02_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Pre-Test baseline building pressure</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F03_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Time average period of meter</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Value entered by user must be no less than 10 seconds</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element fixed="Pressurization" name="F04_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Test Methodology</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Fixed value of  Pressurization</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F05_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Target</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Use Calculation: 60 plus  BuildingPressureReadingPreTest.     Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F06_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Measured</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F07_BuildingPressureInduced" type="comp:BuildingPressureInduced">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Induced building pressure</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Report result from subtracting  BuildingPressureReadingPreTest
 from BuildingPressureMeasuredUnadjusted</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F08_MinReadingAcknowledge" type="comp:MinReadingAcknowledge">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">A minimum of eight readings were taken spaced evenly between 15 Pa and 60 Pa (or highest attainable pressure)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input to acknowledge this requirement; Boolean value - for true display choice Yes and for false display choice No</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F09_BuildingPressureReadingPostTest" type="comp:BuildingPressureReadingPostTest">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Post-Test baseline building pressure</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="F10_CFM50SoftwareCorrected" type="comp:CFM50SoftwareCorrected">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Corrected CFM50 (from software)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">User input of value calculated by the software.  Resolution of 1 CFM</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element minOccurs="0" name="F10After">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Multifamily note</xs:documentation>
                        
								
                        <xs:documentation source="AdditionalRequirements">
                           Note:
                           <ns2:line1/>
                            
                           <ns2:l t="*">
                               
                              <ns2:list> For multifamily, each dwelling unit must be tested individually and shown to meet the leakage requirements. Pressurization of the adjacent dwelling units while conducting this test is not allowed. </ns2:list>
                           </ns2:l>
                        </xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
					
               </xs:sequence>
               
				
            </xs:complexType>
            
			
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="0" name="Section_G">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Altitude and Temperature Correction (not used, performed by blower door software)</xs:documentation>
               
					
               <xs:documentation source="CalculationsAndRules">This section is not used as corrections are performed  by blower door software</xs:documentation>
               
				
            </xs:annotation>
            
			
         </xs:element>
         
			
         <xs:element maxOccurs="1" minOccurs="1" name="Section_H">
            
				
            <xs:annotation>
               
					
               <xs:documentation source="FieldText">Accuracy Adjustment</xs:documentation>
               
					
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
				
            </xs:annotation>
            
				
            <xs:complexType>
               
					
               <xs:sequence>
                  
						
                  <xs:element name="H01_SoftwareTestPercentUncertainty" type="comp:SoftwareTestPercentUncertainty">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Percent Uncertainty at 95% confidence level (from software)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Calculated by software. The value represented should be percent and not a fraction.</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="H02_SoftwareTestAccuracy" type="comp:SoftwareTestAccuracy">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Accuracy Level</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestPercentUncertainty is less than or equal to 10, report Standard, else report Reduced</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="H03_TestAccuracyFactor" type="comp:TestAccuracyFactor">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Accuracy Adjustment factor</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestAccuracy is Standard report 1, Else If SoftwareTestAccuracy is Reduced report 1+ (SoftwareTestPercentUncertainty  divided by 100)</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
						
                  <xs:element name="H04_CFM50Pressurization" type="comp:CFM50Pressurization">
                     
							
                     <xs:annotation>
                        
								
                        <xs:documentation source="FieldText">Adjusted CFM50 Pressurization  (measured air leakage rate)</xs:documentation>
                        
								
                        <xs:documentation source="CalculationsAndRules">Report result of calculation - NominalCFM50 in section F times TestAccuracyFactor</xs:documentation>
                        
							
                     </xs:annotation>
                     
						
                  </xs:element>
                  
					
               </xs:sequence>
               
				
            </xs:complexType>
            
			
         </xs:element>
         
		
      </xs:sequence>
      
	
   </xs:complexType>
   
	
   <xs:element name="cF2RMCH24cH" type="CF2RMCH24cH">
      
		
      <xs:annotation>
         
			
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH24cH compliance report.</xs:documentation>
         
		
      </xs:annotation>
      
	
   </xs:element>
   

</xs:schema>
