deployed/ArchivedVariantSourceForSimplifiedReports/CF2RMCH31bH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH31bH" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH31bH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Whole House Fan Airflow and Fan Efficacy" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH31b Whole House Fan Airflow and Fan Efficacy - Aiflow  measured per whole house fan and watts measured as a total value" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="b" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH31bH"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH31bH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH31bH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Whole House Fan Airflow and Fan Efficacy - MCH31b Whole House Fan Airflow and Fan Efficacy - Aiflow  measured per whole house fan and watts measured as a total value</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole House Fan Measurement Procedures</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_AirflowWattsMeasurementWHF" type="comp:AirflowWattsMeasurementWHF">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Whole House Fan Airflow/Watts Measurement Procedures Used</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: 
CaptureHoodPortableMeter display term Traditional Flow Capture Hood and Portable Watt Meter,  
CaptureHoodRevenueMeter display term Traditional Flow Capture Hood and Revenue Meter, 
CaptureHoodPoweredPortableMeter display term Powered Flow Capture Hood and Portable Watt Meter,  
CaptureHoodPoweredRevenueMeter display term Powered Flow Capture Hood and Revenue Meter, 
FanFlowPortableMeter display term Fan Flowmeter and Portable Watt Meter, 
FanFlowRevenueMeter display term Fan Flowmeter and Revenue Meter</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A01After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">MCH-31b variant</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:b>MCH31b Whole House Fan Airflow and Fan Efficacy - Airflow  measured per whole house fan and watts measured as a total value</ns1:b>
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated variant result:  
If A01_AirflowWattsMeasurementWHF == CaptureHoodPortableMeter Or CaptureHoodPoweredPortableMeter Or FanFlowPortableMeter
 variant result =  MCH-31a; 
Else If A01_AirflowWattsMeasurementWHF == CaptureHoodRevenueMeter Or CaptureHoodPoweredRevenueMeter Or FanFlowRevenueMeter  
variant result =  MCH-31b;     
End If
Use variant result for the remainder of this document</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Required Whole House Fan Specifications</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="TableFanSpec">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_FanName" type="hvac:FanName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B02_AirflowModeledRate" type="hvac:AirflowModeledRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Modeled Airflow (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="B03_FanPowerModeled" type="hvac:FanPowerModeled">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Modeled Fan Power (Watts)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Tested Whole House Fan Equipment Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Requirements for Whole House Fans are given in Sections 150.1(b)3.B.vi and 150.1(c)12</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableEquipment">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="C01_FanName" type="hvac:FanName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from CF1R</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C02_WHF_Location" type="comp:WHF_Location">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Location</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C03_WHF_Manufacturer" type="comp:WHF_Manufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Manufacturer Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C04_WHF_ModelNumber" type="comp:WHF_ModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Model Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input string</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C05_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">WHF Tested Airflow per RA3.9.4.1 (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C06_FanPowerActual" type="hvac:FanPowerActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">WHF Tested Watts Per RA3.9.4.2</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole House Fan Compliance Calculations</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="D01_WHFsMinimumRequiredAirflow" type="comp:WHFsMinimumRequiredAirflow">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required CFM</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (B02_AirflowModeledRate)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D02_WHFsTotalMeasuredAirFlow" type="comp:WHFsTotalMeasuredAirFlow">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed CFM</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (C05_AirflowMeasuredRate)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required Fan Efficacy (Watts/CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (B03_FanPowerModeled) / SUM ALL (B02_AirflowModeledRate)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D04_WHFsInstalledFanEfficacy" type="comp:WHFsInstalledFanEfficacy">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Installed Fan Efficacy (Watts/CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = C06_FanActualPower / D02_WHFsTotalMeasuredAirFlow</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="E01_DoesWHF_AirFlowEfficacyComply" type="comp:DoesWHF_AirFlowEfficacyComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Result</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If D02_WHFsTotalMeasuredAirFlow GTE D01_WHFsMinimumRequiredAirflow And D03_FanEfficacyRequired  GTE  D04_WHFsInstalledFanEfficacy  result = true display term System passes whole house fan verification requirement; Else result = false display term System fails whole house fan verification requirement</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_F">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="F01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Listed in HVI directory</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The installed fan shall be listed in the Home Ventilating Institute Certified Products Directory.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">User instructions documentation</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The homeowner shall be provided with user instructions documentation that describe the proper use of the whole house fan necessary to obtain the full energy savings benefit.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="FEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH31bH" type="CF2RMCH31bH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH31bH compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
