deployed/ArchivedVariantSourceForSimplifiedReports/CF2RMCH25fE.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH25fE" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH25fE" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Refrigerant Charge Verification" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH25f New Package Unit With Factory Charge" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="f" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH25fE"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_E"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH25fE" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH25fE">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Refrigerant Charge Verification - MCH25f New Package Unit With Factory Charge</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">All references to the MCH01 in this section refer to the parent CF2R-MCH01 and all other references are to other CF2R or CF3R compliance documents.</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Each system requiring refrigerant charge verification will be documented on a separate certificate.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_CondenserManufacturer" type="comp:CondenserManufacturer">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Condenser (or package unit) Make or Brand</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_CondenserModelNumber" type="comp:CondenserModelNumber">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Condenser (or package unit) Model Number</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_CondenserSerialNumber" type="comp:CondenserSerialNumber">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Condenser (or package unit) Serial Number</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_RefrigerantType" type="comp:RefrigerantType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Refrigerant Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user picks from list  Choice R22 display text: R-22; Choice R410A display text: R-410A; Choice R454B display text: R-454B;  Choice Other display text: Other;</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A08_RefrigerantTypeOther" type="comp:RefrigerantTypeOther">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Other Refrigerant Type (if applicable)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Other Refrigerant Type (if applicable)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A09_IsLiquidLineFilterDrierInstalledToSpec" type="comp:IsLiquidLineFilterDrierInstalledToSpec">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Liquid Line Filter Drier Installed According to Manufacturers Specifications (if applicable)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user selects from Yes or NA.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A10_ImprovementStatus">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Installation Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user picks one from list: New, Replacement, Alteration</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="hvac:ImprovementStatus">
                           
                           
                           <xs:enumeration value="Alteration"/>
                           
                           
                           <xs:enumeration value="New"/>
                           
                           
                           <xs:enumeration value="Replacement"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element fixed="FIDStatusNA" name="A11_FaultIndicatorDisplayStatus" type="comp:FaultIndicatorDisplayStatus">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fault Indicator Display (FID) Status (Note: Even systems with a FID must have refrigerant charge verified by installer).</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">This field is fixed value FIDStatusNA display term N/A </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A12_UseMinimumAirflowApprovedVerificationProcedure" type="comp:UseMinimumAirflowApprovedVerificationProcedure">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Is the system of a type that the minimum airflow can be verified for all indoor units using an approved measurement procedure (RA3.3 or RA3.3.3)?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Reference values from parent MCH-0! for the following evaluations
For Criterion1 reference value for CanRA3_3AirflowProtocolsTestSystem from
MCH-01a section J J12; MCH-01b section F F11 or section G G13; MCH-01c section I  I11; or MCH-01d section K K11 or section L L13.
 
For Criterion2 reference data as follows: MCH-01a D07 DuctLocation; MCH-01c C06 DuctSystemType; MCH-01d D07 DuctSystemTypePerf.  
 
For Criterion3 reference data as follows: MCH-01b C12 IndoorUnitsCount, C13 DuctedIndoorUnitsCount; MCH-01d D06 IndoorUnitsCount, D13 DuctedIndoorUnitsCount.  
 
Evaluation:  If (Criterion1) CanRA3_3AirflowProtocolsTestSystem == false;  Or If (Criterion2) DuctLocation, DuctSystemType Or DuctSystemTypePerf == DuctedAndDuctlessIndoorUnits Or Ductless;  Or If (Criterion3) DuctedIndoorUnitsCount LT IndoorUnitsCount 
 result = false, display term No, the system airflow rate measurement procedures in RA3.3 or RA3.3.3 cannot be used to verify system airflow rate requirements for all the indoor units for this system.;  
 
Else result = true display term Yes.
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A13_UseRefrigerantChargeApprovedVerificationProcedure" type="comp:UseRefrigerantChargeApprovedVerificationProcedure">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Is the system of a type that approved refrigerant charge verification procedures can be used to verify compliance with the refrigerant charge verification requirements when temperatures are 
                           <ns1:gte/>
                             55
                           <ns1:deg/>
                           F (RA3.2.2, or RA1)?
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">For Boolean true value, display:  Yes, one of the Refrigerant charge verification procedures from RA3.2.2 or RA1 is applicable to this system and can be used to verify compliance.  For Boolean false value, display: No, none of the refrigerant charge verification procedures in RA3.2.2, or RA1 are applicable to the system therefore compliance shall use ECC Rater observation of the installer weigh-in charging procedure</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A14_RefrigerantChargeVerificationDate" type="comp:RefrigerantChargeVerificationDate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Date of Refrigerant Charge Verification for this system</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input: date: use validated date format</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A15_RefrigerantChargeVerificationMethod" type="comp:RefrigerantChargeVerificationMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Refrigerant charge verification method used.</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user picks one from list: choice Superheat, display text: Superheat (outdoor temperature must be equal to or greater than 55 degF); choice Subcooling, display text Subcooling (outdoor temperature must be equal to or greater than 55 degF);  choice WeighIn, display text:  Weigh-in with Installer independent;  choice WeighInObservation, display text:  Weigh-in with ECC Rater observation; choice NewFactoryCharge display text: New package unit factory char</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A16_RefrigerantChargeVerifier" type="comp:RefrigerantChargeVerifier">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Person who performed the Refrigerant Charge Verification reported on this Certificate of Installation</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If A15 equals WeighIn or WeighInObservation then result is Installer, Else user picks from list Choice FieldVerifier display text: ECC Rater;  choice Installer display text: HVAC system installer</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A17_RefrigerantChargeVerificationMessage" type="comp:RefrigerantChargeVerificationMessage">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">ECC Verification Compliance Requirement Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If any of the following conditions are true: 
RefrigerantChargeVerifier equals FieldVerifier,  UseMinimumAirflowApprovedVerificationProcedure equals false, UseRefrigerantChargeApprovedVerificationProcedure equals false or RefrigerantChargeVerificationMethod equals WeighIn Or WeighInObservation, 
result = DoesNotQualifyForGroupSampling display term  System does not qualify for Group Sampling; 
   
Else If RefrigerantChargeVerificationMethod equals NewFactoryCharge, 
result = VerificationNotRequired display term ECC Verification of refrigerant charge not required;  
Else result = QualifiesForGroupSampling display term System qualifies for Group Sampling
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A17After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Variant MCH25f</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">MCH-25f - Refrigerant Charge Verification -  New Package Unit With Factory Charge</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Use MCH25f New Package Unit With Factory Charge for remainder of this report If UseMinimumAirflowApprovedVerificationProcedure equals true and  UseRefrigerantChargeApprovedVerificationProcedure equals true, and RefrigerantChargeVerificationMethod equals NewFactoryCharge; OR If UseMinimumAirflowApprovedVerificationProcedure equals false and  UseRefrigerantChargeApprovedVerificationProcedure equals true, and RefrigerantChargeVerificationMethod equals NewFactoryCharge. Do not require a CF3R-MCH-25 for the SC system when a CF2R-MCH-25f is used.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Measurement Access Hole (MAH) Verification</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Procedures for installing MAH are specified in Reference Residential Appendix RA3.2.2.3</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B01_MeasurementAccessHoleMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Method Used to Demonstrate Compliance with the Measurement Access Hole (MAH) Requirement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">For choice MAH_InstalledAsRequired display text:  MAH installed and labeled consistent with Figure 3.2-1  For choice MAH_NotRequired display text: Return side of system is located entirely within conditioned space such that an accurate return air dry-bulb temperature can be taken at the return grille.  For choice MAH_InstalledAlternativeLocation display text:  MAH cannot be installed consistent with Figure 3.2-1.  An alternative location has been provided and clearly labeled.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:MeasurementAccessHoleMethod">
                           
                           
                           <xs:enumeration value="MAH_InstalledAlternativeLocation"/>
                           
                           
                           <xs:enumeration value="MAH_InstalledAsRequired"/>
                           
                           
                           <xs:enumeration value="MAH_NotRequired"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Minimum System Airflow Rate Verification</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">All references to the MCH-01 in this section refer to the parent CF2R-MCH-01 and all other references are to other CF2R  compliance documents.
 This section is not required If parent MCH01a D07_DuctLocation == Ductless; Else in this section require 1 row of data for each indoor unit listed in the "ECC Verification Requirements for Duct Systems" table in the parent CF2R-MCH-01 for the SC system in A02</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Procedures for verifying minimum system airflow are specified in Reference Residential Appendix RA3.3.3.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableIndoorUnit">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="C01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference value in  "ECC Verification Requirements for Duct Systems" table in the parent MCH-01 for value in A02_ResidentialHvacSystemAreaServed</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="C02_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field: If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in C01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="C02_MinimumAirflowRateAlternative" type="comp:MinimumAirflowRateAlternative">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">Calculated field: If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in C01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="C03_MinimumAirflowRateVerificationStatus">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">System Airflow Rate Verification Status</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field:  
If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance: 
If the system has a registered CF2R-MCH-28 that indicates compliance with Table 150.0-B or C return duct design requirements, then result  = SystemCompliesUsingTable150BC display term System complies using Table 150.0-B or C alternative return duct design criteria;   
Else result = SystemDoesNotComplyCF2RMCH28Required display term System does not comply.  A registered CF2R-MCH-28 is required (do not allow this MCH-25 to be registered)
End If
   
ElseIf the MCH-01 indicates a MCH-23 is required for minimum airflow rate compliance 
If this system has a registered CF2R MCH-23a,  MCH-23b, MCH23e or MCH-23f that meets the compliance criterion in C02 
result = SystemComplies display term System complies with minimum airflow rate requirements;  
 
Else If  A10_ImprovementStatus == Alteration And the system complies with the alternative airflow compliance method on a registered CF2R-MCH23c  
result= SystemCompliesUsingAlternativeRemedialActions display term  system complies using the alternative remedial actions specified in RA3.3.3.1.5. This System does not qualify for Group Sampling;  
 
Else result = SystemDoesNotComplyCF2RMCH23Required display term  System does not comply. A registered CF2R-MCH-23 for this system is required . (do not allow this MCH-25 to be registered).
End If
End If</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                       
                                       <xs:simpleType>
                                          
                                          
                                          <xs:restriction base="comp:MinimumAirflowRateVerificationStatus">
                                             
                                             
                                             <xs:enumeration value="SystemComplies"/>
                                             
                                             
                                             <xs:enumeration value="SystemCompliesUsingAlternativeRemedialActions"/>
                                             
                                             
                                             <xs:enumeration value="SystemCompliesUsingTable150BC"/>
                                             
                                             
                                             <xs:enumeration value="SystemDoesNotComplyCF2RMCH23Required"/>
                                             
                                             
                                             <xs:enumeration value="SystemDoesNotComplyCF2RMCH28Required"/>
                                             
                                          
                                          </xs:restriction>
                                          
                                       
                                       </xs:simpleType>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C04_DoesSystemComplyWithAirflowRateVerification" type="comp:DoesSystemComplyWithAirflowRateVerification">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If all indoor units listed in C01 have C03 != SystemDoesNotComplyCF2RMCH28Required And != SystemDoesNotComplyCF2RMCH23Required 
result = true display term SC System complies with Minimum System Airflow Rate Verification; 
Else result = false display term SC System does not comply with Minimum System Airflow Rate Verification   and do not allow this Mch-25 to be registered.
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C04a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Verification of New Package Unit Factory Charge</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Note: There is no ECC verification requirement for the MCH-25f . The Enforcement Agency has responsibility for verification of the MCH-25f.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Responsible Persons Signature</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this document affirms that this new package unit has correct refrigerant charge as provided by the manufacturer prior to shipment from the factory, and no modifications have been made to this packaged unit that would result in a change to the amount of refrigerant in the unit.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH25fE" type="CF2RMCH25fE">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH25fE compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
