deployed/ArchivedVariantSourceForSimplifiedReports/CF2RMCH20bH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/dtyp" xmlns:ns2="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF2RMCH20bH" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF2RMCH20bH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF INSTALLATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Duct Leakage Diagnostic Test" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH20b Low Leakage Ducts in Conditioned Space" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="b" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF2RMCH20bH"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF2R_H"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF2RMCH20bH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF2RMCH20bH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Duct Leakage Diagnostic Test - MCH20b Low Leakage Ducts in Conditioned Space</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH-01 refers to the parent CF2R-MCH-01 and  parent CC refers to the parent CF1R Certificate of Compliance (CC)</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from MCH-01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_ResidentialLowriseBuildingType" type="com:ResidentialLowriseBuildingType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Type from parent CC</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from CF1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_VerifiedLowLeakageDuctsConditionedSpace" type="comp:VerifiedLowLeakageDuctsConditionedSpace">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verified Low Leakage Ducts in Conditioned Space (VLLDCS) Credit from parent CC?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field using data from parent CC.  
If performance path, if parent CC's  Y02_ResidentialHeatingSystemType == VCHP_IndoorUnitDucted Or VCHP_IndoorUnitDuctedAndDuctless Or  VCHP_IndoorUnitDuctless
 result = true 
Else calculated result depending on parent CC data
End If

If result == true, display text  Low Leakage Ducts in Conditioned Space (LLDCS) method Mch20b should be used</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="true">Low Leakage Ducts in Conditioned Space (LLDCS) method Mch20b should be used</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_VerifiedLowLeakageAirHandlingUnit" type="comp:VerifiedLowLeakageAirHandlingUnit">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verified Low Leakage Air Handling Unit Credit from parent CC?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field using data from parent CC.   
If performance path, if parent CC's   Y02_ResidentialHeatingSystemType == VCHP_IndoorUnitDucted Or VCHP_IndoorUnitDuctedAndDuctless Or  VCHP_IndoorUnitDuctless
 result = false 
Else calculated result depending on parent CC data
End If

If result == true, display text Low Leakage Air Handling Unit (LLAHU) method Mch20c should be used</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="true">Low Leakage Air Handling Unit (LLAHU) method Mch20c should be used</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_DuctSystemLeakageComplianceCategory" type="comp:DuctSystemLeakageComplianceCategory">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Compliance Category</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If parent  MCH-01is Mch01b  user selects from list: New display term New, Replacement display term Replacement, Else user selects from list:  Alteration display term Alteration, AlterationUsingSmokeTest display term Alteration using smoke test, New display term New, Replacement display term Replacement, ReplacementUsingSmokeTest display term Replacement using smoke test</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A08_AreDuctsInGarage" type="comp:AreDuctsInGarage">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Portions of Duct Located in Garage?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list: true display term Yes, false display term No</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A09_IsSystemSDHV" type="hvac:IsSystemSDHV">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Is the system type Small Duct High Velocity (SDHV) ?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If system type on the MCH-01 ==  SmallDuctHighVelocityAC Or SmallDuctHighVelocityHP result = true; Else result = false.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A09After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Mch20b Variant</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns2:b>MCH-20b - Low Leakage Ducts in Conditioned Space</ns2:b>
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If DuctSystemLeakageComplianceCategory = New, And VerifiedLowLeakageDuctsConditionedSpace is true, Then MCH-20b - Low Leakage Ducts in Conditioned Space (LLDCS) is the correct version of this document</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Duct Leakage Diagnostic Test</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_AreDuctsEntirelyInConditionedSpace" type="comp:AreDuctsEntirelyInConditionedSpace">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System compliance with visual inspection per RA3.1.4.1.3?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list:   Boolean true value display term: Duct system is located entirely in conditioned space - complies with RA3.1.4.1.3, Boolean false value, display term Parts of the duct system are located outside of conditioned space - does not comply with RA3.1.4.1.3</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="true">Duct system is located entirely in conditioned space - complies with RA3.1.4.1.3</ns1:displayterm>
                           
                           
                           <ns1:displayterm value="false">Parts of the duct system are located outside of conditioned space - does not comply with RA3.1.4.1.3</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B02_LeakageTestCondition" type="comp:LeakageTestCondition">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct Leakage Test Conditions</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled value: TestFinal  This is the only allowable test condition for LLDCS</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B03_LeakageTestMethod" type="comp:LeakageTestMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct Leakage Test Method</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled value:  LeakageToOutside is the only allowable test method for LLDCS</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element fixed="25.0" name="B04_DuctLeakageAllowed" type="comp:DuctLeakageAllowed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Target Allowable Duct Leakage (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled value:  25.0   This is the mandatory target value for LLDCS</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B05_DuctLeakageTestActual" type="comp:DuctLeakageTestActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Duct Leakage Rate from Leakage Test Measurement (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric xxx.x</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B06_DoesDuctLeakageTestPass" type="comp:DoesDuctLeakageTestPass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If B05_DuctLeakageTestActual LTE B04_DuctLeakageAllowed And B01_AreDuctsEntirelyInConditionedSpace == true then result = true display term: System Passes Leakage Test.  Else result = false. display term: System Fails Leakage Test</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements for Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">No Temporary Taping Allowed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">System was tested in its normal operation condition.  No temporary taping allowed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Outside Air (OA) Ducts for Central Fan Integrated (CFI)</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Outside air (OA) duct connections to the central forced air duct system shall not be sealed/taped off during duct leakage testing. OA ducts used for Central Fan Integrated (CFI) Indoor Air Quality ventilation systems, or Central Fan Ventilation Cooling Systems, that utilize dampers that open only when OA is required and automatically close when OA is not required, may configure the OA damper to the closed position during duct leakage testing.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Supply and Return Register Boots</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All supply and return register boots were sealed to the drywall.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Cavities</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Building cavities were not used as plenums or platform returns in lieu of ducts.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Cloth Backed Tape</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If cloth backed tape was used it was covered with Mastic and draw bands.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">All Connection Points Sealed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All connection points between the air handler and the supply and return plenums are completely sealed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="CEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF2RMCH20bH" type="CF2RMCH20bH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF2RMCH20bH compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
