deployed/ArchivedVariantSourceForSimplifiedReports/CF3RMCH20eH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/dtyp" xmlns:ns2="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH20eH" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF3RMCH20eH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Duct Leakage Diagnostic Test" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH20e Sealing All Accessible Leaks Using Smoke Test" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="e" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF3RMCH20eH"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF3RMCH20eH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF3RMCH20eH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Duct Leakage Diagnostic Test - MCH20e Sealing All Accessible Leaks Using Smoke Test</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section parent MCH-20 refers to the parent CF2R-MCH-20 and parent MCH-01 refers to the parent CF2R-MCH-01 and parent CC refers to the parent CF1R Certificate of Compliance (CC)</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_ResidentialLowriseBuildingType" type="com:ResidentialLowriseBuildingType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Type from parent CC</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_VerifiedLowLeakageDuctsConditionedSpace" type="comp:VerifiedLowLeakageDuctsConditionedSpace">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verified Low Leakage Ducts in Conditioned Space (VLLDCS) Credit from parent CC?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="true">Low Leakage Ducts in Conditioned Space (LLDCS) method Mch20b should be used</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A06_VerifiedLowLeakageAirHandlingUnit" type="comp:VerifiedLowLeakageAirHandlingUnit">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verified Low Leakage Air Handling Unit Credit from parent CC?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                        
                        <xs:appinfo source="displayterm">
                           
                           
                           <ns1:displayterm value="true">Low Leakage Air Handling Unit (LLAHU) method Mch20c should be used</ns1:displayterm>
                           
                        
                        </xs:appinfo>
                        
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A07_DuctSystemLeakageComplianceCategory" type="comp:DuctSystemLeakageComplianceCategory">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Compliance Category</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Data from parent MCH-20</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A08_AreDuctsInGarage" type="comp:AreDuctsInGarage">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Portions of Duct Located in Garage?</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A09_IsSystemSDHV" type="hvac:IsSystemSDHV">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Is the system type Small Duct High Velocity (SDHV) ?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If system type on the MCH-01 ==  SmallDuctHighVelocityAC Or SmallDuctHighVelocityHP result = true; Else result = false.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="A09After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Mch20e Variant</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns2:b>MCH-20e - Sealing All Accessible Leaks using Smoke Test</ns2:b>
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If A07_DuctSystemLeakageComplianceCategory =  Replacement Using Smoke Test Or Alteration Using Smoke Test Then MCH-20e- Sealing All Accessible Leaks using Smoke Test  is the correct version of this document</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Duct Leakage Diagnostic Test</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section parent MCH-20 refers to the parent CF2R-MCH-20</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_AirflowMethod" type="comp:AirflowMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Air Handling Unit Airflow (AHU Airflow) Determination Method</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list CoolingSystemMethod display term Cooling system method, DefaultAirFlowMethod display term Default air flow method, HeatingSystemMethod display term Heating system method, MeasuredAirFlowMethod display term Measured air flow method, IndoorUnitMethod display term Indoor unit method</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B02_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Condenser Nominal Cooling Capacity (ton)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod ==CoolingSystemMethod user input numeric x.xx stored in CondenserNominalCoolingCapacity  Else result =  N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Condenser Nominal Cooling Capacity (ton)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod ==CoolingSystemMethod user input numeric x.xx stored in CondenserNominalCoolingCapacity  Else result =  N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B03_IndoorUnitNominalCoolingCapacity" type="hvac:IndoorUnitNominalCoolingCapacity">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Indoor Unit Nominal Cooling Capacity</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == IndoorUnitMethod user input numeric x.xx stored in IndoorUnitNominalCoolingCapacity   Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Indoor Unit Nominal Cooling Capacity</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == IndoorUnitMethod user input numeric x.xx stored in IndoorUnitNominalCoolingCapacity   Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B04_HeatingCapacity" type="hvac:HeatingCapacity">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Heating Capacity (kBtu/h)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == HeatingSystemMethod user input numeric xxx.x  Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Heating Capacity (kBtu/h)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == HeatingSystemMethod user input numeric xxx.x  Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B05_HvacSystemConditionedFloorArea" type="hvac:HvacSystemConditionedFloorArea">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Conditioned Floor Area Served by this HVAC System (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == DefaultAirFlowMethod user input numeric xx,xxx Else result = N/A stored in NotApplicableMessage 
( should be consistent with  parent MCH-20 data)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">
                              Conditioned Floor Area Served by this HVAC System (ft
                              <ns2:sup>2</ns2:sup>
                              )
                           </xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == DefaultAirFlowMethod user input numeric xx,xxx Else result = N/A stored in NotApplicableMessage 
( should be consistent with  parent MCH-20 data)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B06_AHU_AirflowMeasured" type="comp:AHU_AirflowMeasured">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Measured AHU Airflow (cfm)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == MeasuredAirFlowMethod user input numeric  x,xxx Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Measured AHU Airflow (cfm)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If B01_AirflowMethod == MeasuredAirFlowMethod user input numeric  x,xxx Else result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element fixed="TestFinal" name="B07_LeakageTestCondition" type="comp:LeakageTestCondition">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct Leakage Test Conditions</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">TestFinal is the only allowable test condition for Replacement or Alteration using Smoke Test</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element fixed="TotalLeakage" name="B08_LeakageTestMethod" type="comp:LeakageTestMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct Leakage Test Method</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">TotalLeakage is the only allowable test condition for Replacement or Alteration using Smoke Test</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B09_DuctSystemLeakageFactor" type="comp:DuctSystemLeakageFactor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Leakage Factor</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  All conditions include B07_LeakageTestCondition==TestFinal And B08_LeakageTestMethod==TotalLeakage, the only values allowed for Alteration using Smoke Test or Replacement using Smoke Test

If A07_DuctSystemLeakageComplianceCategory == Alteration using Smoke Test result = 0.10 
Else If A07_DuctSystemLeakageComplianceCategory == Replacement Using Smoke Test 
Then If A04_ResidentialLowriseBuildingType == SingleFamily  result = 0.06 
End If
Else provide applicable error message for invalid entries
End If</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B10_DuctLeakageAllowed" type="comp:DuctLeakageAllowed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Calculated Target Allowable Duct Leakage (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Switch (A01_AirflowMethod)  
case DefaultAirflowMethod: result = PRODUCT (B05_HvacSystemConditionedFloorArea, 0.5, B09_DuctSystemLeakageFactor); 
case CoolingSystemMethod: 
If A09_IsSystemSDHV == false result = PRODUCT (B02_CondenserNominalCoolingCapacity, 400, B09_DuctSystemLeakageFactor); 
Else If A09_IsSystemSDHV == true result = PRODUCT (B02_CondenserNominalCoolingCapacity, 250, B09_DuctSystemLeakageFactor); 
End If
case HeatingSystemMethod: result = PRODUCT (B04_HvacSystemHeatingCapacity, 21.7,  B09_ DuctSystemLeakageFactor);  
case MeasuredAirflowMethod: result = PRODUCT (AHU_AirflowMeasured, B09_ DuctSystemLeakageFactor); 
case IndoorUnitMethod: result = PRODUCT (B03_IndoorUnitNominalCoolingCapacity, 350, B09_ DuctSystemLeakageFactor).
End Switch</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B11_DuctLeakageTestActual" type="comp:DuctLeakageTestActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Duct Leakage Rate from Leakage Test Measurement (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input numeric xxx.x</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B12_DuctLeakageTestStatusUsingSmokeTest">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If  B11_DuctLeakageTestActual LTE DuctLeakageAllowed result = PassAllowableDuctLeakageRate, display term:    System Passes - System Complies With Allowable Duct Leakage Rate Criterion.   Else user selects from these two results: result = FailUsingSmokeTest display term System fails the smoke test of an altered HVAC system in an existing building Or result = PassUsingSmokeTestRes   display term: System Passes Using Smoke Test On Altered System In Existing Building... (complete display term in base definition)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:DuctLeakageTestStatusUsingSmokeTest">
                           
                           
                           <xs:enumeration value="FailUsingSmokeTest"/>
                           
                           
                           <xs:enumeration value="PassAllowableDuctLeakageRate"/>
                           
                           
                           <xs:enumeration value="PassUsingSmokeTestRes"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B13_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If CF2R-MCH-20 values for : B02_CondenserNominalCoolingCapacity, B03_IndoorUnitNominalCoolingCapacity, B04_HvacSystemHeatingCapacity or B05_ HvacSystemConditionedFloorArea != CF3R-MCH-20 values for same fields display text: "The installed cooling capacity, heating capacity or CFA served does not match the Installation Certificate."  Else this field is not required.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Ducts Located in Garage Spaces</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required if A08_AreDuctsInGarage== true.</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element fixed="TotalLeakage" name="C01_LeakageTestMethod" type="comp:LeakageTestMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct Leakage Test Method</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled value = TotalLeakage (this is the only method allowed)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_DuctSystemLeakageFactor" type="comp:DuctSystemLeakageFactor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Leakage Factor</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled value = 0.06</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C03_AirflowMethod" type="comp:AirflowMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Air Handling Unit Airflow (AHU Airflow) Determination Method</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled from  B01_AirflowMethod</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="C04_AHU_AirflowMeasured" type="comp:AHU_AirflowMeasured">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Measured AHU Airflow (cfm)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto-filled from B06_AHU_AirflowMeasured</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="C04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Measured AHU Airflow (cfm)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto-filled from B06_NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="C05_DuctLeakageAllowed" type="comp:DuctLeakageAllowed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Calculated Target Allowable Duct Leakage (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Switch (A01_AirflowMethod)  
case CoolingSystemMethod: result = PRODUCT (B02_CondenserNominalCoolingCapacity, 400, 0.06);  
case HeatingSystemMethod: result = PRODUCT (B04_HvacSystemHeatingCapacity, 21.7,  0.06);  
case MeasuredAirflowMethod: result = PRODUCT (AHU_AirflowMeasured, 0.06); 
case IndoorUnitMethod: result = PRODUCT (B03_IndoorUnitNominalCoolingCapacity, 350, 0.06).
End Switch</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C06_DuctLeakageTestActual" type="comp:DuctLeakageTestActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Duct Leakage Rate from Leakage Test Measurement (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto-filled from B11_DuctLeakageTestActual</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C07_DoesGarageDuctLeakageTestPass" type="comp:DoesGarageDuctLeakageTestPass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">
                           If  B11_DuctLeakageTestActual LTE B10_DuctLeakageAllowed result = true display term Ducts in garage passes - overall system leakage complies  Else result = false display term Ducts in garage passes using smoke test of an altered HVAC system in an existing building 
                           <ns2:l t="*">
                               
                              <ns2:list> No visible smoke exits the accessible portions of the ducts in the garage.</ns2:list>
                           </ns2:l>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements for Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">No Temporary Taping Allowed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">System was tested in its normal operation condition.  No temporary taping allowed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Outside Air (OA) Ducts for Central Fan Integrated (CFI)</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Outside air (OA) duct connections to the central forced air duct system shall not be sealed/taped off during duct leakage testing. OA ducts used for Central Fan Integrated (CFI) Indoor Air Quality ventilation systems, or Central Fan Ventilation Cooling Systems, that utilize dampers that open only when OA is required and automatically close when OA is not required, may configure the OA damper to the closed position during duct leakage testing.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Supply and Return Register Boots</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All supply and return register boots were sealed to the drywall.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Cavities</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Building cavities were not used as plenums or platform returns in lieu of ducts.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Cloth Backed Tape</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If cloth backed tape was used it was covered with Mastic and draw bands.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">All Connection Points Sealed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All connection points between the air handler and the supply and return plenums are completely sealed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D07">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Smoke Test method</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If the system complies using the Smoke Test method, the smoke test was conducted in accordance with the requirements of Reference Residential Appendix RA3.1.4.3.6.  Systems that comply using smoke test shall not be included in sample groups for HERS verification compliance.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D08_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verification Status:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User picks from list: Pass, Fail or N/A</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D09_SectionCorrectionNotes" type="comp:SectionCorrectionNotes">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Correction Notes:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">if Verification Status= Fail, then text entry in this Corrections Notes field is required;  user input text</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="DEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Determination of HERS Verification Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="E_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If B12_DuctLeakageTestStatusUsingSmokeTest  == PassAllowableDuctLeakageRate And  D08_DoesSystemComplyWithRequirements != Fail then result = true display term: Complies: All specified verification protocol requirements on this document are met.  Else result = false display term: Does not comply: One or more specified verification protocol requirements on this document are not met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF3RMCH20eH" type="CF3RMCH20eH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF3RMCH20eH compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
