deployed/ArchivedVariantSourceForSimplifiedReports/CF3RMCH22aH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH22aH" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF3RMCH22aH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Space Conditioning System Fan Efficacy" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH22a Forced Air System Fan Efficacy Measurement - Newly Installed Non-Zoned Systems or Zoned Multi-Speed Compressor" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="a" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF3RMCH22aH"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF3RMCH22aH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF3RMCH22aH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Space Conditioning System Fan Efficacy - MCH22a Forced Air System Fan Efficacy Measurement - Newly Installed Non-Zoned Systems or Zoned Multi-Speed Compressor</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Ducted Cooling System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF3R-MCH23</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_ResidentialCoolingSystemName" type="hvac:ResidentialCoolingSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_ImprovementStatus">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System Installation Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="hvac:ImprovementStatus">
                           
                           
                           <xs:enumeration value="Alteration"/>
                           
                           
                           <xs:enumeration value="New"/>
                           
                           
                           <xs:enumeration value="Replacement"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A06_CondenserSpeedType" type="hvac:CondenserSpeedType">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Condenser Speed Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Condenser Speed Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A07_ResidentialCoolingZoneType" type="hvac:ResidentialCoolingZoneType">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Cooling System Zonal Control Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A07_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Cooling System Zonal Control Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A08_IsVentilationSystemCFI" type="comp:IsVentilationSystemCFI">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central  Fan Integrated (CFI) Ventilation System Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A09_HasBypassDuct" type="hvac:HasBypassDuct">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">System Bypass Duct Status</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A09_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">System Bypass Duct Status</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23 which allows NotApplicable</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A10_AirflowRateMeasurementDate" type="comp:AirflowRateMeasurementDate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Date of System Airflow Rate Measurement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A11_AirflowRateMeasurementProtocol" type="comp:AirflowRateMeasurementProtocol">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Airflow Rate Protocol utilized</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A12_CFVCS_Type" type="comp:CFVCS_Type">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Central Fan Ventilation Cooling System Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Fan Watt Measurement Apparatus and Procedure Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF3R-MCH23</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           <ns1:i>Instrument Specifications are given in RA3.3.1, and system fan watt measurement apparatus information is given in RA3.3.2.2.</ns1:i>
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B01_FanWattMeterType" type="comp:FanWattMeterType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fan Watt Verification Device Used.</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input:  For choice PortableWattMeter display text: Portable watt meter  For choice AnalogUtilityWattMeter display text: Analog Utility Revenue Meter (spinning wheel type)  For DigitalUtilityWattMeter display text: Digital Utility Revenue Meter</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B01After">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Mch22a Variant</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">MCH-22a Forced Air System Fan Efficacy Measurement - Newly Installed Non-Zoned Systems or Zoned Multi-Speed Compressor</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If MCH23 variant == MCH23a variant result  = MCH-22a; Else If MCH23 variant == MCH23b variant result  = MCH-22b; Else If MCH23 variant == MCH23e variant result  = MCH-22c;  Else If MCH23 variant == MCH23f variant result  = MCH-22d; Else If  MCH23 variant == MCH23c, And A07_ResidentialCoolingZoneType == ZoneControlled And A06_CondenserSpeedType == SingleSpeed variant result  = MCH-22b  Else variant result  = MCH-22a;  Else If  MCH23 variant == MCH23d, And A12_CFVCS_Type == VariableCFVCS Or FixedCFVCS variant result  = MCH-22c  Else variant result  = MCH-22a;  Use the variant result for the remainder of this compliance document.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Forced Air System Fan Efficacy Measurement</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF3R-MCH23  and MCH-01 refers to the project CF2R-MCH-01</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The procedures for System Fan Watt Verification are specified in Reference Residential Appendix RA3.3</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C01_FanPowerActual" type="hvac:FanPowerActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Tested Watts</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User input, numeric value xx.xx</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Tested Airflow from MCH-23 (cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Referenced from MCH-23 (make sure to reference tested airflow value and not target airflow value</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Required Fan Efficacy (Watts/cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If parent document == MCH-01a or MCH01d, then reference its value in C09_MaximumCoolingWperCFM;  Else If parent document == MCH-01b Or Mch01c   If MCH01b- C06 or Mch01c - B05 ResidentialCoolingSystemType  == SmallDuctHighVelocityHP Or SmallDuctHighVelocityAC result = 0.62  Else If  MCH01b - C02 Or Mch01c - B02 ResidentialHeatingSystemType  == CentralGasFurnace Or GasPackagedFurnace result = 0.45 Else result = 0.58</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C04_FanEfficacy" type="hvac:FanEfficacy">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Fan Efficacy (watts/cfm)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: C01/C02 FanPowerActual divided by AirflowMeasuredRate</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C05_DoesSystemFanEfficacyComply" type="comp:DoesSystemFanEfficacyComply">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If FanEfficacy LTE FanEfficacyRequired result = true display term: System fan efficacy complies.  Else result =  false display term   System does not comply with fan efficacy requirement.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">All registers fully open</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All registers were fully open during the diagnostic test.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">System fan testing speed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">System fan was set at maximum speed during the diagnostic test.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fresh Air Duct</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If fresh air duct is part of the HVAC system it was not closed during the diagnostic test.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D04">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fan Efficacy tested value</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Airflow rate and fan watt draw shall be simultaneous measurements when used to calculate the Fan Efficacy tested value.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D05">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Multi-speed compressor</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Multi-speed compressor space cooling systems or variable speed compressor systems shall verify air flow (cfm/ton) and fan efficacy (Watt/cfm) with system operating in cooling mode at the maximum compressor speed and the maximum air handler fan speed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D06">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Single speed compressors</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Zoned cooling air distribution systems with single speed compressors shall meet both the airflow (cfm/ton) and fan efficacy (Watt/cfm) criteria in every zonal control mode.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D07">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Portable Meter</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Portable watt meters used for measurements of air handler watt draws shall be true power measurement systems (i.e. sensor plus data acquisition system) having an accuracy of +-  2% of reading or +- 10 Watts whichever is greater</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D08_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verification Status</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D09_SectionCorrectionNotes" type="comp:SectionCorrectionNotes">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Correction Notes</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If Verification Status= Fail, then text entry in this Corrections Notes field is required</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="DEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Determination of HERS Verification Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="E_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="E01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If C05_DoesSystemFanEfficacyComply == true and D08_DoesSystemComplyWithRequirements Not== Fail  result = true display term   Complies:  All specified verification protocol requirements on this document are met;   Else result = false display term   Does not comply:  One or more specified verification protocol requirements on this document are not met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF3RMCH22aH" type="CF3RMCH22aH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF3RMCH22aH compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
