deployed/ArchivedVariantSourceForSimplifiedReports/CF3RMCH24cH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH24cH" version="2016.1.006">
   
    
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
    
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
    
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
    
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
    
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
    
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
    
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   

    
   <xs:element name="ComplianceDocumentPackage">
      
        
      <xs:complexType>
         
            
         <xs:sequence>
            
                
            <xs:element minOccurs="0" name="DocID">
               
                    
               <xs:complexType>
                  
                        
                  <xs:attribute fixed="CF3RMCH24cH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                        
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                        
                  <xs:attribute fixed="Building Air Leakage Diagnostic Test Worksheet - Building Enclosures and Dwelling Unit Enclosures" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                        
                  <xs:attribute fixed="MCH24c Multi-Point Air Tightness Test" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                        
                  <xs:attribute fixed="c" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
                    
               </xs:complexType>
               
                
            </xs:element>
            
                
            <xs:element name="Payload" type="comp:Payload"/>
            
                
            <xs:element name="DocumentData">
               
                    
               <xs:complexType>
                  
                        
                  <xs:sequence>
                     
                            
                     <xs:element name="Header" type="comp:HeaderCF2R_3R"/>
                     
                            
                     <xs:element ref="cF3RMCH24cH"/>
                     
                            
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                            
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     
                            
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                        
                  </xs:sequence>
                  
                    
               </xs:complexType>
               
                
            </xs:element>
            
                
            <xs:element name="Report" type="xsd:base64Binary"/>
             
            
         </xs:sequence>
         
            
         <xs:attribute fixed="rev 10/1/2016" name="revision" type="xsd:string" use="required"/>
         
            
         <xs:attribute fixed="CF3RMCH24cH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
        
      </xs:complexType>
      
    
   </xs:element>
   

   <xs:complexType name="CF3RMCH24cH">
      
    
      <xs:annotation>
         
        
         <xs:documentation>Building Leakage Worksheet - MCH24c Multi-Point Air Tightness Test</xs:documentation>
         
    
      </xs:annotation>
      
    
      <xs:sequence>
         
        
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Building Air Leakage - General Information</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  

            
                  <xs:element name="A01_TestTemperatureIndoor" type="comp:TestTemperatureIndoor">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">
                           Indoor Temperature During Test (
                           <ns1:deg/>
                           F)
                        </xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  degrees F</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="A02_TestTemperatureOutdoor" type="comp:TestTemperatureOutdoor">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">
                           Outdoor Temperature During Test (
                           <ns1:deg/>
                           F)
                        </xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  degrees F</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="A03_BlowerDoorLocation" type="comp:BlowerDoorLocation">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Blower Door Location</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="A04_Elevation" type="com:Elevation">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Building Elevation (ft)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Ft</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="A05_TotalConditionedVolume" type="com:TotalConditionedVolume">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">
                           Building Volume (ft
                           <ns1:sup>3</ns1:sup>
                           )
                        </xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Data from project CF-1R</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="A06_TestDate" type="comp:TestDate">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Date of Diagnostic Test for this Dwelling</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  date (use date format validation control)</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Diagnostic Equipment Information</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  

            
                  <xs:element name="B01_ManometerCount" type="comp:ManometerCount">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Number of Manometers Used to Measure Home Pressurization</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  integer.  If ManometerCount is greater than 1, provide a row for each manometer in ManometerCount to record its data</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="Table">
                     
            
                     <xs:complexType>
                        
            
                        <xs:sequence>
                           
              
                           <xs:element maxOccurs="unbounded" name="Row">
                              
              
                              <xs:complexType>
                                 
              
                                 <xs:sequence>
                                    

            
                                    <xs:element name="B02_ManometerMake" type="comp:ManometerMake">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Manometer Make</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B03_ManometerModel" type="comp:ManometerModel">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Manometer Model</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B04_ManometerSerialNumber" type="comp:ManometerSerialNumber">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Manometer Serial Number</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B05_ManometerCalibrationDate" type="comp:ManometerCalibrationDate">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Manometer Calibration Date</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B06_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Manometer Calibration Status</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">If ManometerCalibrationDate  is within 12 months of the diagnostic TestDate in section A, then result is true.  For Boolean true value display text:   Manometer Calibration is valid.  Else result is false.  For Boolean false value display text: WARNING -  Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Building Leakage Worksheet measurement procedure.</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

              
                                 </xs:sequence>
                                 
              
                              </xs:complexType>
                              
              
                           </xs:element>
                           
            
                        </xs:sequence>
                        
            
                     </xs:complexType>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="B07_FanCount" type="comp:FanCount">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Number of Fans Used to Pressurize Home</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  integer.  If BlowerDoorFanCount is greater than 1, provide a row for each fan in BlowerDoorFanCount to record its data</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="Table2">
                     
            
                     <xs:complexType>
                        
            
                        <xs:sequence>
                           
              
                           <xs:element maxOccurs="unbounded" name="Row">
                              
              
                              <xs:complexType>
                                 
              
                                 <xs:sequence>
                                    

            
                                    <xs:element name="B08_FanMake" type="comp:FanMake">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Fan Make</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B09_FanModel" type="comp:FanModel">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Fan Model</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B10_FanSerialNumber" type="comp:FanSerialNumber">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Fan Serial Number</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

            
                                    <xs:element name="B11_FanConfiguration" type="comp:FanConfiguration">
                                       
                
                                       <xs:annotation>
                                          
                    
                                          <xs:documentation source="FieldText">Fan Configuration (rings)</xs:documentation>
                                          
                    
                                          <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                                          
                
                                       </xs:annotation>
                                       
            
                                    </xs:element>
                                    

              
                                 </xs:sequence>
                                 
              
                              </xs:complexType>
                              
              
                           </xs:element>
                           
            
                        </xs:sequence>
                        
            
                     </xs:complexType>
                     
            
                  </xs:element>
                  

            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Envelope Leakage Worksheet - Depressurization -    MCH24c  -  Multi-Point Air Tightness Test</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  

            
                  <xs:element name="C01_ASTM_E779_10Software" type="comp:ASTM_E779_10Software">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Name and version of ASTM E779-10 compliant software used for multi-point test.</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C02_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Pre-test baseline building pressure</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C03_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Time average period of meter</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Value entered by user must be no less than 10 seconds</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element fixed="Depressurization" name="C04_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Test Methodology</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Fixed value Depressurization</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C05_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Target</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Use Calculation: -60 plus  BuildingPressureReadingPreTest.   Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C06_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Measured</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C07_BuildingPressureInduced" type="comp:BuildingPressureInduced">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Induced building pressure</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Report result from subtracting  BuildingPressureReadingPreTest
 from BuildingPressureMeasuredUnadjusted</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C08_MinReadingAcknowledge" type="comp:MinReadingAcknowledge">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">A minimum of eight readings were taken spaced evenly between 15 Pa and 60 Pa (or highest attainable pressure)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input to acknowledge this requirement; Boolean value - for true display choice Yes and for false display choice No</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C09_BuildingPressureReadingPostTest" type="comp:BuildingPressureReadingPostTest">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Post-test baseline building pressure</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="C10_CFM50SoftwareCorrected" type="comp:CFM50SoftwareCorrected">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Corrected CFM50 (from software)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input of value calculated by the software.  Resolution of 1 CFM</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element minOccurs="0" name="C10After">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Multifamily note</xs:documentation>
                        
                    
                        <xs:documentation source="AdditionalRequirements">
                           Note:
                           <ns1:line1/>
                            
                           <ns1:l t="*">
                               
                              <ns1:list> For multifamily, each dwelling unit must be tested individually and shown to meet the leakage requirements. Pressurization of the adjacent dwelling units while conducting this test is not allowed. </ns1:list>
                           </ns1:l>
                        </xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="0" name="Section_D">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Altitude and Temperature Correction  (not used, performed by blower door software)</xs:documentation>
               
            
            </xs:annotation>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="1" name="Section_E">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Accuracy Adjustment</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  

            
                  <xs:element name="E01_SoftwareTestPercentUncertainty" type="comp:SoftwareTestPercentUncertainty">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Percent Uncertainty at 95% confidence level (from software)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Calculated by software. The value represented should be percent and not a fraction.</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="E02_SoftwareTestAccuracy" type="comp:SoftwareTestAccuracy">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Accuracy Level</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestPercentUncertainty is less than or equal to 10, report Standard, else report Reduced</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="E03_TestAccuracyFactor" type="comp:TestAccuracyFactor">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Accuracy Adjustment factor</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestAccuracy is Standard report 1, Else If SoftwareTestAccuracy is Reduced report 1+ (SoftwareTestPercentUncertainty  divided by 100)</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="E04_CFM50Depressurization" type="comp:CFM50Depressurization">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Adjusted CFM50 Depressurization   (measured air leakage rate)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Report result of calculation - NominalCFM50 in section C times TestAccuracyFactor</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="1" name="Section_F">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Envelope Leakage Worksheet - Pressurization -    MCH24c  -  Multi-Point Air Tightness Test</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  

            
                  <xs:element name="F01_ASTM_E779_10Software" type="comp:ASTM_E779_10Software">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Name and version of ASTM E779-10 compliant software used for multi-point test.</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  maximum 50 characters</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F02_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Pre-test baseline building pressure</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F03_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Time average period of meter</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Value entered by user must be no less than 10 seconds</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element fixed="Pressurization" name="F04_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Test Methodology</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Fixed value Pressurization</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F05_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Target</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Use Calculation: 60 plus  BuildingPressureReadingPreTest.   Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F06_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Unadjusted Building Pressure Measured</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input;  Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F07_BuildingPressureInduced" type="comp:BuildingPressureInduced">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Induced building pressure</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Report result from subtracting  BuildingPressureReadingPreTest
 from BuildingPressureMeasuredUnadjusted</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F08_MinReadingAcknowledge" type="comp:MinReadingAcknowledge">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">A minimum of eight readings were taken spaced evenly between 15 Pa and 60 Pa (or highest attainable pressure)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input to acknowledge this requirement; Boolean value - for true display choice Yes and for false display choice No</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F09_BuildingPressureReadingPostTest" type="comp:BuildingPressureReadingPostTest">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Post-test baseline building pressure</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input; Resolution of 0.1 Pa</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="F10_CFM50SoftwareCorrected" type="comp:CFM50SoftwareCorrected">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Corrected CFM50 (from software)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">User input of value calculated by the software.  Resolution of 1 CFM</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element minOccurs="0" name="F10After">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Multifamily note</xs:documentation>
                        
                    
                        <xs:documentation source="AdditionalRequirements">
                           Note:
                           <ns1:line1/>
                            
                           <ns1:l t="*">
                               
                              <ns1:list> For multifamily, each dwelling unit must be tested individually and shown to meet the leakage requirements. Pressurization of the adjacent dwelling units while conducting this test is not allowed. </ns1:list>
                           </ns1:l>
                        </xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="0" name="Section_G">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Altitude and Temperature Correction (not used, performed by blower door software)</xs:documentation>
               
            
            </xs:annotation>
            
        
         </xs:element>
         

        
         <xs:element maxOccurs="1" minOccurs="1" name="Section_H">
            
            
            <xs:annotation>
               
                
               <xs:documentation source="FieldText">Accuracy Adjustment</xs:documentation>
               
                
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
            
               <xs:sequence>
                  

            
                  <xs:element name="H01_SoftwareTestPercentUncertainty" type="comp:SoftwareTestPercentUncertainty">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Percent Uncertainty at 95% confidence level (from software)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Calculated by software. The value represented should be percent and not a fraction.</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="H02_SoftwareTestAccuracy" type="comp:SoftwareTestAccuracy">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Accuracy Level</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestPercentUncertainty is less than or equal to 10, report Standard, else report Reduced</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="H03_TestAccuracyFactor" type="comp:TestAccuracyFactor">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Accuracy Adjustment factor</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">If SoftwareTestAccuracy is Standard report 1, Else If SoftwareTestAccuracy is Reduced report 1+ (SoftwareTestPercentUncertainty  divided by 100)</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
                  <xs:element name="H04_CFM50Pressurization" type="comp:CFM50Pressurization">
                     
                
                     <xs:annotation>
                        
                    
                        <xs:documentation source="FieldText">Adjusted CFM50 Pressurization   (measured air leakage rate)</xs:documentation>
                        
                    
                        <xs:documentation source="CalculationsAndRules">Report result of calculation - NominalCFM50 in section F  times TestAccuracyFactor</xs:documentation>
                        
                
                     </xs:annotation>
                     
            
                  </xs:element>
                  

            
               </xs:sequence>
               
            
            </xs:complexType>
            
        
         </xs:element>
         

    
      </xs:sequence>
      

   </xs:complexType>
   


   <xs:element name="cF3RMCH24cH" type="CF3RMCH24cH">
      
  
      <xs:annotation>
         
    
         <xs:documentation>This element contains all of the data and text required to generate the CF3RMCH24cH compliance report.</xs:documentation>
         
   
      </xs:annotation>
      

   </xs:element>
   


</xs:schema>
