deployed/ArchivedVariantSourceForSimplifiedReports/NRCVMCH04dH.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/NRCVMCH04dH" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="NRCVMCH04dH" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Duct Leakage Diagnostic Test" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
                  
                  <xs:attribute fixed="MCH04d Altered Duct System" name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  
                  
                  <xs:attribute fixed="d" name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="nRCVMCH04dH"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonNRCV"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="NRCVMCH04dH" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="NRCVMCH04dH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Duct Leakage Diagnostic Test - MCH04d Altered Duct System</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">System Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="A01_SpaceConditioningSystemName" type="hvac:SpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Identification or Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input, text, maximum 50 characters</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_HvacSystemAreaServed" type="hvac:HvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Space Conditioning System Location or Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input, text, maximum 50 characters</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Indoor Unit Name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input, text, maximum 50 characters</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_VerifiedLowLeakageAirHandlingUnit" type="comp:VerifiedLowLeakageAirHandlingUnit">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verified Low Leakage Air-Handling Unit Credit</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from true display term Yes or false display term No</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_DuctSystemLeakageComplianceCategory">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Duct System Compliance Category</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from  list: New, Alteration, AlterationUsingSmokeTest</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:DuctSystemLeakageComplianceCategory">
                           
                           
                           <xs:enumeration value="Alteration"/>
                           
                           
                           <xs:enumeration value="AlterationUsingSmokeTest"/>
                           
                           
                           <xs:enumeration value="New"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Duct Leakage Diagnostic Test - MCH-04d - Altered Duct System</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">If A05_DuctSystemLeakageComplianceCategory == Alteration Then MCH-04d - Altered Duct System is the correct version of this document.</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="B01_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Condenser Nominal Cooling Capacity (ton)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input, number xx.xx</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B02_HeatingCapacity" type="hvac:HeatingCapacity">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Heating Capacity (kBtu/h)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input, number  xxx</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element fixed="0.15" name="B03_DuctSystemLeakageFactor" type="comp:DuctSystemLeakageFactor">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Leakage Factor</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Fixed value LeakageFactor=0.15</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B04_AirflowMethod">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Air Handling Unit Airflow (AHUAirflow) Determination Method</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from two values: CoolingSystemMethod and HeatingSystemMethod</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="comp:AirflowMethod">
                           
                           
                           <xs:enumeration value="CoolingSystemMethod"/>
                           
                           
                           <xs:enumeration value="HeatingSystemMethod"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B05_DuctLeakageAllowed" type="comp:DuctLeakageAllowed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Calculated Target Allowable Duct Leakage (cfm25)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field: If B04_AirflowMethod == CoolingSystemMethod result = PRODUCT ( B01_CondenserNominalCoolingCapacity,   400, B03_DuctSystemLeakageFactor  Else If B04_AirflowMethod == HeatingSystemMethod result = PRODUCT( B02_PlantHeatingCapacity, 21.7, B03_DuctSystemLeakageFactor)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B06_DuctLeakageTestActual" type="comp:DuctLeakageTestActual">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Actual Duct Leakage Rate from Leakage Test Measurement (cfm25)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">user input: numeric xxx.x</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="B07_DoesDuctLeakageTestPass" type="comp:DoesDuctLeakageTestPass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field: If  B06_DuctLeakageTestActual LTE B05_DuctLeakageAllowed result = true display term  System Passes Leakage Test.  Else result = false display term System Fails Leakage Test</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Additional Requirements for Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C01">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Testing under normal operation condition</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">System was tested in its normal operation condition.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C02">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Cloth Backed Tape</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Cloth backed rubber adhesive duct tape may not be used as the primary air sealing method for duct connections.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C03">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">All Connection Points Sealed</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All connection points between the air handler and the supply and return plenums are completely sealed.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C04_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verification Status:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C05_SectionCorrectionNotes" type="comp:SectionCorrectionNotes">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Correction Notes:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If Verification Status equals Fail, then text entry in this Corrections Notes field is required</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="CEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">End Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">The responsible persons signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Determination of HERS Verification Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D01_DoesNRCV_Pass" type="comp:DoesNRCV_Pass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">calculated field: If B07_DoesDuctLeakageTestPass == true And C04_DoesSystemComplyWithRequirements == Pass or N/A, the result = true display term Complies: All specified verification protocol requirements on this document are met.  Else the result = false display term Does not comply: One or more specified verification protocol requirements on this document are not met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="nRCVMCH04dH" type="NRCVMCH04dH">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the NRCVMCH04dH compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
