deployed/CF3R/CF3RMCH24bH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH24bH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF3RMCH24bH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RMCH24bH">
      <xsd:annotation>
         <xsd:documentation>Building Air Leakage Diagnostic Test Worksheet - Building Enclosures and Dwelling Unit Enclosures - MCH24b Single Point Air Tightness Test With Automatic Meter</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Enclosure Air Leakage - General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_IsEnvelopeAirLeakageHERSVerificationRequired" type="comp:IsEnvelopeAirLeakageHERSVerificationRequired">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is HERS verification of building enclosure air leakage to outside required by MCH-27?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If project MCH27 requires HERS verification of building enclosure air leakage,   result = true display term Required Else result = false display term N/A</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="false">N/A</dtyp:displayterm>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_CompartmentilizationLeakageVerificationRequiredHERS" type="comp:CompartmentilizationLeakageVerificationRequiredHERS">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is HERS verification of dwelling compartmentalization leakage 
                           <d:lte/> 0.3 CFM<d:sub>50</d:sub>/ft<d:sup>2</d:sup> of enclosure area required by MCH-27?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If project MCH27 requires HERS verification of compartmentalization leakage, result = true display term Required Else result = false display term N/A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A03_EnclosureLeakageTargetCFM50" type="comp:EnclosureLeakageTargetCFM50">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Default  Enclosure Air Leakage</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = 2 ACH50 Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Default  Enclosure Air Leakage</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = 2 ACH50 Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A04_TestTemperatureIndoor" type="comp:TestTemperatureIndoor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor Temperature During Test  (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric x.x deg F</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_TestTemperatureOutdoor" type="comp:TestTemperatureOutdoor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Outdoor Temperature During Test  (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric x.x deg F</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_BlowerDoorLocation" type="comp:BlowerDoorLocation">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Blower Door Location</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_Elevation" type="com:Elevation">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Elevation Above Sea level (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer xxxxx</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A08_FloorArea" type="com:FloorArea">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit floor area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit floor area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A09_CeilingArea" type="env:CeilingArea">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit ceiling area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A09_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit ceiling area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A10_ExteriorWallArea" type="env:ExteriorWallArea">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit exterior wall  area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A10_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit exterior wall area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A11_DwellingUnitsSharedWallArea" type="com:DwellingUnitsSharedWallArea">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit wall area shared with other dwelling units (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A11_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit wall area shared with other dwelling units (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else user input numeric xxxxx.x</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A12_DwellingUnitEnclosureArea" type="com:DwellingUnitEnclosureArea">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit enclosure area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = SUM (A08_FloorArea, A09_CeilingArea, A10_ExteriorWallArea, A11_DwellingUnitsSharedWallArea )</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A12_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total dwelling unit enclosure area (ft<d:sup>2</d:sup>)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = SUM (A08_FloorArea, A09_CeilingArea, A10_ExteriorWallArea, A11_DwellingUnitsSharedWallArea )</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A13_BuildingTotalVolume" type="com:BuildingTotalVolume">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Dwelling Unit Volume</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If performance, reference value from CF1R; Else for prescriptive, user input</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A14_CompartmentalizationLeakageTargetCFM50" type="comp:CompartmentalizationLeakageTargetCFM50">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Target dwelling unit compartmentalization leakage (CFM50)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = PRODUCT (A12_DwellingUnitEnclosureArea, 0.3)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A14_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Target dwelling unit compartmentalization leakage (CFM50)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A02_CompartmentilizationLeakageVerificationRequiredHERS == false result  = N/A stored in NotApplicableMessage Else result = PRODUCT (A12_DwellingUnitEnclosureArea, 0.3)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A15_TestDate" type="comp:TestDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Diagnostic Test for this Dwelling</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input date</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A16_AirLeakageTestProcedure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Test Procedure Used</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list:  SinglePointTestManualMeter, display term Single-Point Test with Manual Meter    SinglePointTestAutomaticMeter,  display term Single-Point Test with Automatic Meter</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:AirLeakageTestProcedure">
                           <xsd:enumeration value="SinglePointTestAutomaticMeter"/>
                           <xsd:enumeration value="SinglePointTestManualMeter"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A16After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">MCH24b - Single Point Air Tightness Test With Automatic Meter</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A16_AirLeakageTestProcedure == SinglePointTestAutomaticMeter, Then variant result = MCH24b Single Point Air Tightness Test With Automatic Meter.  Use this variant for the remainder of this document.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Diagnostic Equipment Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01_ManometerCount" type="comp:ManometerCount">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Number of Manometers Used to Measure Home Pressurization</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If ManometerCount GT 1, provide a row for each manometer in ManometerCount to record its data</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableEquipment">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B02_ManometerMake" type="comp:ManometerMake">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Make</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_ManometerModel" type="comp:ManometerModel">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B04_ManometerSerialNumber" type="comp:ManometerSerialNumber">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Serial Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B05_ManometerCalibrationDate" type="comp:ManometerCalibrationDate">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Calibration Date</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input (Date)</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B06_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Calibration Status</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If B05_ManometerCalibrationDate  is within 12 months of the diagnostic A15_TestDate in section A, then result = true  display term   Manometer Calibration is valid.  Else result = false display term WARNING -  Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Enclosure Air Leakage Diagnostic Test</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="B07_FanCount" type="comp:FanCount">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Number of Fans Used to Pressurize Home</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If BlowerDoorFanCount GT 1, provide a row for each fan in BlowerDoorFanCount to record its data</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableFans">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B08_FanMake" type="comp:FanMake">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Make</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B09_FanModel" type="comp:FanModel">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B10_FanSerialNumber" type="comp:FanSerialNumber">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Serial Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B11_FanConfiguration" type="comp:FanConfiguration">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Configuration (rings)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="B11After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Mch24b Variant Banner</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH24b Single Point Air Tightness Test With Automatic Meter</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Enclosure Air Leakage Diagnostic Test</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C01_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Time Average Period of Meter (seconds)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer GTE  10 seconds</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Test Methodology</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Pressurization, Depressurization</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Pre-test Baseline Enclosure Pressure (Pa) (may be positive or negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-40, 40)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04_InducedEnclosurePressureDifference" type="comp:InducedEnclosurePressureDifference">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Difference from Manometer (Pa) Goal = 50 +- 3 (Pressurization is positive; Depressurization is negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-75, 75)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C05_IsInducedPressureWithinRange" type="comp:IsInducedPressureWithinRange">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If ABS  ( C04_InducedEnclosurePressureDifference) GTE 15 Pa, result = true.  display term Induced pressure within range for single point test.  Else result = false display term Induced pressure is too low for single point test.   Do Not Proceed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C06_NominalCFM50" type="comp:NominalCFM50">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Calculated Nominal CFM50</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer (resolution 1 CFM)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Altitude and Temperature Correction</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Calculations">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">NOT REPORTED IN PDF</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da1_OutdoorAirViscosityCorrection" type="comp:OutdoorAirViscosityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 2.629 * 10^-3 * ((A05_TestTemperatureOutdoor+460)^0.5 / (1+(198.7 /  (A05_TestTemperatureOutdoor+460)))); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da1_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 2.629 * 10^-3 * ((A05_TestTemperatureOutdoor+460)^0.5 / (1+(198.7 /  (A05_TestTemperatureOutdoor+460)))); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da2_IndoorAirViscosityCorrection" type="comp:IndoorAirViscosityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result =2.629 * 10^-3 * ((A04_TestTemperatureIndoor+460)^0.5 / (1+(198.7 /  (A04_TestTemperatureIndoor+460))));   Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da2_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result =2.629 * 10^-3 * ((A04_TestTemperatureIndoor+460)^0.5 / (1+(198.7 /  (A04_TestTemperatureIndoor+460))));   Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da3_OutdoorAirDensityCorrection" type="comp:OutdoorAirDensityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 0.07517 * (1-((0.0035666 * A07_Elevation)/528))^(5.2553) * (528/(A05_TestTemperatureOutdoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da3_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Depressurization result = 0.07517 * (1-((0.0035666 * A07_Elevation)/528))^(5.2553) * (528/(A05_TestTemperatureOutdoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da4_IndoorAirDensityCorrection" type="comp:IndoorAirDensityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result = 0.07517 * (1-((0.0035666 * A07_Elevation)/528))^(5.2553) * (528/(A04_TestTemperatureIndoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da4_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If C02_BuildingAirLeakageTestMethod == Pressurization result = 0.07517 * (1-((0.0035666 * A07_Elevation)/528))^(5.2553) * (528/(A04_TestTemperatureIndoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="D01_AltitudeTemperatureCorrectionFactor" type="comp:AltitudeTemperatureCorrectionFactor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Altitude and Temperature Correction Factor</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If C02_BuildingAirLeakageTestMethod == Depressurization result = (Da1_OutdoorAirVicosityCorrection / 0.044)^(2* 0.65-1) * (Da3_OutdoorAirDensityCorrection / 0.07517) ^(1-(0.65));  Else  If C02_BuildingAirLeakageTestMethod == Pressurization result =  (Da2_IndoorAirVicosityCorrection / 0.044)^(2 * 0.65-1) * (Da4_IndoorAirDensityCorrection / 0.07517)^(1-(0.65))</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D02_CFM50TempAltCorrected" type="comp:CFM50TempAltCorrected">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Corrected CFM50</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  PRODUCT (C06__NominalCFM50,  D01_AltitudeTemperatureCorrectionFactor)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D03_ACH50" type="comp:ACH50">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">ACH50</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  ((D02_CFM50TempAltCorrected * 60) div Dwelling Unit Volume from A13_BuildingTotalVolume}</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Accuracy Adjustment</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01_CFM50Adjusted" type="comp:CFM50Adjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Adjusted CFM50 (measured air leakage rate)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: PRODUCT (D02_CFM50TempAltCorrected, 1.1)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Measured Enclosure Air Leakage Rate</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="F01_AirLeakageRateMeasuredACH50" type="comp:AirLeakageRateMeasuredACH50">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Enclosure Air Leakage Rate is: (ACH50)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If B06_IsManometerCalibrationCurrent == false result = false stored in F01_IsManometerCalibrationCurrent display term Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Enclosure Air Leakage   worksheet    Else If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, Then result = PRODUCT ( E01_CFM50Adjusted, 60) /  Dwelling Unit Volume from A13_BuildingTotalVolume stored in F01_AirLeakageRateMeasuredACH50  Else If A02_CompartmentilizationLeakageVerificationRequiredHERS == true Then result = E01_CFM50Adjusted  stored in F01_AirLeakageRateMeasuredCFM50.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="F01_AirLeakageRateMeasuredCFM50" type="comp:AirLeakageRateMeasuredCFM50">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Enclosure Air Leakage Rate is:  (CFM50)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If B06_IsManometerCalibrationCurrent == false result = false stored in F01_IsManometerCalibrationCurrent display term Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Enclosure Air Leakage   worksheet    Else If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, Then result = PRODUCT ( E01_CFM50Adjusted, 60) /  Dwelling Unit Volume from A13_BuildingTotalVolume stored in F01_AirLeakageRateMeasuredACH50  Else If A02_CompartmentilizationLeakageVerificationRequiredHERS == true Then result = E01_CFM50Adjusted  stored in F01_AirLeakageRateMeasuredCFM50.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="F01_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manometer Calibration is expired.</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If B06_IsManometerCalibrationCurrent == false result = false stored in F01_IsManometerCalibrationCurrent display term Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Enclosure Air Leakage   worksheet    Else If A01_IsEnvelopeAirLeakageHERSVerificationRequired == true, Then result = PRODUCT ( E01_CFM50Adjusted, 60) /  Dwelling Unit Volume from A13_BuildingTotalVolume stored in F01_AirLeakageRateMeasuredACH50  Else If A02_CompartmentilizationLeakageVerificationRequiredHERS == true Then result = E01_CFM50Adjusted  stored in F01_AirLeakageRateMeasuredCFM50.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Requirements For Worksheet Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The procedure for preparing the enclosure for testing is detailed in RESNET 380-2016 Section 3.2.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">When multifamily attached dwelling units must comply with the maximum dwelling unit enclosure air leakage specified in Standards Section 150.0(o)1Eii, the test shall be conducted with the dwelling unit as if it were exposed to the outdoor air on all sides, top and bottom by opening doors and windows of adjacent dwelling units as specified by RA3.8.3.1.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The test procedure for installation of the test apparatus, and preparations for measurement shall conform to RESNET 380-2016 Section 3.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The procedure for the conduct of the enclosure air leakage test shall conform to the One-Point Airtightness Test specified in RESNET 380-2016 Section 3.4.1</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RMCH24bH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Building Air Leakage Diagnostic Test Worksheet - Building Enclosures and Dwelling Unit Enclosures"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH24b Single Point Air Tightness Test With Automatic Meter"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="b"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF3RMCH24bH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20221222"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RMCH24bH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF3RMCH24bH" type="CF3RMCH24bH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RMCH24bH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
