deployed/CF3R/CF3RENV20H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RENV20H" version="2025.0.000" xmlns="http://www.lmonte.com/besm/CF3RENV20H" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RENV20H">
      <xsd:annotation>
         <xsd:documentation>Building Air Leakage Diagnostic Test - Building Enclosures and Dwelling Unit Enclosures</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Enclosure Air Leakage - General Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_AirLeakageTestProcedure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Test Procedure Used</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list:  SinglePointTestManualMeter, display term Single-Point Test with Manual Meter    SinglePointTestAutomaticMeter,  display term Single-Point Test with Automatic Meter   MultiPointTest display term Multi-Point Test</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:AirLeakageTestProcedure">
                           <xsd:enumeration value="MultiPointTest"/>
                           <xsd:enumeration value="SinglePointTestAutomaticMeter"/>
                           <xsd:enumeration value="SinglePointTestManualMeter"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A02_TestDate" type="comp:TestDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Diagnostic Test for this Dwelling</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input date</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_IsEnvelopeAirLeakageHERSVerificationRequired" type="comp:IsEnvelopeAirLeakageHERSVerificationRequired">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is ECC verification of building enclosure air leakage to outside required by CF1R?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If project CF1R requires ECC verification of building enclosure air leakage result = true display term Required Else result = false display term N/A</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="true">Required</dtyp:displayterm>
                           <dtyp:displayterm value="false">N/A</dtyp:displayterm>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A04_EnclosureLeakageTargetCFM50" type="comp:EnclosureLeakageTargetCFM50">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Target  Enclosure Air Leakage from CF1R (CFM50)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A03_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = CFM50 target value  from project CF1R Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Target  Enclosure Air Leakage from CF1R</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Calculated field: If A03_IsEnvelopeAirLeakageHERSVerificationRequired == true, result = CFM50 target value  from project CF1R Else result = N/A stored in NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A05_TestTemperatureIndoor" type="comp:TestTemperatureIndoor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor Temperature During Test  (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric x.x deg F</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_TestTemperatureOutdoor" type="comp:TestTemperatureOutdoor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Outdoor Temperature During Test  (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric x.x deg F</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_BlowerDoorLocation" type="comp:BlowerDoorLocation">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Blower Door Location</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A08_Elevation" type="com:Elevation">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Building Elevation Above Sea level (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer xxxxx</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Diagnostic Equipment Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B01_ManometerCount" type="comp:ManometerCount">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Number of Manometers Used to Measure Home Pressurization</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If ManometerCount GT 1, provide a row for each manometer in ManometerCount to record its data</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableEquipment">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B02_ManometerMake" type="comp:ManometerMake">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Make</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B03_ManometerModel" type="comp:ManometerModel">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B04_ManometerSerialNumber" type="comp:ManometerSerialNumber">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Serial Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B05_ManometerCalibrationDate" type="comp:ManometerCalibrationDate">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Calibration Date</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input (Date)</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B06_IsManometerCalibrationCurrent" type="comp:IsManometerCalibrationCurrent">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Manometer Calibration Status</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If B05_ManometerCalibrationDate  is within 12 months of the diagnostic A02_TestDate in section A, then result = true  display term   Manometer Calibration is valid.  Else result = false display term WARNING -  Manometer Calibration is expired. A manometer with current calibration is required in order to comply with this Enclosure Air Leakage Diagnostic Test</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="B07_FanCount" type="comp:FanCount">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Number of Fans Used to Pressurize Home</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If BlowerDoorFanCount GT 1, provide a row for each fan in BlowerDoorFanCount to record its data</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableFans">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="B08_FanMake" type="comp:FanMake">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Make</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B09_FanModel" type="comp:FanModel">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Model</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B10_FanSerialNumber" type="comp:FanSerialNumber">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Serial Number</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element name="B11_FanConfiguration" type="comp:FanConfiguration">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Fan Configuration (rings)</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">User input text maximum 50 characters</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C1" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Enclosure Air Leakage Diagnostic Test for Single-Point Test with Manual Meter</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text " This section does not apply to this project</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure == SinglePointTestManualMeter  this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1spm" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Complete this section entering data for a Single-Point Test with Manual Meter</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm01_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Time Average Period of Meter (seconds)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer GTE  10 seconds</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm02_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Test Methodology</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Pressurization, Depressurization</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm03_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Pre-test Baseline Enclosure Pressure (Pa) (may be positive or negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-40, 40)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm04_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Unadjusted Enclosure Pressure Target (Pa)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field: If Cspm02_BuildingAirLeakageTestMethod == Pressurization result = SUM (50, Cspm03_  BuildingPressureReadingPreTest )  Else result = SUM (-50, Cspm03_  BuildingPressureReadingPreTest )  (resolution of 0.1)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm05_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Unadjusted Enclosure Pressure Measured (Pa) (Pressurization is positive; Depressurization is negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-75, 75)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm06_InducedEnclosurePressureDifference" type="comp:InducedEnclosurePressureDifference">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Difference (Pa) Goal = 50 +- 3 or -50 +-3 (Pressurization is positive; Depressurization is negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: result = Cspm05_BuildingPressureMeasuredUnadjusted - Cspm03_BuildingPressureReadingPreTest</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm07_IsInducedPressureWithinRange" type="comp:IsInducedPressureWithinRange">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If ABS (Cspm06_InducedEnclosurePressureDifference) GTE 15 Pa result = true Else result = false End If True display term = Induced pressure within range for single point test.  False display term = Induced pressure is too low for single point test - Do Not Proceed</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm08_NominalFanFlow" type="comp:NominalFanFlow">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Nominal Fan Flow at Above Fan Pressure (cfm) at the Induced Enclosure Pressure Difference (in C06 above)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input  integer (resolution of 1 CFM)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspm09_NominalCFM50" type="comp:NominalCFM50">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Calculated Nominal CFM50</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated Field: Result = Cspm08_NominalFanFlow x (50 / ABS(Cspm05_BuildingPressureMeasuredUnadjusted - Cspm03_BuildingPressureReadingPreTest))exp 0.65</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C2" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Enclosure Air Leakage Diagnostic Test for Single-Point Test with Automatic Meter</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure == SinglePointTestAutomaticMeter this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Cspa_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Complete this section entering data for a Single-Point Test with Automatic Meter</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspa01_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Time Average Period of Meter (seconds)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer GTE  10 seconds</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspa02_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Test Methodology</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Pressurization, Depressurization</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspa03_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Pre-test Baseline Enclosure Pressure (Pa) (may be positive or negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-40, 40)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspa04_InducedEnclosurePressureDifference" type="comp:InducedEnclosurePressureDifference">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Difference from Manometer (Pa) Goal = 50 +- 3 or -50 +- 3 (Pressurization is positive; Depressurization is negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-75, 75)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspa05_IsInducedPressureWithinRange" type="comp:IsInducedPressureWithinRange">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Check</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If ABS  ( Cspa04_InducedEnclosurePressureDifference) GTE 15 Pa, result = true Else result = false End If True display term = Induced pressure within range for single point test. False display term = Induced pressure is too low for single point test.   Do Not Proceed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cspa06_NominalCFM50" type="comp:NominalCFM50">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Nominal CFM50</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer (resolution 1 CFM)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C3" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Enclosure Air Leakage Diagnostic Test for Multi-Point Test</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure == MultiPointTest display this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Cmp_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Complete this section entering data for a Multi-Point Test</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp01_MeterTimeAveragePeriod" type="comp:MeterTimeAveragePeriod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Time Average Period of Meter (seconds)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer GTE  10 seconds</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp02_BuildingAirLeakageTestMethod" type="comp:BuildingAirLeakageTestMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Test Methodology</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Pressurization, Depressurization</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp03_BuildingPressureReadingPreTest" type="comp:BuildingPressureReadingPreTest">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Pre-test Baseline Enclosure Pressure (Pa) (may be positive or negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-40, 40)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp04_BuildingPressureTargetUnadjusted" type="comp:BuildingPressureTargetUnadjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Unadjusted Enclosure Pressure Target (Pa)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field: If Cmp02_BuildingAirLeakageTestMethod == Pressurization result = 60 + Cmp03_BuildingPressureReadingPreTest  Else result = (-60) + Cmp03_BuildingPressureReadingPreTest  (resolution of 0.1)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp05_BuildingPressureMeasuredUnadjusted" type="comp:BuildingPressureMeasuredUnadjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Unadjusted Enclosure Pressure Measured (Pa) (Pressurization is positive; Depressurization is negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric xx.x in InclusiveRange(-75, 75)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp06_InducedEnclosurePressureDifference" type="comp:InducedEnclosurePressureDifference">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Induced Enclosure Pressure Difference (Pa) Goal = 60 +- 3 or -60 +- 3 (Pressurization is positive; Depressurization is negative)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: result = Cmp05_BuildingPressureMeasuredUnadjusted - Cmp03_BuildingPressureReadingPreTest</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp07_MinReadingAcknowledge" type="comp:MinReadingAcknowledge">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">A minimum of five readings were taken spaced evenly between 10 Pa and 60 Pa (or highest attainable pressure)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input to acknowledge this requirement; Boolean value - for true display choice Yes and for false display choice No</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp08_BuildingPressureReadingPostTest" type="comp:BuildingPressureReadingPostTest">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Post-Test Baseline Enclosure Pressure (Pa)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input (resolution 0.1 Pa)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp09_ASTM_E779_10Software" type="comp:ASTM_E779_10Software">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Name and Version of ASTM E779 Compliant Software used for Multi-Point Test.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input; maximum 50 characters</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Cmp10_CFM50SoftwareCorrected" type="comp:CFM50SoftwareCorrected">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Corrected CFM50 (from software)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input integer value calculated by software (resolution 1 CFM)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D1" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Altitude and Temperature Correction for Single-Point Test</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure != MultiPointTest this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Dsp_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">This section is for Single-Point Test with Manual Meter or Automatic Meter</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Calculations">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">NOT REPORTED IN PDF</xsd:documentation>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da1_OutdoorAirViscosityCorrection" type="comp:OutdoorAirViscosityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Depressurization result = 2.629 * 10^-3 * ((A06_TestTemperatureOutdoor+460)^0.5 / (1+(198.7 /  (A06_TestTemperatureOutdoor+460)))); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da1_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Depressurization result = 2.629 * 10^-3 * ((A06_TestTemperatureOutdoor+460)^0.5 / (1+(198.7 /  (A06_TestTemperatureOutdoor+460)))); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da2_IndoorAirViscosityCorrection" type="comp:IndoorAirViscosityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Pressurization result =2.629 * 10^-3 * ((A05_TestTemperatureIndoor+460)^0.5 / (1+(198.7 /  (A05_TestTemperatureIndoor+460))));   Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da2_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Dynamic Viscosity of Air Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Pressurization result =2.629 * 10^-3 * ((A05_TestTemperatureIndoor+460)^0.5 / (1+(198.7 /  (A05_TestTemperatureIndoor+460))));   Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da3_OutdoorAirDensityCorrection" type="comp:OutdoorAirDensityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Depressurization result = 0.07517 * (1-((0.0035666 * A08_Elevation)/528))^(5.2553) * (528/(A06_TestTemperatureOutdoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da3_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Outdoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Depressurization result = 0.07517 * (1-((0.0035666 * A08_Elevation)/528))^(5.2553) * (528/(A06_TestTemperatureOutdoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                           <xsd:choice maxOccurs="1">
                              <xsd:element name="Da4_IndoorAirDensityCorrection" type="comp:IndoorAirDensityCorrection">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Pressurization result = 0.07517 * (1-((0.0035666 * A08_Elevation)/528))^(5.2553) * (528/(A05_TestTemperatureIndoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="Da4_NotApplicableMessage" type="comp:NotApplicableMessage">
                                 <xsd:annotation>
                                    <xsd:documentation source="FieldText">Indoor Air Density Correction</xsd:documentation>
                                    <xsd:documentation source="CalculationsAndRules">Calculated field: If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Pressurization result = 0.07517 * (1-((0.0035666 * A08_Elevation)/528))^(5.2553) * (528/(A05_TestTemperatureIndoor+460)); Else result = N/A</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                           </xsd:choice>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Dsp01_AltitudeTemperatureCorrectionFactor" type="comp:AltitudeTemperatureCorrectionFactor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Altitude and Temperature Correction Factor</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If Cspm02 Or Cspa02 BuildingAirLeakageTestMethod == Depressurization result = (Da1_OutdoorAirVicosityCorrection / 0.044)^(2* 0.65-1) * (Da3_OutdoorAirDensityCorrection / 0.07517) ^(1-(0.65));  Else result =  (Da2_IndoorAirVicosityCorrection / 0.044)^(2 * 0.65-1) * (Da4_IndoorAirDensityCorrection / 0.07517)^(1-(0.65))</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Dsp02_CFM50TempAltCorrected" type="comp:CFM50TempAltCorrected">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Corrected CFM50</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: If A01_AirLeakageTestProcedure == SinglePointTestManualMeter result = Cspm09_NominalCFM50 *  Dsp01_AltitudeTemperatureCorrectionFactor Else If A01_AirLeakageTestProcedure == SinglePointTestAutomaticMeter result =  Cspa06_NominalCFM50 * Dsp01_AltitudeTemperatureCorrectionFactor End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D2" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Altitude and Temperature Correction for Multi-Point Test</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure == MultiPointTest this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Dmp_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">Performed by blower door software For Multi-Point Test</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E1" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Accuracy Adjustment for Single Point Test</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure != MultiPointTest this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Esp_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">This section is for Single-Point Test with Manual Meter or Automatic Meter</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Esp01_CFM50Adjusted" type="comp:CFM50Adjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Adjusted CFM50 (measured air leakage rate)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: Dsp02_CFM50TempAltCorrected x 1.1</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E2" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Accuracy Adjustment or Multi-Point Test</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section is not required. display the Section Title and this text "This section does not apply to this project"</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">If A01_AirLeakageTestProcedure == MultiPointTest this section is required</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Emp_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">This section is for Multi-Point Test Data</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Emp01_SoftwareTestPercentUncertainty" type="comp:SoftwareTestPercentUncertainty">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Percent Uncertainty at 95% confidence level (from software)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated by software. The value represented should be percent and not a fraction.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Emp02_SoftwareTestAccuracy" type="comp:SoftwareTestAccuracy">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Accuracy Level</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Emp01_SoftwareTestPercentUncertainty is less than or equal to 10, report Standard, else report Reduced</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Emp03_TestAccuracyFactor" type="comp:TestAccuracyFactor">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Accuracy Adjustment factor</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Emp02_SoftwareTestAccuracy is Standard report 1, Else If Emp02_SoftwareTestAccuracy is Reduced report 1+ (Emp01_SoftwareTestPercentUncertainty  divided by 100)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Emp04_CFM50Adjusted" type="comp:CFM50Adjusted">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Adjusted CFM50  (measured air leakage rate)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">result = Cmp10_CFM50SoftwareCorrected x Emp03_TestAccuracyFactor</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F01_DoesBuildingAirLeakageTestComply" type="comp:DoesBuildingAirLeakageTestComply">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If B06_IsManometerCalibrationCurrent == false Then result = false display term Building Fails Envelope Air Leakage Test; 
Else If A01_AirLeakageTestProcedure != MultiPointTest  
  If E01_CFM50Adjusted  LTE A04_EnclosureLeakageTargetCFM50, result = true.  display term  Building Passes Envelope Leakage Test;   
  Else result = false display term Building Fails Envelope Air Leakage Test;  
Else If A01_AirLeakageTestProcedure == MultiPointTest 
  If E04_CFM50Adjusted  LTE A04_EnclosureLeakageTargetCFM50, result = true.  display term  Building Passes Envelope Leakage Test;   
  Else result = false display term Building Fails Envelope Air Leakage Test;  
End If</xsd:documentation>
                        <xsd:appinfo source="displayterm">
                           <dtyp:displayterm value="false">Building Fails Envelope Air Leakage Test.</dtyp:displayterm>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Requirements For Compliance</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section applies to all systems</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The procedure for preparing the enclosure for testing is detailed in RESNET 380-2019 Section 4.2.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The procedure for installation of the test apparatus, and preparations for measurement shall conform to RESNET 380-2019 Section 4.3.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The procedure for the conduct of the enclosure air leakage test shall conform to the One-Point Airtightness Test specified in RESNET 380-2019 Section 4.4.1</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The procedure for the conduct of the enclosure air leakage test shall conform to the Multi-Point Airtightness Test specified in RESNET 380-2019 Section 4.4.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G05_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G06_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status= Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="GEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of ECC Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If B06 IsManometerCalibrationCurrent != false Or F01 DoesBuildingAirLeakageTestComply != false Or G05 DoesSystemComplyWithRequirements != Fail then result is true, display term:  Complies: All specified verification protocol requirements on this document are met. 
Else result is false,  display term:  Does not comply: One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RENV20H"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Building Air Leakage Diagnostic Test - Building Enclosures and Dwelling Unit Enclosures"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF3RENV20H"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20250101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RENV20H"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF3RENV20H" type="CF3RENV20H">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RENV20H compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
