deployed/CF3R/CF3RMCH33H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:ns2="http://www.lmonte.com/besm/dtyp" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH33H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF3RMCH33H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Variable Capacity Heat Pump Compliance Credit" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF3RMCH33H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF3RMCH33H" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF3RMCH33H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Variable Capacity Heat Pump Compliance Credit</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">VCHP System Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section parent CC refers to the CF1R Certificate of Compliance (CC) and MCH-01 refers to the CF2R-MCH-01 and MCH-25 refers to the CF2R-MCH-25</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Procedures for verification of VCHP compliance credit eligibility are described in the Energy Code Reference Appendices Section RA3.4.4.3.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">SC System ID/Name from parent CC</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">SC System Description of Area Served</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A03_ResidentialHvacSystemConditionedArea" type="hvac:ResidentialHvacSystemConditionedArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Conditioned Floor area Served by System (ft
                           <ns1:sup>2</ns1:sup>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01a field D03, Mch01d field D03</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A04_DoesMCH25VerifyRefrigCharge" type="comp:DoesMCH25VerifyRefrigCharge">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Status: Refrigerant charge verification from MCH-25</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If the system has a registered MCH-25 that indicates compliance with the refrigerant charge verification requirement, then result = true display term System Complies with Refrigerant Charge verification Requirements; Else result = false display term System does not comply.  A registered MCH-25 for this sytem is required</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_DoesIndoorUnitSupplyAllRooms" type="comp:DoesIndoorUnitSupplyAllRooms">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Verification: Is conditioned airflow supplied to all habitable rooms in accordance with the procedure in RA3.1.4.1.7?</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects from list  true result display term Indoor unit complies according to the criteria in RA3.1.4.1.7, and false result display term Indoor unit does not comply</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">VCHP Indoor Unit Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section parent CC refers to the CF1R Certificate of Compliance (CC) and MCH-01 refers to the CF2R-MCH-01 and MCH-23 refers to the CF2R-MCH-23
 
Provide one row of data for each of the indoor units listed on the MCH-01 that are associated with the SC system ID and area served data in A01 and A02.  For indoor unit information refer to MCH-01a Section G or J; otherwise refer to MCH-01d Section H, K, L</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="B_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducted indoor units are required to be certified to the Energy Commission as low static systems, and included in the list of certified indoor units published on the Energy Commission website at the following URL:  https://www.energy.ca.gov/rules-and-regulations/building-energy-efficiency/manufacturer-certification-building-equipment.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableIndoorUnit">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="B01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from MCH01 as follows: G03 on MCH01a and H03 on MCH01d for split systems, J03 on MCH01a and K03 or L03 on MCH01d for packaged systems</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B02_IndoorUnitType" type="hvac:IndoorUnitType">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Installed Indoor Unit Type</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If MCH01 has value as follows: G04 on MCH01a and H04 on MCH01d auto-fill from MCH01; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B02_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Installed Indoor Unit Type</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If MCH01 has value as follows: G04 on MCH01a and H04 on MCH01d auto-fill from MCH01; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B03_IndoorUnitDucts" type="hvac:IndoorUnitDucts">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Indoor Unit Duct Status</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If MCH01 has value as follows: G05 on MCH01a and H05 on MCH01d auto-fill from MCH01; Else result = N/A stored in NotApplicableMessage.  Allowed values are: DuctsGT10Ft display term Ducted greater than 10ft length, DuctsLTE10Ft display term Ducted less than or equal to 10ft length and Ductless display term No ducts</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B03_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Indoor Unit duct Status</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If MCH01 has value as follows: G05 on MCH01a and H05 on MCH01d auto-fill from MCH01; Else result = N/A stored in NotApplicableMessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="B04_IndoorUnitAreaServed" type="hvac:IndoorUnitAreaServed">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Conditioned Floor Area served By The Indoor Unit (ft
                                             <ns1:sup>2</ns1:sup>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Reference value from MCH-33 as default but let User override the default and enter a different numeric value xxxx.x.
Require that the sum of the values in this column are equal to A03_ResidentialHvacSystemAreaServed as condition for completing this report.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B05_DuctSystemAirFilterDeviceCount" type="hvac:DuctSystemAirFilterDeviceCount">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Number of Air Filter Devices on Indoor Unit</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDucts == Ductless result = N/A stored in NotApplicableMessage;  Else Auto-fill from MCH01as follows:J11 on MCH01a and L12 on MCH01d</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Number of Air Filter Devices on Indoor Unit</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDucts == Ductless result = N/A stored in NotApplicableMessage;  Else Auto-fill from MCH01as follows:J11 on MCH01a and L12 on MCH01d</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B06_AirflowRequiredMinimumTarget" type="hvac:AirflowRequiredMinimumTarget">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Indoor Unit Required Minimum System Airflow Rate (cfm)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage; Else auto-filled from MCH23 Section E 03 AirflowRequiredMinimumTarget</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B06_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Indoor Unit Required Minimum System Airflow Rate (cfm)</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B07_DoesMCH23VerifyAirFlowRate" type="comp:DoesMCH23VerifyAirFlowRate">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Status: Airflow Rate Verification from MCH-23</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage; Else If system has registered MCH-23 that indicates compliance with minimum airflow rate requirement, result = true display term  System complies with airflow rate verification requirements; Else result = false display term System does not comply.  A registered MCH-23 for this system is required</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B07_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Status: Airflow Rate Verification from MCH-23</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B08_VerifyFanNonContinuousOperation" type="comp:VerifyFanNonContinuousOperation">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Is Field Verification of Default Non-Continuous Fan Operation Required?</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage; Else If parent CC indicates credit for [Certified Auto-Fan] operation was specified result = true display term Yes; Else result = false display term No</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B08_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Is Field Verification of Default Non-Continuous Fan Operation Required?</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="B09_IsUnitCertifiedLowStatic" type="comp:IsUnitCertifiedLowStatic">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Verification: Is Ducted Low Static Indoor Unit Certified to CEC?</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage; Else user selects from list:  true result display term Complies - indoor unit is certified low-static in the CEC listings and false result display term Does not comply - indoor unit is not certified</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="B09_NotApplicableMessage" type="comp:NotApplicableMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">Verification: Is Ducted Low Static Indoor Unit Certified to CEC?</xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If B03_IndoorUnitDuct == Ductless  result = N/A stored in NotApplicablemessage</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="B09a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Verification: Ducted Indoor Units Located Entirely in Directly Conditioned Space - RA3.1.4.3.8</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If in section B at least one indoor unit has B03 != Ductless; Require one row for each indoor unit in B01 that satisfies this condition</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Ducted indoor units shall be verified in accordance with the Verified Low Leakage Ducts in Conditioned Space procedure in Section RA3.1.4.3.8</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableDucted">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="C01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from B01</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C02_AreDuctsEntirelyInConditionedSpace" type="comp:AreDuctsEntirelyInConditionedSpace">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">A Visual Inspection Shall Confirm the Space Conditioning Distribution Location (RA3.1.4.1.3)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Entirely in conditioned space, false result display term Not entirely in conditioned space</xs:documentation>
                                          
                                          
                                          <xs:appinfo source="displayterm">
                                             
                                             
                                             <ns2:displayterm value="false">Not entirely in conditioned space</ns2:displayterm>
                                             
                                          
                                          </xs:appinfo>
                                          
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C03_DuctSystemLeakageActual" type="comp:DuctSystemLeakageActual">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Measured Duct Leakage to Outside (cfm) Using RA3.1.4.3.4</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="C04_DuctedEntirelyConditionedCompliance" type="comp:DuctedEntirelyConditionedCompliance">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If C03_DuctSystemLeakageActual LTE 25 cfm And C02_AreDuctsEntirelyInConditionedSpace == true result = true display term Complies; Else result = false display term Does Not Comply</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="C04a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Verification: Ductless Indoor Units Located Entirely in Directly Conditioned Space - RA3.1.4.1.8</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If in section B at least one indoor unit has B03 == Ductless; Require one row for each indoor unit in B01 that satisfies this condition</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A visual inspection shall confirm that ductless indoor units are located entirely in conditioned space in accordance with the procedures of RA3.1.4.1.8.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableDuctless">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="D01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from B01</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D02_DuctlessIndoorUnitLocation" type="hvac:DuctlessIndoorUnitLocation">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Installation Location Verification</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: MountedInside display term Indoor unit mounted entirely on the surface of walls, ceilings, or floors, 
 PartiallyInUnconditioned display term Indoor unit protrudes through the air barrier into unconditioned spaces, PartiallyInIndirectlyConditioned display term Visually confirmed: Indoor unit protrudes into directly conditioned spaces wholly inside both the thermal boundary and the air barrier of the dwelling, PartiallyInIndirectlyConditionedInstaller display term Not Visually confirmed: Installer certifies the  Indoor unit protrudes into directly conditioned spaces wholly inside both the thermal boundary and the air barrier of the dwelling</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D03_DuctlessEntirelyConditionedCompliance" type="comp:DuctlessEntirelyConditionedCompliance">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If D02_DuctlessIndoorUnitLocation == MountedInside Or PartiallyInIndirectlyConditioned  result = DuctlessUnitComplies display term Complies; Else If D02_DuctlessIndoorUnitLocation == PartiallyInUnconditionedElse result = DuctlessUnitDoesNotComply display term Does Not Comply; Else If D02_DuctlessIndoorUnitLocation == PartiallyInIndirectlyConditionedInstaller result = DuctlessUnitCompliesNoSampling</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="D03a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Verification: Wall Mounted Thermostats - RA3.4.5</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If in section B at least one indoor unit has B04_IndoorUnitAreaServed GTE 150; Require one row for each indoor unit in B01 that satisfies this condition</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="E_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Field verification according to the procedure in RA3.4.5 shall confirm that VCHP space conditioning zones that are greater than 150 ft
                           <ns1:sup>2</ns1:sup>
                           , are controlled by a permanently installed wall-mounted thermostat.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableThermostats">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="E01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from B01</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E02_ThermostatInZoneServedByUnit" type="comp:ThermostatInZoneServedByUnit">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Is a Wall-mounted Thermostat Installed in the Zone Served by the Indoor Unit?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Yes, false result display term No</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E03_ThermostatControlsZoneUnit" type="comp:ThermostatControlsZoneUnit">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Does the Thermostat Control the Zone's Indoor Unit?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Yes, false result display term No</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E04_ThermostatPermanentlyMounted" type="comp:ThermostatPermanentlyMounted">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Is the Thermostat Mounted Permanently to the Wall?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Yes, false result display term No</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="E05_IndoorUnitThermostatCompliance" type="comp:IndoorUnitThermostatCompliance">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If E02_ThermostatInZoneServedByUnit And E03_ThermostatControlsZoneUnit And E04_ThermostatPermanentlyMounted == true result = true display term Complies, Else result = false display term Does not comply</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="E05a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_F">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Verification: Non-Continuous Fan Operation  - RA3.4.6</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If in section B at least one indoor unit has B08_VerifyFanNonContinuousOperation == true; Require one row for each indoor unit in B01 that satisfies this condition</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="F_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">If the certificate of compliance indicates non-continuous indoor unit fan operation was specified for compliance credit, then the system shall be field verified in accordance with the procedures in RA3.4.6 to confirm that the installed system's indoor unit + outdoor unit combination does not operate the fan continuously when the system thermostat is not calling for conditioning.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableFan">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="F01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from B01</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="F02_IsFanCertifiedNonContinuous" type="comp:IsFanCertifiedNonContinuous">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">In Non-Continuous Default Fan Operation Shown in CEC Certification Listings?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Indoor unit + oudoor unit combination is certified non-continuous in the CEC listings, false result display term Not certified</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="F03_HeatingFanOperatesOnlyOnCall" type="comp:HeatingFanOperatesOnlyOnCall">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Does Indoor Unit Air Distribution Fan Operate When There is No Call For Heating?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Fan does not operate between calls for heating; false result display term Fan operates continuously</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="F04_CoolingFanOperatesOnlyOnCall" type="comp:CoolingFanOperatesOnlyOnCall">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Does Indoor Unit Air Distribution Fan Operate When There is No Call For Cooling?</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User selects from list: true result display term Fan does not operate between calls for cooling; false result display term Fan operates continuously</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="F05_NonContinuousFanCompliance" type="comp:NonContinuousFanCompliance">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If F02_IsFanCertifiedNonContinuous And F03_HeatingFanOperatesOnlyOnCall And F04_CoolingFanOperatesOnlyOnCall == true result = true display term Complies; Else result = false display term Does not comply</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="F05a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_G">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Verification: Installed Air Filter Sizing and Pressure Drop - RA3.1.4.7 and RA3.1.4.8</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">In this section MCH01 refers to the CF2R-MCH-01
 
The section is required if in section B at least one indoor unit has B03 == DuctsGT10Ft; Require one row of data for each in the quantity reported in B05_DuctSystemAirFilterDeviceCount for each indoor unit in B01 that satisfies this requirement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="G_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Nominal 2-inch or greater depth air filters shall be sized by the system designer to accommodate a maximum allowable clean-filter pressure drop of 0.1 inch W.C. at the air filter's design airflow rate as verified according to the procedures in RA3.1.4.8.  Nominal one-inch minimum depth air filters shall be allowed if the filter face area is sized based on a maximum face velocity of 150 ft per minute at the air filter design airflow rate according to the procedures in RA3.1.4.7.  In order to inform the occupant of the airflow and clean filter pressure drop performance required for replacement of air filters, the installer shall place a sticker in or near the filter grille displaying the air filter design airflow rate and maximum allowed clean filter pressure drop at the design airflow rate as required by Standards Section 150.0(m)12Biv.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableAirFilter">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="G01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from parent MCH01 as follows: K03 from MCH01a or M03 from MCH01d</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G02_DuctSystemAirFilterDeviceName" type="hvac:DuctSystemAirFilterDeviceName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter Name or Description of Location</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from parent MCH01 as follows: K04 from MCH01a or M04 from MCH01d</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G03_DuctSystemAirFilterDeviceType" type="hvac:DuctSystemAirFilterDeviceType">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter Device type</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Auto-filled from parent MCH01 as follows: K05 from MCH01a or M05 from MCH01d</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G04_AirFilterDeviceAirflowRate" type="hvac:AirFilterDeviceAirflowRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Design Airflow Rate for Air Filter Device (cfm)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If B05_DuctSystemAirFilterDeviceCount == 1 then 
result = B06_AirflowRequiredMinimumTarget; 
 
Else If B05_DuctSystemAirFilterDeviceCount GT 1 reference value from parent MCH01 as follows: K06 from MCH01a or M06 from MCH01d
End If
 
Check results:  Require sum of all G04_AirFilterDeviceAirflowRate values to be greater than or equal to B06_AirflowRequiredMinimumTarget  as a condition of completion of this document.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G05_AirFilterDeviceDepth" type="hvac:AirFilterDeviceDepth">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter Nominal Depth (inch)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User enter numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G06_AirFilterDeviceLength" type="hvac:AirFilterDeviceLength">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter Nominal Length (inch)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User enter numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G07_AirFilterDeviceWidth" type="hvac:AirFilterDeviceWidth">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter Nominal Width (inch)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User enter numeric</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G08_AirFilterDeviceFaceArea" type="hvac:AirFilterDeviceFaceArea">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">
                                             Air Filter Calculated Nominal Face Area (inch
                                             <ns1:sup>2</ns1:sup>
                                             )
                                          </xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: result = G06_AirFilterDeviceLength * G07_AirFilterDeviceWidth</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:choice maxOccurs="1">
                                       
                                       
                                       <xs:element name="G09_AirFilterDeviceFaceAreaRequiredMin" type="hvac:AirFilterDeviceFaceAreaRequiredMin">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">
                                                Air Filter Required Minimum Face Area (inch
                                                <ns1:sup>2</ns1:sup>
                                                )
                                             </xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If G05_AirFilterDeviceDepth == 1 then result = (G04_AirFilterDeviceAirflowRate / 150) * 144; Else result = SpecifiedByDesigner stored in AirFilterDeviceFaceAreaMessage display term Specified by System Designer</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                       
                                       <xs:element name="G09_AirFilterDeviceFaceAreaMessage" type="comp:AirFilterDeviceFaceAreaMessage">
                                          
                                          
                                          <xs:annotation>
                                             
                                             
                                             <xs:documentation source="FieldText">
                                                Air Filter Required Minimum Face Area (inch
                                                <ns1:sup>2</ns1:sup>
                                                )
                                             </xs:documentation>
                                             
                                             
                                             <xs:documentation source="CalculationsAndRules">If G05_AirFilterDeviceDepth == 1 then result = (G04_AirFilterDeviceAirflowRate / 150) * 144; Else result = SpecifiedByDesigner stored in AirFilterDeviceFaceAreaMessage display term Specified by System Designer</xs:documentation>
                                             
                                          
                                          </xs:annotation>
                                          
                                       
                                       </xs:element>
                                       
                                    
                                    </xs:choice>
                                    
                                    
                                    <xs:element name="G10_AirFilterDeviceFaceAreaCompliance" type="comp:AirFilterDeviceFaceAreaCompliance">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Face Area Compliance</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If G09_AirFilterDeviceFaceAreaMessage  == SpecifiedByDesigner then result = SpecifiedByDesigner; Else If G08_AirFilterDeviceFaceArea  GTE G09_AirFilterDeviceFaceAreaRequiredMin   result = FaceAreaComplies; Else result = FaceAreaDoesNotComply;</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G11_DuctSystemAirFilterDevicePressureDrop" type="hvac:DuctSystemAirFilterDevicePressureDrop">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter Rated Pressure Drop at Design Airflow Rate (inch W.C)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input numeric value in range GTE 0.01 to LTE1.5</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="G12_AirFilterPressureDropCompliance" type="comp:AirFilterPressureDropCompliance">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Air Filter  Pressure Drop Compliance</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If G11_DuctSystemAirFilterDevicePressureDrop LTE 0.1 result = true display term Complies; Else result = false display term Does not comply</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="G12a_SectionComments" type="comp:SectionComments">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Notes:</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_H">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">VCHP System Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="H01_ComplianceVCHP" type="comp:ComplianceVCHP">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">For all fields that are present, if all these fields  == true: A04_DoesMCH25VerifyRefrigCharge,  
 A05_DoesIndoorUnitSupplyAllRooms, B07_DoesMCH23VerifyAirFlowRate, B09_IsUnitCertifiedLowStatic, C04_DuctedEntirelyConditionedComply,  E05_IndoorUnitThermostatCompliance, And G12_AirFilterPressureDropCompliance And If D03_DuctlessEntirelyConditionedComply != DuctlessUnitDoesNotComply And If G10_AirFilterDeviceFaceAreaCompliance != FaceAreaDoesNotComply result = true display term VCHP System Complies; Else result = false display term VCHP System Does Not Comply</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF3RMCH33H" type="CF3RMCH33H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF3RMCH33H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
