deployed/CF3R/CF3RMCH22cH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH22cH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF3RMCH22cH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RMCH22cH">
      <xsd:annotation>
         <xsd:documentation>Space Conditioning System Fan Efficacy - MCH22c Forced Air System Fan Efficacy Measurement - Newly Installed Non-Zoned or Zoned Multi-Speed Compressor Systems with Central Fan Ventilation Cooling</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Ducted Cooling System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF3R-MCH23</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A01_ResidentialCoolingSystemName" type="hvac:ResidentialCoolingSystemName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_ImprovementStatus">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Installation Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:ImprovementStatus">
                           <xsd:enumeration value="Alteration"/>
                           <xsd:enumeration value="New"/>
                           <xsd:enumeration value="Replacement"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A06_CondenserSpeedType" type="hvac:CondenserSpeedType">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Condenser Speed Type</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Condenser Speed Type</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A07_ResidentialCoolingZoneType" type="hvac:ResidentialCoolingZoneType">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Cooling System Zonal Control Type</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A07_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Cooling System Zonal Control Type</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A08_IsVentilationSystemCFI" type="comp:IsVentilationSystemCFI">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central  Fan Integrated (CFI) Ventilation System Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A09_HasBypassDuct" type="hvac:HasBypassDuct">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">System Bypass Duct Status</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A09_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">System Bypass Duct Status</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23 which allows NotApplicable</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A10_AirflowRateMeasurementDate" type="comp:AirflowRateMeasurementDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of System Airflow Rate Measurement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A11_AirflowRateMeasurementProtocol" type="comp:AirflowRateMeasurementProtocol">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Airflow Rate Protocol utilized</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_CFVCS_Type" type="comp:CFVCS_Type">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central Fan Ventilation Cooling System Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Auto filled text: referenced from MCH23</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Fan Watt Measurement Apparatus and Procedure Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF3R-MCH23</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:i>Instrument Specifications are given in RA3.3.1, and system fan watt measurement apparatus information is given in RA3.3.2.2.</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01_FanWattMeterType" type="comp:FanWattMeterType">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fan Watt Verification Device Used.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input:  For choice PortableWattMeter display text: Portable watt meter  For choice AnalogUtilityWattMeter display text: Analog Utility Revenue Meter (spinning wheel type)  For DigitalUtilityWattMeter display text: Digital Utility Revenue Meter</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Mch22c Variant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH22c Forced Air System Fan Efficacy Measurement - Newly Installed Non-Zoned or Zoned Multi-Speed Compressor Systems with Central Fan Ventilation Cooling</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If MCH23 variant == MCH23a variant result  = MCH-22a; Else If MCH23 variant == MCH23b variant result  = MCH-22b; Else If MCH23 variant == MCH23e variant result  = MCH-22c;  Else If MCH23 variant == MCH23f variant result  = MCH-22d; Else If  MCH23 variant == MCH23c, And A07_ResidentialCoolingZoneType == ZoneControlled And A06_CondenserSpeedType == SingleSpeed variant result  = MCH-22b  Else variant result  = MCH-22a;  Else If  MCH23 variant == MCH23d, And A12_CFVCS_Type == VariableCFVCS Or FixedCFVCS variant result  = MCH-22c  Else variant result  = MCH-22a;  Use the variant result for the remainder of this compliance document.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Forced Air System Fan Efficacy Measurement</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH23 refers to the project CF3R-MCH23  and MCH-01 refers to the project CF2R-MCH-01</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The procedures for System Fan Watt Verification are specified in Reference Residential Appendix RA3.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C01_FanPowerActual" type="hvac:FanPowerActual">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Tested Watts</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input, numeric value xx.xx</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Tested Airflow from MCH-23 (cfm)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Referenced from MCH-23 (make sure to reference tested airflow value and not target airflow value</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required Fan Efficacy (Watts/cfm)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If parent document == MCH-01a or MCH01d, then reference its value in C09_MaximumCoolingWperCFM;  Else If parent document == MCH-01b Or Mch01c   If MCH01b- C06 or Mch01c - B05 ResidentialCoolingSystemType  == SmallDuctHighVelocityHP Or SmallDuctHighVelocityAC result = 0.62  Else If  MCH01b - C02 Or Mch01c - B02 ResidentialHeatingSystemType  == CentralGasFurnace Or GasPackagedFurnace result = 0.45 Else result = 0.58</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04_FanEfficacy" type="hvac:FanEfficacy">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Fan Efficacy (Watts/cfm)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  C01_FanPowerActual  /  C02_AirflowMeasuredRate</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C05_DoesSystemFanEfficacyComply" type="comp:DoesSystemFanEfficacyComply">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If C04_FanEfficacy LTE C03_FanEfficacyRequired result = true display term: System fan efficacy complies.  Else result =  false display term   System does not comply with fan efficacy requirement.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Central Fan Ventilation Cooling System Fan Efficacy Measurement</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">In this section MCH-23 refers to the project CF3R-MCH23 and MCH-01 refers to the project CF2R-MCH-01</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The procedures for Central Fan Ventilation Cooling System Verification are specified in Reference Residential Appendix RA3.3.4</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_FanPowerActual" type="hvac:FanPowerActual">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Tested Watts</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input, numeric value xx.xx</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D02_AirflowMeasuredRate" type="hvac:AirflowMeasuredRate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Tested Ventilation Airflow from MCH-23 (cfm)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Referenced from MCH-23e E02 Actual System Ventilation Airflow Rate Measurement (cfm)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D03_FanEfficacyRequired" type="hvac:FanEfficacyRequired">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Required Fan Efficacy (Watts/cfm)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If parent document == MCH-01a  reference value from Mch01a C12_VentilationCoolingFanEfficacy; Else If parent document == MCH-01d  reference value from Mch01d C12_FanEfficacy; Else If parent document == MCH-01d  reference value from Mch01d C12_FanEfficacy; Else If parent document = MCH-01b Or MCH-01c result = C03_FanEfficacyRequired from this document;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D04_FanEfficacy" type="hvac:FanEfficacy">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Actual Fan Efficacy (Watts/cfm)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  D01_FanPowerActual  /  D02_AirflowMeasuredRate</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D05_DoesSystemFanEfficacyComply" type="comp:DoesSystemFanEfficacyComply">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If D04_FanEfficacy LTE D03_FanEfficacyRequired result = true display term: System fan efficacy complies.  Else result =  false display term   System does not comply with fan efficacy requirement.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Additional Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">All registers fully open</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All registers were fully open during the diagnostic test.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System fan testing speed</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">System fan was set at maximum speed during the diagnostic test.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E03" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fresh Air Duct</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">If fresh air duct is part of the HVAC system it was not closed during the diagnostic test.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E04" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fan Efficacy tested value</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Airflow rate and fan watt draw shall be simultaneous measurements when used to calculate the Fan Efficacy tested value.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E05" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Multi-speed compressor</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Multi-speed compressor space cooling systems or variable speed compressor systems shall verify air flow (cfm/ton) and fan efficacy (Watt/cfm) with system operating in cooling mode at the maximum compressor speed and the maximum air handler fan speed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E06" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Single speed compressors</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Zoned cooling air distribution systems with single speed compressors shall meet both the airflow (cfm/ton) and fan efficacy (Watt/cfm) criteria in every zonal control mode.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E07" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Portable Meter</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Portable watt meters used for measurements of air handler watt draws shall be true power measurement systems (i.e. sensor plus data acquisition system) having an accuracy of +-  2% of reading or +- 10 Watts whichever is greater</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E08_DoesSystemComplyWithRequirements" type="comp:DoesSystemComplyWithRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Pass choice display text: Pass - all applicable requirements are met.  For Fail choice display text: Fail - one or more applicable requirements are not met. Enter reason for failure in corrections notes field below.  For N/A choice display text: All n/a - This entire table is not applicable</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E09_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status= Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="EEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Corrections Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If C05_DoesSystemFanEfficacyComply == true and E08_DoesSystemComplyWithRequirements Not== Fail  result = true display term   Complies:  All specified verification protocol requirements on this document are met;   Else result = false display term   Does not comply:  One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RMCH22cH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Space Conditioning System Fan Efficacy"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH22c Forced Air System Fan Efficacy Measurement - Newly Installed Non-Zoned or Zoned Multi-Speed Compressor Systems with Central Fan Ventilation Cooling"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="c"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF3RMCH22cH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RMCH22cH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF3RMCH22cH" type="CF3RMCH22cH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RMCH22cH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
