deployed/CF3R/CF3RNoTestH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RNoTestH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF3RNoTestH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload" minOccurs="0"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element name="AfterHeaderNote1" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Untested Feature Note</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">HERS measure was verified using the methodology defined for the untested features included in a sample group.  This measure passes through its relationship with the actual one tested and passed.  Therefore no data is included on this Certificate of Verification.</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">This form of the CF3R compliance document is used whenever the field Dwelling Test Status in Sample Group  (property, SampleGroupTestStatus) in the Responsible Person's Declaration Statement is equal to NotTested</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" type="xsd:string" use="required" fixed="rev 20220101"/>
         <xsd:attribute name="doc" type="comp:ComplianceDocumentTag"/>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
