deployed/CF3R/CF3RMCH25cH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH25cH" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF3RMCH25cH" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RMCH25cH">
      <xsd:annotation>
         <xsd:documentation>Refrigerant Charge Verification - MCH25c Weigh In Observation  Procedure</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-25 in this section refer to the parent Certificate of Installation, the CF2R-MCH-25</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">HERS Rater to field-verify all system information, discrepancies to be noted by overwriting entry.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH-25.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_CondenserManufacturer" type="comp:CondenserManufacturer">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) make or brand</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_CondenserModelNumber" type="comp:CondenserModelNumber">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) model number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_CondenserSerialNumber" type="comp:CondenserSerialNumber">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) serial number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_RefrigerantType" type="comp:RefrigerantType">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25.  Possible entries are: R22 display text: R-22; Choice R410A display text: R-410A;  Choice Other display text: Other;  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A08_RefrigerantTypeOther" type="comp:RefrigerantTypeOther">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A09_IsLiquidLineFilterDrierInstalledToSpec" type="comp:IsLiquidLineFilterDrierInstalledToSpec">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Liquid Line Filter Drier Installed According to Manufacturers Specifications (if applicable)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries are Yes and NA.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A10_ImprovementStatus">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Installation Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries are New, Replacement, Alteration.  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:ImprovementStatus">
                           <xsd:enumeration value="Alteration"/>
                           <xsd:enumeration value="New"/>
                           <xsd:enumeration value="Replacement"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A11_FaultIndicatorDisplayStatus" type="comp:FaultIndicatorDisplayStatus">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fault Indicator Display (FID) Status (Note: Even systems with a FID must have refrigerant charge verified by installer)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25  Possible entries are FactoryInstalledFID display text: This system has a factory installed FID  choice FieldInstalledFID display text: This system has a field installed FID; choice NoInstalledFID display text: This system does not have a FID device installed  If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_UseMinimumAirflowApprovedVerificationProcedure" type="comp:UseMinimumAirflowApprovedVerificationProcedure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that the minimum airflow can be verified for all indoor units using an approved measurement procedure (RA3.3 or RA3.3.3)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries are Yes or No.   If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A13_UseRefrigerantChargeApprovedVerificationProcedure" type="comp:UseRefrigerantChargeApprovedVerificationProcedure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that approved refrigerant charge verification procedures can be used to verify compliance with the refrigerant charge verification requirements when temperatures are 
                           <d:gte/>  55
                           <d:deg/>F (RA3.2.2, or RA1)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries are Yes or No.   If installed system does not match this entry, it can be overwritten by rater but it will be flagged as a possible fail.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A14_RefrigerantChargeVerificationDate" type="comp:RefrigerantChargeVerificationDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Refrigerant Charge Verification for this system</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input: date: use validated date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A15_RefrigerantChargeVerificationMethod" type="comp:RefrigerantChargeVerificationMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant charge verification method used.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries are choice Superheat display text: Superheat (outdoor temperature must be equal to or greater than 55 degF); Subcooling display text: Subcooling (outdoor temperature must be equal to or greater than 55 degF);  choice WeighIn display text:  Weigh-in with Installer independent;  choice WeighInHERS display text:  Weigh-in with HERS Rater observation; choice NewFactoryCharge display text: New package unit factory charge;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A16_RefrigerantChargeVerifier" type="comp:RefrigerantChargeVerifier">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Person who performed the Refrigerant Charge Verification reported on this Certificate of Installation</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries are Choice HERS_Rater display text: HERS Rater;  choice Installer display text: HVAC system installer</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17_RefrigerantChargeVerificationMessage" type="comp:RefrigerantChargeVerificationMessage">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">HERS Verification Compliance Requirement Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from parent MCH-25. Possible entries  System does not qualify for Group Sampling;   or  System qualifies for Group Sampling</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A18_RefrigerantChargeVerificationMethodHERS" type="comp:RefrigerantChargeVerificationMethodHERS">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant charge verification method used by HERS Rater.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User picks from list.  Possible choices for  RefrigerantChargeVerificationMethodHERS in this field are calculated as follows:  
If A15_RefrigerantChargeVerificationMethod == NewFactoryCharge  
Then do not proceed.  A CF3R-MCH-25 is not required when a CF2R-MCH-25f is used. 
 
Else If A12_UseMinimumAirflowApprovedVerificationProcedure == false Or  
A13_UseRefrigerantChargeApprovedVerificationProcedure == false Then 
List  WeighInObservation; 
 
Else If A11_FaultIndicatorDisplayStatus == NoInstalledFID  Then     
 
If A15_RefrigerantChargeVerificationMethod == Superheat, 
List  SuperheatHERS;  
ElseIf If A15_RefrigerantChargeVerificationMethod == Subcool 
List SubcoolHERS; 
ElseIf A15_RefrigerantChargeVerificationMethod == WeighIn 
List  SuperheatHERS, SubcoolHERS;   
ElseIf A15_RefrigerantChargeVerificationMethod == WeighInHERS 
List WeighInObservation;   
End If
 
ElseIf A11_FaultIndicatorDisplayStatus == FactoryInstalledFID Or FieldInstalledFID 
List FID_Verification;  
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A18After" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Variant MCH25c</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">MCH-25c - Refrigerant Charge Verification - Weigh In Observation Procedure</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If User selects  WeighInObservation, use the MCH-25c - Refrigerant Charge Verification - Weigh In Observation Procedure  for the remainder of the compliance document</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Measurement Access Hole (MAH) Verification</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-25 in this section refer to the parent Certificate of Installation, the CF2R-MCH-25</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">HERS Raters are required to visually field verify MAH.  Procedures for installing MAH are specified in Reference Residential Appendix RA3.2.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01_MeasurementAccessHoleMethod" type="comp:MeasurementAccessHoleMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Method Used to Demonstrate Compliance with the Measurement Access Hole (MAH) Requirement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If UseMinimumAirflowApprovedVerificationProcedure equals false, Then result is MAH_NotRequiredWeighIn with display text: The airflow rate measurement procedures in RA3.3 or RA3.3.3 are not applicable to this system, therefore compliance shall use HERS Rater observation (RA3.2.3.2) of the installer weigh-in charging procedure(RA3.2.3.1); and compliance with MAH installation shall not be required;     Else display autofilled text referenced from parent MCH-25 as default but allow user to override the default.    For choice MAH_InstalledAsRequired display text:  MAH installed and labeled consistent with Figure 3.2-1  For choice MAH_NotRequired display text: Return side of system is located entirely within conditioned space such that an accurate return air dry-bulb temperature can be taken at the return grille.  For choice MAH_InstalledAlternativeLocation display text:  MAH cannot be installed consistent with Figure 3.2-1.  An alternative location has been provided and clearly labeled.  And for choice  MAH_NotInstalledFailsToComply display text: MAH is not installed. System does not comply.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Minimum System Airflow Rate Verification</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-01 in this section refer to the parent CF2R-MCH-01 and all other references are to other CF2R  or CF3R compliance documents.  
Require 1 row of data for each indoor unit listed in the "HERS Verification Requirements for Duct Systems" table in the parent CF2R-MCH-01for the SC system in A02</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for verifying minimum system airflow are specified in Reference Residential Appendix RA3.3.3.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableIndoorUnit">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="C01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value in  "HERS Verification Requirements for Duct Systems" table in the parent MCH-01 for value in A02_ResidentialHvacSystemAreaServed</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="C02_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: if A12 = no, then N/A;
                                                Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in C01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_MinimumAirflowRateAlternative" type="comp:MinimumAirflowRateAlternative">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: if A12 = no, then N/A;
                                                Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; 
 
Else reference numeric value  from applicable MCH23 field for the indoor unit in C01 and store result in MinimumAirflowRateRequired.   
 
Applicable MCH23 field as follows:  
Mch23a, Mch23e and Mch23f  - field D02
Mch23b -  field E03
Mch23c  - field E02
(Mch23d not applicable)</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="C02_NotApplicableMessage">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">if A12 = no, then N/A;</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="comp:NotApplicableMessage">
                                                <xsd:enumeration value="N/A"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="C03_MinimumAirflowRateVerificationStatus">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">System Airflow Rate Verification Status</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">If A12_UseMinimumAirflowApprovedVerificationProcedure == false,  then 
result =  SystemCompliesUsingObservationOfWeighIn display term The airflow rate measurement procedures in RA3.3 or RA3.3.3 are not applicable to this system, therefore compliance shall use HERS Rater observation (RA3.2.3.2) of the installer's weigh-in charging procedure (RA3.2.3.1);  
 
Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance: 
If the system has a registered CF3R-MCH-28 that indicates compliance with Table 150.0-B or C return duct design requirements, 
result  = SystemCompliesUsingTable150BC display term System complies using Table 150.0-B or C alternative return duct design criteria;   
Else result = SystemDoesNotComplyCF3RMCH28Required display term System does not comply.  A registered CF3R-MCH-28 is required (do not allow this MCH-25 to be registered); 
End If    
 
ElseIf the parent MCH-01 indicates a MCH-23 is required for minimum airflow rate compliance:  
If this system has a registered CF3R MCH-23a MCH-23b, MCH23e or MCH-23f that meets the compliance criterion in C02, Then 
result = SystemComplies display term System complies with minimum airflow rate requirements;    
Else If  A10_ImprovementStatus == Alteration And the system complies with the alternative airflow compliance method on a registered CF3R-MCH23c;  
result = SystemCompliesUsingAlternativeRemedialActions display term  system complies using the alternative remedial actions specified in RA3.3.3.1.5. This System does not qualify for Group Sampling; 
  
Else result = SystemDoesNotComplyCF3RMCH23Required display term  System does not comply. A registered CF3R-MCH-23 for this system is required . (do not allow this MCH-25 to be registered).
End If
End If</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MinimumAirflowRateVerificationStatus">
                                             <xsd:enumeration value="SystemComplies"/>
                                             <xsd:enumeration value="SystemCompliesUsingAlternativeRemedialActions"/>
                                             <xsd:enumeration value="SystemCompliesUsingObservationOfWeighIn"/>
                                             <xsd:enumeration value="SystemCompliesUsingTable150BC"/>
                                             <xsd:enumeration value="SystemDoesNotComplyCF3RMCH23Required"/>
                                             <xsd:enumeration value="SystemDoesNotComplyCF3RMCH28Required"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="C04_DoesSystemComplyWithAirflowRateVerification" type="comp:DoesSystemComplyWithAirflowRateVerification">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If all indoor units listed in C01 have C03 == SystemCompliesUsingObservationOfWeighIn  Or SystemCompliesUsingTable150BC Or SystemComplies Or SystemCompliesUsingAlternativeRemedialActions  result = true display term SC System complies with Minimum System Airflow Rate Verification; Else result = false display term SC System does not comply with Minimum System Airflow Rate Verification   and do not allow this Mch-25 to be registered.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04a_SectionComments" type="comp:SectionComments" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Notes:</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Weigh In Charge Procedure</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-25 in this section refer to the parent Certificate of Installation, the CF2R-MCH-25</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">HERS Rater must observe and confirm all data collected.  Procedures for Refrigerant Charge using the Weigh-in Charging Procedure are given in Reference Residential Appendix RA3.2.2.2 and RA3.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_CondenserEnteringDryBulbTemperature" type="comp:CondenserEnteringDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Condenser Air Entering Dry-bulb Temperature (T<d:sub>condenser, db</d:sub>) ((
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data;  Range for this value is  0 to 130.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D02_RefrigerantChargeWeighInMethod" type="comp:RefrigerantChargeWeighInMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Specify the Method of Weigh-in</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for lbs is 0 to 50  Range for oz is 0 to 15</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="D03_ManufacturerStandardCondenserChargeLbs" type="comp:ManufacturerStandardCondenserChargeLbs">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manufacturer Standard Charge for Condenser (lbs, oz.)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="D03_ManufacturerStandardCondenserChargeOz" type="comp:ManufacturerStandardCondenserChargeOz">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manufacturer Standard Charge for Condenser (lbs, oz.)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Range for oz is 0 to 15</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:element name="D04_ManufacturerStandardLiquidLineLength" type="comp:ManufacturerStandardLiquidLineLength">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer Standard Liquid Line Length (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is 0 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D05_ManufacturerStandardLiquidLineDiameter" type="comp:ManufacturerStandardLiquidLineDiameter">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer's Standard Liquid Line Diameter (in)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is 0 to 2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D06_ManufacturerStandardIndoorCoilSize" type="comp:ManufacturerStandardIndoorCoilSize">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer's Standard Indoor Coil Size (tons)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is 0 to 20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D07_InstalledLiquidLineLength" type="comp:InstalledLiquidLineLength">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Liquid Line Length (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is 0 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D08_InstalledLiquidLineDiameter" type="comp:InstalledLiquidLineDiameter">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Liquid Line Diameter (in)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is 0 to 2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D09_InstalledIndoorCoilSize" type="comp:InstalledIndoorCoilSize">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Indoor Coil Size (tons)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is 0 to 20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D10_RefrigerantChargeAdjustment" type="comp:RefrigerantChargeAdjustment">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Charge Adjustment to Standard Charge from Manufacturer's Specifications (ounces, positive = add, negative = remove)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data; Range for this value is -200 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data;</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="D11_RefrigerantChargeRequiredWeighInLbs" type="comp:RefrigerantChargeRequiredWeighInLbs">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Required to be Weighed in by the Installer (lbs, oz)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="D11_RefrigerantChargeRequiredWeighInOz" type="comp:RefrigerantChargeRequiredWeighInOz">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Required to be Weighed in by the Installer (lbs, oz)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data;</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25  Rater to have observed the collection of this data;</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="D12_RefrigerantChargeWeighedInLbs" type="comp:RefrigerantChargeWeighedInLbs">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Weighed in by Installer (lbs, oz)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="D12_RefrigerantChargeWeighedInOz" type="comp:RefrigerantChargeWeighedInOz">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Weighed in by Installer (lbs, oz)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Reference value from MCH-25.  Rater to have observed the collection of this data;</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:element name="D13_IsRefrigerantChargeWeighInCompliant" type="comp:IsRefrigerantChargeWeighInCompliant">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">(Note: If Verification Status for this table indicates "Fail", the reason shall be described in the correction notes for this table.)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Boolean value true display text:  System complies.  For Boolean false value display text: System does not comply.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D13a_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Correction Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Weigh In Charge Procedure - Additional Requirements</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor coil correction</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">The indoor coil correction to refrigerant weight is used if it is supplied by the manufacturer.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Prior to Introducing Refrigerant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Prior to introducing refrigerant, system is evacuated to 500 microns or less and, when isolated, has risen no more than 300 microns after 5 minutes.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E03_DoesSystemComplyWithRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Verification Status:</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">(Note: If Verification Status for this table indicates "Fail", the reason shall be described in the correction notes for this table.)</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:DoesSystemComplyWithRequirements">
                           <xsd:enumeration value="Fail"/>
                           <xsd:enumeration value="Pass"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="E03a_SectionCorrectionNotes" type="comp:SectionCorrectionNotes" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Correction Notes:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If Verification Status= Fail, then text entry in this Corrections Notes field is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="EEndNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met unless otherwise noted in the Verification Status and the Correction Notes in this table.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="F_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="F01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="CalculationsAndRules">If MeasurementAccessHoleMethod does not equal MAH_NotInstalledFailsToComply,  And  MinimumAirflowRateVerificationStatus does not equal  SystemDoesNotComplyCF3RMCH23Required Or SystemDoesNotComplyCF3RMCH28Required, And  IsRefrigerantChargeWeighInCompliant is true and E03, DoesSystemComplyWithRequirements doesn't equal Fail  then result is true.  For Boolean true value display text This System Complies with all requirements.    Else result is false.  For Boolean false value display text;  This   System Does Not Comply.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RMCH25cH"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Refrigerant Charge Verification"/>
                  <xsd:attribute name="docVariantSubtitle" type="comp:ComplianceDocumentVariantSubtitle" fixed="MCH25c Weigh In Observation  Procedure"/>
                  <xsd:attribute name="docVariantLetter" type="comp:ComplianceDocumentVariant" fixed="c"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF3RMCH25cH"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RMCH25cH"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF3RMCH25cH" type="CF3RMCH25cH">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RMCH25cH compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
