deployed/CF3R/CF3RMCH30H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH30H" version="2022.0.000" xmlns="http://www.lmonte.com/besm/CF3RMCH30H" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RMCH30H">
      <xsd:annotation>
         <xsd:documentation>Central Fan Ventilation Cooling Systems (VCS)</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Central Fan Ventilation Cooling System (VCS) Equipment Information</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeforeNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:i>NOTE: When the Certificate of Compliance indicates a Central Fan Ventilation Cooling system is installed, the following items must be verified.</d:i>
                        </xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from CF2R-MCH30H</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from CF2R-MCH30H</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_IndoorUnitName" type="hvac:IndoorUnitName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Indoor Unit Name or  Description of  Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Data from MCH-01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_FanManufacturerName" type="comp:FanManufacturerName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central Fan VCS Equipment - Manufacturer Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input: Text</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_FanManufacturerModelNumber" type="comp:FanManufacturerModelNumber">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central Fan VCS Equipment - Manufacturer Model No.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input: Text</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_CFVCS_Type" type="comp:CFVCS_Type">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central Fan VCS Equipment - Fan Type Required</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text from CF2R-Mch-01 B05_CFVCS_Type value; FixedCFVCS display term Fixed CFVCS or VariableCFVCS display term Variable CFVCS</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_CFVCS_Type" type="comp:CFVCS_Type">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central Fan VCS Equipment - Fan Type Installed</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A06_CFVCS_Type == VariableCFVCS result = VariableCFVCS; Else User selects from list: FixedCFVCS display term Fixed CFVCS or VariableCFVCS display term Variable CFVCS</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A08_DoesManufacturerDocumentationMeetApplicableRequirements" type="comp:DoesManufacturerDocumentationMeetApplicableRequirements">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Central Fan VCS Equipment - Manufacturer Documentation Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Manufacturer system documentation meets the applicable requirements in section B item 06 on this document  or Manufacturer system documentation does not meet the applicable requirements in section B item 06 on this document</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A09_IsRequiredCF3RMCH20Registered" type="comp:IsRequiredCF3RMCH20Registered">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Duct Leakage Verification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field:  If this air system has a registered CF3R-MCH-20 that complies with the maximum duct leakage rate criteria on the CF1R, then result  = true and display text is: System Complies with Duct Leakage Verification Requirements;  Else result = false and display text is: System Does not Comply.  A registered CF3R-MCH-20 is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A10_IsRequiredCF3RMCH23Registered" type="comp:IsRequiredCF3RMCH23Registered">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Airflow Rate Verification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field:  If variant == CF3R-MCH-23e then If its E03 ==true Or variant == CF3R-MCH-23f then If its F03 == true result = true display term System Complies with Airflow Rate Verification Requirements;  Else result = false display term   System Does not Comply.  A registered CF3R-MCH-23 is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A11_IsRequiredCF3RMCH22Registered" type="comp:IsRequiredCF3RMCH22Registered">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fan Efficacy Verification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field: If variant == CF3R-MCH-22c  and D05 == true Or   If variant == CF3R-MCH-22d  and E05 == true  then result = true display term System Complies with Fan Efficacy Verification Requirements;  Else result = false display term  System Does not Comply.  A registered CF3R-MCH-22 is required</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_DoesSystemComplyWithFanDuctVerification" type="comp:DoesSystemComplyWithFanDuctVerification">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">calculated field:   If A07_CFVCS_Type == A06_CFVCS_Type And A08, A09, A10  and A11 == true, then result = true, Else the result = false.  For Boolean true value display text: System Complies with Fan and Duct Verification Requirements.  For Boolean false value display text: System does not Comply with Fan and Duct Verification Requirements</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Determination of HERS Verification Compliance</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="B_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="B01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                        <xsd:documentation source="CalculationsAndRules">If A12_DoesSystemComplyWithFanDuctVerification  == true result = true display term Complies: All specified verification protocol requirements on this document are met. ; Else result = false display term: Does not comply: One or more specified verification protocol requirements on this document are not met.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ComplianceDocumentPackage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DocID" minOccurs="0">
               <xsd:complexType>
                  <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RMCH30H"/>
                  <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                  <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Central Fan Ventilation Cooling Systems (VCS)"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Payload" type="comp:Payload"/>
            <xsd:element name="DocumentData">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header" type="comp:HeaderHERS"/>
                     <xsd:element ref="cF3RMCH30H"/>
                     <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     <xsd:element name="Footer" type="comp:Footer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Report" type="xsd:base64Binary"/>
         </xsd:sequence>
         <xsd:attribute name="revision" use="required" type="xsd:string" fixed="rev 20220101"/>
         <xsd:attribute name="doc" use="required" type="comp:ComplianceDocumentTag" fixed="CF3RMCH30H"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="cF3RMCH30H" type="CF3RMCH30H">
      <xsd:annotation>
         <xsd:documentation>This element contains all of the data and text required to generate the CF3RMCH30H compliance report.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
