deployed/CF3R/CF3RMCH25H.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH25H" version="2025.0.000" xmlns="http://www.lmonte.com/besm/CF3RMCH25H" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:bld="http://www.lmonte.com/besm/bld" xmlns:com="http://www.lmonte.com/besm/com" xmlns:comp="http://www.lmonte.com/besm/comp" xmlns:d="http://www.lmonte.com/besm/d" xmlns:dtyp="http://www.lmonte.com/besm/dtyp" xmlns:env="http://www.lmonte.com/besm/env" xmlns:hvac="http://www.lmonte.com/besm/hvac" xmlns:lit="http://www.lmonte.com/besm/lit" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   <xsd:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   <xsd:complexType name="CF3RMCH25H">
      <xsd:annotation>
         <xsd:documentation>Refrigerant Charge Verification</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Section_A" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">System Information</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH01 in this section refer to the parent CF2R-MCH01 and all other references are to other CF2R or CF3R compliance documents.</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="A_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Each system requiring refrigerant charge verification will be documented on a separate certificate.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A01_ResidentialSpaceConditioningSystemName" type="hvac:ResidentialSpaceConditioningSystemName">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Identification or Name</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A02_ResidentialHvacSystemAreaServed" type="hvac:ResidentialHvacSystemAreaServed">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Space Conditioning System Location or Area Served</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A03_CondenserManufacturer" type="comp:CondenserManufacturer">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Make or Brand</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A04_CondenserModelNumber" type="comp:CondenserModelNumber">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Model Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A05_CondenserNominalCoolingCapacity" type="hvac:CondenserNominalCoolingCapacity">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Nominal Cooling Capacity (tons) of Condenser</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A06_CondenserSerialNumber" type="comp:CondenserSerialNumber">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser (or package unit) Serial Number</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">auto filled text: referenced from MCH01</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A07_RefrigerantType" type="comp:RefrigerantType">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks from list  Choice R22 display text: R-22; Choice R410A display text: R-410A; Choice R454B display text: R-454B;  Choice Other display text: Other;</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:choice maxOccurs="1">
                     <xsd:element name="A08_RefrigerantTypeOther" type="comp:RefrigerantTypeOther">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="A08_NotApplicableMessage" type="comp:NotApplicableMessage">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Other Refrigerant Type (if applicable)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">If RefrigerantType in A07 equals Other, Then user input text to identify refrigerant type, Else result is N/A stored in the NotApplicableMessage</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:choice>
                  <xsd:element name="A09_IsLiquidLineFilterDrierInstalledToSpec" type="comp:IsLiquidLineFilterDrierInstalledToSpec">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Liquid Line Filter Drier Installed According to Manufacturers Specifications (if applicable)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user selects from Yes or NA.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A10_ImprovementStatus">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">System Installation Type</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list: New, Replacement, Alteration</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="hvac:ImprovementStatus">
                           <xsd:enumeration value="Alteration"/>
                           <xsd:enumeration value="New"/>
                           <xsd:enumeration value="Replacement"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="A11_FaultIndicatorDisplayStatus" type="comp:FaultIndicatorDisplayStatus" fixed="FIDStatusNA">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Fault Indicator Display (FID) Status (Note: Even systems with a FID must have refrigerant charge verified by installer).</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">This field is fixed value FIDStatusNA display term N/A</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A12_UseMinimumAirflowApprovedVerificationProcedure" type="comp:UseMinimumAirflowApprovedVerificationProcedure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that the minimum airflow can be verified for all indoor units using an approved measurement procedure (RA3.3 or RA3.3.3)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Reference values from parent MCH-0! for the following evaluations
For Criterion1 reference value for CanRA3_3AirflowProtocolsTestSystem from
MCH-01a section J J12; MCH-01b section F F11 or section G G13; MCH-01c section I  I11; or MCH-01d section K K11 or section L L13.
 
For Criterion2 reference data as follows: MCH-01a D07 DuctLocation; MCH-01c C06 DuctSystemType; MCH-01d D07 DuctSystemTypePerf.  
 
For Criterion3 reference data as follows: MCH-01b C12 IndoorUnitsCount, C13 DuctedIndoorUnitsCount; MCH-01d D06 IndoorUnitsCount, D13 DuctedIndoorUnitsCount.  
 
Evaluation:  If (Criterion1) CanRA3_3AirflowProtocolsTestSystem == false;  Or If (Criterion2) DuctLocation, DuctSystemType Or DuctSystemTypePerf == DuctedAndDuctlessIndoorUnits Or Ductless;  Or If (Criterion3) DuctedIndoorUnitsCount LT IndoorUnitsCount 
 result = false, display term No, the system airflow rate measurement procedures in RA3.3 or RA3.3.3 cannot be used to verify system airflow rate requirements for all the indoor units for this system.;  
 
Else result = true display term Yes.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A13_UseRefrigerantChargeApprovedVerificationProcedure" type="comp:UseRefrigerantChargeApprovedVerificationProcedure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Is the system of a type that approved refrigerant charge verification procedures can be used to verify compliance with the refrigerant charge verification requirements when temperatures are 
                           <d:gte/>  55
                           <d:deg/>F (RA3.2.2, or RA1)?</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">For Boolean true value, display:  Yes, one of the Refrigerant charge verification procedures from RA3.2.2 or RA1 is applicable to this system and can be used to verify compliance.  For Boolean false value, display: No, none of the refrigerant charge verification procedures in RA3.2.2, or RA1 are applicable to the system therefore compliance shall use ECC Rater observation of the installer weigh-in charging procedure</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A14_RefrigerantChargeVerificationDate" type="comp:RefrigerantChargeVerificationDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Refrigerant Charge Verification for this system</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user input: date: use validated date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A15_RefrigerantChargeVerificationMethod" type="comp:RefrigerantChargeVerificationMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant charge verification method used.</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">user picks one from list: choice Superheat, display text: Superheat (outdoor temperature must be equal to or greater than 55 degF); choice Subcooling, display text Subcooling (outdoor temperature must be equal to or greater than 55 degF);  choice WeighIn, display text:  Weigh-in with Installer independent;  choice WeighInObservation, display text:  Weigh-in with ECC Rater observation; choice NewFactoryCharge display text: New package unit factory char</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A16_RefrigerantChargeVerifier" type="comp:RefrigerantChargeVerifier">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Person who performed the Refrigerant Charge Verification reported on this Certificate of Installation</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A15 equals WeighIn or WeighInObservation then result is Installer, Else user picks from list Choice FieldVerifier display text: ECC Rater;  choice Installer display text: HVAC system installer</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="A17_RefrigerantChargeVerificationMessage" type="comp:RefrigerantChargeVerificationMessage">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">ECC Verification Compliance Requirement Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If any of the following conditions are true: 
RefrigerantChargeVerifier equals FieldVerifier,  UseMinimumAirflowApprovedVerificationProcedure equals false, UseRefrigerantChargeApprovedVerificationProcedure equals false or RefrigerantChargeVerificationMethod equals WeighIn Or WeighInHERS, 
result = DoesNotQualifyForGroupSampling display term  System does not qualify for Group Sampling; 
   
Else If RefrigerantChargeVerificationMethod equals NewFactoryCharge, 
result = VerificationNotRequired display term Verification of refrigerant charge not required;  
Else result = QualifiesForGroupSampling display term System qualifies for Group Sampling
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B1" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Metering Device Verification for Superheat Method</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == SuperHeat.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Bsh_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Superheat Method can only be used on systems that do not have a variable metering device.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Bsh01_RefrigerantMeteringDevice" type="comp:RefrigerantMeteringDevice">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant metering device</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Bsh02_IsSuperheatMethodApplicable" type="comp:IsSuperheatMethodApplicable">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Superheat Method applicability status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If RefrigerantMeteringDevice is FixedOrifice result is true.  For Boolean true value, display:  Superheat Method is applicable to this system.    Else result is false  For Boolean false value, display: Superheat Method is not applicable to this system, do not proceed.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_B2" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Metering Device Verification for Subcooling Method</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == Subcooling.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Bsc_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Subcooling Method can only be used on systems that have a variable metering device.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Bsc01_RefrigerantMeteringDevice" type="comp:RefrigerantMeteringDevice">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant metering device</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Bsc02_IsSubcoolingMethodApplicable" type="comp:IsSubcoolingMethodApplicable">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Subcooling Method applicability status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If RefrigerantMeteringDevice is ThermostaticExpansionValve or ElectronicExpansionValve result is true.  For Boolean true value, display:  SuperCooling Method is applicable to this system.  Else result is false.  For Boolean false value, display SuperCooling Method is not applicable to this system</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_C" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Instrument Calibration</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod != NewFactoryCharge.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="C_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for instrument calibration are given in Reference Residential Appendix RA3.2.2 and RA3.2.2.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C01_DigitalRefrigerantGaugeCalibrationDate" type="comp:DigitalRefrigerantGaugeCalibrationDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Digital Refrigerant Gauge Calibration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input calibration date in valid date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C02_DigitalThermocoupleCalibrationDate" type="comp:DigitalThermocoupleCalibrationDate">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Date of Digital Thermocouple Calibration</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input calibration date in valid date format</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C03_IsDigitalRefrigerantGaugeCalibrationCurrent" type="comp:IsDigitalRefrigerantGaugeCalibrationCurrent">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Digital Refrigerant Gauge Calibration Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If the difference A14_RefrigerantChargeVerificationDate in section A and the C01_DigitalRefrigerantGaugeCalibrationDate is greater than one month, or a negative number, 
result = false display term Digital Refrigerant Gauge requires Calibration (do not proceed),   
Else If the difference is one month or less, 
result = true  display term Calibration is current.
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="C04_IsDigitalThermocoupleCalibrationCurrent" type="comp:IsDigitalThermocoupleCalibrationCurrent">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Digital Thermocouple Calibration Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If the difference between A14_RefrigerantChargeVerificationDate in section A and C02_DigitalThermocoupleCalibrationDate  is greater than one month, or a negative number,
result = false  display term Digital Thermocouple Gauge requires Calibration (do not proceed),   
Else if the difference is one month or less, 
result = true  display term Calibration is current
End If</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_D" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Measurement Access Hole (MAH) Verification</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="D_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for installing MAH are specified in Reference Residential Appendix RA3.2.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="D01_MeasurementAccessHoleMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Method Used to Demonstrate Compliance with the Measurement Access Hole (MAH) Requirement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If A15 == WeighIn or WeighInObservation And A12_UseMinimumAirflowApprovedVerificationProcedure == false result = MAH_NotRequiredWeighIn display text: The airflow rate measurement procedures in RA3.3 or RA3.3.3 are not applicable to this system, therefore compliance shall use ECC Rater observation (RA3.2.3.2) of the installer weigh-in charging procedure(RA3.2.3.1);
Else user selects from list MAH_InstalledAsRequired display text:  MAH installed and labeled consistent with Figure 3.2-1,  MAH_NotRequired display text: Return side of system is located entirely within conditioned space such that an accurate return air dry-bulb temperature can be taken at the return grille.  
and MAH_InstalledAlternativeLocation display text:  MAH cannot be installed consistent with Figure 3.2-1.  An alternative location has been provided and clearly labeled;</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="comp:MeasurementAccessHoleMethod">
                           <xsd:enumeration value="MAH_InstalledAlternativeLocation"/>
                           <xsd:enumeration value="MAH_InstalledAsRequired"/>
                           <xsd:enumeration value="MAH_NotRequiredWeighIn"/>
                           <xsd:enumeration value="MAH_NotRequired"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_E" minOccurs="1">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Minimum System Airflow Rate Verification</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">All references to the MCH-01 in this section refer to the parent CF2R-MCH-01 and all other references are to other CF2R  compliance documents.  
Require 1 row of data for each indoor unit listed in the "ECC Verification Requirements for Duct Systems" table in the parent CF2R-MCH-01 for the SC system in A02</xsd:documentation>
               <xsd:documentation source="MinOccurs">This section is required.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="E_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for verifying minimum system airflow are specified in Reference Residential Appendix RA3.3.3.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TableIndoorUnit">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText"/>
                     </xsd:annotation>
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="Row" minOccurs="1" maxOccurs="unbounded">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="E01_IndoorUnitName" type="hvac:IndoorUnitName">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">Indoor Unit Name or Description of Area Served</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Reference value in  "ECC Verification Requirements for Duct Systems" table in the parent MCH-01 for value in A02_ResidentialHvacSystemAreaServed</xsd:documentation>
                                       </xsd:annotation>
                                    </xsd:element>
                                    <xsd:choice maxOccurs="1">
                                       <xsd:element name="E02_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: If A12_UseMinimumAirflowApprovedVerificationProcedure == false result = MinimumAirflowRateNA display term N/A; 
Else If the  parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative; Else reference numeric value from applicable MCH23 field for the indoor unit in E01 and store result in MinimumAirflowRateRequired. 
Applicable MCH23 field found in Forced Air System Airflow Rate Measurement Section E1, E2 or E3 field 03 AirflowRequiredMinimumTarget</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                       <xsd:element name="E02_MinimumAirflowRateAlternative" type="comp:MinimumAirflowRateAlternative">
                                          <xsd:annotation>
                                             <xsd:documentation source="FieldText">Minimum Required System Airflow Rate (cfm)</xsd:documentation>
                                             <xsd:documentation source="CalculationsAndRules">Calculated field: If A12_UseMinimumAirflowApprovedVerificationProcedure == false result = MinimumAirflowRateNA display term N/A; Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance
result = RequiredVerificationTable150BC stored in MinimumAirflowRateAlternative;  Else reference numeric value  from applicable MCH23 field for the indoor unit in E01 and store result in MinimumAirflowRateRequired.</xsd:documentation>
                                          </xsd:annotation>
                                       </xsd:element>
                                    </xsd:choice>
                                    <xsd:element name="E03_MinimumAirflowRateVerificationStatus">
                                       <xsd:annotation>
                                          <xsd:documentation source="FieldText">System Airflow Rate Verification Status</xsd:documentation>
                                          <xsd:documentation source="CalculationsAndRules">Calculated field: If A12_UseMinimumAirflowApprovedVerificationProcedure == false And A15_RefrigerantChargeVerificationMethod == WeighIn Or WeighInObservation 
result = SystemCompliesUsingObservationOfWeighIn display term  The airflow rate measurement procedures in RA3.3 or RA3.3.3 are not applicable to this system, therefore compliance shall use ECC Rater observation (RA3.2.3.2) of the installer's weigh-in charging procedure (RA3.2.3.1);   
Else If the parent MCH-01 indicates a MCH-28 is required for alternate minimum airflow rate compliance: 
If the system has a registered CF2R-MCH-28 that indicates compliance with Table 150.0-B or C return duct design requirements, 
result  = SystemCompliesUsingTable150BC display term System complies using Table 150.0-B or C alternative return duct design criteria;   
Else result = SystemDoesNotComplyCF2RMCH28Required display term System does not comply.  A registered CF2R-MCH-28 is required (do not allow this MCH-25 to be registered)
End If   
ElseIf the MCH-01 indicates a MCH-23 is required for minimum airflow rate compliance 
If this system has a registered CF2R MCH-23 
If  A10_ImprovementStatus == Alteration And the registered Mch23 A11 == AirflowRateProtocolAlternativeCompliance   
result= SystemCompliesUsingAlternativeRemedialActions display term  system complies using the alternative remedial actions specified in RA3.3.3.1.5. This System does not qualify for Group Sampling;  
Else result = SystemComplies display term System complies with minimum airflow rate requirements;  
End If
Else result = SystemDoesNotComplyCF2RMCH23Required display term  System does not comply. A registered CF2R-MCH-23 for this system is required . (do not allow this MCH-25 to be registered).
End If End If</xsd:documentation>
                                       </xsd:annotation>
                                       <xsd:simpleType>
                                          <xsd:restriction base="comp:MinimumAirflowRateVerificationStatus">
                                             <xsd:enumeration value="SystemComplies"/>
                                             <xsd:enumeration value="SystemCompliesUsingAlternativeRemedialActions"/>
                                             <xsd:enumeration value="SystemCompliesUsingObservationOfWeighIn"/>
                                             <xsd:enumeration value="SystemCompliesUsingTable150BC"/>
                                             <xsd:enumeration value="SystemDoesNotComplyCF2RMCH23Required"/>
                                             <xsd:enumeration value="SystemDoesNotComplyCF2RMCH28Required"/>
                                          </xsd:restriction>
                                       </xsd:simpleType>
                                    </xsd:element>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="E04_DoesSystemComplyWithAirflowRateVerification" type="comp:DoesSystemComplyWithAirflowRateVerification">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field:  If all indoor units listed in E01 have E03 == SystemCompliesUsingTable150BC Or SystemComplies Or SystemCompliesUsingAlternativeRemedialActions  
result = true display term SC System complies with Minimum System Airflow Rate Verification; Else result = false display term SC System does not comply with Minimum System Airflow Rate Verification   and do not allow this Mch-25 to be registered.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="E04a_SectionComments" type="comp:SectionComments" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Notes:</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F1" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Data Collection Superheat Method</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == Superheat.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Fsh_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for determining Refrigerant Charge using the Standard Charge Verification Procedure are given in Reference Residential Appendix RA3.2.2 and RA3.2.2.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh01_LowestReturnAirDryBulbTemperature" type="comp:LowestReturnAirDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lowest Return Air Dry-bulb Temperature that Occurred During the Refrigerant Charge Verification Procedure (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is  0 to 130.   In order to have a verification that complies, the return air drybulb temperature must remain above 70F during the verification procedure,</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh02_CondenserEnteringDryBulbTemperature" type="comp:CondenserEnteringDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Condenser Air Entering Dry-bulb Temperature (T<d:sub>condenser, db</d:sub>) ((
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is  0 to 130</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh03_DoesSuperheatOutdoorTemperatureQualify" type="comp:DoesSuperheatOutdoorTemperatureQualify">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Outdoor Temperature Qualification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If CondenserEnteringAirDryBulbTemperature is less than 55F or greater than 115F,  result is false.  For Boolean false display text: Superheat refrigerant charge verification method is not allowed to be used when the outdoor temperature is less than 55F or greater than 115F, and do not proceed.  Else result is true.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh04_MeasuredReturnAirDryBulbTemperature" type="comp:MeasuredReturnAirDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Return (evaporator entering) Air Dry-bulb Temperature (T<d:sub>return, db</d:sub>) (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is  0 to 130.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh05_MeasuredReturnAirWetBulbTemperature" type="comp:MeasuredReturnAirWetBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Return (evaporator entering) Air Wet-bulb Temperature (T<d:sub>return, wb</d:sub>) (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is  0 to 130.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh06_MeasuredSuctionLineTemperature" type="comp:MeasuredSuctionLineTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Suction Line Temperature (T<d:sub>suction</d:sub>) (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh07_MeasuredSuctionLinePressure" type="comp:MeasuredSuctionLinePressure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Suction Line Pressure (P<d:sub>suction</d:sub> - psig)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 400</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh08_EvaporatorSaturationTemperature" type="comp:EvaporatorSaturationTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Evaporator Saturation Temperature (T<d:sub>evaporator, sat</d:sub>) from Digital Gauge or P-T Table using Line F07 (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh09_MeasuredSuperheat" type="comp:MeasuredSuperheat">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line F06 - Line F08) (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Report result of MeasuredSuctionLineTemperature minus EvaporatorSaturationTemperature</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh10_TargetSuperheat" type="comp:TargetSuperheat">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Target Superheat (from Table RA3.2-2, using F02 and F05) (
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 50</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsh11_IsRefrigerantChargeSuperheatCompliant" type="comp:IsRefrigerantChargeSuperheatCompliant">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If LowestReturnAirDryBulbTemperature in F01 is greater than or equal to 70 AND absolute value (ABS) of MeasuredSuperheat minus TargetSuperheat is less than or equal to 5, then result is true.  For Boolean true display text System complies with Refrigerant Charge Verification requirement by use of the Superheat Method.   Else result is false.  For Boolean false display text The System does not comply.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_F2" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Data Collection and Calculations for Subcooling Method</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == Subcooling.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Fsc_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for determining Refrigerant Charge using the Standard Charge Verification Procedure are given in Reference Residential Appendix RA3.2.2.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc01_LowestReturnAirDryBulbTemperature" type="comp:LowestReturnAirDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Lowest Return Air Dry Bulb Temperature that Occurred During the Refrigerant Charge Verification Procedure (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is  0 to 130.   In order to have a verification that complies, the return air drybulb temperature must remain above 70F during the verification procedure,</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc02_CondenserEnteringDryBulbTemperature" type="comp:CondenserEnteringDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Condenser Air Entering Dry-Bulb Temperature (T<d:sub>condenser, db</d:sub>)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is  0 to 130</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc03_DoesSubcoolingOutdoorTemperatureQualify" type="comp:DoesSubcoolingOutdoorTemperatureQualify">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Outdoor Temperature Qualification Status</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If CondenserEnteringAirDryBulbTemperature is less than 55F, result is false.  For Boolean false display text:  Subcooling refrigerant charge verification methods are not allowed to be used when the outdoor temperature is less than 55F, do not proceed.  Else result is true.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc04_MeasuredLiquidLineTemperature" type="comp:MeasuredLiquidLineTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Liquid Line Temperature (T<d:sub>liquid</d:sub>) (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc05_MeasuredLiquidLinePressure" type="comp:MeasuredLiquidLinePressure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Liquid Line Pressure (P<d:sub>liquid</d:sub>)  (psig)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 800</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc06_CondenserSaturationTemperature" type="comp:CondenserSaturationTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Condenser Saturation Temperature (T<d:sub>condenser, sat</d:sub>) from Digital Gauge or P-T Table using Line F05 (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc07_MeasuredSubcooling" type="comp:MeasuredSubcooling">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Subcooling (Line F06 - Line F04 (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Report result of CondenserSaturationTemperature minus   MeasuredLiquidLineTemperature</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc08_TargetSubcooling" type="comp:TargetSubcooling">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Target Subcooling from Manufacturer (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 50</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Fsc09_IsRefrigerantChargeSubcoolingCompliant" type="comp:IsRefrigerantChargeSubcoolingCompliant">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If LowestReturnAirDryBulbTemperature in Fcl01 is greater than or equal to 70 AND absolute value (ABS) of MeasuredSubcooling in Fcl07 minus TargetSubcooling in Fcl08 is less than or equal to 3, then result is true.  For Boolean true display text System Refrigerant Charge Passes by Subcooling Method  and Must also pass Metering Device Verification, next section.  Else result is false.  For Boolean false display text The System does not comply.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_G" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Metering Device Verification</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == Subcooling.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="G_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for the verification of proper metering device operation are specified in RA3.2.2.6.2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G01_MeasuredSuctionLineTemperature" type="comp:MeasuredSuctionLineTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Suction Line Temperature (T<d:sub>suction</d:sub>) (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G02_MeasuredSuctionLinePressure" type="comp:MeasuredSuctionLinePressure">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Suction Line Pressure (P<d:sub>suction</d:sub>) (psig)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 400</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G03_EvaporatorSaturationTemperature" type="comp:EvaporatorSaturationTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Evaporator Saturation Temperature (T<d:sub>evaporator, sat</d:sub>) from Digital Gauge or P-T Table using Line G02 (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -40 to 150</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G04_MeasuredSuperheat" type="comp:MeasuredSuperheat">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line G01- Line G03) (
                           <d:deg/>F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Report result of MeasuredSuctionLineTemperature minus EvaporatorSaturationTemperature</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G05_IsMeasuredSuperheatWithinCEC_Range" type="comp:IsMeasuredSuperheatWithinCEC_Range">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line G04)  is between 4
                           <d:deg/>F and 25
                           <d:deg/>F (inclusive)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If MeasuredSuperheat is within the range of 4 deg F minimum inclusive and 25 deg F maximum inclusive then result is true. For Boolean true value display text: Measured Superheat passes CEC requirement.  Else result is false.  For Boolean false value display text: Measured Superheat does not pass CEC requirement</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G06_MeasuredSuperheatWithinManufacturerSpec" type="comp:MeasuredSuperheatWithinManufacturerSpec">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Superheat (Line G04) is within Manufacturer's Specifications ( if known)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="G07_IsMeteringDeviceVerificationCompliant" type="comp:IsMeteringDeviceVerificationCompliant">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If IsMeasuredSuperheatWithinCEC_Range is true and MeasuredSuperheatWithinManufacturerSpec value is either WithinManufacturerRange or NotKnown then result is true.  For Boolean true value display text: Metering Device Verification Passes.  Else result is false.  For Boolean false value display text: Metering Device Verification Does Not Pass</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_H" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Weigh In Charge Procedure</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == WeighIn Or WeighInObservation.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="H_BeginNote1" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Begin Note 1</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">Procedures for Refrigerant Charge using the Weigh-in Charging Procedure are given in Reference Residential Appendix RA3.2.2.2 and RA3.2.3</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H01_CondenserEnteringDryBulbTemperature" type="comp:CondenserEnteringDryBulbTemperature">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Measured Condenser Air Entering Dry-bulb Temperature (T<d:sub>condenser, db</d:sub>) ((
                           <d:deg/> F)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User input numeric value xxx.x, check range = 0 to 130;  If all of the following condiitons are true:  A12 equals yes, A13 equals yes and A15 equals  WeighInObservation And value entered is greater than or equal to 55 degrees F,  Then display message:  "For this system, compliance using Weigh-In with ECC Rater observation is allowed only when outside temperature is 
                           <d:lt/> 55
                           <d:deg/> F."   (Do Not Proceed, do not allow this document to be registered)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H02_RefrigerantChargeWeighInMethod" type="comp:RefrigerantChargeWeighInMethod">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Specify the Method of Weigh-in</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">User selects from list: Charge Adjustment  or Total Charge</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:sequence maxOccurs="1">
                     <xsd:annotation>
                        <xsd:documentation source="CalculationsAndRules">Range for lbs is 0 to 50  Range for oz is 0 to 15</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="H03_ManufacturerStandardCondenserChargeLbs" type="comp:ManufacturerStandardCondenserChargeLbs">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manufacturer Standard Charge for Condenser (lbs, oz.)</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="H03_ManufacturerStandardCondenserChargeOz" type="comp:ManufacturerStandardCondenserChargeOz" maxOccurs="1">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Manufacturer Standard Charge for Condenser (lbs, oz.)</xsd:documentation>
                           <xsd:documentation source="CalculationsAndRules">Range for lbs is 0 to 50  Range for oz is 0 to 15</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:element name="H04_ManufacturerStandardLiquidLineLength" type="comp:ManufacturerStandardLiquidLineLength">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer Standard Liquid Line Length (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H05_ManufacturerStandardLiquidLineDiameter" type="comp:ManufacturerStandardLiquidLineDiameter">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer's Standard Liquid Line Diameter (in)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H06_ManufacturerStandardIndoorCoilSize" type="comp:ManufacturerStandardIndoorCoilSize">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Manufacturer's Standard Indoor Coil Size (tons)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H07_InstalledLiquidLineLength" type="comp:InstalledLiquidLineLength">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Liquid Line Length (ft)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H08_InstalledLiquidLineDiameter" type="comp:InstalledLiquidLineDiameter">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Liquid Line Diameter (in)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 2</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H09_InstalledIndoorCoilSize" type="comp:InstalledIndoorCoilSize">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Installed Indoor Coil Size (tons)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is 0 to 20</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="H10_RefrigerantChargeAdjustment" type="comp:RefrigerantChargeAdjustment">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Charge Adjustment to Standard Charge from Manufacturer's Specifications (ounces, positive = add, negative = remove)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for this value is -200 to 200</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant Required to be Weighed in by the Installer (lbs, oz)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Calculated field: use format lbs, oz; Range for lbs: -50 to 50; Range for oz: -15 to 15.  If RefrigerantChargeWeighInMethod == ChargeAdjustment then result = H10_RefrigerantChargeAdjustment value after converting it to lbs and oz,  
Else if RefrigerantChargeWeighInMethod == TotalCharge then result = (H03_ManufacturerStandardCondenserChargeLbs, H03_ManufacturerStandardCondenserChargeOz) + H10_RefrigerantChargeAdjustment after converting it to lbs and oz</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="H11_RefrigerantChargeRequiredWeighInLbs" type="comp:RefrigerantChargeRequiredWeighInLbs">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Pounds</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="H11_RefrigerantChargeRequiredWeighInOz" type="comp:RefrigerantChargeRequiredWeighInOz">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Ounces</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:sequence maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Refrigerant Weighed in by the Installer (lbs, oz)</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">Range for lbs is -50 to 50; Range for oz is -15 to 15</xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="H12_RefrigerantChargeWeighedInLbs" type="comp:RefrigerantChargeWeighedInLbs">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Pounds</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="H12_RefrigerantChargeWeighedInOz" type="comp:RefrigerantChargeWeighedInOz">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Refrigerant Ounces</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:element name="H13_IsRefrigerantChargeWeighInCompliant" type="comp:IsRefrigerantChargeWeighInCompliant">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Compliance Statement:</xsd:documentation>
                        <xsd:documentation source="CalculationsAndRules">If  H11_RefrigerantChargeRequiredWeighInLbs, H11_RefrigerantChargeRequiredWeighInOz == H12_RefrigerantChargeWeighedInLbs, H12_RefrigerantChargeWeighedInOz  then result = true.  For Boolean true value display term: System complies with the weigh-in charge requirement.   
Else result = false.  For Boolean false value display term: System does not comply with the weigh-in charge requirement.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Section_I" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation source="FieldText">Weigh In Charge Procedure - Additional Requirements</xsd:documentation>
               <xsd:documentation source="CalculationsAndRules">This section is required if A15 RefrigerantChargeVerificationMethod == WeighIn Or WeighInObservation.</xsd:documentation>
               <xsd:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="I01" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Brazing of Refrigerant Lines</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">If refrigerant line connections reuire welding, the sstem is braised with dry nitrogen in lines and indoor coil</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="I02" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation source="FieldText">Prior to Introducing Refrigerant</xsd:documentation>
                        <xsd:documentation source="AdditionalRequirements">
                           <d:tab1/> i. In all cases where the OEM instructions call for checking gas leaks with vacuum, prior to introducing refrigerant, system is evacuated to 500 microns or less and, when isolated, has risen no more than 300 microns after 5 minutes.
                           <d:line1>
d:tab1/] In all cases where the OEM instructions call for checking gas leaks with nitrogen gas, the system was pressurized to the manufacturer's specified  pressure and if the pressure could not be maintained, leaks were located and fixed.</d:line1>
                        </xsd:documentation>
                     </xsd:annotation>
                     <xsd:element name="I03" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Prior to Introducing Refrigerant</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">Observation and documentation of the vacuum and pressurization tests are not required if no fittings (other than the fitting to the compressor) are compression or flare fittings</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="I04" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Lineset Adjustment</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">The calculated weight adjustment for lineset length is based on the length and diameter of the lineset</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="I05" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Coil Adjustment</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">The calculated weight adjustment for coil size is based on manufacturer instructions.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="I06" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total Adjustment</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">The actual total weight adjustment is equal to the sum of the calculated weight adjustment for lineset and coil size.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="I07" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Total Weight Refrigerant</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">The calculated and actual total weights of refrigerant in the system are recorded on or near the nameplate label in indelible ink or other permanent means.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="I08" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">Installer agrees to return to correct refrigerant charge</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">When applicable and if necessary to avoid delay of approval of dwelling units completed when outside temperatures are below 55
                              <d:deg/>F, the enforcement agency may approve compliance with the refrigerant charge verification requirements based on registration of this CF2R-MCH-25, documenting use of the RA3.2.3.1 HVAC Installer Weigh-In Charging Procedure when the optional Section RA3.2.3.2 ECC Rater Observation of Weigh-In Charging Procedure is not used.  As condition for such enforcement agency approval, the responsible person's signature on this compliance document affirms the installer agrees to return to correct refrigerant charge if a ECC Rater determines at a later time, when the outside temperature is 55
                              <d:deg/>F or greater, that refrigerant charge correction is necessary.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                     <xsd:element name="IEndNote1" minOccurs="0">
                        <xsd:annotation>
                           <xsd:documentation source="FieldText">End Note 1</xsd:documentation>
                           <xsd:documentation source="AdditionalRequirements">The responsible person's signature on this compliance document affirms that all applicable requirements in this table have been met.</xsd:documentation>
                        </xsd:annotation>
                     </xsd:element>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
      <xsd:element name="ComplianceDocumentPackage">
         <xsd:complexType>
            <xsd:sequence>
               <xsd:element name="DocID" minOccurs="0">
                  <xsd:complexType>
                     <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" fixed="CF3RMCH25H"/>
                     <xsd:attribute name="docType" type="comp:ComplianceDocumentType" fixed="CERTIFICATE OF VERIFICATION"/>
                     <xsd:attribute name="docTitle" type="comp:ComplianceDocumentTitleRes" fixed="Refrigerant Charge Verification"/>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="Payload" type="comp:Payload"/>
               <xsd:element name="DocumentData">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="Header" type="comp:HeaderHERS"/>
                        <xsd:element ref="cF3RMCH25H"/>
                        <xsd:element name="DocAuthor" type="comp:DocumentAuthor"/>
                        <xsd:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                        <xsd:element name="Footer" type="comp:Footer"/>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
               <xsd:element name="Report" type="xsd:base64Binary"/>
            </xsd:sequence>
            <xsd:attribute name="revision" type="xsd:string" use="required" fixed="rev 20250101"/>
            <xsd:attribute name="doc" type="comp:ComplianceDocumentTag" use="required" fixed="CF3RMCH25H"/>
         </xsd:complexType>
      </xsd:element>
      <xsd:element name="cF3RMCH25H" type="CF3RMCH25H">
         <xsd:annotation>
            <xsd:documentation>This element contains all of the data and text required to generate the CF3RMCH25H compliance report.</xsd:documentation>
         </xsd:annotation>
      </xsd:element>
   </xsd:complexType>
</xsd:schema>
