deployed/CF3R/CF3RMCH27H.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:ns1="http://www.lmonte.com/besm/d" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.lmonte.com/besm/CF3RMCH27H" version="2025.0.000">
   
   
   <xs:import namespace="http://www.lmonte.com/besm/com" schemaLocation="../base/ResCommon.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/bld" schemaLocation="../base/ResBuilding.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/env" schemaLocation="../base/ResEnvelope.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/lit" schemaLocation="../base/ResLighting.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/hvac" schemaLocation="../base/ResHvac.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/comp" schemaLocation="../base/ResCompliance.xsd"/>
   
   
   <xs:import namespace="http://www.lmonte.com/besm/dtyp" schemaLocation="../base/DataTypes.xsd"/>
   
   
   <xs:element name="ComplianceDocumentPackage">
      
      
      <xs:complexType>
         
         
         <xs:sequence>
            
            
            <xs:element minOccurs="0" name="DocID">
               
               
               <xs:complexType>
                  
                  
                  <xs:attribute fixed="CF3RMCH27H" name="doc" type="comp:ComplianceDocumentTag"/>
                  
                  
                  <xs:attribute fixed="CERTIFICATE OF VERIFICATION" name="docType" type="comp:ComplianceDocumentType"/>
                  
                  
                  <xs:attribute fixed="Indoor Air Quality and Mechanical Ventilation" name="docTitle" type="comp:ComplianceDocumentTitleRes"/>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Payload" type="comp:Payload"/>
            
            
            <xs:element name="DocumentData">
               
               
               <xs:complexType>
                  
                  
                  <xs:sequence>
                     
                     
                     <xs:element name="Header" type="comp:HeaderHERS"/>
                     
                     
                     <xs:element ref="cF3RMCH27H"/>
                     
                     
                     <xs:element name="DocAuthor" type="comp:DocumentAuthor"/>
                     
                     
                     <xs:element name="RespPerson" type="comp:ResponsiblePersonCF3R"/>
                     
                     
                     <xs:element name="Footer" type="comp:Footer"/>
                     
                  
                  </xs:sequence>
                  
               
               </xs:complexType>
               
            
            </xs:element>
            
            
            <xs:element name="Report" type="xsd:base64Binary"/>
            
         
         </xs:sequence>
         
         
         <xs:attribute fixed="rev 20250101" name="revision" type="xsd:string" use="required"/>
         
         
         <xs:attribute fixed="CF3RMCH27H" name="doc" type="comp:ComplianceDocumentTag" use="required"/>
         
      
      </xs:complexType>
      
   
   </xs:element>
   
   
   <xs:complexType name="CF3RMCH27H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>Indoor Air Quality and Mechanical Ventilation - MCH27a Single Family Attached/Detached Ventilation</xs:documentation>
         
      
      </xs:annotation>
      
      
      <xs:sequence>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_A">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Whole-Dwelling Mechanical Ventilation - General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="A_BeforeNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Before Section Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Title 24, Part 6, Section 150.0(o) 
                           <ns1:b>Ventilation for Indoor Air Quality.</ns1:b>
                            All dwelling units shall meet the requirements of ANSI/ASHRAE Standard 62.2.-2022 Ventilation and Acceptable Indoor Air Quality in Single Family Residential Buildings subject to amendments specified by Title 24, Part 6 Section 150.0(o)1.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A01_DwellingUnitName" type="com:DwellingUnitName">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Dwelling unit name</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Referenced data from Mch01, A01_DwellingUnitName, Else If information not available then allow user input; </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A02_ResidentialBuildingType">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Building Type</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: Referenced data from CF1R, allowed values: SingleFamilyAttached display term Single family attached, SingleFamilyDetached display term Single family detached</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:simpleType>
                        
                        
                        <xs:restriction base="com:ResidentialBuildingType">
                           
                           
                           <xs:enumeration value="NonDwellingUnit"/>
                           
                           
                           <xs:enumeration value="SingleFamilyAttached"/>
                           
                           
                           <xs:enumeration value="SingleFamilyDetached"/>
                           
                        
                        </xs:restriction>
                        
                     
                     </xs:simpleType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A03_ProjectScopePerformance" type="comp:ProjectScopePerformance">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Project scope</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Referenced data from CF1R: If parent is CF1R-PRF allowed values are NewConstruction display term Newly Constructed, AdditionAlteration display term Addition and/or Alteration, AdditionOnly display term Newly Constructed Addition</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A03_ProjectScopeNew">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Project scope</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Referenced data from CF1R: If parent is CF1R-NCB allowed values are: AdditionAlone display term Newly constructed  (addition alone)</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                        
                        <xs:simpleType>
                           
                           
                           <xs:restriction base="comp:ProjectScopeNew">
                              
                              
                              <xs:enumeration value="AdditionAlone"/>
                              
                              
                              <xs:enumeration value="NewConstruction"/>
                              
                           
                           </xs:restriction>
                           
                        
                        </xs:simpleType>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A03_ProjectScopeAdditions">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Project scope</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Referenced data from CF1R  If parent is CF1R-ADD allowed values are: AdditionLTE300ADU display term ADU Addition  LTE 300 ft2,  AdditionGT300LTE400ADU display term ADU Addition GT 300 ft2 toLTE 400 ft2, AdditionGT400LTE700ADU display term ADU Addition GT 400 ft2 to LTE 700 ft2, AdditionGT700LTE1000ADU display term ADU Addition GT 700 ft2 to LTE  1,000 ft2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                        
                        <xs:simpleType>
                           
                           
                           <xs:restriction base="comp:ProjectScopeAdditions">
                              
                              
                              <xs:enumeration value="AdditionGT300LTE400ADU"/>
                              
                              
                              <xs:enumeration value="AdditionGT400LTE700ADU"/>
                              
                              
                              <xs:enumeration value="AdditionGT700LTE1000ADU"/>
                              
                              
                              <xs:enumeration value="AdditionLTE300ADU"/>
                              
                           
                           </xs:restriction>
                           
                        
                        </xs:simpleType>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A04_DwellingUnitConditionedFloorArea" type="com:DwellingUnitConditionedFloorArea">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Total Conditioned Floor Area of Dwelling Unit</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">(For addition projects the conditioned floor area equals existing area plus addition area. )</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: reference value from MCH-01; A03 DwellingUnitConditionedFloorArea, Else If information not available then allow user input;</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A05_BedroomCount" type="com:BedroomCount">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Number of Bedrooms in Dwelling Unit</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">(For addition projects the number of bedrooms equals the existing bedrooms plus addition bedrooms)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: default value referenced from MCH-01 A09 BedroomCount; If result = 0, replace with result = 1, Else If information not available then allow user input;</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A06_VentilationSystemType" type="hvac:VentilationSystemType">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation System Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated value: 
If A02_ResidentialBuildingType == NonDwellingUnit 
result = NotApplicable stored in NotApplicableMessage  
 
Else If registered CF1R form equals CF1R-PRF-01, 
reference data from CF1R 
 
Else if registered CF1R form equals CF1R-NCB-01, 
user picks one from list of following values: Balanced display term Balanced, BalancedCentralVent display term Central Ventilation System - Balanced, BalancedERV display term Balanced ERV, BalancedHRV display term Balanced HRV, CentralFanIntegrated display term Central Fan Integrated (CFI), ExhaustCentralVent display term Central Ventilation System - Exhaust, ExhaustVent display term Exhaust, SupplyCentralVent display term Central Ventilation System - Supply, SupplyVent display Supply;
End If</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation System Type</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated value: 
If A02_ResidentialBuildingType == NonDwellingUnit 
result = NotApplicable stored in NotApplicableMessage
End if</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="A07_VentilationOperationSchedule" type="hvac:VentilationOperationSchedule">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation Operation Schedule</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If registered CF1R == CF1R-PRF-01 reference data from CF1R;  Else If A02 == NonDwellingUnit result = N/A stored in NotApplcableMessage; Else If registered CF1R == CF1R-NCB-01 Or CF1R-ADD-01  User picks from list: ContinuousVentilation, display term: Continuous display term Continuous, ShortTermAverage display term Short Term Average;  If result = Continuous And A06_VentilationSystemType ==CentralFanIntegrated Display message Central Fan Integrated Ventilation System Not Allowed to Operate Continuously - Do Not Proceed</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="A07_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Ventilation Operation Schedule</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If registered CF1R == CF1R-PRF-01 reference data from CF1R;  Else If A02 == NonDwellingUnit result = N/A stored in NotApplcableMessage; Else If registered CF1R == CF1R-NCB-01 Or CF1R-ADD-01  User picks from list: ContinuousVentilation, display term: Continuous display term Continuous, ShortTermAverage display term Short Term Average;  If result = Continuous And A06_VentilationSystemType ==CentralFanIntegrated Display message Central Fan Integrated Ventilation System Not Allowed to Operate Continuously - Do Not Proceed</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="A08_FaultIndicatorDisplayStatus" type="comp:FaultIndicatorDisplayStatus">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Fault Indicator Display (FID) Status </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto filled from CF2R; Possible values: FactoryInstalledFID display text: This system has a factory installed FID,   FieldInstalledFID display text: This system has a field installed FID; NoInstalledFID display text: This system does not have a FID device installed.  If installed system doesn't match value from CF2R, it can be overwritten by rater but it will be flagged as a possible fail</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="A09_ClimateZone" type="com:ClimateZone">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">NOT REPORTED IN PDF</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Value from CF1R</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element minOccurs="0" name="AEndNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">
                           Note: 
                           <ns1:line1/>
                           Non-dwelling units do not meet the definition for a dwelling unit as defined in Section 100.1(b).  Non-dwelling units are not designed to provide independent living facilities and do not provide permanent provisions for living, sleeping, eating, cooking and sanitation.
                        </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_B">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Single Family Attached/Detached General Information</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B01_FloorToCeilingHeight" type="com:FloorToCeilingHeight">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Average Ceiling Height</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field:  If parent document is CF1R-PRF-01 reference value from it; Else If parent is CF1R-NCB-01 or CF1F-ADD-01user enter nonnegative number wiht up to 2 decimal places; Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage.</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B01_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Average Ceiling Height</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field:  If parent document is CF1R-PRF-01 reference value from it; Else If parent is CF1R-NCB-01 or CF1F-ADD-01user enter nonnegative number with up to 2 decimal places; Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage.</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B02_TotalConditionedVolume" type="com:TotalConditionedVolume">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Conditioned Volume</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage. Else result = PRODUCT (A04_DwellingUnitConditionedFloorArea , B01_FloorToCeilingHeight).</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B02_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Conditioned Volume</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage. Else result = PRODUCT (A04_DwellingUnitConditionedFloorArea , B01_FloorToCeilingHeight).</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B03_FirstFloorToHighestCeilingHeight" type="com:FirstFloorToHighestCeilingHeight">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Vertical distance between the lowest and highest above grade points within the pressure boundary in feet</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If parent document is CF1R-PRF-01 reference value from it; Else If parent is CF1R-NCB-01 or CF1F-ADD-01user enter nonnegative number with up to 2 decimal places; Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage.</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B03_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Vertical distance between the lowest and highest above grade points within the pressure boundary in feet</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If parent document is CF1R-PRF-01 reference value from it; Else If parent is CF1R-NCB-01 or CF1F-ADD-01user enter nonnegative number with up to 2 decimal places; Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage.</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B04_ACH50_Method" type="comp:ACH50_Method">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Air Changes Per Hour at 50 Pa</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage; Else user select from list: DefaultACH50 display term Default, MeasuredACH50 display term Measured.</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Air Changes Per Hour at 50 Pa</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage; Else user select from list: DefaultACH50 display term Default, MeasuredACH50 display term Measured.</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B05_WeatherStationName" type="com:WeatherStationName">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If parent document is CF1R-PRF-01 reference value from it but allow user to override it.  If not overriden, result is stored in B05_WeatherStationANSI_ASHRAE; Else if user overrides CF1R-PRF-01  value Or parent is CF1R-NCB-01 or CF1F-ADD-01, user selects from list based on value in A09_ClimateZone and this is stored in B05_WeatherStationCZ# where # is the climate zone; Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ1" type="com:WeatherStationCZ1">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 1</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ2" type="com:WeatherStationCZ2">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ3" type="com:WeatherStationCZ3">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 3</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ4" type="com:WeatherStationCZ4">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 4</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ5" type="com:WeatherStationCZ5">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 5</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ6" type="com:WeatherStationCZ6">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone ==  6</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ7" type="com:WeatherStationCZ7">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 7</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ8" type="com:WeatherStationCZ8">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 8</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ9" type="com:WeatherStationCZ9">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 9</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ10" type="com:WeatherStationCZ10">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 10</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ11" type="com:WeatherStationCZ11">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone ==  11</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ12" type="com:WeatherStationCZ12">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone ==  12</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ13" type="com:WeatherStationCZ13">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 13</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ14" type="com:WeatherStationCZ14">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone ==  14</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ15" type="com:WeatherStationCZ15">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone == 15</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_WeatherStationCZ16" type="com:WeatherStationCZ16">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Use this choice If A09_ClimateZone ==16</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Name of ANSI/ASHRAE Standard 62.2-2022 weather station for climate zone</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If parent document is CF1R-PRF-01 reference value from it but allow user to override it.  If not overriden, result is stored in B05_WeatherStationANSI_ASHRAE; Else if user overrides CF1R-PRF-01  value Or parent is CF1R-NCB-01 or CF1F-ADD-01, user selects from list based on value in A09_ClimateZone and this is stored in B05_WeatherStationCZ# where # is the climate zone; Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="B06_WeatherShieldingFactor" type="com:WeatherShieldingFactor">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Weather and shielding factor (wsf) (Based on city identified above)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If parent document is CF1R-PRF-01 And B05_WeatherStationANSI_ASHRAE has a value, reference value from  CF1R-PRF-0; Else If B05_WeatherStationCZ# (# is the climate zone) has a value, based on weather station value in B05_WeatherStationCZ#,  assign lookup wsf from Table B1 US Climates, Normative Appendix B shown in the instructions section of the layout document;   Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="B06_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Weather and shielding factor (wsf) (Based on city identified above)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If parent document is CF1R-PRF-01 And B05_WeatherStationANSI_ASHRAE has a value, reference value from  CF1R-PRF-0; Else If B05_WeatherStationCZ# (# is the climate zone) has a value, based on weather station value in B05_WeatherStationCZ#,  assign lookup wsf from Table B1 US Climates, Normative Appendix B shown in the instructions section of the layout document;   Else If A02_ResidentialBuildingType == NonDwellingUnit result = N/A stored in NotApplicableMessage</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_C">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Ventilation - Total Ventilation Rate</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="C_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A mechanical supply system, exhaust system or combination thereof shall provide whole-dwelling ventilation with outdoor air each hour at no less than the rate in 150.0(o)1Ci</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C01_MinimumAirflowRateRequired" type="comp:MinimumAirflowRateRequired">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Total Required Ventilation Rate (Q
                           <ns1:sub>tot</ns1:sub>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: (use equation 4.1a)  result = [PRODUCT(0.03, A04_DwellingUnitConditionedFloorArea ) + PRODUCT (7.5, A05_BedroomCount + 1)], (CFM)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C02_AirLeakageRateMeasuredCFM50" type="comp:AirLeakageRateMeasuredCFM50">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Enclosure Leakage Rate (Q
                           <ns1:sub>50</ns1:sub>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If B04_ACH50_Method == DefaultACH50  result = PRODUCT (B02_BuildingTotalConditionedVolume, 2) /60 (CFM); Else If B04_ACH50_Method == MeasuredACH50, If CF3RMch24 D03_ACH50Adjusted GT 2.0, result = PRODUCT (B02_BuildingTotalConditionedVolume, 2) / 60 (CFM); Else If CF3RMch24 D03_ACH50Adjusted LTE 2.0, result = PRODUCT (B02_BuildingTotalConditionedVolume, Mch24 D03_ACH50Adjusted) /60 (CFM);</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="C03_IAQ_InfiltrationVentilation" type="hvac:IAQ_InfiltrationVentilation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Effective Annual Average Infiltration Rate (Q
                           <ns1:sub>inf</ns1:sub>
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = PRODUCT ( 0.052, C02_AirLeakageRateMeasuredCFM50, B06_WeatherShieldingFactor, (B03_FirstFloorToHighestCeilingHeight / 8.2)^0.4)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="C04_ExteriorEnvelopeAreaTotal" type="env:ExteriorEnvelopeAreaTotal">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Exterior Envelope Surface Area</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == SingleFamilyDetached  result = N/A atored in NotApplicableMessage; Else If A02_ResidentialBuildingType == SingleFamilyAttached then If parent CF1R == CF1R-PRF-01 result = value from CF1R but allow user to override it; Else If parent CF1R == CF1R-NCB-01 Or CF1R-ADD-01 user input integer units ft^2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="C04_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Total Exterior Envelope Surface Area</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == SingleFamilyDetached  result = N/A atored in NotApplicableMessage; Else If A02_ResidentialBuildingType == SingleFamilyAttached then If parent CF1R == CF1R-PRF-01 result = value from CF1R but allow user to override it; Else If parent CF1R == CF1R-NCB-01 Or CF1R-ADD-01 user input integer units ft^2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:choice maxOccurs="1">
                     
                     
                     <xs:element name="C05_ExteriorEnvelopeAreaNotShared" type="env:ExteriorEnvelopeAreaNotShared">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Unshared Exterior Envelope Surface Area (exclude surface areas attached to garages or other dwelling units)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == SingleFamilyDetached  result = N/A atored in NotApplicableMessage; Else If A02_ResidentialBuildingType == SingleFamilyAttached then If parent CF1R == CF1R-PRF-01 result = value from CF1R but allow user to override it; Else If parent CF1R == CF1R-NCB-01 Or CF1R-ADD-01 user input integer units ft^2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                     
                     <xs:element name="C05_NotApplicableMessage" type="comp:NotApplicableMessage">
                        
                        
                        <xs:annotation>
                           
                           
                           <xs:documentation source="FieldText">Unshared Exterior Envelope Surface Area (exclude surface areas attached to garages or other dwelling units)</xs:documentation>
                           
                           
                           <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == SingleFamilyDetached  result = N/A atored in NotApplicableMessage; Else If A02_ResidentialBuildingType == SingleFamilyAttached then If parent CF1R == CF1R-PRF-01 result = value from CF1R but allow user to override it; Else If parent CF1R == CF1R-NCB-01 Or CF1R-ADD-01 user input integer units ft^2</xs:documentation>
                           
                        
                        </xs:annotation>
                        
                     
                     </xs:element>
                     
                  
                  </xs:choice>
                  
                  
                  <xs:element name="C06_MechanicalVentilationRequiredRate" type="comp:MechanicalVentilationRequiredRate">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">
                           Required Mechanical Ventilation Rate (Q
                           <ns1:sub>fan</ns1:sub>
                           )
                        </xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: If A02_ResidentialBuildingType == SingleFamilyDetached Then If A06_VentilationSystemType == Balanced, BalancedERV Or  BalancedHRV result = C01_MinimumAirflowRateRequired - PRODUCT (1, C03_IAQ_InfiltrationVentilation, 1) Else If  A06_VentilationSystemType == SupplyVent, ExhaustVent, CentralFanIntegrated result = C01_MinimumAirflowRateRequired - PRODUCT (C03_IAQ_InfiltrationVentilation / C01_MinimumAirflowRateRequired), C03_IAQ_InfiltrationVentilation, 1); Else If A02_ResidentialBuildingType == SingleFamilyAttached Then If A06_VentilationSystemType == Balanced, BalancedERV Or  BalancedHRV result = result = C01_MinimumAirflowRateRequired - (PRODUCT (1, C03_IAQ_InfiltrationVentilation, C05_ExteriorEnvelopeAreaNotShared) /  C04_ExteriorEnvelopeAreaTotal); Else If A06_VentilationSystemType == SupplyVent, ExhaustVent, CentralFanIntegrated result = C01_MinimumAirflowRateRequired - PRODUCT((C03_IAQ_InfiltrationVentilation / C01_MinimumAirflowRateRequired), C03_IAQ_InfiltrationVentilation, (C05_ExteriorEnvelopeAreaNotShared /  C04_ExteriorEnvelopeAreaTotal)).</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_D">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Installed  Ventilation - Total Ventilation Rate</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="D_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">A mechanical supply system, exhaust system, or combination thereof shall provide whole-dwelling ventilation with outdoor air each hour at no less than the rate in 150.0(o)1Ci</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableVentilation">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="D01_IAQ_VentilationFanName" type="hvac:IAQ_VentilationFanName">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Name</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D02_IAQ_FanLocation" type="hvac:IAQ_FanLocation">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Location</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input text</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D03_VentilationOperationRuntime" type="hvac:VentilationOperationRuntime">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Runtime (min/hr)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: If A07__VentilationOperationSchedule == Continuous result = 60; Else If A07__VentilationOperationSchedule == ShortTermAverage, user input postive integer LTE 60.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D04_MechanicalVentilationInstalledRate" type="comp:MechanicalVentilationInstalledRate">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Installed Mechanical Ventilation Rate (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input positive integer</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="D05_ContinuousAirflowRateInstalled" type="hvac:ContinuousAirflowRateInstalled">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Equivalent Continuous Ventilation (CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">Calculated field: result = PRODUCT (D03_VentilationOperationRuntime, (D04_MechanicalVentilationInstalledRate / 60)) CFM.</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="D06_TotalContinuousAirflowRateInstalled" type="hvac:TotalContinuousAirflowRateInstalled">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Total Installed Continuous Ventilation (CFM)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field: result = SUM ALL (D05_ContinuousAirflowRateInstalled)</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_E">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">HRV or ERV Serving Individual Dwelling Unit Information</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">This section is required If A06_VentilationSystemType == BalancedERV Or  BalancedHRV</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="HErvBeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Balanced ventilation systems shall comply with appropriate requirements in 150.0(o)2C.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="TableHrvErv">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                     
                     </xs:annotation>
                     
                     
                     <xs:complexType>
                        
                        
                        <xs:sequence>
                           
                           
                           <xs:element maxOccurs="unbounded" minOccurs="1" name="Row">
                              
                              
                              <xs:complexType>
                                 
                                 
                                 <xs:sequence>
                                    
                                    
                                    <xs:element name="Herv01_VentilationManufacturer" type="hvac:VentilationManufacturer">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manufcturer Make</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Herv02_VentilationModelNumber" type="hvac:VentilationModelNumber">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Manufcturer Model Number</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">User input</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                    
                                    <xs:element name="Herv03_FanPowerPerFlow" type="hvac:FanPowerPerFlow">
                                       
                                       
                                       <xs:annotation>
                                          
                                          
                                          <xs:documentation source="FieldText">Fan Efficacy Performance Rating (W/CFM)</xs:documentation>
                                          
                                          
                                          <xs:documentation source="CalculationsAndRules">If CF1R-PRF parent and  data available, load from the CF1R
                                             Else user input; Range check: User entered value must be Less than or Equal to 1.0;</xs:documentation>
                                          
                                       
                                       </xs:annotation>
                                       
                                    
                                    </xs:element>
                                    
                                 
                                 </xs:sequence>
                                 
                              
                              </xs:complexType>
                              
                           
                           </xs:element>
                           
                        
                        </xs:sequence>
                        
                     
                     </xs:complexType>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="0" name="Section_F">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Fault Indicator Display Installation Verification</xs:documentation>
               
               
               <xs:documentation source="CalculationsAndRules">The section is required if If FaultIndicatorDisplayStatus in section A equals FactoryInstalledFID or FieldInstalledFID.</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">If this section doesn't apply, display only the section FieldText and the statement 'This section does not apply to this project.'</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="F_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">Qualification Requirements for Ventilation System Fault Indicator Displays are detailed in Appendix JA17.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F01_FID_ManufacturerNameMake" type="comp:FID_ManufacturerNameMake">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">FID Manufacturer Name/Make</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto-filled from CF2R.  If installed system does not match the value from the CF2R, it can be overwritten by rater but it will be flagged as a possible fail</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F02_FID_ModelNumber" type="comp:FID_ModelNumber">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">FID Model Number</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">auto-filled from CF2R.  If installed system does not match the value from the CF2R, it can be overwritten by rater but it will be flagged as a possible fail</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F03_IsFID_MountedAdjacentThermostat" type="comp:IsFID_MountedAdjacentThermostat">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">The display module is mounted adjacent to the system thermostat</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects Yes or No; </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F04_DoesFID_MeetJA6Requirements" type="comp:DoesFID_MeetJA6Requirements">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">The manufacturer has certified to the Energy Commission that the FID model meets the requirements of Reference Joint Appendix JA17 (Make and model found on CEC list of approved FID devices)</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects Yes or No; </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F05_DoesFID_ReportOperationWithinAcceptableParameters" type="comp:DoesFID_ReportOperationWithinAcceptableParameters">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">The system has operated for at least 15 minutes and the FID reports that the system is operating within acceptable parameters.</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">User selects Yes or No; </xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="F06_IsFID_Compliant" type="comp:IsFID_Compliant">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Compliance Statement:</xs:documentation>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If IsFID_MountedAdjacentThermostat is true and DoesFID_MeetJA6Requirements is true and DoesFID_ReportOperationWithinAcceptableParameters is true then result is true.  For Boolean true value display text: FID complies.  Else result is false.  For Boolean false value display text: FID does NOT comply.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element minOccurs="1" name="Section_G">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Compliance Statement</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element name="G01_MechanicalVentilationCompliance" type="comp:MechanicalVentilationCompliance">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">Calculated field:  If A02_ResidentialBuildingType == NonDwellingUnit result = BuildingPasses display term Building Passes ; Else If D06_TotalContinuousAirflowRateInstalled  GTE C06_MechanicalVentilationRequiredRate result = BuildingPassesRateTest display term Building Passes Mechanical Ventilation RateTest; Else result = BuildingFailsRateTest display term Building Fails Mechanical Ventilation RateTest</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
         
         <xs:element maxOccurs="1" minOccurs="1" name="Section_H">
            
            
            <xs:annotation>
               
               
               <xs:documentation source="FieldText">Determination of ECC Verification Compliance</xs:documentation>
               
               
               <xs:documentation source="MinOccurs">This section is required.</xs:documentation>
               
            
            </xs:annotation>
            
            
            <xs:complexType>
               
               
               <xs:sequence>
                  
                  
                  <xs:element minOccurs="0" name="H_BeginNote1">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText">Begin Note 1</xs:documentation>
                        
                        
                        <xs:documentation source="AdditionalRequirements">All applicable sections of this document shall indicate compliance with the specified verification protocol requirements in order for this Certificate of Verification as a whole to be determined to be in compliance.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
                  
                  <xs:element name="H01_DoesCF3R_Pass" type="comp:DoesCF3R_Pass">
                     
                     
                     <xs:annotation>
                        
                        
                        <xs:documentation source="FieldText"/>
                        
                        
                        <xs:documentation source="CalculationsAndRules">If G01_MechanicalVentilationCompliance == BuildingPassesRateTest And F06_IsFID_Compliant == true result =  true  display term Complies: All specified verification protocol requirements on this document are met. Else result = false display term: Does not comply: One or more specified verification protocol requirements on this document are not met.</xs:documentation>
                        
                     
                     </xs:annotation>
                     
                  
                  </xs:element>
                  
               
               </xs:sequence>
               
            
            </xs:complexType>
            
         
         </xs:element>
         
      
      </xs:sequence>
      
   
   </xs:complexType>
   
   
   <xs:element name="cF3RMCH27H" type="CF3RMCH27H">
      
      
      <xs:annotation>
         
         
         <xs:documentation>This element contains all of the data and text required to generate the CF3RMCH27H compliance report.</xs:documentation>
         
      
      </xs:annotation>
      
   
   </xs:element>
   

</xs:schema>
